/* Grid */

	.row {
		border-bottom: solid 1px transparent;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	.row > * {
		float: left;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	.row:after, .row:before {
		content: '';
		display: block;
		clear: both;
		height: 0;
	}

	.row.uniform > * > :first-child {
		margin-top: 0;
	}

	.row.uniform > * > :last-child {
		margin-bottom: 0;
	}

	.row.\30 \25 > * {
		padding: 0px 0 0 0px;
	}

	.row.\30 \25 {
		margin: 0px 0 -1px 0px;
	}

	.row.uniform.\30 \25 > * {
		padding: 0px 0 0 0px;
	}

	.row.uniform.\30 \25 {
		margin: 0px 0 -1px 0px;
	}

	.row > * {
		padding: 48px 0 0 48px;
	}

	.row {
		margin: -48px 0 -1px -48px;
	}

	.row.uniform > * {
		padding: 48px 0 0 48px;
	}

	.row.uniform {
		margin: -48px 0 -1px -48px;
	}

	.row.\32 00\25 > * {
		padding: 96px 0 0 96px;
	}

	.row.\32 00\25 {
		margin: -96px 0 -1px -96px;
	}

	.row.uniform.\32 00\25 > * {
		padding: 96px 0 0 96px;
	}

	.row.uniform.\32 00\25 {
		margin: -96px 0 -1px -96px;
	}

	.row.\31 50\25 > * {
		padding: 72px 0 0 72px;
	}

	.row.\31 50\25 {
		margin: -72px 0 -1px -72px;
	}

	.row.uniform.\31 50\25 > * {
		padding: 72px 0 0 72px;
	}

	.row.uniform.\31 50\25 {
		margin: -72px 0 -1px -72px;
	}

	.row.\35 0\25 > * {
		padding: 24px 0 0 24px;
	}

	.row.\35 0\25 {
		margin: -24px 0 -1px -24px;
	}

	.row.uniform.\35 0\25 > * {
		padding: 24px 0 0 24px;
	}

	.row.uniform.\35 0\25 {
		margin: -24px 0 -1px -24px;
	}

	.row.\32 5\25 > * {
		padding: 12px 0 0 12px;
	}

	.row.\32 5\25 {
		margin: -12px 0 -1px -12px;
	}

	.row.uniform.\32 5\25 > * {
		padding: 12px 0 0 12px;
	}

	.row.uniform.\32 5\25 {
		margin: -12px 0 -1px -12px;
	}

	.\31 2u, .\31 2u\24 {
		width: 100%;
		clear: none;
		margin-left: 0;
	}

	.\31 1u, .\31 1u\24 {
		width: 91.6666666667%;
		clear: none;
		margin-left: 0;
	}

	.\31 0u, .\31 0u\24 {
		width: 83.3333333333%;
		clear: none;
		margin-left: 0;
	}

	.\39 u, .\39 u\24 {
		width: 75%;
		clear: none;
		margin-left: 0;
	}

	.\38 u, .\38 u\24 {
		width: 66.6666666667%;
		clear: none;
		margin-left: 0;
	}

	.\37 u, .\37 u\24 {
		width: 58.3333333333%;
		clear: none;
		margin-left: 0;
	}

	.\36 u, .\36 u\24 {
		width: 50%;
		clear: none;
		margin-left: 0;
	}

	.\35 u, .\35 u\24 {
		width: 41.6666666667%;
		clear: none;
		margin-left: 0;
	}

	.\34 u, .\34 u\24 {
		width: 33.3333333333%;
		clear: none;
		margin-left: 0;
	}

	.\33 u, .\33 u\24 {
		width: 25%;
		clear: none;
		margin-left: 0;
	}

	.\32 u, .\32 u\24 {
		width: 16.6666666667%;
		clear: none;
		margin-left: 0;
	}

	.\31 u, .\31 u\24 {
		width: 8.3333333333%;
		clear: none;
		margin-left: 0;
	}

	.\31 2u\24 + *,
	.\31 1u\24 + *,
	.\31 0u\24 + *,
	.\39 u\24 + *,
	.\38 u\24 + *,
	.\37 u\24 + *,
	.\36 u\24 + *,
	.\35 u\24 + *,
	.\34 u\24 + *,
	.\33 u\24 + *,
	.\32 u\24 + *,
	.\31 u\24 + * {
		clear: left;
	}

	.\-11u {
		margin-left: 91.66667%;
	}

	.\-10u {
		margin-left: 83.33333%;
	}

	.\-9u {
		margin-left: 75%;
	}

	.\-8u {
		margin-left: 66.66667%;
	}

	.\-7u {
		margin-left: 58.33333%;
	}

	.\-6u {
		margin-left: 50%;
	}

	.\-5u {
		margin-left: 41.66667%;
	}

	.\-4u {
		margin-left: 33.33333%;
	}

	.\-3u {
		margin-left: 25%;
	}

	.\-2u {
		margin-left: 16.66667%;
	}

	.\-1u {
		margin-left: 8.33333%;
	}

	@media screen and (max-width: 1680px) {

		.row > * {
			padding: 48px 0 0 48px;
		}

		.row {
			margin: -48px 0 -1px -48px;
		}

		.row.uniform > * {
			padding: 48px 0 0 48px;
		}

		.row.uniform {
			margin: -48px 0 -1px -48px;
		}

		.row.\32 00\25 > * {
			padding: 96px 0 0 96px;
		}

		.row.\32 00\25 {
			margin: -96px 0 -1px -96px;
		}

		.row.uniform.\32 00\25 > * {
			padding: 96px 0 0 96px;
		}

		.row.uniform.\32 00\25 {
			margin: -96px 0 -1px -96px;
		}

		.row.\31 50\25 > * {
			padding: 72px 0 0 72px;
		}

		.row.\31 50\25 {
			margin: -72px 0 -1px -72px;
		}

		.row.uniform.\31 50\25 > * {
			padding: 72px 0 0 72px;
		}

		.row.uniform.\31 50\25 {
			margin: -72px 0 -1px -72px;
		}

		.row.\35 0\25 > * {
			padding: 24px 0 0 24px;
		}

		.row.\35 0\25 {
			margin: -24px 0 -1px -24px;
		}

		.row.uniform.\35 0\25 > * {
			padding: 24px 0 0 24px;
		}

		.row.uniform.\35 0\25 {
			margin: -24px 0 -1px -24px;
		}

		.row.\32 5\25 > * {
			padding: 12px 0 0 12px;
		}

		.row.\32 5\25 {
			margin: -12px 0 -1px -12px;
		}

		.row.uniform.\32 5\25 > * {
			padding: 12px 0 0 12px;
		}

		.row.uniform.\32 5\25 {
			margin: -12px 0 -1px -12px;
		}

		.\31 2u\28xxl\29, .\31 2u\24\28xxl\29 {
			width: 100%;
			clear: none;
			margin-left: 0;
		}

		.\31 1u\28xxl\29, .\31 1u\24\28xxl\29 {
			width: 91.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 0u\28xxl\29, .\31 0u\24\28xxl\29 {
			width: 83.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\39 u\28xxl\29, .\39 u\24\28xxl\29 {
			width: 75%;
			clear: none;
			margin-left: 0;
		}

		.\38 u\28xxl\29, .\38 u\24\28xxl\29 {
			width: 66.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\37 u\28xxl\29, .\37 u\24\28xxl\29 {
			width: 58.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\36 u\28xxl\29, .\36 u\24\28xxl\29 {
			width: 50%;
			clear: none;
			margin-left: 0;
		}

		.\35 u\28xxl\29, .\35 u\24\28xxl\29 {
			width: 41.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\34 u\28xxl\29, .\34 u\24\28xxl\29 {
			width: 33.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\33 u\28xxl\29, .\33 u\24\28xxl\29 {
			width: 25%;
			clear: none;
			margin-left: 0;
		}

		.\32 u\28xxl\29, .\32 u\24\28xxl\29 {
			width: 16.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 u\28xxl\29, .\31 u\24\28xxl\29 {
			width: 8.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\31 2u\24\28xxl\29 + *,
		.\31 1u\24\28xxl\29 + *,
		.\31 0u\24\28xxl\29 + *,
		.\39 u\24\28xxl\29 + *,
		.\38 u\24\28xxl\29 + *,
		.\37 u\24\28xxl\29 + *,
		.\36 u\24\28xxl\29 + *,
		.\35 u\24\28xxl\29 + *,
		.\34 u\24\28xxl\29 + *,
		.\33 u\24\28xxl\29 + *,
		.\32 u\24\28xxl\29 + *,
		.\31 u\24\28xxl\29 + * {
			clear: left;
		}

		.\-11u\28xxl\29 {
			margin-left: 91.66667%;
		}

		.\-10u\28xxl\29 {
			margin-left: 83.33333%;
		}

		.\-9u\28xxl\29 {
			margin-left: 75%;
		}

		.\-8u\28xxl\29 {
			margin-left: 66.66667%;
		}

		.\-7u\28xxl\29 {
			margin-left: 58.33333%;
		}

		.\-6u\28xxl\29 {
			margin-left: 50%;
		}

		.\-5u\28xxl\29 {
			margin-left: 41.66667%;
		}

		.\-4u\28xxl\29 {
			margin-left: 33.33333%;
		}

		.\-3u\28xxl\29 {
			margin-left: 25%;
		}

		.\-2u\28xxl\29 {
			margin-left: 16.66667%;
		}

		.\-1u\28xxl\29 {
			margin-left: 8.33333%;
		}

	}

	@media screen and (max-width: 1280px) {

		.row > * {
			padding: 36px 0 0 36px;
		}

		.row {
			margin: -36px 0 -1px -36px;
		}

		.row.uniform > * {
			padding: 36px 0 0 36px;
		}

		.row.uniform {
			margin: -36px 0 -1px -36px;
		}

		.row.\32 00\25 > * {
			padding: 72px 0 0 72px;
		}

		.row.\32 00\25 {
			margin: -72px 0 -1px -72px;
		}

		.row.uniform.\32 00\25 > * {
			padding: 72px 0 0 72px;
		}

		.row.uniform.\32 00\25 {
			margin: -72px 0 -1px -72px;
		}

		.row.\31 50\25 > * {
			padding: 54px 0 0 54px;
		}

		.row.\31 50\25 {
			margin: -54px 0 -1px -54px;
		}

		.row.uniform.\31 50\25 > * {
			padding: 54px 0 0 54px;
		}

		.row.uniform.\31 50\25 {
			margin: -54px 0 -1px -54px;
		}

		.row.\35 0\25 > * {
			padding: 18px 0 0 18px;
		}

		.row.\35 0\25 {
			margin: -18px 0 -1px -18px;
		}

		.row.uniform.\35 0\25 > * {
			padding: 18px 0 0 18px;
		}

		.row.uniform.\35 0\25 {
			margin: -18px 0 -1px -18px;
		}

		.row.\32 5\25 > * {
			padding: 9px 0 0 9px;
		}

		.row.\32 5\25 {
			margin: -9px 0 -1px -9px;
		}

		.row.uniform.\32 5\25 > * {
			padding: 9px 0 0 9px;
		}

		.row.uniform.\32 5\25 {
			margin: -9px 0 -1px -9px;
		}

		.\31 2u\28xl\29, .\31 2u\24\28xl\29 {
			width: 100%;
			clear: none;
			margin-left: 0;
		}

		.\31 1u\28xl\29, .\31 1u\24\28xl\29 {
			width: 91.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 0u\28xl\29, .\31 0u\24\28xl\29 {
			width: 83.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\39 u\28xl\29, .\39 u\24\28xl\29 {
			width: 75%;
			clear: none;
			margin-left: 0;
		}

		.\38 u\28xl\29, .\38 u\24\28xl\29 {
			width: 66.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\37 u\28xl\29, .\37 u\24\28xl\29 {
			width: 58.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\36 u\28xl\29, .\36 u\24\28xl\29 {
			width: 50%;
			clear: none;
			margin-left: 0;
		}

		.\35 u\28xl\29, .\35 u\24\28xl\29 {
			width: 41.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\34 u\28xl\29, .\34 u\24\28xl\29 {
			width: 33.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\33 u\28xl\29, .\33 u\24\28xl\29 {
			width: 25%;
			clear: none;
			margin-left: 0;
		}

		.\32 u\28xl\29, .\32 u\24\28xl\29 {
			width: 16.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 u\28xl\29, .\31 u\24\28xl\29 {
			width: 8.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\31 2u\24\28xl\29 + *,
		.\31 1u\24\28xl\29 + *,
		.\31 0u\24\28xl\29 + *,
		.\39 u\24\28xl\29 + *,
		.\38 u\24\28xl\29 + *,
		.\37 u\24\28xl\29 + *,
		.\36 u\24\28xl\29 + *,
		.\35 u\24\28xl\29 + *,
		.\34 u\24\28xl\29 + *,
		.\33 u\24\28xl\29 + *,
		.\32 u\24\28xl\29 + *,
		.\31 u\24\28xl\29 + * {
			clear: left;
		}

		.\-11u\28xl\29 {
			margin-left: 91.66667%;
		}

		.\-10u\28xl\29 {
			margin-left: 83.33333%;
		}

		.\-9u\28xl\29 {
			margin-left: 75%;
		}

		.\-8u\28xl\29 {
			margin-left: 66.66667%;
		}

		.\-7u\28xl\29 {
			margin-left: 58.33333%;
		}

		.\-6u\28xl\29 {
			margin-left: 50%;
		}

		.\-5u\28xl\29 {
			margin-left: 41.66667%;
		}

		.\-4u\28xl\29 {
			margin-left: 33.33333%;
		}

		.\-3u\28xl\29 {
			margin-left: 25%;
		}

		.\-2u\28xl\29 {
			margin-left: 16.66667%;
		}

		.\-1u\28xl\29 {
			margin-left: 8.33333%;
		}

	}

	@media screen and (max-width: 960px) {

		.row > * {
			padding: 32px 0 0 32px;
		}

		.row {
			margin: -32px 0 -1px -32px;
		}

		.row.uniform > * {
			padding: 32px 0 0 32px;
		}

		.row.uniform {
			margin: -32px 0 -1px -32px;
		}

		.row.\32 00\25 > * {
			padding: 64px 0 0 64px;
		}

		.row.\32 00\25 {
			margin: -64px 0 -1px -64px;
		}

		.row.uniform.\32 00\25 > * {
			padding: 64px 0 0 64px;
		}

		.row.uniform.\32 00\25 {
			margin: -64px 0 -1px -64px;
		}

		.row.\31 50\25 > * {
			padding: 48px 0 0 48px;
		}

		.row.\31 50\25 {
			margin: -48px 0 -1px -48px;
		}

		.row.uniform.\31 50\25 > * {
			padding: 48px 0 0 48px;
		}

		.row.uniform.\31 50\25 {
			margin: -48px 0 -1px -48px;
		}

		.row.\35 0\25 > * {
			padding: 16px 0 0 16px;
		}

		.row.\35 0\25 {
			margin: -16px 0 -1px -16px;
		}

		.row.uniform.\35 0\25 > * {
			padding: 16px 0 0 16px;
		}

		.row.uniform.\35 0\25 {
			margin: -16px 0 -1px -16px;
		}

		.row.\32 5\25 > * {
			padding: 8px 0 0 8px;
		}

		.row.\32 5\25 {
			margin: -8px 0 -1px -8px;
		}

		.row.uniform.\32 5\25 > * {
			padding: 8px 0 0 8px;
		}

		.row.uniform.\32 5\25 {
			margin: -8px 0 -1px -8px;
		}

		.\31 2u\28l\29, .\31 2u\24\28l\29 {
			width: 100%;
			clear: none;
			margin-left: 0;
		}

		.\31 1u\28l\29, .\31 1u\24\28l\29 {
			width: 91.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 0u\28l\29, .\31 0u\24\28l\29 {
			width: 83.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\39 u\28l\29, .\39 u\24\28l\29 {
			width: 75%;
			clear: none;
			margin-left: 0;
		}

		.\38 u\28l\29, .\38 u\24\28l\29 {
			width: 66.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\37 u\28l\29, .\37 u\24\28l\29 {
			width: 58.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\36 u\28l\29, .\36 u\24\28l\29 {
			width: 50%;
			clear: none;
			margin-left: 0;
		}

		.\35 u\28l\29, .\35 u\24\28l\29 {
			width: 41.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\34 u\28l\29, .\34 u\24\28l\29 {
			width: 33.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\33 u\28l\29, .\33 u\24\28l\29 {
			width: 25%;
			clear: none;
			margin-left: 0;
		}

		.\32 u\28l\29, .\32 u\24\28l\29 {
			width: 16.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 u\28l\29, .\31 u\24\28l\29 {
			width: 8.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\31 2u\24\28l\29 + *,
		.\31 1u\24\28l\29 + *,
		.\31 0u\24\28l\29 + *,
		.\39 u\24\28l\29 + *,
		.\38 u\24\28l\29 + *,
		.\37 u\24\28l\29 + *,
		.\36 u\24\28l\29 + *,
		.\35 u\24\28l\29 + *,
		.\34 u\24\28l\29 + *,
		.\33 u\24\28l\29 + *,
		.\32 u\24\28l\29 + *,
		.\31 u\24\28l\29 + * {
			clear: left;
		}

		.\-11u\28l\29 {
			margin-left: 91.66667%;
		}

		.\-10u\28l\29 {
			margin-left: 83.33333%;
		}

		.\-9u\28l\29 {
			margin-left: 75%;
		}

		.\-8u\28l\29 {
			margin-left: 66.66667%;
		}

		.\-7u\28l\29 {
			margin-left: 58.33333%;
		}

		.\-6u\28l\29 {
			margin-left: 50%;
		}

		.\-5u\28l\29 {
			margin-left: 41.66667%;
		}

		.\-4u\28l\29 {
			margin-left: 33.33333%;
		}

		.\-3u\28l\29 {
			margin-left: 25%;
		}

		.\-2u\28l\29 {
			margin-left: 16.66667%;
		}

		.\-1u\28l\29 {
			margin-left: 8.33333%;
		}

	}

	@media screen and (max-width: 840px) {

		.row > * {
			padding: 32px 0 0 32px;
		}

		.row {
			margin: -32px 0 -1px -32px;
		}

		.row.uniform > * {
			padding: 32px 0 0 32px;
		}

		.row.uniform {
			margin: -32px 0 -1px -32px;
		}

		.row.\32 00\25 > * {
			padding: 64px 0 0 64px;
		}

		.row.\32 00\25 {
			margin: -64px 0 -1px -64px;
		}

		.row.uniform.\32 00\25 > * {
			padding: 64px 0 0 64px;
		}

		.row.uniform.\32 00\25 {
			margin: -64px 0 -1px -64px;
		}

		.row.\31 50\25 > * {
			padding: 48px 0 0 48px;
		}

		.row.\31 50\25 {
			margin: -48px 0 -1px -48px;
		}

		.row.uniform.\31 50\25 > * {
			padding: 48px 0 0 48px;
		}

		.row.uniform.\31 50\25 {
			margin: -48px 0 -1px -48px;
		}

		.row.\35 0\25 > * {
			padding: 16px 0 0 16px;
		}

		.row.\35 0\25 {
			margin: -16px 0 -1px -16px;
		}

		.row.uniform.\35 0\25 > * {
			padding: 16px 0 0 16px;
		}

		.row.uniform.\35 0\25 {
			margin: -16px 0 -1px -16px;
		}

		.row.\32 5\25 > * {
			padding: 8px 0 0 8px;
		}

		.row.\32 5\25 {
			margin: -8px 0 -1px -8px;
		}

		.row.uniform.\32 5\25 > * {
			padding: 8px 0 0 8px;
		}

		.row.uniform.\32 5\25 {
			margin: -8px 0 -1px -8px;
		}

		.\31 2u\28m\29, .\31 2u\24\28m\29 {
			width: 100%;
			clear: none;
			margin-left: 0;
		}

		.\31 1u\28m\29, .\31 1u\24\28m\29 {
			width: 91.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 0u\28m\29, .\31 0u\24\28m\29 {
			width: 83.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\39 u\28m\29, .\39 u\24\28m\29 {
			width: 75%;
			clear: none;
			margin-left: 0;
		}

		.\38 u\28m\29, .\38 u\24\28m\29 {
			width: 66.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\37 u\28m\29, .\37 u\24\28m\29 {
			width: 58.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\36 u\28m\29, .\36 u\24\28m\29 {
			width: 50%;
			clear: none;
			margin-left: 0;
		}

		.\35 u\28m\29, .\35 u\24\28m\29 {
			width: 41.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\34 u\28m\29, .\34 u\24\28m\29 {
			width: 33.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\33 u\28m\29, .\33 u\24\28m\29 {
			width: 25%;
			clear: none;
			margin-left: 0;
		}

		.\32 u\28m\29, .\32 u\24\28m\29 {
			width: 16.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 u\28m\29, .\31 u\24\28m\29 {
			width: 8.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\31 2u\24\28m\29 + *,
		.\31 1u\24\28m\29 + *,
		.\31 0u\24\28m\29 + *,
		.\39 u\24\28m\29 + *,
		.\38 u\24\28m\29 + *,
		.\37 u\24\28m\29 + *,
		.\36 u\24\28m\29 + *,
		.\35 u\24\28m\29 + *,
		.\34 u\24\28m\29 + *,
		.\33 u\24\28m\29 + *,
		.\32 u\24\28m\29 + *,
		.\31 u\24\28m\29 + * {
			clear: left;
		}

		.\-11u\28m\29 {
			margin-left: 91.66667%;
		}

		.\-10u\28m\29 {
			margin-left: 83.33333%;
		}

		.\-9u\28m\29 {
			margin-left: 75%;
		}

		.\-8u\28m\29 {
			margin-left: 66.66667%;
		}

		.\-7u\28m\29 {
			margin-left: 58.33333%;
		}

		.\-6u\28m\29 {
			margin-left: 50%;
		}

		.\-5u\28m\29 {
			margin-left: 41.66667%;
		}

		.\-4u\28m\29 {
			margin-left: 33.33333%;
		}

		.\-3u\28m\29 {
			margin-left: 25%;
		}

		.\-2u\28m\29 {
			margin-left: 16.66667%;
		}

		.\-1u\28m\29 {
			margin-left: 8.33333%;
		}

	}

	@media screen and (max-width: 736px) {

		.row > * {
			padding: 20px 0 0 20px;
		}

		.row {
			margin: -20px 0 -1px -20px;
		}

		.row.uniform > * {
			padding: 20px 0 0 20px;
		}

		.row.uniform {
			margin: -20px 0 -1px -20px;
		}

		.row.\32 00\25 > * {
			padding: 40px 0 0 40px;
		}

		.row.\32 00\25 {
			margin: -40px 0 -1px -40px;
		}

		.row.uniform.\32 00\25 > * {
			padding: 40px 0 0 40px;
		}

		.row.uniform.\32 00\25 {
			margin: -40px 0 -1px -40px;
		}

		.row.\31 50\25 > * {
			padding: 30px 0 0 30px;
		}

		.row.\31 50\25 {
			margin: -30px 0 -1px -30px;
		}

		.row.uniform.\31 50\25 > * {
			padding: 30px 0 0 30px;
		}

		.row.uniform.\31 50\25 {
			margin: -30px 0 -1px -30px;
		}

		.row.\35 0\25 > * {
			padding: 10px 0 0 10px;
		}

		.row.\35 0\25 {
			margin: -10px 0 -1px -10px;
		}

		.row.uniform.\35 0\25 > * {
			padding: 10px 0 0 10px;
		}

		.row.uniform.\35 0\25 {
			margin: -10px 0 -1px -10px;
		}

		.row.\32 5\25 > * {
			padding: 5px 0 0 5px;
		}

		.row.\32 5\25 {
			margin: -5px 0 -1px -5px;
		}

		.row.uniform.\32 5\25 > * {
			padding: 5px 0 0 5px;
		}

		.row.uniform.\32 5\25 {
			margin: -5px 0 -1px -5px;
		}

		.\31 2u\28s\29, .\31 2u\24\28s\29 {
			width: 100%;
			clear: none;
			margin-left: 0;
		}

		.\31 1u\28s\29, .\31 1u\24\28s\29 {
			width: 91.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 0u\28s\29, .\31 0u\24\28s\29 {
			width: 83.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\39 u\28s\29, .\39 u\24\28s\29 {
			width: 75%;
			clear: none;
			margin-left: 0;
		}

		.\38 u\28s\29, .\38 u\24\28s\29 {
			width: 66.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\37 u\28s\29, .\37 u\24\28s\29 {
			width: 58.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\36 u\28s\29, .\36 u\24\28s\29 {
			width: 50%;
			clear: none;
			margin-left: 0;
		}

		.\35 u\28s\29, .\35 u\24\28s\29 {
			width: 41.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\34 u\28s\29, .\34 u\24\28s\29 {
			width: 33.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\33 u\28s\29, .\33 u\24\28s\29 {
			width: 25%;
			clear: none;
			margin-left: 0;
		}

		.\32 u\28s\29, .\32 u\24\28s\29 {
			width: 16.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 u\28s\29, .\31 u\24\28s\29 {
			width: 8.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\31 2u\24\28s\29 + *,
		.\31 1u\24\28s\29 + *,
		.\31 0u\24\28s\29 + *,
		.\39 u\24\28s\29 + *,
		.\38 u\24\28s\29 + *,
		.\37 u\24\28s\29 + *,
		.\36 u\24\28s\29 + *,
		.\35 u\24\28s\29 + *,
		.\34 u\24\28s\29 + *,
		.\33 u\24\28s\29 + *,
		.\32 u\24\28s\29 + *,
		.\31 u\24\28s\29 + * {
			clear: left;
		}

		.\-11u\28s\29 {
			margin-left: 91.66667%;
		}

		.\-10u\28s\29 {
			margin-left: 83.33333%;
		}

		.\-9u\28s\29 {
			margin-left: 75%;
		}

		.\-8u\28s\29 {
			margin-left: 66.66667%;
		}

		.\-7u\28s\29 {
			margin-left: 58.33333%;
		}

		.\-6u\28s\29 {
			margin-left: 50%;
		}

		.\-5u\28s\29 {
			margin-left: 41.66667%;
		}

		.\-4u\28s\29 {
			margin-left: 33.33333%;
		}

		.\-3u\28s\29 {
			margin-left: 25%;
		}

		.\-2u\28s\29 {
			margin-left: 16.66667%;
		}

		.\-1u\28s\29 {
			margin-left: 8.33333%;
		}
	}
