			<script type="text/javascript">
				tinymce.init({
					selector: "#post_text",
					mode: "textareas",
					height: 400,
					theme: "modern",
					plugins: [
						"autolink link image lists charmap print preview hr anchor pagebreak",
						"searchreplace wordcount visualblocks visualchars insertdatetime media nonbreaking",
						"table contextmenu directionality emoticons paste textcolor responsivefilemanager"
					],
					toolbar1: "undo redo | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | styleselect",
					toolbar2: "| responsivefilemanager | link unlink anchor | image media | forecolor backcolor| print preview code ",
					image_advtab: true ,
					external_filemanager_path:"/filemanager/",
					filemanager_title:"Responsive Filemanager" ,
					external_plugins: { "filemanager" : "/filemanager/plugin.min.js"}
				});

				$('.iframe-btn').fancybox({	
					'type'		: 'iframe',
					'width'		: 900,
					'height'	: 650,
					'autoSize'	: false,
					'autoDimensions': false
				});

				$(".fancybox").fancybox();
			</script>
			<div class="row">
				<div class="col-md-12">
					<h1 class="page-header">
						New Flower 
						<span style="float: right;"><a href="<?=$company_info['nav_path']?>content" class="btn btn-default btn-lg" style="background-color: #21a2f2; color: white;"><i class="fa fa-arrow-left fa-fw"></i> Back To Content</a></span>
					</h1>
				</div>
			</div> 

			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							Submit the following fields to create a new flower bouquet						
						</div>
						<div class="panel-body">
						
							<div class="row" style="margin: 0 0 10px 10px; width: 50%;">
								<label>Name</label>
								<input id="name" class="form-control">
							</div>
							<br>
							<div class="row">
								<div class="col-lg-12">
									<button id="submit" class="btn btn-primary btn-lg">
										Submit
									</button>
									<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
													<h4 class="modal-title" id="myModalLabel">Post Write Complete</h4>
												</div>
												<div class="modal-body">
													Success
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-default" data-dismiss="modal" onclick="closeModal()">OK!</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<script> 
				// using JQUERY's ready method to know when all dom elements are rendered
				$( document ).ready(function () {
					$('.datepicker').datepicker({
					    format: 'yyyy-mm-dd'
					});
					
					$("#submit").click(function () {
						var pass = true;
						
						if (document.getElementById('name').value == '') {
							alert('You must enter a name for a new flower bouquet type.');
							pass = false;
						}

						if (pass == true) {
							tinyMCE.triggerSave();

							$.ajax({
								url: "<?=$company_info['nav_path']?>writeFlowerType",
								type: 'post',
								dataType: 'html',
								data: 
								{
									name: document.getElementById('name').value
								},
								async: false,
								success: function(data) {
									if (data == 1) {
										// update the textarea with the time
										$('#myModal').modal('show');
									} else {
										alert(data);
									}
								} 
							});
						}
					});
				});

				function closeModal()
				{
					document.getElementById('name').value = '';
				}
			</script>