
			<div class="row">
				<div class="12u">
					<h1 class="page-header">
<?php if($user_type_id == 4): ?>
						Phone Operator 
						<small>Edit Phone Operator Data</small>
<?php else: ?>
						User 
						<small>Edit User Data</small>
<?php endif; ?>
					</h1>
				</div>
			</div> 

			<div class="row">
				<div class="12u">
					<div class="panel panel-default">
						<div class="panel-heading">
							Submit the following fields to edit a user's data
						</div>
						<div class="panel-body">
							<div class="row" style="margin: 0 0 10px 5px; width: 100%;">
								<div class="6u">
									<label>First Name</label>
									<input id="first_name" class="form-control">
								</div>
								<div class="6u">
									<label>Last Name</label>
									<input id="last_name" class="form-control">
								</div>
							</div>
							<div class="row" style="margin: 0 0 10px 5px; width: 100%;">
								<div class="6u">
									<label>Email</label>
									<input id="email" class="form-control">
								</div>
								<div class="6u">
									<label>Phone #</label>
									<input id="phone" class="form-control">
								</div>
							</div>
							
							<div class="row" style="margin: 0 0 10px 5px; width: 100%;">
								<div class="6u">
									<label>Login Name</label>
									<input id="login" class="form-control">
								</div>
								<div class="6u">
									<label>Password</label>
									<input id="password" class="form-control">
								</div>
							</div>
							<button id="submit" class="btn btn-primary btn-lg" style="width: 90%; margin-left: 5%; margin-top: 25px;">
								Submit
							</button>
		
						</div>
					</div>
				</div>
			</div>
			<script> 
				// using JQUERY's ready method to know when all dom elements are rendered
				$( document ).ready(function () {
					$("#submit").click(function () {
						var pass = true;
						
						if (document.getElementById('first_name').value == '') {
							alert('You must enter a first name for a user.');
							pass = false;
						}

						if (document.getElementById('last_name').value == '') {
							alert('You must enter a last name for a user.');
							pass = false;
						}

						if (document.getElementById('login').value == '') {
							alert('You must enter a login name for a user.');
							pass = false;
						}

						if (document.getElementById('password').value == '') {
							alert('You must enter a login password for a user.');
							pass = false;
						}

						if (pass == true) {
							
							$.ajax({
								url: "<?=$company_info['nav_path']?>writeUser",
								type: 'post',
								dataType: 'html',
								data: {
									id: 0,
									first_name: document.getElementById('first_name').value,
									last_name: document.getElementById('last_name').value,
									email: document.getElementById('email').value, 
									phone: document.getElementById('phone').value,
									login: document.getElementById('login').value,
									password: document.getElementById('password').value
								},
								async: false,
								success: function(data) {
									if (data == 1) {
										alert('User data updated!');
										window.location.replace('/admin');
									} else {
										alert(data);
									}
								} 
							});
						}
					});
				});

			</script>