/* ----------------------------------------------------------------
	Canvas: Restaurant Demo
	Version: 1.0
-----------------------------------------------------------------*/


.item-thumb {
	width: 100%;
	margin: 0 auto;
}

.item-thumb .owl-dot {
	width: 33.33333%;
	display: inline-block;
	justify-content: center;
	height: 220px;
	cursor: pointer;
	padding: 15px;
}

.device-md .item-thumb .owl-dot,
.device-xs .item-thumb .owl-dot { height: 150px; }

.device-xxs .item-thumb .owl-dot {
	width: 50%;
	padding: 10px;
	height: 100px;
}

.item-thumb .owl-dot span {
	position: relative;
	display: block;
	background-size: cover;
	background-position: center center;
	width: auto;
	height: 100%;
	-webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.05);
	-moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.05);
	box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.05);
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.item-thumb .owl-dot:hover span,
.item-thumb .owl-dot.active span { opacity: .7; }


.food-menu .item-thumb .owl-dot:nth-of-type(1) span { background-image: url('../../../canvas/images/items/food/thumbs/1.jpg'); }
.food-menu .item-thumb .owl-dot:nth-of-type(2) span { background-image: url('../../../canvas/images/items/food/thumbs/2.jpg'); }
.food-menu .item-thumb .owl-dot:nth-of-type(3) span { background-image: url('../../../canvas/images/items/food/thumbs/3.jpg'); }
.food-menu .item-thumb .owl-dot:nth-of-type(4) span { background-image: url('../../../canvas/images/items/food/thumbs/4.jpg'); }
.food-menu .item-thumb .owl-dot:nth-of-type(5) span { background-image: url('../../../canvas/images/items/food/thumbs/5.jpg'); }
.food-menu .item-thumb .owl-dot:nth-of-type(6) span { background-image: url('../../../canvas/images/items/food/thumbs/6.jpg'); }
.food-menu .item-thumb .owl-dot:nth-of-type(7) span { background-image: url('../../../canvas/images/items/food/thumbs/7.jpg'); }
.food-menu .item-thumb .owl-dot:nth-of-type(8) span { background-image: url('../../../canvas/images/items/food/thumbs/8.jpg'); }
.food-menu .item-thumb .owl-dot:nth-of-type(9) span { background-image: url('../../../canvas/images/items/food/thumbs/9.jpg'); }

.dessert-menu .item-thumb .owl-dot:nth-of-type(1) span { background-image: url('../../../canvas/images/items/desserts/thumbs/1.jpg'); }
.dessert-menu .item-thumb .owl-dot:nth-of-type(2) span { background-image: url('../../../canvas/images/items/desserts/thumbs/2.jpg'); }
.dessert-menu .item-thumb .owl-dot:nth-of-type(3) span { background-image: url('../../../canvas/images/items/desserts/thumbs/3.jpg'); }
.dessert-menu .item-thumb .owl-dot:nth-of-type(4) span { background-image: url('../../../canvas/images/items/desserts/thumbs/4.jpg'); }
.dessert-menu .item-thumb .owl-dot:nth-of-type(5) span { background-image: url('../../../canvas/images/items/desserts/thumbs/5.jpg'); }
.dessert-menu .item-thumb .owl-dot:nth-of-type(6) span { background-image: url('../../../canvas/images/items/desserts/thumbs/6.jpg'); }
.dessert-menu .item-thumb .owl-dot:nth-of-type(7) span { background-image: url('../../../canvas/images/items/desserts/thumbs/7.jpg'); }
.dessert-menu .item-thumb .owl-dot:nth-of-type(8) span { background-image: url('../../../canvas/images/items/desserts/thumbs/8.jpg'); }
.dessert-menu .item-thumb .owl-dot:nth-of-type(9) span { background-image: url('../../../canvas/images/items/desserts/thumbs/9.jpg'); }

.menu-carousel .heading-block h3 { font-size: 34px; }

.menu-carousel .food-content {
	position: relative;
	padding: 30px 60px;
}

.menu-carousel .heading-block p {
	margin-top: 15px;
	color: #888;
}

.menu-carousel .heading-block .food-info {
	font-family: 'Poppins';
	color: #BBB;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	letter-spacing: 2px;
}

.food-price {
	position: absolute;
	top: 40px;
	right: 50px;
	font-size: 20px;
	letter-spacing: -1px;
	font-weight: 500;
	color: #444 !important;
}

.menu-carousel .more-link { margin-top: 35px; border-bottom: 1px solid #333 !important; }

.more-link {
	font-family: 'Poppins', sans-serif !important;
	font-style: normal;
	border-bottom: 0;
	color: #333;
	margin-top: 10px;
	font-size: 14px;
}

.team-title h4 { font-size: 15px; }
.team-title span {
	font-family: 'Lato', sans-serif !important;
	font-style: normal;
	margin-bottom: 15px;
	color: #AAA !important;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.entry {
	padding: 0;
	margin: 0;
	border-bottom: 0;
	-webkit-box-shadow: 0 0 15px 2px rgba(0,0,0,0.08);
	-moz-box-shadow: 0 0 15px 2px rgba(0,0,0,0.08);
	box-shadow: 0 0 15px 2px rgba(0,0,0,0.08);
}

.entry-title {
	background-color: #FFF;
	padding: 15px;
}

.entry-title h2 {
	text-transform: none;
	font-size: 17px;
	letter-spacing: 0;
	font-weight: 500;
	letter-spacing: 0;
}


.entry-meta { margin: 8px 0 0; }

.ipost .entry-meta li a {
	font-size: 11px;
	font-style: normal;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #999;
}

.entry-meta li:before {
	content: '\00b7';
	opacity: 1;
}


.service-button { margin: 80px 0 80px 15px; }
.device-xs .service-button,
.device-xxs .service-button { margin: 30px 0 0; }


@media (min-width: 992px) {
	#header,
	#header-wrap {
		z-index: 200;
		background-color: transparent;
		background-repeat: repeat-x;
		background-position: center bottom;
		background-size: auto 100%;
		-webkit-transition: all .5s ease;
		-o-transition: all .5s ease;
		transition: all .5s ease;
	}

	#primary-menu ul li > a {
		padding-top: 32px;
		padding-bottom: 10px;
	}

	#header.sticky-header #header-wrap {
		background-color: transparent;
		box-shadow: none;
	}

	.slider-caption h2 { font-size: 76px; }

	.menu-carousel .heading-block h3 { font-size: 48px; }

	.food-price {
		font-size: 24px;
		top: 50px;
		right: 60px;
	}
}
