
			<div class="row">
				<div class="col-md-12">
					<h1 class="page-header">
						Account
						<small>Edit Company Info</small>
					</h1>
				</div>
			</div> 

			<div class="row">
				<div class="12u">
					<div class="panel panel-default">
						<div class="panel-heading">
							Submit the following fields to edit company data
						</div>
						<div class="panel-body">
							<div class="row" style="padding: 0 25px;">
								<div class="6u 12u(s)">
									<label>Name</label>
									<input id="name" class="form-control" value="<?=$company_info['name']?>" />
								</div>
								<div class="6u 12u(s)">
									<label>Phone</label>
									<input id="phone" class="form-control" value="<?=$company_info['phone']?>" />
								</div>
								<div class="6u 12u(s)">
									<label>Email</label>
									<input id="email" class="form-control" value="<?=$company_info['email']?>" />
								</div>
								<div class="6u 12u(s)">
									<label>Address</label>
									<input id="address" class="form-control" value="<?=$company_info['address']?>" />
								</div>
								<div class="12u">
									<button id="submit" class="btn btn-primary btn-lg" style="width: 100%; margin-top: 25px;">
										Submit
									</button>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
			<script> 
				// using JQUERY's ready method to know when all dom elements are rendered
				$( document ).ready(function () {
					$("#submit").click(function () {
						var pass = true;
						
						if (document.getElementById('name').value == '') {
							alert('You must enter a company name.');
							pass = false;
						}

						if (document.getElementById('phone').value == '') {
							alert('You must enter a company phone number.');
							pass = false;
						}

						if (document.getElementById('email').value == '') {
							alert('You must enter a company email address.');
							pass = false;
						}

						if (document.getElementById('address').value == '') {
							alert('You must enter a company street address.');
							pass = false;
						}

						if (pass == true) {
							
							$.ajax({
								url: "<?=$company_info['nav_path']?>writeCompanyInfo",
								type: 'post',
								dataType: 'html',
								data: {
									id: 0,
									name: document.getElementById('name').value,
									email: document.getElementById('email').value, 
									phone: document.getElementById('phone').value,
									address: document.getElementById('address').value
								},
								async: false,
								success: function(data) {
									if (data == 1) {
										alert('Company info updated!');
										window.location.replace('/admin');
									} else {
										alert(data);
									}
								} 
							});
						}
					});
				});

			</script>