


		<div class="page-wrapper">
			<div class="container-fluid">
				<div class="row page-titles">
					<div class="col-md-6 col-8 align-self-center">
						<h3 class="text-themecolor m-b-0 m-t-0">Body Readings</h3>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/admin">Home</a></li>
							<li class="breadcrumb-item active">Body Readings</li>
						</ol>
					</div>
					<div class="col-md-6 col-4 align-self-center">

						<!-- <button class="btn pull-right hidden-sm-down btn-success"><i class="mdi mdi-plus-circle"></i> Create</button>
						<div class="dropdown pull-right m-r-10 hidden-sm-down">
							<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<?=date('F Y')?>
							</button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								<a class="dropdown-item" href="#">February 2017</a>
								<a class="dropdown-item" href="#">March 2017</a>
								<a class="dropdown-item" href="#">April 2017</a>
							</div>
						</div>
						-->
					</div>
				</div>

				<div class="card card-outline-info">
					<div class="card-header" style="padding-bottom: 0; margin-bottom: 15px; border-radius: 3px 3px 0 0;">
						<h2 class="card-title text-white" style="float: left;">User Blood Pressure Data</h2>
					</div>
					<div class="card-block">
						<div class="panel-body">
					
							<div class="row">

								<div class="col-lg-3 col-md-6 m-b-30 m-t-20 text-center">
									<div class="card card-body btn btn-info" onclick="javascript: window.location.href='<?=$company_info['nav_path']?>memberships'" style="background-color: #55CE63; padding-top: 20px; padding-left: 20px; color: white; height: 100px; cursor: pointer;">
										<h3 class="box-title m-b-0" style="color: white; font-weight: bold; font-size: 300%; margin: 5px;"><?=$d_avg?></h3>
										<address>
											Average Diastolic
										<br/>
										</address>
											
									</div>
								</div>
								
								<div class="col-lg-3 col-md-6 m-b-30 m-t-20 text-center">
									<div class="card card-body btn btn-info" onclick="javascript: window.location.href='<?=$company_info['nav_path']?>memberships'" style="background-color: #55CE63; padding-top: 20px; padding-left: 20px; color: white; height: 100px; cursor: pointer;">
										<h3 class="box-title m-b-0" style="color: white; font-weight: bold; font-size: 300%; margin: 5px;"><?=$s_avg?></h3>
										<address>
											Average Systolic
										<br/>
										</address>
											
									</div>
								</div>
								
								<div class="col-lg-3 col-md-6 m-b-30 m-t-20 text-center">
									<div class="card card-body btn btn-info" onclick="javascript: window.location.href='<?=$company_info['nav_path']?>memberships'" style="background-color: #55CE63; padding-top: 20px; padding-left: 20px; color: white; height: 100px; cursor: pointer;">
										<h3 class="box-title m-b-0" style="color: white; font-weight: bold; font-size: 300%; margin: 5px;"><?=$heart_avg?></h3>
										<address>
											Average Heart Rate
										<br/>
										</address>
											
									</div>
								</div>

							</div>
							<div class="table-responsive">
								<table id="blood_table" class="table table-hover table-striped">
									<thead>
										<tr>
											<th style="width: 50px;">User ID</th>
											<th>Diastolic</th>
											<th>Systolic</th>
											<th>Heart Rate</th>
										</tr>
									</thead>
									<tbody>
<?php foreach ($page_users as $id => $data): ?>
										<tr style="cursor: pointer;" onclick="submitPage(<?=$id?>);">
											<td><?=$id?></td>
											<td><?=$data['d_avg']?></td>
											<td><?=$data['s_avg']?></td>
											<td><?=$data['heart_avg']?></td>
										</tr>
<?php endforeach; ?>
									</tbody>	
								</table>
							</div>
						</div>
					</div>
				</div>
				
				
			</div>		
		</div>

		

		<script>
			$(document).ready(function() {

				$('#blood_table').DataTable( {
					columnDefs: [
					{
						className: 'mdl-data-table__cell--non-numeric'
					}],
					lengthMenu: [10, 15, 20, 25, 50, 100, 150, 200, 250, 500],
					
					pageLength: 50,
					order: [[ 1, "desc" ]]
				});

				$('#heart_table').DataTable( {
					columnDefs: [
					{
						className: 'mdl-data-table__cell--non-numeric'
					}],
					lengthMenu: [10, 15, 20, 25, 50, 100, 150, 200, 250, 500],
					
					pageLength: 50,
					order: [[ 1, "desc" ]]
				});
			});

		</script>
		
		<style>

			.filter-btn {
				background-color: #7460EE; 
				margin-right: 25px;
			}
		</style>


		