		


		<div class="page-wrapper">
			<div class="container-fluid">
				<div class="row page-titles">
					<div class="col-md-6 col-8 align-self-center">
						<h3 class="text-themecolor m-b-0 m-t-0">Data Sets</h3>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
							<li class="breadcrumb-item active" style="font-weight: bold;">View Data Sets</li>
						</ol>

					</div>
					<div class="col-md-6 col-4 align-self-center">

					</div>
				</div>


				<div class="card card-outline-info">
					<div class="card-header" style="padding-bottom: 0; margin-bottom: 15px; border-radius: 3px 3px 0 0;">
						<h2 class="card-title text-white" style="float: left; font-weight: bold;">Entered Data Sets <small>Click to edit an item</small></h2>
					</div>
					<div class="card-body" style="padding: 0 10px 10px 10px;">
						<div class="table-responsive">
							<table id="main_table" class="table table-hover table-striped">
								
								<thead>
									<tr>
										<th>ID</th>
										<th>Name</th>
										<th>Description</th>
										<th>Units</th>
										<th>Tags</th>
										<th>Range Low</th>
										<th>Range High</th>
									</tr>
								</thead>
								<tbody>
<?php foreach ($datasets as $id => $data): ?>
									<tr style="cursor: pointer;" onclick="submitPage(<?=$id?>);">
										<td><?=$id?></td>
										<td><?=$data['ZNAME']?></td>
										<td><?=$data['ZDESC']?></td>
										<td><?=$data['ZUNITS']?></td>
										<td><?=$data['ZTAGS']?></td>
										<td><?=$data['ZRANGELOW']?></td>
										<td><?=$data['ZRANGEHIGH']?></td>
									</tr>
<?php endforeach; ?>
								</tbody>	
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>


		<script>
			$(document).ready(function() {
				"use strict";

				$('#main_table').DataTable( {
					columnDefs: [
					{
						className: 'mdl-data-table__cell--non-numeric'
					}],
					lengthMenu: [10, 15, 20, 25, 50, 100, 150, 200, 250, 500],
					
					pageLength: 50,
					order: [[ 0, "desc" ]]
				});

			});
			

			function submitPage(education_id)
			{
				window.location.href = '<?=$company_info['nav_path']?>edit-education?education_id=' + education_id;
			}
		</script>
