


		<div class="page-wrapper">
			<div class="container-fluid">
				<div class="row page-titles">
					<div class="col-md-6 col-8 align-self-center">
						<h3 class="text-themecolor m-b-0 m-t-0">Deliveries</h3>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
							<li class="breadcrumb-item active" style="font-weight: bold;">Deliveries Main</li>
						</ol>

					</div>
					<div class="col-md-6 col-4 align-self-center">
						<button class="right-side-toggle waves-effect waves-light btn-info btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>

					</div>
				</div>

				<!-- Row -->
				<div class="row">
					<div class="col-lg-12"></div>
					<div class="col-lg-12" style="margin-top:-50px;">
						<div class="card card-outline-info" style="margin-top: 30px;">

							<div class="card-header" style="padding-bottom: 0; margin-bottom: 15px; border-radius: 3px 3px 0 0;">
								<h2 class="card-title text-white" style="float: left;">Orders NOT Claimed By A Driver</h2>
<?php if ($loader['admin_user']['user_type_id'] == 1): ?>
								<button class="btn btn-info" style="float: right; background-color: #7460EE;" onclick="javascript: window.location.href = '<?=$company_info['nav_path']?>delivery-overview';"> Delivery Overview</button>
<?php endif; ?>
							</div>
							<div class="card-body" style="padding: 0 10px 10px 10px;">
<?php if ($not_accepted_count > 0):?>
					<div class="table-responsive">
						<table id="claimed" class="table table-striped table-hover">
							<thead>
								<tr>
									<th>ID</th>
									<th>First Name</th>
									<th>Last Name</th>
									<th>Address</th>
									<th>Amount Due</th>
									<th>Order Time</th>
								</tr>
							</thead>
							<tbody>

<?php foreach ($transactions as $id => $data): ?>
<?php $pass = true;?>
<?php foreach($sales as $id2 => $data2): ?>
<?php if($data2['transaction_id'] == $id && $data['order_accepted'] == 0 && isset($users[$data2['user_id']])): ?>
<?php if($pass == true): ?>
								<tr style="cursor: pointer; height: 50px;" onclick="javascript:window.location.href = '<?=$company_info['nav_path']?>edit-transaction?transaction_id=<?=$id?>';">
									<td><div style="margin-top: 6px;"><?=$transactions[$data2['transaction_id']]['id']?></div></td>
									<td><div style="margin-top: 6px;"><?=ucfirst($users[$data2['user_id']]['first_name'])?></div></td>
									<td><div style="margin-top: 6px;"><?=ucfirst($users[$data2['user_id']]['last_name'])?></div></td>
									<td><div style="margin-top: 6px;"><?=$users[$data2['user_id']]['address']?>, <?=$users[$data2['user_id']]['city']?>, <?=$users[$data2['user_id']]['zip']?></div></td>
									
									<td><div style="margin-top: 6px;">$<?=$transactions[$data2['transaction_id']]['cost']?></div></td>

<?php $timestamp1 = strtotime($data2['created_date']);?>
<?php $timestamp2 = time();?>

<?php if ($timestamp2 - 3600 > $timestamp1):?>
<?php $over_an_hour = true;?>
<?php else: ?>
<?php $over_an_hour = false;?>
<?php endif; ?>

<?php $string1 = explode(' ', $data2['created_date']); ?>
<?php $string2 = explode(':', $string1[1]); ?>
<?php date_default_timezone_set('America/Los_Angeles'); ?>
<?php $time = date("g:i a", strtotime($string2[0] . ':' . $string2[1])); ?>
<?php if ($over_an_hour == true): ?>
									<td style="color: red;"><span style="margin-left: 15px;"><span style="margin-right: 25px; font-weight: bold;"><?=$time?></span>  <i class="fa fa-calendar fa-fw"></i><?=$string1[0]?></span></td>				
<?php else: ?>
									<td><span style="margin-left: 15px;"><span style="margin-right: 25px; font-weight: bold;"><?=$time?></span>  <i class="fa fa-calendar fa-fw"></i><?=$string1[0]?></span></td>				
<?php endif; ?>
								</tr>
<?php endif; ?>
<?php $pass = false;?>
<?php endif; ?>
<?php endforeach; ?>		
<?php endforeach; ?>
							</tbody>
						</table>
					</div>
<?php else: ?>
					<div>There are currently no sales to display</div>
<?php endif; ?>
							</div>
						</div>
					</div>

					<div class="col-lg-12"></div>
					
					<div class="col-lg-12" style="margin-top:-50px;">
						<div id="driver_table2" style="position: absolute; top: 0; margin-top: -100px;">&nbsp;</div>
						<div class="card card-outline-info" style="margin-top: 30px;">
					
							<div class="card-header" style="padding-bottom: 0; margin-bottom: 15px; border-radius: 3px 3px 0 0;">
								<h2 class="card-title text-white" style="float: left;">Orders Claimed by a driver</h2>
							</div>
							<div class="card-body" style="padding: 0 10px 10px 10px;">
							
								<div class="table-responsive">
						<table id="not_claimed" class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
									<th>ID</th>
									<th>First Name</th>
									<th>Last Name</th>
									<th>Address</th>
									<th>Amount Due</th>
									<th>Order Time</th>
								</tr>
							</thead>
							<tbody>

<?php foreach ($accepted_by_me as $id => $data): ?>
<?php $pass = true;?>
<?php foreach($sales as $id2 => $data2): ?>
<?php if($data2['transaction_id'] == $id && $data['order_accepted'] > 1 && isset($users[$data2['user_id']])): ?>
<?php if($pass == true): ?>
								<tr style="cursor: pointer; height: 50px;" onclick="javascript:window.location.href = '<?=$company_info['nav_path']?>edit-order?transaction_id=<?=$id?>';">
									<td><div style="margin-top: 6px;"><?=$transactions[$data2['transaction_id']]['id']?></div></td>
									<td><div style="margin-top: 6px;"><?=ucfirst($users[$data2['user_id']]['first_name'])?></div></td>
									<td><div style="margin-top: 6px;"><?=ucfirst($users[$data2['user_id']]['last_name'])?></div></td>
									<td><div style="margin-top: 6px;"><?=$users[$data2['user_id']]['address']?>, <?=$users[$data2['user_id']]['city']?>, <?=$users[$data2['user_id']]['zip']?></div></td>
									
									<td><div style="margin-top: 6px;">$<?=$transactions[$data2['transaction_id']]['cost']?></div></td>

<?php $timestamp1 = strtotime($data2['created_date']);?>
<?php $timestamp2 = time();?>

<?php if ($timestamp2 - 3600 > $timestamp1):?>
<?php $over_an_hour = true;?>
<?php else: ?>
<?php $over_an_hour = false;?>
<?php endif; ?>

<?php $string1 = explode(' ', $data2['created_date']); ?>
<?php $string2 = explode(':', $string1[1]); ?>
<?php date_default_timezone_set('America/Los_Angeles'); ?>
<?php $time = date("g:i a", strtotime($string2[0] . ':' . $string2[1])); ?>
<?php if ($over_an_hour == true): ?>
									<td style="color: red;"><span style="margin-left: 15px;"><span style="margin-right: 25px; font-weight: bold;"><?=$time?></span>  <i class="fa fa-calendar fa-fw"></i><?=$string1[0]?></span></td>				
<?php else: ?>
									<td><span style="margin-left: 15px;"><span style="margin-right: 25px; font-weight: bold;"><?=$time?></span>  <i class="fa fa-calendar fa-fw"></i><?=$string1[0]?></span></td>				
<?php endif; ?>
								</tr>
<?php endif; ?>
<?php $pass = false;?>
<?php endif; ?>
<?php endforeach; ?>		
<?php endforeach; ?>
							</tbody>
						</table>
					</div>
							</div>
						</div>
					</div>




		
			</div>
		</div>
	</div>

		<script>
			$(document).ready(function() {
				"use strict";

				$('#claimed').DataTable( {
					columnDefs: [
					{
						className: 'mdl-data-table__cell--non-numeric'
					}],
					lengthMenu: [10, 15, 20, 25, 50, 100],
					
					pageLength: 50,
					order: [[ 0, "desc" ]]
				});

				$('#not_claimed').DataTable( {
					columnDefs: [
					{
						className: 'mdl-data-table__cell--non-numeric'
					}],
					lengthMenu: [10, 15, 20, 25, 50, 100],
					
					pageLength: 50,
					order: [[ 0, "desc" ]]
				});

			});
		</script>

