

		<div class="page-wrapper">
			<div class="container-fluid">
				<div class="row page-titles">
					<div class="col-md-6 col-8 align-self-center">
						<h3 class="text-themecolor m-b-0 m-t-0">Diet</h3>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
						</ol>
					</div>
					<div class="col-md-6 col-4 align-self-center">
						<!-- <button class="btn pull-right hidden-sm-down btn-success"><i class="mdi mdi-plus-circle"></i> Create</button> -->
					</div>
				</div>

						<div class="card card-outline-info">
							<div class="card-header" style="padding-bottom: 0; margin-bottom: 15px; border-radius: 3px 3px 0 0;">
								<h2 class="card-title text-white" style="float: left;">Nurtient Goal Averages</h2>
							</div>
							<div class="card-block">
								<form class="form-horizontal" role="form">
									<div class="form-body">
										<div class="row">


											<div class="col-md-6">
												<div class="form-group row">
													<label class="control-label text-right col-md-3">Carbohydrates:</label>
													<div class="col-md-9">
														<p class="form-control-static"> <?=$carb?> </p>
													</div>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group row">
													<label class="control-label text-right col-md-3">Protein:</label>
													<div class="col-md-9">
														<p class="form-control-static"> <?=$protein?> </p>
													</div>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group row">
													<label class="control-label text-right col-md-3">Calories:</label>
													<div class="col-md-9">
														<p class="form-control-static"> <?=$calories?> </p>
													</div>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group row">
													<label class="control-label text-right col-md-3">Fiber:</label>
													<div class="col-md-9">
														<p class="form-control-static"> <?=$fiber?> </p>
													</div>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group row">
													<label class="control-label text-right col-md-3">Sugar:</label>
													<div class="col-md-9">
														<p class="form-control-static"> <?=$sugar?> </p>
													</div>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group row">
													<label class="control-label text-right col-md-3">Sodium:</label>
													<div class="col-md-9">
														<p class="form-control-static"> <?=$sodium?> </p>
													</div>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group row">
													<label class="control-label text-right col-md-3">Fat:</label>
													<div class="col-md-9">
														<p class="form-control-static"> <?=$fat?> </p>
													</div>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group row">
													<label class="control-label text-right col-md-3">Cholesterol:</label>
													<div class="col-md-9">
														<p class="form-control-static"> <?=$cholesterol?> </p>
													</div>
												</div>
											</div>
											
											
										
										</div>	
									</div>
								</form>
							</div>
						</div>
						
						<div class="card card-outline-info">
					<div class="card-header" style="padding-bottom: 0; margin-bottom: 15px; border-radius: 3px 3px 0 0;">
						<h2 class="card-title text-white" style="float: left;">Recorded Nutrient Intake</h2>
					</div>
					<div class="card-body" style="padding: 0 10px 10px 10px;">
						<div class="table-responsive">
							<table id="main_table" class="table table-hover table-striped">
								
								<thead>
									<tr>
										<th style="width: 50px;">ID</th>
										<th style="width: 140px;">Date</th>
										<th>Nutrient</th>
										<th>Amount</th>
										<th>Food Source</th>
									</tr>
								</thead>
								<tbody>
<?php foreach ($nutrients as $id => $data): ?>
									<tr style="cursor: pointer;" onclick="submitPage(<?=$id?>);">
										<td><?=$id?></td>
										<td><?=date("m/d/y H:i:s", strtotime('+31 years', $data['ZDATE']));?></td>
										<td><?=$data['ZNAME']?></td>
										<td><?=$data['ZFDAVAL']?><?=$data['ZUNIT']?></td>
										<td><?=$data['ZFOODNAME']?></td>
									</tr>
<?php endforeach; ?>
								</tbody>	
							</table>
						</div>
					</div>
				</div>
		
				
				
				
			</div>
		</div>
	</div>
				
				

		<script>
			$(document).ready(function() {

				$('input[name="target_date"]').daterangepicker();

				$( ".applyBtn" ).click(function() {
					setTimeout(function () {
						search();
					}, 200);
				});

				$('#main_table').DataTable( {
					columnDefs: [
					{
						className: 'mdl-data-table__cell--non-numeric'
					}],
					lengthMenu: [10, 15, 20, 25, 50, 100, 150, 200, 250, 500],
					
					pageLength: 50,
					order: [[ 1, "desc" ]]
				});
			});

			function search () {
				window.location.href = '/admin?filter=' + document.getElementById('target_date').value;
			}
		</script>
		
		<style>
			.filter-btn {
				background-color: #7460EE; 
				margin-right: 25px;
			}
		</style>



