		


		<div class="page-wrapper">
			<div class="container-fluid">
				<div class="row page-titles">
					<div class="col-md-6 col-8 align-self-center">
						<h3 class="text-themecolor m-b-0 m-t-0">Products</h3>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/admin">Home</a></li>
							<li class="breadcrumb-item"><a href="<?=$company_info['nav_path']?>content">Content Main</a></li>
							<li class="breadcrumb-item active" style="font-weight: bold;">Edit Product</li>
						</ol>
					</div>
					<div class="col-md-6 col-4 align-self-center">
					</div>
				</div>
				<div class="card card-outline-info">
					<div class="card-header" style="padding-bottom: 0; margin-bottom: 15px; border-radius: 3px 3px 0 0;">
				
<?php if($product_id == 0): ?>
							<h2 class="card-title text-white" style="float: left;">Create Product <i class="fa fa-pencil"></i></h2>								
<?php else: ?>
							<h2 class="card-title text-white" style="float: left;">Edit Product <i class="fa fa-pencil"></i></h2>								
							<button class="btn btn-info" style="float: right; background-color: #7460EE;" onclick="javascript: confirmDelete();">Delete Product <span class="fa fa-exclamation-triangle"></span></button>
<?php if ($product['active'] == 1): ?>
							&nbsp;
							<button id="active_on" onclick="javascript: activate(0);" class="btn btn-info" style="float: right; background-color: #55CE63; margin-right: 20px;">PRODUCT ACTIVE <span style="font-size: 75%;"> Click To De-Activate</span></button>
							<button id="active_off" onclick="javascript: activate(1);" class="btn btn-info" style="float: right; background-color: #fcc500; display: none; margin-right: 20px;"><span class="fa fa-exclamation-triangle"></span> PRODUCT INACTIVE! <span style="font-size: 75%;"> Click To Activate</span></button>
<?php else: ?>
							&nbsp;
							<button id="active_on" onclick="javascript: activate(0);" class="btn btn-info" style="float: right; display: none; background-color: #55CE63; margin-right: 20px;">PRODUCT ACTIVE <span style="font-size: 75%;"> Click To De-Activate</span></button>
							<button id="active_off" onclick="javascript: activate(1);" class="btn btn-info" style="float: right; background-color: #fcc500; margin-right: 20px;"><span class="fa fa-exclamation-triangle"></span> PRODUCT INACTIVE! <span style="font-size: 75%;"> Click To Activate</span></button>
<?php endif; ?>
<?php endif;?>	
					</div>
					<div class="card-block">
						
						
						
							<div class="row" style="padding: 0 25px;">
								<div id="snap_point" class="col-lg-4 col-sm-12">
									<label>Is product a sole item or combo?</label>
									<div class="input-group">
<?php if($product_id == 0): ?>
										<span id="switch1" class="combo_switch" style="background-color: #7460EE; border-top-left-radius: 4px; border-bottom-left-radius: 4px; color: white;" onclick="javascript: comboSwitch(1);">Single Product</span>
										<span id="switch2" class="combo_switch" style="background-color: #d1d1d1; border-top-right-radius: 4px; border-bottom-right-radius: 4px; color: grey; cursor: pointer;" onclick="javascript: comboSwitch(2);">Combo Product</span>					
										<input id="combo_switch" type="hidden" value="0">
<?php else: ?>
<?php if ($product['combo'] == 1): ?>
										<span id="switch1" class="combo_switch" style="background-color: #d1d1d1; border-top-left-radius: 4px; border-bottom-left-radius: 4px; color: grey; cursor: pointer;" onclick="javascript: comboSwitch(1);">Single Product</span>
										<span id="switch2" class="combo_switch" style="background-color: #7460EE; border-top-right-radius: 4px; border-bottom-right-radius: 4px; color: white;" onclick="javascript: comboSwitch(2);">Combo Product</span>	
										<input id="combo_switch" type="hidden" value="1">
<?php else: ?>
										<span id="switch1" class="combo_switch" style="background-color: #7460EE; border-top-left-radius: 4px; border-bottom-left-radius: 4px; color: white;" onclick="javascript: comboSwitch(1);">Single Product</span>
										<span id="switch2" class="combo_switch" style="background-color: #d1d1d1; border-top-right-radius: 4px; border-bottom-right-radius: 4px; color: grey; cursor: pointer;" onclick="javascript: comboSwitch(2);">Combo Product</span>	
										<input id="combo_switch" type="hidden" value="0">
<?php endif; ?>
<?php endif; ?>
										
									</div>
								</div>
								
								<style>
									.combo_switch {
										width: 50%; 
										height: 37px; 
										line-height: 37px;
										text-align: center;
									}
								</style>
								
						
								<div class="col-lg-4 col-sm-12">
									<label>Name</label>
									<div class="input-group">
<?php if($product_id == 0): ?>
										<input id="name" class="form-control">						
<?php else: ?>
										<input id="name" class="form-control" value="<?=$product['name']?>">
<?php endif; ?>
									</div>
								</div>
<?php if ($product_id > 0 && $product['combo'] == 1): ?>
								<div id="form_vendor" class="col-lg-4 col-sm-12" style="display: none;">
<?php else: ?>
								<div id="form_vendor" class="col-lg-4 col-sm-12">
<?php endif; ?>
									<label>Vendor</label>
									<div class="input-group">
										<select id="vendor_id" class="form-control">
	<?php foreach($vendors as $id => $data): ?>
	<?php if ($product_id > 0): ?>
	<?php if($product['vendor_id'] == $id): ?>
											<option value="<?=$id?>" selected><?=$data['name']?></option>
	<?php else: ?>
											<option value="<?=$id?>"><?=$data['name']?></option>
	<?php endif; ?>
	<?php else: ?>
											<option value="<?=$id?>"><?=$data['name']?></option>
	<?php endif; ?>
	<?php endforeach; ?>
										</select>
									</div>
								</div>

								<div class="col-lg-4 col-sm-12">
									<label>Product Type</label>
									<div class="input-group">
										<select id="product_type_id" class="form-control">
<?php foreach($product_types as $id => $data): ?>
<?php if ($product_id > 0): ?>
<?php if($product['product_type_id'] == $id): ?>
											<option value="<?=$id?>" selected><?=$data['name']?></option>
<?php else: ?>
											<option value="<?=$id?>"><?=$data['name']?></option>
<?php endif; ?>
<?php else: ?>
											<option value="<?=$id?>"><?=$data['name']?></option>
<?php endif; ?>
<?php endforeach; ?>
										</select>
									</div>
								</div>
								
								<div class="col-lg-4 col-sm-12">
									<label>Primary Inventory Holder</label>
									<div class="input-group">
										<select id="primary_holder_id" class="form-control">
<?php foreach($available_holders as $id => $data): ?>
<?php if ($product_id > 0): ?>
<?php if($product['inventory_holder_id'] > 0): ?>
<?php if($product['inventory_holder_id'] == $id): ?>
											<option value="<?=$id?>" selected><?=$data['first_name']?> <?=$data['last_name']?></option>
<?php else: ?>
											<option value="<?=$id?>"><?=$data['first_name']?> <?=$data['last_name']?></option>
<?php endif; ?>
<?php else: ?>
<?php if($company_info['primary_inventory_user_id'] == $id): ?>
											<option value="<?=$id?>" selected><?=$data['first_name']?> <?=$data['last_name']?></option>
<?php else: ?>
											<option value="<?=$id?>"><?=$data['first_name']?> <?=$data['last_name']?></option>
<?php endif; ?>
<?php endif; ?>
<?php else: ?>
<?php if($company_info['primary_inventory_user_id'] == $id): ?>
											<option value="<?=$id?>" selected><?=$data['first_name']?> <?=$data['last_name']?></option>
<?php else: ?>
											<option value="<?=$id?>"><?=$data['first_name']?> <?=$data['last_name']?></option>
<?php endif; ?>
<?php endif; ?>
<?php endforeach; ?>
										</select>
									</div>
								</div>
								
								<div class="col-lg-4 col-sm-12">
									<div>
										<label>Featured Product Image #1: </label>
										<div style="position: relative;">
											<div class="input-group iframe-btn" href="../../../filemanager<?=$company_info['filemanager_path']?>/dialog.php?type=0&field_id=attachment1&relative_url=1">
<?php if($product_id == 0): ?>
												<input id="attachment1" type="text" class="form-control">					
<?php else: ?>
												<input id="attachment1" type="text" class="form-control" value="<?=$product['attachment_file_name']?>">
<?php endif; ?>
												
												<span class="input-group-btn">
													<button  class="btn btn-info" type="submit" style="background-color: #21A2F2; color: white;">
														<i class="fa fa-image"></i>
													</button>
												</span>
											</div>


										</div>
									</div>
								</div>
								<div class="col-lg-4 col-sm-12">
									<div>
										<label>Featured Product Image #2: </label>
										<div style="position: relative;">
											<div class="input-group iframe-btn" href="../../../filemanager<?=$company_info['filemanager_path']?>/dialog.php?type=0&field_id=attachment2&relative_url=1">
<?php if($product_id == 0): ?>
												<input id="attachment2" type="text" class="form-control">					
<?php else: ?>
												<input id="attachment2" type="text" class="form-control" value="<?=array_slice($product_images, 0)[1]['attachment_file_name']?>">
<?php endif; ?>
											
												<span class="input-group-btn">
													<button  class="btn btn-info" type="submit" style="background-color: #21A2F2; color: white;">
														<i class="fa fa-image"></i>
													</button>
												</span>
											</div>

										</div>
									</div>
								</div>
								<div class="col-lg-4 col-sm-12">
									<div>
										<label>Featured Product Image #3: </label>
										<div style="position: relative;">
											<div href="../../../filemanager<?=$company_info['filemanager_path']?>/dialog.php?type=0&field_id=attachment3&relative_url=1" class="iframe-btn input-group">
<?php if($product_id == 0): ?>
												<input id="attachment3" type="text" class="form-control">					
<?php else: ?>
												<input id="attachment3" type="text" class="form-control" value="<?=array_slice($product_images, 0)[2]['attachment_file_name']?>">
<?php endif; ?>
										
												<span class="input-group-btn">
													<button class="btn btn-info" type="submit" style="background-color: #21A2F2; color: white;">
														<i class="fa fa-image"></i>
													</button>
												</span>
											</div>

										</div>
									</div>
								</div>
				
								
								<div class="col-lg-4 col-sm-12">
									<div>
										<label>Featured Product Image #4: </label>
										<div style="position: relative;">
											<div class="input-group iframe-btn" href="../../../filemanager<?=$company_info['filemanager_path']?>/dialog.php?type=0&field_id=attachment4&relative_url=1">
<?php if($product_id == 0): ?>
												<input id="attachment4" type="text" class="form-control">					
<?php else: ?>
												<input id="attachment4" type="text" class="form-control" value="<?=array_slice($product_images, 0)[3]['attachment_file_name']?>">
<?php endif; ?>
											
												<span class="input-group-btn">
													<button class="btn btn-info" type="submit" style="background-color: #21A2F2; color: white;">
														<i class="fa fa-image"></i>
													</button>
												</span>
											</div>

										</div>
									</div>
								</div>
								<div class="col-lg-4 col-sm-12">
									<div>
										<label>Featured Product Image #5: </label>
										<div style="position: relative;">
											<div class="input-group iframe-btn" href="../../../filemanager<?=$company_info['filemanager_path']?>/dialog.php?type=0&field_id=attachment5&relative_url=1">
<?php if($product_id == 0): ?>
												<input id="attachment5" type="text" class="form-control">					
<?php else: ?>
												<input id="attachment5" type="text" class="form-control" value="<?=array_slice($product_images, 0)[4]['attachment_file_name']?>">
<?php endif; ?>
												
												<span class="input-group-btn">
													<button  class="btn btn-info" type="submit" style="background-color: #21A2F2; color: white;">
														<i class="fa fa-image"></i>
													</button>
												</span>
											</div>

											
										</div>
									</div>
								</div>

								<div class="col-lg-12"><hr style="margin: 0; margin-bottom: 25px;"></div>


								<div class="col-lg-4 col-sm-12">
									<label>Smallest <span style="font-weight: bold; color: #009EFB; text-shadow: .5px .5px #d1d1d1; font-size: 130%;">unit of measurement</span> for this product <br>(DO NOT PLURALIZE)</label>
<?php if($product_id == 0): ?>
									<div class="input-group">
										<input id="unit_name" class="form-control">	
									</div>					
<?php else: ?>	
									<div class="input-group">
										<input id="unit_name" class="form-control" value="<?=$product['unit_name']?>">
									</div>
<?php endif; ?>
								</div>

								<div class="col-lg-4 col-sm-12">
<?php if($product_id == 0): ?>
									<label>Primary inventory holder inital stock<br><span style="font-weight: bold; color: #009EFB;"><i class="fa fa-arrow-left"></i> In terms of <span style=" text-shadow: .5px .5px #d1d1d1; font-size: 130%;">unit of measurement</span></span></label>
									<div class="input-group">
										<span class="input-group-addon">#</span>
										<input id="initial_inventory" class="form-control">	
									</div>						
<?php else: ?>
									<label>Primary inventory holder stock<br><span style="font-weight: bold; color: #009EFB;"><i class="fa fa-arrow-left"></i> In terms of <span style=" text-shadow: .5px .5px #d1d1d1; font-size: 130%;">unit of measurement</span></span></label>
									<div class="input-group">
										<input id="initial_inventory" class="form-control" value="<?=$inventory?>">
									</div>	
<?php endif; ?>
									
								</div>
<?php if($product_id > 0 && $product['combo'] == 1): ?>
								<div id="bonus_row" class="col-lg-4 col-sm-12" style="display: none;">
<?php else: ?>
								<div id="bonus_row" class="col-lg-4 col-sm-12">
														
<?php endif; ?>														
									<label>Company cost per unit<br><span style="font-weight: bold; color: #009EFB;"><i class="fa fa-arrow-left"></i><i class="fa fa-arrow-left"></i> In terms of <span style=" text-shadow: .5px .5px #d1d1d1; font-size: 130%;">unit of measurement</span></span></label>
<?php if($product_id == 0): ?>	
									<div class="input-group">
										<span class="input-group-addon">$</span>
										<input id="unit_price_wholesale" class="form-control">
									</div>
<?php else: ?>
									<div class="input-group">
										<span class="input-group-addon">$</span>
										<input id="unit_price_wholesale" class="form-control" value="<?=$product['unit_price_wholesale']?>">
									</div>
<?php endif; ?>
								</div>
								
								
								<div class="col-lg-12">
									<div class="row">
										<div class="col-lg-12" style="margin-top: 20px;"><h2 style="">Available Product Sizes</h2></div>
<?php $count = 1; ?>
<?php foreach ($product_sizes as $id => $data): ?>
										<div id="size_box<?=$count?>" class="col-lg-3 col-sm-6 product_size_box" style="margin-bottom: 15px;">
											<div id="quantity_box<?=$count?>" class="shadow" style="padding: 10px; background-color: rgba(0, 255, 0, 0.4); position: relative;">
												<button onclick="javascript: deleteSize(<?=$count?>);" class="btn btn-info" style="position: absolute; top: 0; right: 0; background-color: #ff7777; border-top-left-radius: 0; border-bottom-right-radius: 0;"><i class="fa fa-close" style="color: white;"></i></button>
												
												
												<label style="font-weight: bold;">New Product Size<hr style="margin: 5px;"></label>

												<div class="form-group row" style="margin: 0; text-align: center;">
													<label for="example-month-input" class="col-12 col-form-label" style="font-weight: bold;">Size Name</label>
													<div class="col-12">
														<input id="new_sub_product_name<?=$count?>" style="text-align: center;" class="form-control" value="<?=$data['name']?>" onkeyup="javascript: checkQuantity(<?=$count?>);">	
													</div>
												</div>
												
												<div class="form-group row" style="margin: 0; text-align: center;">
													<label for="example-month-input" class="col-12 col-form-label" style="font-weight: bold;">Size Price</label>
													<div class="col-12 input-group">
														<span class="input-group-addon">$</span>
														<input id="new_sub_product_price<?=$count?>" style="text-align: center;" class="form-control" value="<?=$data['price']?>" onkeyup="javascript: checkQuantity(<?=$count?>);">
													</div>
												</div>
					
												<div id="new_sub_product_inventory_row<?=$count?>" class="form-group row" style="margin: 0; text-align: center; margin-top: -15px;">
													<label for="example-month-input" class="col-12 col-form-label" style="font-weight: bold;">Inventory Units</label>
													<div class="col-12">
														<input id="new_sub_product_inventory<?=$count?>" style="text-align: center;" class="form-control" value="<?=$data['units']?>" onkeyup="javascript: checkQuantity(<?=$count?>);">	
													</div>
												</div>						
											</div>
										</div>
<?php $count++; ?>
<?php endforeach; ?>
										<div id="new_quantity_box" class="col-lg-3 col-sm-6" style="pointer-events: auto !important;">
											<div id="quantity_box_new" class="shadow card" style="padding: 30px; background-color: rgba(196, 196, 196, 0.8); text-align: center; cursor: pointer;" onclick="javascript: newQuantity();">
												<h3 style="font-weight: bold;">ADD NEW QUANTITY<hr style="margin: 5px;"></h3>
												<br><br>
												<i class="fa fa-plus" style="font-size: 300%;"></i>	
											</div>
										</div>	
									</div>
								</div>

<?php if ($product_id > 0 && $product['combo'] == 1): ?>
								<div id="menu_parts_section" class="col-lg-12">
<?php else: ?>
								<div id="menu_parts_section" class="col-lg-12" style="display: none;">
<?php endif; ?>
									<div class="row">
										<div class="col-lg-12" style="margin-top: 20px;"><h2 style="">Menu Item Parts</h2></div>
<?php $count = 1; ?>
<?php foreach ($product_parts as $id => $data): ?>

					<div id="outter_product_part_box<?=$count?>" class="col-lg-3 col-sm-12 product_size_box" style="margin-bottom: 15px;">
						<div id="product_part_box<?=$count?>" class="shadow" style="padding: 10px; background-color: #7460EE; color: white;">
							<label>New Menu Item Part<hr style="margin: 5px;"></label>
							<div class="form-group row" style="margin: 0;">
								<label for="example-month-input" class="col-12 col-form-label">Stock Item</label>
									<div class="col-12">
									<select id="part_selector<?=$count?>" class="custom-select col-12" style="background-color: white;" onchange="javascript: selectStockPart(this.value, <?=$count?>);">
<?php foreach ($all_product_parts as $id2 => $data2): ?>
<?php if ($data['product_id'] == $id2): ?>
										<option value="<?=$id2?>" selected><?=$data2['name']?></option>
<?php else: ?>
										<option value="<?=$id2?>"><?=$data2['name']?></option>
<?php endif; ?>
<?php endforeach; ?>	
									</select>
								</div>
							</div>

 							<br>
							<div id="units_row<?=$count?>" style="text-align: center;">Product inventory unit - <span id="inventory_unit_string<?=$count?>" style="font-weight: bold;"><?=$all_product_parts[$data['product_id']]['unit_name']?></span><span style="font-weight: bold;">s</span></div>

							<br>

							<div class="form-group row" style="margin: 0; text-align: center;">
								<label for="example-month-input" class="col-12 col-form-label"># of the above units in this menu item</label>
								<div class="col-12">
									<input id="part_units<?=$count?>" class="form-control" placeholder="#..." value="<?=$data['product_units']?>">	
								</div>
							</div>
							
						</div>
					</div>

<?php $count++; ?>
<?php endforeach; ?>
										<div id="new_product_part_box" class="col-lg-3 col-sm-6" style="pointer-events: auto !important;">
											<div id="product_part_box_new" class="shadow card" style="padding: 30px; background-color: rgba(196, 196, 196, 0.8); text-align: center; cursor: pointer;" onclick="javascript: newProductPart();">
												<h3 style="font-weight: bold;">ADD NEW PART<hr style="margin: 5px;"></h3>
												<br><br>
												<i class="fa fa-plus" style="font-size: 300%;"></i>	
											</div>
										</div>	
									</div>
								</div>
											
							</div>
							
							<div class="row" style="padding: 0 25px;">
								<div class="col-lg-12">
									<div class="form-group">
										<h2 style="margin-top: 50px;">Product Description</h2>
<?php if($product_id == 0): ?>
										<textarea id="post_text"></textarea>			
<?php else: ?>
										<textarea id="post_text"><?=$product['description']?></textarea>
<?php endif; ?>
										
									</div>
									<button id="submit" class="btn btn-primary btn-lg" style="width: 100%;">
										Submit
									</button>
								</div>
							</div>
						
					</div>
				</div>
			</div>	
		</div>
	</div>

			<script> 
				var size_count = <?=count($product_sizes)?>;
				var part_count = <?=count($product_parts)?>;
				var product_parts = <?php echo json_encode($product_parts); ?>;
				var all_product_parts = <?php echo json_encode($all_product_parts); ?>;

				var combo = document.getElementById('combo_switch').value;

				var sizes = [];

				for (var i = 1; i < size_count+1; i++) {
					sizes[i] = {
						name: document.getElementById('new_sub_product_name' + i).value, 
						price: document.getElementById('new_sub_product_price' + i).value, 
						inventory: document.getElementById('new_sub_product_inventory' + i).value
					};
				}
					
				// using JQUERY's ready method to know when all dom elements are rendered
				$( document ).ready(function () {

					tinymce.init({
						selector: "#post_text",
						mode: "textareas",
						height: 400,
						theme: "modern",
						plugins: [
							"autolink link image lists charmap print preview hr anchor pagebreak",
							"searchreplace wordcount visualblocks visualchars insertdatetime media nonbreaking",
							"table contextmenu directionality emoticons paste textcolor responsivefilemanager"
						],
						toolbar1: "undo redo | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | styleselect",
						toolbar2: "| responsivefilemanager | link unlink anchor | image media | forecolor backcolor| print preview code ",
						image_advtab: true ,
						external_filemanager_path:"/filemanager/",
						filemanager_title:"Responsive Filemanager" ,
						external_plugins: { "filemanager" : "/filemanager/plugin.min.js"},
						branding: false
					});
	
					$('.iframe-btn').fancybox({	
						'type'		: 'iframe',
						'width'		: 900,
						'height'	: 650,
						'autoSize'	: false,
						'autoDimensions': false
					});
	
					$(".fancybox").fancybox();

					$("#submit").click(function () {
						do {	

							

							parts = [];

							for (var i = 1; i < part_count+1; i++) {
								parts[i] = {
									product_id: document.getElementById('part_selector' + i).value, 
									units: document.getElementById('part_units' + i).value
								};
							}

							if (document.getElementById('name').value == '') {
								swal("Oops...", "You must enter a product type name", "error");
								break;
							}

							if (document.getElementById('attachment1').value.includes(".")) {
								
							} else {
								if (document.getElementById('attachment1').value != '') {
									swal("Oops...", "Image attachment 1 does not have a file extension.", "error");
									break;
								}
							}

							if (document.getElementById('attachment2').value.includes(".")) {
								
							} else {
								if (document.getElementById('attachment2').value != '') {
									swal("Oops...", "Image attachment 2 does not have a file extension.", "error");
									break;
								}
							}

							if (document.getElementById('attachment3').value.includes(".")) {
								
							} else {
								if (document.getElementById('attachment3').value != '') {
									swal("Oops...", "Image attachment 3 does not have a file extension.", "error");
									break;
								}
							}
							
							if (document.getElementById('attachment4').value.includes(".")) {
								
							} else {
								if (document.getElementById('attachment4').value != '') {
									swal("Oops...", "Image attachment 4 does not have a file extension.", "error");
									break;
								}
							}
							
							if (document.getElementById('attachment5').value.includes(".")) {
								
							} else {
								if (document.getElementById('attachment5').value != '') {
									swal("Oops...", "Image attachment 5 does not have a file extension.", "error");
									break;
								}
							}

							if (document.getElementById('combo_switch').value == 0) {
								if (document.getElementById('unit_name').value == '') {
									swal("Oops...", "You must enter a unit of measurement name", "error");
									break;
								}
							
<?php if($product_id == 0): ?>
								if (document.getElementById('initial_inventory').value == '') {
									swal("Oops...", "You must enter an initial inventory amount", "error");
									break;
								}

								if (isNaN(document.getElementById('initial_inventory').value)) {
									swal("Oops...", "Initial inventory amount must be a number", "error");
									break;
								}
<?php endif; ?>
							}
							
							
							

							tinyMCE.triggerSave();

							var z_new_sizes = [];

							for (var i = 1; i < size_count+1; i++) {
								z_new_sizes[i] = {
									name: document.getElementById('new_sub_product_name' + i).value, 
									price: document.getElementById('new_sub_product_price' + i).value, 
									inventory: document.getElementById('new_sub_product_inventory' + i).value
								};
							}

						$.ajax({
							url: "<?=$company_info['nav_path']?>write-product",
							type: 'post',
							dataType: 'html',
							data: {
								product_id: <?=$product_id?>,
								combo_switch: document.getElementById('combo_switch').value,
								name: document.getElementById('name').value,
								attachment1: document.getElementById('attachment1').value,
								attachment2: document.getElementById('attachment2').value,
								attachment3: document.getElementById('attachment3').value,
								attachment4: document.getElementById('attachment4').value,
								attachment5: document.getElementById('attachment5').value,
								unit_price_wholesale: document.getElementById('unit_price_wholesale').value,
								vendor_id: document.getElementById('vendor_id').value,
								unit_name: document.getElementById('unit_name').value,
								product_type_id: document.getElementById('product_type_id').value,
								primary_holder_id: document.getElementById('primary_holder_id').value,
								description: tinyMCE.activeEditor.getContent(),
								new_sizes: z_new_sizes,
								parts: parts,				
								initial_inventory: document.getElementById('initial_inventory').value
							},
							async: false,
							success: function(data) {
								if (data == 1) {
									swal({
										title: 'Mission Accomplished!',
										text: "This product's data has been updated.",
										type: 'success',
										showCancelButton: true,
										confirmButtonColor: '#3085d6',
										cancelButtonColor: '#d33',
										confirmButtonText: 'To Inventory',
										cancelButtonText: 'To Product List',
										confirmButtonClass: 'btn btn-success',
										cancelButtonClass: 'btn btn-danger',
										buttonsStyling: false
									}).then(function () {
										window.location.href = '<?=$company_info['nav_path']?>inventory';
									}, function (dismiss) {
										window.location.href = '<?=$company_info['nav_path']?>view-product';
									});
									

								} else {
									console.log(data);
								}
							},
							error: function(data) {
								console.log(data['responseText']);
							}
						});
					} while (false);
				});
		
				$("#delete").click(function () {
					swal({   
						title: "Confrim Delete",   
						text: 'Are you sure you want to delete this product?',
						type: "warning",    
						showCancelButton: true,
						cancelButtonText: "No, go back",
						confirmButtonColor: "#15A59B",   
						confirmButtonText: "Yes!",   
						}).then(function(){   
							confirmDelete();
						}
					);
				});
				
			});
		
			function checkQuantity(i) {
				if (document.getElementById('new_sub_product_name' + i).value == '' || document.getElementById('new_sub_product_price' + i).value == '' || document.getElementById('new_sub_product_inventory' + i).value == '') {
					document.getElementById('quantity_box' + i).style.backgroundColor = 'rgba(255, 0, 0, 0.4)';
				} else {
					document.getElementById('quantity_box' + i).style.backgroundColor = 'rgba(0, 255, 0, 0.4)';
				}
			}
			
			function showNewQuantity(i) {
				var num = parseInt(i + 1);
				
				document.getElementById('add_quantity_button' + i).style.display = 'none';
				document.getElementById('add_quantity' + num).style.display = 'inline';
		
				if (i == 1) {
					document.getElementById('add_quantity_button2').style.display = 'inline';
				}
			}
		
			function activate(num) {
				$.ajax({
					url: "<?=$company_info['nav_path']?>activateProduct",
					type: 'post',
					dataType: 'html',
					data: {
						product_id: <?=$product_id?>,
						flag: num
					},
					async: false,
					success: function(data) {
						if (data == 1) {			
							if (num == 1) {
								document.getElementById('active_on').style.display = '';
								document.getElementById('active_off').style.display = 'none';
							} else {
								document.getElementById('active_on').style.display = 'none';
								document.getElementById('active_off').style.display = '';
							}				
						} else {
							alert('An error has occurred');
							console.log(data);
						}
					} 
				});
			}

<?php $count = 1; ?>
<?php if($product_id > 0): ?>	
<?php foreach ($product_sizes as $id => $data): ?>
			checkQuantity(<?=$count?>);
<?php $count++; ?>
<?php endforeach; ?>
<?php endif; ?>
			var new_sizes = {};
			var deleted_sizes = {};

			
		
			function deleteSize(i) {
				swal({   
					title: "Delete Product Size?",   
					text: 'Are you sure you want to delete this product size?',
					type: "warning",    
					showCancelButton: true,
					cancelButtonText: "NO",
					confirmButtonColor: "#15A59B",   
					confirmButtonText: "YES",   
					}).then(function(){   
						
						$.ajax({
							url: "<?=$company_info['nav_path']?>deleteProductSize",
							type: 'post',
							dataType: 'html',
							data: {
								i: i,
								product_id: <?=$product_id?>
							},
							async: false,
							success: function(data) {
								if (data == 1) {	
									sizes.splice(i, 1);					
									document.getElementById('size_box' + i).style.display = 'none';
								} else {
									console.log(data);
								}
							},
							error: function(data) {
								console.log(data['responseText']);
							}
						});
					});
				
			}
		
			function newQuantity() {

				
				size_count++;
				
				var html = `
					<div id="size_box` + size_count + `" class="col-lg-3 col-sm-12 product_size_box" style="margin-bottom: 15px;">
						<div id="quantity_box` + size_count + `" class="shadow" style="padding: 10px; background-color: rgba(255, 0, 0, 0.4);">
							<label style="font-weight: bold;">New Product Size<hr style="margin: 5px;"></label>
							<div class="form-group row" style="margin: 0; text-align: center;">
								<label for="example-month-input" class="col-12 col-form-label" style="font-weight: bold;">Size Name</label>
								<div class="col-12">
									<input id="new_sub_product_name` + size_count + `" style="text-align: center;" class="form-control" value="" onkeyup="javascript: checkQuantity(` + size_count + `);">	
								</div>
							</div>
							
							<div class="form-group row" style="margin: 0; text-align: center;">
								<label for="example-month-input" class="col-12 col-form-label" style="font-weight: bold;">Size Price</label>
								<div class="col-12 input-group">
									<span class="input-group-addon">$</span>
									<input id="new_sub_product_price` + size_count + `" style="text-align: center;" class="form-control" value="" onkeyup="javascript: checkQuantity(` + size_count + `);">
								</div>
							</div>
				`;

				html += `
					<div id="new_sub_product_inventory_row` + size_count + `" class="form-group row" style="margin: 0; text-align: center; margin-top: -15px;">
						<label for="example-month-input" class="col-12 col-form-label" style="font-weight: bold;">Inventory Units</label>
						<div class="col-12">
							<input id="new_sub_product_inventory` + size_count + `" style="text-align: center;" class="form-control" value="" onkeyup="javascript: checkQuantity(` + size_count + `);">	
						</div>
					</div>
				`;

							
				html += `
						</div>
					</div>
				`;

				$( "#new_quantity_box" ).before(html);

			}
		
			function confirmDelete() {
				$.ajax({
					url: "<?=$company_info['nav_path']?>deleteProduct",
					type: 'post',
					dataType: 'html',
					data: {product_id: <?=$product_id?>},
					async: false,
					success: function(data) {
						if (data == 1) {
							swal({   
								title: "Product Deleted",   
								text: 'This product has been deleted',
								type: "success",    
								confirmButtonColor: "#15A59B",   
								confirmButtonText: "OK!",   
								}).then(function(){   
									window.location.replace('<?=$company_info['nav_path']?>view-product');
								});
						} else {
							alert('An error has occurred');
							console.log(data);
						}
					} 
				});
			} 

			function newProductPart() {

				part_count++;
				
				var html = `
					<div id="outter_product_part_box` + part_count + `" class="col-lg-3 col-sm-12 product_size_box" style="margin-bottom: 15px;">
						<div id="product_part_box` + part_count + `" class="shadow" style="padding: 10px; background-color: #7460EE; color: white;">
							<label>New Menu Item Part<hr style="margin: 5px;"></label>
							<div class="form-group row" style="margin: 0;">
	                            <label for="example-month-input" class="col-12 col-form-label">Stock Item</label>
	                            <div class="col-12">
									<select id="part_selector` + part_count + `" class="custom-select col-12" style="background-color: white;" onchange="javascript: selectStockPart(this.value, ` + part_count + `);">
<?php foreach ($all_product_parts as $id => $data): ?>
										<option value="<?=$id?>"><?=$data['name']?></option>
<?php endforeach; ?>	
									</select>
	                            </div>
	                        </div>

 							<br>
							<div id="units_row` + part_count + `" style="text-align: center; display: none;">Product inventory unit - <span id="inventory_unit_string` + part_count + `" style="font-weight: bold;"></span><span style="font-weight: bold;">s</span></div>

							<br>

							<div class="form-group row" style="margin: 0; text-align: center;">
	                            <label for="example-month-input" class="col-12 col-form-label"># of the above units in this menu item</label>
	                            <div class="col-12">
	                            	<input id="part_units` + part_count + `" class="form-control" placeholder="#..." value="">	
	                            </div>
	                        </div>
							
						</div>
					</div>
				`;

				$( "#new_product_part_box" ).before(html);
		
			}

			function selectStockPart(product_id, i) {
				document.getElementById('units_row' + i).style.display = '';
				document.getElementById('inventory_unit_string' + i).innerHTML = all_product_parts[product_id]['unit_name'];
			} 

			
// 			if (combo == 1) {
// 				for (var i = 1; i < size_count+1; i++) {
// 					document.getElementById('new_sub_product_inventory_row' + i).style.display = 'none';				
// 				}
// 			}

			function comboSwitch(source) {
				if (source == 1) {
					document.getElementById('switch2').style.backgroundColor = '#d1d1d1';
					document.getElementById('switch2').style.color = 'grey';
					document.getElementById('switch2').style.cursor = 'pointer';

					document.getElementById('switch1').style.backgroundColor = '#7460EE';
					document.getElementById('switch1').style.color = 'white';
					document.getElementById('switch1').style.cursor = '';

					document.getElementById('form_vendor').style.display = '';
					document.getElementById('menu_parts_section').style.display = 'none';

					document.getElementById('combo_switch').value = 0;

					document.getElementById('bonus_row').style.display = '';

					combo = 0;
				} else {
					document.getElementById('switch1').style.backgroundColor = '#d1d1d1';
					document.getElementById('switch1').style.color = 'grey';
					document.getElementById('switch1').style.cursor = 'pointer';

					document.getElementById('switch2').style.backgroundColor = '#7460EE';
					document.getElementById('switch2').style.color = 'white';
					document.getElementById('switch2').style.cursor = '';

					document.getElementById('form_vendor').style.display = 'none';
					document.getElementById('menu_parts_section').style.display = '';

					document.getElementById('combo_switch').value = 1;

					document.getElementById('bonus_row').style.display = 'none';
					

					combo = 1;
				}

			}

			</script>
			<style>
				.btn-success {
					margin-right: 50px;
				}
			</style>
