			
			<script type="text/javascript">
				tinymce.init({
					selector: "#description",
					mode: "textareas",
					height: 400,
					theme: "modern",
					plugins: [
						"autolink link image lists charmap print preview hr anchor pagebreak",
						"searchreplace wordcount visualblocks visualchars insertdatetime media nonbreaking",
						"table contextmenu directionality emoticons paste textcolor responsivefilemanager"
					],
					toolbar1: "undo redo | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | styleselect",
					toolbar2: "| responsivefilemanager | link unlink anchor | image media | forecolor backcolor| print preview code ",
					image_advtab: true ,
					external_filemanager_path:"/filemanager/",
					filemanager_title:"Responsive Filemanager" ,
					external_plugins: { "filemanager" : "/filemanager/plugin.min.js"}
				});

				$('.iframe-btn').fancybox({	
					'type'		: 'iframe',
					'width'		: 900,
					'height'	: 650,
					'autoSize'	: false,
					'autoDimensions': false
				});

				$(".fancybox").fancybox();
			</script>
			<div class="row">
				<div class="12u">
					<h1 class="page-header">
						Grower 
<?php if($grower_id > 0): ?>
						<small>Edit Grower Data</small>
						<span style="float: right;"><a href="<?=$company_info['nav_path']?>view-grower" class="btn btn-default btn-lg" style="background-color: #21a2f2; color: white;">Back To Blog List</a></span>
<?php else: ?>
						<small>New Grower Data</small>
						<span style="float: right;"><a href="<?=$company_info['nav_path']?>grower" class="btn btn-default btn-lg" style="background-color: #21a2f2; color: white;">Back To grower</a></span>
<?php endif; ?>
					</h1>
				</div>
			</div> 

			<div class="row">
				<div class="12u">
					<div class="panel panel-default">
						<div class="panel-heading">
<?php if($grower_id > 0): ?>
							Submit the following fields to edit grower info
							<span style="float: right;"><span id="delete" class="btn btn-default btn" style="background-color: red; color: white; margin-top: -5px; padding: 5px 25px;"><span class="fa fa-exclamation-triangle"></span> Delete grower</span></span>
<?php else: ?>
							Submit the following fields to create new a grower record
<?php endif; ?>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="6u 12u(s)">
								<div class="row">
								<div class="12u">
									<label>Name</label>
<?php if($grower_id > 0): ?>
									<input id="name" class="form-control" value="<?=$grower['name']?>">
<?php else: ?>
									<input id="name" class="form-control">
<?php endif; ?>
								</div>
								<div class="12u">
									<label>Rep Name</label>
<?php if($grower_id > 0): ?>
									<input id="rep_name" class="form-control" value="<?=$grower['rep_name']?>">
<?php else: ?>
									<input id="rep_name" class="form-control">
<?php endif; ?>
								</div>
								<div class="12u">
									<label>Phone Number</label>
<?php if($grower_id > 0): ?>
									<input id="phone" class="form-control" value="<?=$grower['phone']?>">
<?php else: ?>
									<input id="phone" class="form-control">
<?php endif; ?>
								</div>
								<div class="12u">
									<label>Address</label>
<?php if($grower_id > 0): ?>
									<input id="address" class="form-control" value="<?=$grower['address']?>">
<?php else: ?>
									<input id="address" class="form-control">
<?php endif; ?>
								</div>
								<div class="12u">
									<label>Website</label>
<?php if($grower_id > 0): ?>
									<input id="website" class="form-control" value="<?=$grower['website']?>">
<?php else: ?>
									<input id="website" class="form-control">
<?php endif; ?>
								</div>
								<div class="12u">
									<div>
										<label>Featured Image: </label>
										<div style="position: relative;">
<?php if($grower_id == 0): ?>
											<input id="attachment" type="text" class="form-control">					
<?php else: ?>
											<input id="attachment" type="text" class="form-control" value="<?=$grower['attachment_file_name']?>">
<?php endif; ?>
											<div class="input-group-btn" style="position: absolute; top: 0; right: 30px; margin-top: -25px;">
												<a href="../../../filemanager/dialog.php?type=0&field_id=attachment&relative_url=1" class="btn btn-default iframe-btn" type="submit" style="margin-top: 25px; background-color: #21A2F2; color: white;">
													<i class="fa fa-image"></i>
												</a>
											</div>
											<span style="padding: 10px 10px 0 25px; margin-bottom: -20px; float: right;">
												Click here to open your file manager <i class="fa fa-arrow-up"></i>
											</span>
										</div>
									</div>
								</div>
							<div class="12u" style="margin-top: 25px;">
								<div class="form-group">
<?php if($grower_id > 0): ?>
									<textarea id="description"><?=$grower['description']?></textarea>
<?php else: ?>
									<textarea id="description"></textarea>
<?php endif; ?>
								</div>
								<button id="submit" class="btn btn-primary btn-lg">
									Submit
								</button>
								<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-grower">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
												<h4 class="modal-title" id="myModalLabel">grower Write Complete</h4>
											</div>
											<div class="modal-body">
												Success
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-default" data-dismiss="modal" onclick="closeModal()">OK!</button>
											</div>
										</div>
									</div>
								</div>
								
							</div>
						</div>
					</div>
				</div></div></div>
			</div>
			<script> 
				// using JQUERY's ready method to know when all dom elements are rendered
				$( document ).ready(function () {
					$("#submit").click(function () {
						
						do {

							if (document.getElementById('name').value == '') {
								swal('You must enter a name for a grower.');
								break;
							}
						
							if (document.getElementById('attachment').value == '') {
								swal('Please select an attachment file.');
								break;
							}
							
							
							tinyMCE.triggerSave();
							
							$.ajax({
								url: "<?=$company_info['nav_path']?>writeGrower",
								type: 'post',
								dataType: 'html',
								data: {
									rep_name: document.getElementById('rep_name').value, 
									phone: document.getElementById('phone').value, 
									address: document.getElementById('address').value, 
									website: document.getElementById('website').value, 
									name: document.getElementById('name').value, 
									description: tinyMCE.activeEditor.getContent(), 
									attachment: document.getElementById('attachment').value, 
									grower_id: <?=$grower_id?>},
								async: false,
								success: function(data) {
									if (data == 1) {
										swal({   
											title: "Mission Accomplished!",   
											text: "This grower info has been updated",
											type: "success",    
											confirmButtonColor: "#15A59B",   
											confirmButtonText: "OK!",   
											closeOnConfirm: false 
											}, 
											function(){   
												window.location.replace('<?=$company_info['nav_path']?>grower');
											});
									} else {
										alert(data);
									}
								} 
							});
						} while(false);
					});

					$("#delete").click(function () {
						swal({   
							title: "Confrim Delete",   
							text: 'Are you sure you want to delete this product?',
							type: "warning",    
							showCancelButton: true,
							cancelButtonText: "No, go back",
							confirmButtonColor: "#15A59B",   
							confirmButtonText: "Yes!",   
							closeOnConfirm: false 
							}, 
							function(){   
								confirmDelete();
							});
					});
				});

				function confirmDelete() {
					$.ajax({
						url: "<?=$company_info['nav_path']?>deletegrower",
						type: 'post',
						dataType: 'html',
						data: {grower_id: <?=$grower_id?>},
						async: false,
						success: function(data) {
							if (data == 1) {
								swal({   
									title: "Product Deleted",   
									text: 'This product has been deleted',
									type: "success",    
									confirmButtonColor: "#15A59B",   
									confirmButtonText: "OK!",   
									closeOnConfirm: false 
									}, 
									function(){   
										window.location.replace('<?=$company_info['nav_path']?>grower');
									});
							} else {
								alert(data);
							}
						} 
					});
				} 

			</script>