					


		<div class="page-wrapper">
			<div class="container-fluid">
				<div class="row page-titles">
					<div class="col-md-6 col-8 align-self-center">
						<h3 class="text-themecolor m-b-0 m-t-0">Product Types</h3>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/admin">Home</a></li>
							<li class="breadcrumb-item active" style="font-weight: bold;">Edit Product Type</li>
						</ol>
					</div>
					<div class="col-md-6 col-4 align-self-center">

					</div>
				</div>
				<div class="card card-outline-info">
					<div class="card-header" style="padding-bottom: 0; margin-bottom: 15px; border-radius: 3px 3px 0 0;">
<?php if($product_type_id == 0): ?>
						<h2 class="card-title text-white" style="float: left;">Create New Product Type</i></h2>	
<?php else: ?>
						<h2 class="card-title text-white" style="float: left;">Edit Product Type <i class="fa fa-pencil"></i></h2>	
<?php endif; ?>
						<span style="float: right;"><span id="delete" class="btn btn-info" style="background-color: red; color: white;"><span class="fa fa-exclamation-triangle"></span> Delete Product Type</span></span>
						
					</div>
					<div class="card-block">
						
							<div class="row" style="padding: 0 25px;">
								<div class="col-lg-6 col-sm-12">
								<label>Name</label>
								<div class="input-group">
<?php if($product_type_id == 0): ?>
									<input id="name" class="form-control">						
<?php else: ?>
									<input id="name" class="form-control" value="<?=$product_type['name']?>">
<?php endif; ?>
								</div>
							</div>
							<div class="col-lg-6 col-sm-12">
								<div>
									<label>Featured Image: </label>
									<div style="position: relative;">
										<div class="input-group">
<?php if($product_type_id == 0): ?>
											<input id="attachment" type="text" class="form-control">					
<?php else: ?>
											<input id="attachment" type="text" class="form-control" value="<?=$product_type['attachment_file_name']?>">
<?php endif; ?>
											<div style="position: absolute; right: 75px; margin-top: 8px;">
												<i class="fa fa-arrow-right"></i>
											</div>
											<span class="input-group-btn">
												<button href="../../../filemanager/dialog.php?type=0&field_id=attachment&relative_url=1" class="btn btn-info iframe-btn" type="submit" style="background-color: #21A2F2; color: white;">
													&nbsp;&nbsp;&nbsp;<i class="fa fa-image"></i>&nbsp;&nbsp;&nbsp;
												</button>
											</span>
										</div>


									</div>
								</div>
							</div>
							<div class="col-lg-6 col-sm-12" style="margin-top: 25px;">
<?php if($product_type_id > 0): ?>

								<div style="margin-top: 25px; font-weight: bold;">Image Preview <span style="font-size: 70%;">(Click to expand) </span>: 									
									<a class="image-popup-vertical-fit" href="<?=$company_info['upload_path']?><?=$product_type['attachment_file_name']?>" title="" style="width: 100%;">
										<img alt="" src="<?=$company_info['upload_path']?><?=$product_type['attachment_file_name']?>" style="width: 200px;">
									</a>
								</div>
<?php endif; ?>
							</div>
							
							<div class="col-lg-12" style="margin-top: 25px;">
								<button id="submit" class="btn btn-primary btn-lg" style="width: 100%;">
									Submit
								</button>
							</div>

							
						
					</div>
				</div>
			</div>	
		</div>
	</div>

			
			
						
			<script type="text/javascript">
				tinymce.init({
					selector: "#post_text",
					mode: "textareas",
					height: 400,
					theme: "modern",
					plugins: [
						"autolink link image lists charmap print preview hr anchor pagebreak",
						"searchreplace wordcount visualblocks visualchars insertdatetime media nonbreaking",
						"table contextmenu directionality emoticons paste textcolor responsivefilemanager"
					],
					toolbar1: "undo redo | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | styleselect",
					toolbar2: "| responsivefilemanager | link unlink anchor | image media | forecolor backcolor| print preview code ",
					image_advtab: true ,
					external_filemanager_path:"/filemanager/",
					filemanager_title:"Responsive Filemanager" ,
					external_plugins: { "filemanager" : "/filemanager/plugin.min.js"}
				});

				$('.iframe-btn').fancybox({	
					'type'		: 'iframe',
					'width'		: 900,
					'height'	: 650,
					'autoSize'	: false,
					'autoDimensions': false
				});

				$(".fancybox").fancybox();

	
				// using JQUERY's ready method to know when all dom elements are rendered
				$( document ).ready(function () {
					$("#submit").click(function () {
						do {	
							if (document.getElementById('name').value == '') {
								swal("Oops...", "You must enter a product type name", "error");
								break;
							}

													
							$.ajax({
								url: "<?=$company_info['nav_path']?>write-product-type",
								type: 'post',
								dataType: 'html',

								data: {
									product_type_id: <?=$product_type_id?>,
									name: document.getElementById('name').value, 
									attachment: document.getElementById('attachment').value
								},
								async: false,
								success: function(data) {
									if (data == 1) {
										swal({   
											title: "Mission Accomplished!",   
											text: 'This product type has been updated',
											type: "success",    
											confirmButtonColor: "#15A59B",   
											confirmButtonText: "OK!",   
											}).then(function(){   
												window.location.replace('<?=$company_info['nav_path']?>view-product-type');
											});
									} else {
										alert(data);
									}
								} 
							});
						} while (false);
							
					});

					$("#delete").click(function () {
						swal({   
							title: "Confrim Delete",   
							text: 'Are you sure you want to delete this product type?',
							type: "warning",    
							showCancelButton: true,
							cancelButtonText: "No, go back",
							confirmButtonColor: "#15A59B",   
							confirmButtonText: "Yes!",   
							}).then(function(){   
								confirmDelete();
							});
					});
				});

				function confirmDelete() {
					$.ajax({
						url: "<?=$company_info['nav_path']?>deleteProductType",
						type: 'post',
						dataType: 'html',
						data: {product_type_id: <?=$product_type_id?>},
						async: false,
						success: function(data) {
							if (data == 1) {
								swal({   
									title: "Product Type Deleted",   
									text: 'This product type has been deleted',
									type: "success",    
									confirmButtonColor: "#15A59B",   
									confirmButtonText: "OK!",   
									}).then(function(){   
										window.location.replace('<?=$company_info['nav_path']?>view-product-type');
									});
							} else {
								alert(data);
							}
						} 
					});
				} 


			</script>