		


		<div class="page-wrapper">
			<div class="container-fluid">
				<div class="row page-titles">
					<div class="col-md-6 col-8 align-self-center">
						<h3 class="text-themecolor m-b-0 m-t-0">Inventory</h3>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
							<li class="breadcrumb-item"><a href="<?=$company_info['nav_path']?>inventory">Inventory Main</a></li>
							<li class="breadcrumb-item active" style="font-weight: bold;">Edit Product Inventory</li>
						</ol>

					</div>
					<div class="col-md-6 col-4 align-self-center">

					</div>
				</div>


				<div class="card card-outline-info">
					<div class="card-header" style="padding-bottom: 0; margin-bottom: 15px; border-radius: 3px 3px 0 0;">
						<h2 class="card-title text-white" style="float: left;"><span style="font-weight: bold;"><span style="color: #F62D51;"><?=$product['name']?></span> Inventory Holders</span></h2>
						<a href="<?=$company_info['nav_path']?>edit-product?product_id=<?=$product['id']?>" class="btn btn-info" style="float: right; background-color: #7460EE;">Edit Product</a>
					</div>
					<div class="card-body" style="padding: 0 10px 10px 10px;">
									<div class="row">
										<div class="col-lg-4 col-sm-12" style="text-align: center;">
<?php if (trim($product['attachment_file_name']) != '' && file_exists($company_info['exists_path'] . '/products/small/' . trim($product['attachment_file_name']))): ?>
											<div class="box_pic" style="margin: 25px 0; background-image: url('<?=$company_info['upload_path']?>/products/small/<?=trim($product['attachment_file_name'])?>'); height: 150px; width: 200px;">&nbsp;</div>
<?php else: ?>
											<div class="box_pic" style="margin: 25px 0; background-image: url('../../..<?=$company_info['nav_path']?>images/missing_image.png'); height: 150px; width: 200px;">&nbsp;</div>
<?php endif; ?>
										</div>
										<div class="col-lg-4 col-sm-12" style="text-align: center;">
<?php if ($total == 1): ?>
											<div style="line-height: 50px; font-size: 200%; white-space: nowrap;">TOTAL: <br><b><span id="total" style="font-weight: bold;"><?=$total?></span><br><?=ucfirst($product['unit_name'])?></b></div>
<?php else: ?>
											<div style="line-height: 50px; font-size: 200%; white-space: nowrap;">TOTAL: <br><b><span id="total" style="font-weight: bold;"><?=$total?></span><br><?=ucfirst($product['unit_name'])?>s</b></div>
<?php endif; ?>
										</div>
										<div class="col-lg-4 col-sm-12" style="text-align: center;">
<?php if($product['product_type_id'] == 1 || $product['product_type_id'] == 2 || $product['product_type_id'] == 3 || $product['product_type_id'] == 4): ?>
											<div style="font-size: 160%;">
												<div style="margin-bottom: 13px; font-weight: bold;">Eigths: <?=round($total / 3.5, 1)?></div>
												<div style="margin-bottom: 13px; font-weight: bold;">Quarters: <?=round($total / 7.1, 1)?></div>
												<div style="font-weight: bold;">Halves: <?=round($total / 14.2, 1)?></div>
											</div>
<?php endif; ?>
										</div>
									</div>
									
									<table id="main_table" class="table table-hover table-striped">
										<thead>
											<tr>
												<th>User</th>
												<th style="width: 50px;">Set Primary Holder?</th>
												<th>Quantity</th>
												<th>Subtract Amount</th>
												<th>Add Amount</th>
<?php if ($house['quantity'] != 0): ?>
												<th>Adjust?</th>
<?php endif; ?>
												<th>Delete?</th>
											</tr>
										</thead>
		
								
										<tbody id="table_body">
<?php foreach ($available_holders as $id => $data): ?>
											<tr>
												<td>
<?php if ($product['inventory_holder_id'] > 0): ?>
<?php if ($id == $product['inventory_holder_id']): ?>
													<span style="font-weight: bold;"><?=$data['first_name'] . ' ' . $data['last_name']?> <i class="fa fa-star" style="text-shadow: 1px 1px #F62D51;"></i></span>
<?php else: ?>
													<?=$data['first_name'] . ' ' . $data['last_name']?>
<?php endif; ?>
<?php else: ?>
<?php if ($id == $company_info['primary_inventory_user_id']): ?>
													<span style="font-weight: bold;"><?=$data['first_name'] . ' ' . $data['last_name']?> <i class="fa fa-star" style="text-shadow: 1px 1px #F62D51;"></i></span>
<?php else: ?>
													<?=$data['first_name'] . ' ' . $data['last_name']?>
<?php endif; ?>
<?php endif; ?>

												</td>
												<td>
<?php if ($product['inventory_holder_id'] > 0): ?>
<?php if ($id == $product['inventory_holder_id']): ?>
													<div class="btn btn-info" style="background-color: #DDDDDD; cursor: auto;"><i class="fa fa-star"></i></div>
<?php else: ?>
													<div class="btn btn-info" onclick="javascript: changePrimaryHolder(<?=$id?>);"><i class="fa fa-star"></i></div>
<?php endif; ?>
<?php else: ?>
<?php if ($id == $company_info['primary_inventory_user_id']): ?>
													<div class="btn btn-info" style="background-color: #DDDDDD; cursor: auto;"><i class="fa fa-star"></i></div>
<?php else: ?>
													<div class="btn btn-info" onclick="javascript: changePrimaryHolder(<?=$id?>);"><i class="fa fa-star"></i></div>
<?php endif; ?>
<?php endif; ?>
												</td>
												<td>
<?php if (isset($inventory[$id]) && $inventory[$id]['quantity'] > 0): ?>
													<input id="input1<?=$id?>" type="number" step="0.1" min="0" style="width: 100px; text-align: center;" value="<?=$inventory[$id]['quantity']?>">													
<?php else: ?>
													<input id="input1<?=$id?>" type="number" step="0.1" min="0" style="width: 100px; text-align: center;" value="0">
<?php endif; ?>
													<span id="quantityx<?=$id?>" style="color: white; background-color: #d1d1d1; border-radius: 2px; white-space: nowrap; margin-left: 10px; padding: 7px 40px; height: 40px; line-height: 40px; width: 100%;">Change Total</span>
													<span id="quantity<?=$id?>" class="card inv_button" style="display: none; white-space: nowrap; margin-left: 10px; padding: 7px 40px; height: 40px; line-height: 40px; width: 100%;">Change Total</span>

												</td>
												<td>
													<input id="input2<?=$id?>" type="number" step="0.1" min="0" style="width: 100px;">
													<span id="minusx<?=$id?>" style="color: white; background-color: #d1d1d1; border-radius: 2px; white-space: nowrap; margin-left: 10px; padding: 7px 40px; height: 40px; line-height: 40px; width: 100%;">Subtract</span>
													<span id="minus<?=$id?>" class="card inv_button" style="display: none; margin-left: 10px; padding: 7px 46px; height: 40px; line-height: 40px; width: 100%;">Subtract</span>
												</td>

												<td>
													<input id="input3<?=$id?>" type="number" step="0.1" min="0" style="width: 100px;">
													<span id="plusx<?=$id?>" style="color: white; background-color: #d1d1d1; border-radius: 2px; white-space: nowrap; margin-left: 10px; padding: 7px 40px; height: 40px; line-height: 40px; width: 100%;">Add</span>
													<span id="plus<?=$id?>" class="card inv_button" style="display: none; margin-left: 10px; padding: 7px 46px; height: 40px; line-height: 40px; width: 100%;">Add</span>
												</td>
<?php if ($house['quantity'] != 0): ?>
												<td>
												
<?php if ($product['inventory_holder_id'] > 0): ?>
<?php if ($id == $product['inventory_holder_id']): ?>
<?php if (isset($inventory[$id]) && $inventory[$id]['quantity'] < 0): ?>
													<span id="tare<?=$id?>" class="btn btn-info" style="width: 100%;">Tare</span>
<?php endif; ?>
<?php else: ?>
													<span id="take_house<?=$id?>" class="btn btn-info" style="width: 100%;">Take <i class="fa fa-star"></i> stock</span>
<?php endif; ?>

<?php else: ?>

<?php if ($id == $company_info['primary_inventory_user_id']): ?>
<?php if (isset($inventory[$id]) && $inventory[$id]['quantity'] < 0): ?>
													<span id="tare<?=$id?>" class="btn btn-info" style="width: 100%;">Tare</span>
<?php endif; ?>
<?php else: ?>
													<span id="take_house<?=$id?>" class="btn btn-info" style="width: 100%;">Take <i class="fa fa-star"></i> stock</span>
<?php endif; ?>
<?php endif; ?>
												
												
												

												</td>
<?php endif; ?>
												
												<td style="padding-left: 30px; padding-right: 30px;">
<?php if ($product['inventory_holder_id'] > 0): ?>

<?php if ($id != $product['inventory_holder_id']): ?>
<?php if (isset($inventory[$id]) && $inventory[$id]['quantity'] > 0): ?>
													<div class="btn btn-info" style="width: 100%; margin-bottom: 12px;" onclick="javascript: removeOldHolder(<?=$id?>,<?=$inventory[$id]['quantity']?>, 1);">Move To <i class="fa fa-star"></i> Stock</div><br/>
													<div class="btn btn-info" style="width: 100%;" onclick="javascript: removeOldHolder(<?=$id?>, <?=$inventory[$id]['quantity']?>, 2);">Void User Stock</div>
<?php else: ?>
													
<?php endif; ?>
<?php endif; ?>

<?php else: ?>

<?php if ($id != $company_info['primary_inventory_user_id']): ?>
<?php if (isset($inventory[$id]) && $inventory[$id]['quantity'] > 0): ?>
													<div class="btn btn-info" style="width: 100%; margin-bottom: 12px;" onclick="javascript: removeOldHolder(<?=$id?>,<?=$inventory[$id]['quantity']?>, 1);">Move To <i class="fa fa-star"></i> Stock</div><br/>
													<div class="btn btn-info" style="width: 100%;" onclick="javascript: removeOldHolder(<?=$id?>, <?=$inventory[$id]['quantity']?>, 2);">Void User Stock</div>
<?php else: ?>
													
<?php endif; ?>
													
<?php endif; ?>

<?php endif; ?>

												</td>
											</tr>
<?php endforeach; ?>
										</tbody>
									</table>
								
		
							
				
					</div>
				</div>
			</div>
		</div>


			<style>
				.inv_button {
					height: 40px; 
					width: 90%; 
					background-color: #428BCA; 
					text-align: center; 
					color: white; 
					line-height: 40px; 
					cursor: pointer;
				}
			</style>
			<script> 

				function changePrimaryHolder (user_id) {
					$.ajax({
						url: "<?=$company_info['nav_path']?>overridePrimaryHolderAction",
						type: 'post',
						dataType: 'html',
						data: {
							user_id: user_id,
							product_id: <?=$product_id?>
						},
						async: false,
						success: function(data) {
							if (data == 1) {
								swal({   
									title: "Mission Accomplished!",   
									text: 'New primary inventory holder for this product has been set.',
									type: "success",    
									confirmButtonColor: "#15A59B",   
									confirmButtonText: "OK!",   
									}).then(function(){   
										window.location.replace('<?=$company_info['nav_path']?>edit-inventory?product_id=<?=$product_id?>');
									});
							} else {
								alert('An error has occurred.');
								console.log(data);
							}
						} 
					});
				}
				
				// using JQUERY's ready method to know when all dom elements are rendered
				$( document ).ready(function () {
					var new_holder = false;

<?php foreach ($inventory as $id => $data): ?>
					$("#plus1<?=$id?>").click(function () {
						document.getElementById('quantity<?=$id?>').value = parseFloat(document.getElementById('quantity<?=$id?>').value) + 1;
						document.getElementById('total').innerHTML = parseFloat(document.getElementById('total').innerHTML) + 1;
					});

					$("#plus2<?=$id?>").click(function () {
						document.getElementById('quantity<?=$id?>').value = Math.ceil((parseFloat(document.getElementById('quantity<?=$id?>').value) + 0.1)*10)/10;
						document.getElementById('total').innerHTML = Math.ceil((parseFloat(document.getElementById('total').innerHTML) + 0.1)*10)/10;
					});

					$("#minus1<?=$id?>").click(function () {
						document.getElementById('quantity<?=$id?>').value = parseFloat(document.getElementById('quantity<?=$id?>').value) - 1;
						document.getElementById('total').innerHTML = parseFloat(document.getElementById('total').innerHTML) - 1;
					});

					$("#minus2<?=$id?>").click(function () {
						document.getElementById('quantity<?=$id?>').value = Math.floor((parseFloat(document.getElementById('quantity<?=$id?>').value) - 0.1)*10)/10;
						document.getElementById('total').innerHTML = Math.floor((parseFloat(document.getElementById('total').innerHTML) - 0.1)*10)/10;
					});

					$( "#input1<?=$id?>" ).keyup(function() {
						setTimeout(function () {
							if (document.getElementById('input1<?=$id?>').value == '' || document.getElementById('input1<?=$id?>').value == <?=$data['quantity']?>) {
								document.getElementById('quantity<?=$id?>').style.display = 'none';
								document.getElementById('quantityx<?=$id?>').style.display = 'inline';
							} else {
								document.getElementById('quantity<?=$id?>').style.display = 'inline';
								document.getElementById('quantityx<?=$id?>').style.display = 'none';
							}
						}, 100);
					});

					$( "#input2<?=$id?>" ).keyup(function() {
						setTimeout(function () {
							if (document.getElementById('input2<?=$id?>').value == '' || document.getElementById('input2<?=$id?>').value == 0) {
								document.getElementById('minus<?=$id?>').style.display = 'none';
								document.getElementById('minusx<?=$id?>').style.display = 'inline';
							} else {
								document.getElementById('minus<?=$id?>').style.display = 'inline';
								document.getElementById('minusx<?=$id?>').style.display = 'none';
							}
						}, 100);
					});

					$( "#input3<?=$id?>" ).keyup(function() {
						setTimeout(function () {
							if (document.getElementById('input3<?=$id?>').value == '' || document.getElementById('input3<?=$id?>').value == 0) {
								document.getElementById('plus<?=$id?>').style.display = 'none';
								document.getElementById('plusx<?=$id?>').style.display = 'inline';
							} else {
								document.getElementById('plus<?=$id?>').style.display = 'inline';
								document.getElementById('plusx<?=$id?>').style.display = 'none';
							}
						}, 100);
					});

					$("#quantity<?=$id?>").click(function () {
						do {
							if (document.getElementById('input1<?=$id?>').value == '') {
								swal("Oops...", "Please enter a new inventory amount", "error");
								break;
							}

							$.ajax({
								url: "<?=$company_info['nav_path']?>updateInventory",
								type: 'post',
								dataType: 'html',
								data: {
									user_id: <?=$data['user_id']?>,
									quantity: document.getElementById('input1<?=$id?>').value,
									product_id: <?=$product_id?>
								},
								async: false,
								success: function(data) {
									if (data == 1) {
										swal({   
											title: "Mission Accomplished!",   
											text: 'Inventory Amount has been updated',
											type: "success",    
											confirmButtonColor: "#15A59B",   
											confirmButtonText: "OK!",   
											}).then(function(){   
												window.location.replace('<?=$company_info['nav_path']?>edit-inventory?product_id=<?=$product_id?>');
											});
									} else {
										alert(data);
									}
								} 
							});
						} while (false);
					});

					$("#take_house<?=$id?>").click(function () {
						do {

							$.ajax({
								url: "<?=$company_info['nav_path']?>takeHouse",
								type: 'post',
								dataType: 'html',
								data: {
									user_id: <?=$data['user_id']?>,
									quantity: document.getElementById('input1<?=$id?>').value,
									product_id: <?=$product_id?>
								},
								async: false,
								success: function(data) {
									if (data == 1) {
										swal({   
											title: "Mission Accomplished!",   
											text: 'Inventory Amount has been updated',
											type: "success",    
											confirmButtonColor: "#15A59B",   
											confirmButtonText: "OK!",   
											}).then(function(){   
												window.location.replace('<?=$company_info['nav_path']?>edit-inventory?product_id=<?=$product_id?>');
											});
									} else {
										alert(data);
									}
								} 
							});
						} while (false);
					});

					
					$("#tare<?=$id?>").click(function () {
						do {
							$.ajax({
								url: "<?=$company_info['nav_path']?>updateInventory",
								type: 'post',
								dataType: 'html',
								data: {
									inventory_id: <?=$id?>,
									user_id: <?=$data['user_id']?>,
									quantity: 0,
									product_id: <?=$product_id?>
								},
								async: false,
								success: function(data) {
									if (data == 1) {
										swal({   
											title: "Mission Accomplished!",   
											text: 'House inventory has been set to zero.',
											type: "success",    
											confirmButtonColor: "#15A59B",   
											confirmButtonText: "OK!",   
											}).then(function(){   
												window.location.replace('<?=$company_info['nav_path']?>edit-inventory?product_id=<?=$product_id?>');
											});
									} else {
										alert(data);
									}
								} 
							});
						} while (false);
					});

					$("#minus<?=$id?>").click(function () {
						do {
							if (document.getElementById('input2<?=$id?>').value == '') {
								swal("Oops...", "Please enter an amount to subtract from inventory", "error");
								break;
							}

							$.ajax({
								url: "<?=$company_info['nav_path']?>updateInventory",
								type: 'post',
								dataType: 'html',
								data: {
									inventory_id: <?=$id?>,
									user_id: <?=$data['user_id']?>,
									quantity: parseFloat(document.getElementById('input1<?=$id?>').value - document.getElementById('input2<?=$id?>').value),
									product_id: <?=$product_id?>
								},
								async: false,
								success: function(data) {
									if (data == 1) {
										swal({   
											title: "Mission Accomplished!",   
											text: 'Inventory Amount has been updated',
											type: "success",    
											confirmButtonColor: "#15A59B",   
											confirmButtonText: "OK!",   
											}).then(function(){   
												window.location.replace('<?=$company_info['nav_path']?>edit-inventory?product_id=<?=$product_id?>');
											});
									} else {
										alert(data);
									}
								} 
							});
						} while (false);
					});

					$("#plus<?=$id?>").click(function () {
						do {
							if (document.getElementById('input3<?=$id?>').value == '') {
								swal("Oops...", "Please enter an amount to add to inventory", "error");
								break;
							}
							
							$.ajax({
								url: "<?=$company_info['nav_path']?>updateInventory",
								type: 'post',
								dataType: 'html',
								data: {
									inventory_id: <?=$id?>,
									user_id: <?=$data['user_id']?>,
									quantity: parseFloat(document.getElementById('input1<?=$id?>').value) + parseFloat(document.getElementById('input3<?=$id?>').value),
									product_id: <?=$product_id?>
								},
								async: false,
								success: function(data) {
									if (data == 1) {
										swal({   
											title: "Mission Accomplished!",   
											text: 'Inventory Amount has been updated',
											type: "success",    
											confirmButtonColor: "#15A59B",   
											confirmButtonText: "OK!",   
											}).then(function(){   
												window.location.replace('<?=$company_info['nav_path']?>edit-inventory?product_id=<?=$product_id?>');
											});
									} else {
										alert(data);
									}
								} 
							});
						} while (false);
					});
					
<?php endforeach; ?>

					$("#add_new_holder").click(function () {
						document.getElementById('new_holder_box1').style.display = 'inline';
						document.getElementById('new_holder_box2').style.display = 'inline';
						document.getElementById('add_new_holder').style.display = 'none';
						document.getElementById('main_table').style.display = 'none';
						document.getElementById('main_table_wrapper').style.display = 'none';
						document.getElementById('hr').style.display = 'none';
						
<?php foreach ($inventory as $id => $data): ?>
						document.getElementById('main_box<?=$id?>').style.display = 'none';
<?php endforeach; ?>

						new_holder = true;
						
					});

					$("#submit").click(function () {
						var pass = true;
						
						if (document.getElementById('quantity').value == '') {
							alert('You must enter a first name for a user.');
							pass = false;
						}


						if (pass == true) {
							$.ajax({
								url: "<?=$company_info['nav_path']?>writeInventory",
								type: 'post',
								dataType: 'html',
								data: {
									inventory_id: 1,
									product_id: 1,
									quantity: document.getElementById('quantity').value
								},
								async: false,
								success: function(data) {
									if (data == 1) {
										alert('Inventory data updated!');
										window.location.replace('<?=$company_info['nav_path']?>inventory');
									} else {
										alert(data);
									}
								} 
							});
						}
					});

					$("#submit_new_holder").click(function () {
						do {
							if (document.getElementById('user_id').value == 0) {
								sweetAlert("Oops...", "Please select a user to hold inventory", "error");
								break;
							}
							
							if (document.getElementById('new_holder_amount').value == '') {
								sweetAlert("Oops...", "Please enter an inventory amount for this new holder", "error");
								break;
							}

							$.ajax({
								url: "<?=$company_info['nav_path']?>writeNewHolder",
								type: 'post',
								dataType: 'html',
								data: {
									user_id: document.getElementById('user_id').value,
									quantity: document.getElementById('new_holder_amount').value,
									product_id: <?=$product_id?>,
									house: 0
								},
								async: false,
								success: function(data) {
									if (data == 1) {
										swal({   
											title: "Mission Accomplished!",   
											text: 'New inventory holder record has been created',
											type: "success",    
											confirmButtonColor: "#15A59B",   
											confirmButtonText: "OK!",   
											}).then(function(){   
												window.location.replace('<?=$company_info['nav_path']?>edit-inventory?product_id=<?=$product_id?>');
											});
									} else {
										alert(data);
									}
								} 
							});
						} while (false);
					});
					
					$("#submit_new_holder2").click(function () {
						do {
							if (document.getElementById('user_id').value == 0) {
								sweetAlert("Oops...", "Please select a user to hold inventory", "error");
								break;
							}
							
							if (document.getElementById('new_holder_amount').value == '') {
								sweetAlert("Oops...", "Please enter an inventory amount for this new holder", "error");
								break;
							}

							$.ajax({
								url: "<?=$company_info['nav_path']?>writeNewHolder",
								type: 'post',
								dataType: 'html',
								data: {
									user_id: document.getElementById('user_id').value,
									quantity: document.getElementById('new_holder_amount').value,
									product_id: <?=$product_id?>,
									house: 1
								},
								async: false,
								success: function(data) {
									if (data == 1) {
										swal({   
											title: "Mission Accomplished!",   
											text: 'New inventory holder record has been created',
											type: "success",    
											confirmButtonColor: "#15A59B",   
											confirmButtonText: "OK!",   
											}).then(function(){   
												window.location.replace('<?=$company_info['nav_path']?>edit-inventory?product_id=<?=$product_id?>');
											});
									} else {
										swal(data);
										console.log(data);
									}
								} 
							});
						} while (false);
					});
				});
					
				function changeTotal() {
					document.getElementById('quantity_row').style.display = 'inline';
					document.getElementById('submit_row').style.display = 'inline';
				}

				function removeOldHolder(user_id, quantity, source) {
					if (source == 1) {
						var string = "Inventory holder's stock has been zero'd, and HOUSE stock has been updated.";
					} else {
						var string = 'Inventory holder record has been removed.';
					}
					
					$.ajax({
						url: "<?=$company_info['nav_path']?>removeOldHolderAction",
						type: 'post',
						dataType: 'html',
						data: {
							user_id: user_id,
							product_id: <?=$product['id']?>,
							source: source,
							quantity: quantity
						},
						async: false,
						success: function(data) {
							if (data == 1) {
								swal({   
									title: "Mission Accomplished!",   
									text: string,
									type: "success",    
									confirmButtonColor: "#15A59B",   
									confirmButtonText: "OK!",   
									}).then(function(){   
										window.location.replace('<?=$company_info['nav_path']?>edit-inventory?product_id=<?=$product_id?>');
									});
							} else {
								swal(data);
								console.log(data);
							}
						},
						error: function (data) {
							swal('Error');
							console.log(data['responseText']);
						}
					});
				}

				$('#main_table').DataTable( {
					columnDefs: [
					{
						className: 'mdl-data-table__cell--non-numeric'
					}],
					lengthMenu: [5, 10, 15, 20, 25, 30],
					
					pageLength: 20
				});
			
				
			</script>