		


		<div class="page-wrapper">
			<div class="container-fluid">
				<div class="row page-titles">
					<div class="col-md-6 col-8 align-self-center">
						<h3 class="text-themecolor m-b-0 m-t-0">Inventory</h3>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
							<li class="breadcrumb-item"><a href="<?=$company_info['nav_path']?>view-expense">View Expenses</a></li>
<?php if($expense_id > 0): ?>
							<li class="breadcrumb-item active" style="font-weight: bold;">Edit Expense</li>
<?php else: ?>
							<li class="breadcrumb-item active" style="font-weight: bold;">Create Expense</li>
<?php endif; ?>
						</ol>

					</div>
					<div class="col-md-6 col-4 align-self-center">
						<button class="right-side-toggle waves-effect waves-light btn-info btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>

					</div>
				</div>

				<!-- Row -->
				<div class="row">
					<div class="col-lg-12">
						<div class="card card-outline-info">
							<div class="card-header" style="padding-bottom: 0; margin-bottom: 15px; border-radius: 3px 3px 0 0;">
<?php if($expense_id > 0): ?>
								<h2 class="card-title text-white" style="float: left;">Edit Existing Expense</h2>
<?php else: ?>
								<h2 class="card-title text-white" style="float: left;">Create New Expense</h2>
<?php endif; ?>
								<button class="btn btn-info" style="float: right; background-color: #F62D51;" onclick="javascript: confirmDelete();">Delete Expense <span class="fa fa-exclamation-triangle"></span></button>
							</div>
							<div class="card-body" style="padding: 0 10px 10px 10px;">
								<div class="row">
							<div class="col-lg-6 col-sm-12">
								<label>Title</label>
								<div class="input-group">
<?php if($expense_id > 0): ?>
								<input id="title" class="form-control" value="<?=$expense['title']?>">
<?php else: ?>
								<input id="title" class="form-control">
<?php endif; ?>
								</div>
							</div>
							<div class="col-lg-6">
								<label>Modified Date</label>
								<div class="input-group">
									
<?php if($expense_id > 0): ?>
<?php $parts = explode('-', substr($expense['alt_date'], 0, 10))?>
<?php if ($expense['alt_date'] == '0000-00-00 00:00:00'): ?>
										<input type="text" class="form-control datepicker" id="alt_date" style="padding-left: 10px;" placeholder="Use Current Date">
<?php else: ?>
										<input type="text" class="form-control datepicker" id="alt_date" style="padding-left: 10px;" placeholder="Use Current Date" value="<?=$expense['alt_date']?>">
<?php endif; ?>
<?php else: ?>
										<input type="text" class="form-control datepicker" id="alt_date" style="padding-left: 10px;" placeholder="Use Current Date">
<?php endif; ?>
								</div>
							</div>
							<div class="col-lg-6 col-sm-12">
								<label>Vendor</label>
								<div class="input-group">
									<select id="vendor_id" class="form-control">
<?php foreach ($vendors as $id => $data): ?>
<?php if($expense_id > 0 && $expense['vendor_id'] == $id): ?>
										<option value="<?=$id?>" selected><?=$data['name']?></option>
<?php else: ?>
										<option value="<?=$id?>"><?=$data['name']?></option>
<?php endif; ?>
<?php endforeach; ?>
									

									</select>
								</div>
							</div>
							<div class="col-lg-6 col-sm-12">
								<label>Product</label>
								<div class="input-group">
									<select id="product_id" class="form-control">
<?php foreach ($products as $id => $data): ?>
<?php if($expense_id > 0 && $expense['product_id'] == $id): ?>
										<option value="<?=$id?>" selected><?=$data['name']?></option>
<?php else: ?>
										<option value="<?=$id?>"><?=$data['name']?></option>
<?php endif; ?>
<?php endforeach; ?>
									

									</select>
								</div>
							</div>
							<div class="col-lg-6 col-sm-12">
								<label>Amount</label>
								<div class="input-group">
<?php if($expense_id > 0): ?>
								<input id="amount" class="form-control" value="<?=$expense['amount']?>">
<?php else: ?>
								<input id="amount" class="form-control">
<?php endif; ?>
								</div>
							</div>
							
							<div class="col-lg-6 col-sm-12">
								<label>Amount Owed</label>
								<div class="input-group">
<?php if($expense_id > 0): ?>
								<input id="left_owed" class="form-control" value="<?=$expense['left_owed']?>">
<?php else: ?>
								<input id="left_owed" class="form-control">
<?php endif; ?>
								</div>
							</div>

							<div class="col-lg-6 col-sm-12">
								<label>Reoccurring?</label>
								<div class="input-group">
									<select id="reoccurring" class="form-control">
<?php foreach ($reoccurring as $id => $data): ?>
<?php if($expense_id > 0 && $expense['reoccurring'] == $id): ?>
										<option value="<?=$id?>" selected><?=$data?></option>
<?php else: ?>
										<option value="<?=$id?>"><?=$data?></option>
<?php endif; ?>
<?php endforeach; ?>
									

									</select>
								</div>
							</div>
							
							<div class="col-lg-6">
								<label>Reoccurring Start</label>
								<div class="input-group">
									
<?php if($expense_id > 0): ?>
<?php $parts = explode('-', substr($expense['reoccurring_start'], 0, 10))?>
<?php if ($expense['reoccurring_start'] == '0000-00-00 00:00:00'): ?>
										<input type="text" class="form-control datepicker" id="reoccurring_start" placeholder="Click to select a date">
<?php else: ?>
										<input type="text" class="form-control datepicker" id="reoccurring_start" placeholder="Click to select a date" value="<?=$parts[1] . '/' . $parts[2] . '/' . $parts[0]?>">
<?php endif; ?>
<?php else: ?>
										<input type="text" class="form-control datepicker" id="reoccurring_start" placeholder="Click to select a date">
<?php endif; ?>
								</div>
							</div>
				
											
							<div class="col-lg-6 col-sm-12">
								<div>
									<label>Featured Image: </label>
									<div style="position: relative;">
										<div class="input-group">
<?php if($expense_id == 0): ?>
											<input id="attachment" type="text" class="form-control">					
<?php else: ?>
											<input id="attachment" type="text" class="form-control" value="<?=$expense['attachment_file_name']?>">
<?php endif; ?>
											<div style="position: absolute; right: 75px; margin-top: 8px; z-index: 11111;">
												<i class="fa fa-arrow-right"></i>
											</div>
											<span class="input-group-btn">
												<button href="../../../filemanager/dialog.php?type=0&field_id=attachment&relative_url=1" class="btn btn-info iframe-btn" type="submit" style="background-color: #21A2F2; color: white;">
													&nbsp;&nbsp;&nbsp;<i class="fa fa-image"></i>&nbsp;&nbsp;&nbsp;
												</button>
											</span>
										</div>
									</div>
								</div>
<?php if($expense_id > 0): ?>
								<a class="image-popup-vertical-fit btn btn-info" href="<?=$company_info['upload_path']?><?=$expense['attachment_file_name']?>" title="" style="width: 100%;"><i class="fa fa-arrow-up"></i> Click to see expense's profile image <i class="fa fa-arrow-up"></i></a>
									
<?php endif; ?>
							</div>
							<div class="col-lg-12" style="margin-top: 25px;">
								<div>Notes</div>
								<div class="form-group">
<?php if($expense_id > 0): ?>
									<textarea id="note"><?=$expense['note']?></textarea>
<?php else: ?>
									<textarea id="note"></textarea>
<?php endif; ?>
								</div>
								<button id="submit" class="btn btn-primary btn-lg" style="width: 100%;">
									Submit
								</button>
								
							</div>
						</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

			<script type="text/javascript">
			tinymce.init({
				selector: "#note",
				mode: "textareas",
				height: 400,
				theme: "modern",
				branding: false,
				
				plugins: [
					"autolink link image lists charmap print preview hr anchor pagebreak",
					"searchreplace wordcount visualblocks visualchars insertdatetime media nonbreaking",
					"table contextmenu directionality emoticons paste textcolor responsivefilemanager"
				],
				toolbar1: "undo redo | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | styleselect",
				toolbar2: "| link unlink | responsivefilemanager image media | print preview code | sizeselect bold italic underline | forecolor backcolor | fontselect | fontsizeselect",
				image_advtab: true ,
				external_filemanager_path:"/filemanager/",
				filemanager_title:"Your System File Manager" ,
				external_plugins: { "filemanager" : "/filemanager/plugin.min.js"}
			});

				$('.iframe-btn').fancybox({	
					'type'		: 'iframe',
					'width'		: 900,
					'height'	: 650,
					'autoSize'	: false,
					'autoDimensions': false
				});

				$(".fancybox").fancybox();

				$('.datepicker').datepicker({ dateFormat: 'yyyy-mm-dd' });
			</script>

			<script> 
				// using JQUERY's ready method to know when all dom elements are rendered
				$( document ).ready(function () {
					$("#submit").click(function () {
						
						do {

							if (document.getElementById('title').value == '') {
								swal('You must enter a title for a expense.');
								break;
							}
						
							if (document.getElementById('amount').value == '') {
								swal('Please select an attachment file.');
								break;
							}
							
							
							tinyMCE.triggerSave();
							
							$.ajax({
								url: "<?=$company_info['nav_path']?>writeExpense",
								type: 'post',
								dataType: 'html',
								data: {
									title: document.getElementById('title').value, 
									alt_date: document.getElementById('alt_date').value, 
									vendor_id: document.getElementById('vendor_id').value, 
									product_id: document.getElementById('product_id').value, 
									amount: document.getElementById('amount').value, 
									note: tinyMCE.activeEditor.getContent(), 
									left_owed: document.getElementById('left_owed').value, 
									reoccurring: document.getElementById('reoccurring').value, 
									reoccurring: document.getElementById('reoccurring_start').value, 
									attachment: document.getElementById('attachment').value, 
									expense_id: <?=$expense_id?>
								},
								async: false,
								success: function(data) {
									if (data == 1) {
										swal({   
											title: "Mission Accomplished!",   
											text: "This expense info has been updated",
											type: "success",    
											confirmButtonColor: "#15A59B",   
											confirmButtonText: "OK!",   
											}).then(function(){   
												window.location.replace('<?=$company_info['nav_path']?>expenses');
											});
									} else {
										alert('An error has occurred.');
										console.log(data);
									}
								} 
							});
						} while(false);
					});

					$("#delete").click(function () {
						swal({   
							title: "Confrim Delete",   
							text: 'Are you sure you want to delete this expense?',
							type: "warning",    
							showCancelButton: true,
							cancelButtonText: "No, go back",
							confirmButtonColor: "#15A59B",   
							confirmButtonText: "Yes!",   
							}).then(function(){   
								confirmDelete();
							});
					});
				});

				function confirmDelete() {
					$.ajax({
						url: "<?=$company_info['nav_path']?>deleteExpense",
						type: 'post',
						dataType: 'html',
						data: {expense_id: <?=$expense_id?>},
						async: false,
						success: function(data) {
							if (data == 1) {
								swal({   
									title: "Expense Deleted",   
									text: 'This expense has been deleted',
									type: "success",    
									confirmButtonColor: "#15A59B",   
									confirmButtonText: "OK!",   
									}).then(function(){   
										window.location.replace('<?=$company_info['nav_path']?>expenses');
									});
							} else {
								alert('An error has occurred.');
								console.log(data);
							}
						}, 
						error: function(data) {
							console.log(data['responseText']);
						}
					});
				} 

			</script>