		


		<div class="page-wrapper">
			<div class="container-fluid">
				<div class="row page-titles">
					<div class="col-md-6 col-8 align-self-center">
						<h3 class="text-themecolor m-b-0 m-t-0">Metadata</h3>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/admin">Home</a></li>
							<li class="breadcrumb-item"><a href="<?=$company_info['nav_path']?>content">Content Main</a></li>
							<li class="breadcrumb-item active">
<?php if($education_id > 0): ?>
								Edit Education Data
<?php else: ?>
								New Education Data
<?php endif; ?>
							</li>
						</ol>
					</div>
					<div class="col-md-6 col-4 align-self-center">
						<button class="right-side-toggle waves-effect waves-light btn-info btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
					</div>
				</div>
				<div class="card card-outline-info">
					<div class="card-header" style="padding-bottom: 0; margin-bottom: 15px; border-radius: 3px 3px 0 0;">
<?php if($education_id > 0): ?>
						<h2 class="card-title text-white" style="float: left;">Submit the following fields to edit education info <i class="fa fa-pencil"></i></h2>	
						<span id="delete" class="btn btn-default btn" style="background-color: red; color: white; float: right;"><span class="fa fa-exclamation-triangle"></span> Delete education</span>
<?php else: ?>
						<h2 class="card-title text-white" style="float: left;">Submit the following fields to create a new education record</h2>	
<?php endif; ?>
					</div>
					<div class="card-block">
							<div class="row">
								<div class="col-lg-6 col-sm-12">
									<label>Title</label>
<?php if($education_id > 0): ?>
									<input id="title" class="form-control" value="<?=$education['title']?>">
<?php else: ?>
									<input id="title" class="form-control">
<?php endif; ?>
								</div>
								<div class="col-lg-6 col-sm-12">
									<div>
										<label>Featured Image: </label>
										<div style="position: relative;">
											<div class="input-group">
<?php if($education_id == 0): ?>
												<input id="attachment" type="text" class="form-control">					
<?php else: ?>
												<input id="attachment" type="text" class="form-control" value="<?=$education['attachment_file_name']?>">
<?php endif; ?>
												<div style="position: absolute; right: 75px; margin-top: 8px; z-index: 11111;">
													<i class="fa fa-arrow-right"></i>
												</div>
												<span class="input-group-btn">
													<button href="../../../filemanager/dialog.php?type=0&field_id=attachment&relative_url=1" class="btn btn-info iframe-btn" type="submit" style="background-color: #21A2F2; color: white;">
														&nbsp;&nbsp;&nbsp;<i class="fa fa-image"></i>&nbsp;&nbsp;&nbsp;
													</button>
												</span>
											</div>
										</div>
									</div>
								</div>
							<div class="col-lg-12" style="margin-top: 25px;">
								<div class="form-group">
<?php if($education_id > 0): ?>
									<textarea id="description"><?=$education['content_text']?></textarea>
<?php else: ?>
									<textarea id="description"></textarea>
<?php endif; ?>
								</div>
								<button id="submit" class="btn btn-primary btn-lg">
									Submit
								</button>
								<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-education">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
												<h4 class="modal-title" id="myModalLabel">education Write Complete</h4>
											</div>
											<div class="modal-body">
												Success
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-default" data-dismiss="modal" onclick="closeModal()">OK!</button>
											</div>
										</div>
									</div>
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>	
		</div>

			<script> 
				// using JQUERY's ready method to know when all dom elements are rendered
				$( document ).ready(function () {

					$('.iframe-btn').fancybox({	
						'type'		: 'iframe',
						'width'		: 900,
						'height'	: 650,
						'autoSize'	: false,
						'autoDimensions': false
					});
	
					$(".fancybox").fancybox();

					$("#submit").click(function () {
						do {	
						
							$.ajax({
								url: "<?=$company_info['nav_path']?>write-meta-action",
								type: 'post',
								dataType: 'html',
								data: {
									title: document.getElementById('title').value,
									image: document.getElementById('image').value,
									description: document.getElementById('description').value,
									keywords: document.getElementById('keywords').value,
									google: document.getElementById('google').value,
									facebook: document.getElementById('facebook').value
								},
								async: false,
								success: function(data) {
									if (data == 1) {
										swal({
											title: 'Mission Accomplished!',
											text: "The sites's metadata has been updated.",
											type: 'success',
											showCancelButton: false,
											confirmButtonColor: '#3085d6',
											confirmButtonText: 'OK!',
											confirmButtonClass: 'btn btn-success',
										}).then(function () {

										});
										
									} else {
										alert('An error has occurred');
										console.log(data);
									}
								} 
							});
						} while (false);
					});
		
					
				});
		
			</script>
			
			<script type="text/javascript">
				tinymce.init({
					selector: "#description",
					mode: "textareas",
					height: 400,
					theme: "modern",
					plugins: [
						"autolink link image lists charmap print preview hr anchor pagebreak",
						"searchreplace wordcount visualblocks visualchars insertdatetime media nonbreaking",
						"table contextmenu directionality emoticons paste textcolor responsivefilemanager"
					],
					toolbar1: "undo redo | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | styleselect",
					toolbar2: "| responsivefilemanager | link unlink anchor | image media | forecolor backcolor| print preview code ",
					image_advtab: true ,
					external_filemanager_path:"/filemanager/",
					filemanager_title:"Responsive Filemanager" ,
					external_plugins: { "filemanager" : "/filemanager/plugin.min.js"}
				});

				$('.iframe-btn').fancybox({	
					'type'		: 'iframe',
					'width'		: 900,
					'height'	: 650,
					'autoSize'	: false,
					'autoDimensions': false
				});

				$(".fancybox").fancybox();
 
				// using JQUERY's ready method to know when all dom elements are rendered
				$( document ).ready(function () {
					$("#submit").click(function () {
						
						do {

							if (document.getElementById('title').value == '') {
								swal('You must enter a name for a education.');
								break;
							}
						
							if (document.getElementById('attachment').value == '') {
								swal('Please select an attachment file.');
								break;
							}
							
							
							tinyMCE.triggerSave();
							
							$.ajax({
								url: "<?=$company_info['nav_path']?>writeEducation",
								type: 'post',
								dataType: 'html',
								data: {
									title: document.getElementById('title').value, 
									content_text: tinyMCE.activeEditor.getContent(), 
									attachment: document.getElementById('attachment').value, 
									education_id: <?=$education_id?>
								},
								async: false,
								success: function(data) {
									if (data == 1) {
										swal({   
											title: "Mission Accomplished!",   
											text: "This education info has been updated",
											type: "success",    
											confirmButtonColor: "#15A59B",   
											confirmButtonText: "OK!",   
											}).then(function(){   
												window.location.replace('<?=$company_info['nav_path']?>view-education');
											});
									} else {
										alert('An error has occurred');
										console.log(data);
									}
								} 
							});
						} while(false);
					});

					$("#delete").click(function () {
						swal({   
							title: "Confrim Delete",   
							text: 'Are you sure you want to delete this product?',
							type: "warning",    
							showCancelButton: true,
							cancelButtonText: "No, go back",
							confirmButtonColor: "#15A59B",   
							confirmButtonText: "Yes!",   
							}).then(function(){   
								confirmDelete();
							});
					});
				});

				function confirmDelete() {
					$.ajax({
						url: "<?=$company_info['nav_path']?>deleteEducation",
						type: 'post',
						dataType: 'html',
						data: {education_id: <?=$education_id?>},
						async: false,
						success: function(data) {
							if (data == 1) {
								swal({   
									title: "Education Post Deleted",   
									text: 'This Education post has been deleted',
									type: "success",    
									confirmButtonColor: "#15A59B",   
									confirmButtonText: "OK!",   
									}).then(function(){   
										window.location.replace('<?=$company_info['nav_path']?>view-education');
									});
							} else {
								alert('An error has occurred');
								console.log(data);
							}
						} 
					});
				} 

			</script>