

		<div class="page-wrapper">
			<div class="container-fluid">
				<div class="row page-titles">
					<div class="col-md-6 col-8 align-self-center">
						<h3 class="text-themecolor m-b-0 m-t-0">Employee</h3>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/admin">Home</a></li>
							<li class="breadcrumb-item active">Employee Directory</li>
						</ol>
					</div>
					<div class="col-md-6 col-4 align-self-center">
						<button class="right-side-toggle waves-effect waves-light btn-info btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>

						<!-- <button class="btn pull-right hidden-sm-down btn-success"><i class="mdi mdi-plus-circle"></i> Create</button>
						<div class="dropdown pull-right m-r-10 hidden-sm-down">
							<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<?=date('F Y')?>
							</button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								<a class="dropdown-item" href="#">February 2017</a>
								<a class="dropdown-item" href="#">March 2017</a>
								<a class="dropdown-item" href="#">April 2017</a>
							</div>
						</div>
						-->
					</div>
				</div>



				<div class="card card-outline-info">
					<div class="card-header" style="padding-bottom: 0; margin-bottom: 15px; border-radius: 3px 3px 0 0;">
						<h2 class="card-title text-white" style="float: left;">Employee Directory</h2>
					</div>
					<div class="card-block">
			
						<div class="panel-body">
<?php if (count($employees) == 0):?>
							<div>There are currently no employees to display</div>
<?php else: ?>
							<div class="table-responsive" style="padding-top: 15px; padding-bottom: 15px;">
								<table id="main_table" class="table table-hover">
									<thead>
										<tr>
											<th>ID</th>
											<th>First Name</th>
											<th>Last Name</th>
											<th>Email</th>
											<th>Phone</th>	
											<th>Extension</th>
											<th>Notes</th>							
										</tr>
									</thead>
									<tfoot>
										<tr>
											<th>ID</th>
											<th>First Name</th>
											<th>Last Name</th>
											<th>Email</th>
											<th>Phone</th>	
											<th>Extension</th>
											<th>Notes</th>							
										</tr>
									</tfoot>
									<tbody>
<?php foreach ($employees as $id => $data): ?>
										<tr>
											<td><?=$data['id']?></td>
											<td><?=$data['firstName']?></td>
											<td><?=$data['lastName']?></td>
											<td><?=$data['userName']?></td>
											<td></td>
											<td></td>
											<td></td>
										</tr>
<?php endforeach; ?>
									</tbody>
								</table>
							</div>										
<?php endif; ?>
						</div>
					</div>
				</div>
			</div>		
		</div>

		

		<script>
			var table =  $('#main_table').DataTable( {
				columnDefs: [
				{
					className: 'mdl-data-table__cell--non-numeric'
				}],
				lengthMenu: [10, 15, 20, 25, 50, 100],
				
				pageLength: 100,
				order: [[ 2, "asc" ]]
			});

			$( ".applyBtn" ).click(function() {
				setTimeout(function () {
					search();
				}, 200);
			});

			$('#main_table').dataTable().api();
			
			jQuery.fn.dataTable.Api.register( 'sum()', function ( ) {
				return this.flatten().reduce( function ( a, b ) {
					if ( typeof a === 'string' ) {
						a = a.replace(/[^\d.-]/g, '') * 1;
					}
					if ( typeof b === 'string' ) {
						b = b.replace(/[^\d.-]/g, '') * 1;
					}
					
					return a + b;
				}, 0 );
			} );

			$('input[name="target_date"]').daterangepicker();

			$( ".applyBtn" ).click(function() {
				setTimeout(function () {
					search();
				}, 200);
			});
			

		</script>
		
		<style>
			.filter-btn {
				background-color: #7460EE; 
				margin-right: 25px;
			}
		</style>


		