		


		<div class="page-wrapper">
			<div class="container-fluid">
				<div class="row page-titles">
					<div class="col-md-6 col-8 align-self-center">
						<h3 class="text-themecolor m-b-0 m-t-0">Expenses</h3>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
							<li class="breadcrumb-item active" style="font-weight: bold;">Expenses Main</li>
						</ol>

					</div>
					<div class="col-md-6 col-4 align-self-center">
						<button class="right-side-toggle waves-effect waves-light btn-info btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>

					</div>
				</div>


				<div class="card card-outline-info">
					<div class="card-header" style="padding-bottom: 0; margin-bottom: 15px; border-radius: 3px 3px 0 0;">
						<h2 class="card-title text-white" style="float: left;"><span style="font-weight: bold;">List Of Expenses - Click a row to edit an item</span></h2>
						<a href="<?=$company_info['nav_path']?>edit-expense" class="btn btn-info" style="float: right; background-color: #7460EE;">New Expense <span class="fa fa-plus"></span></a>
					</div>
					<div class="card-body" style="padding: 0 10px 10px 10px;">
						<div class="table-responsive">
							<table id="main_table" class="table table-hover table-striped">
								<thead>
									<tr>
										<th style="width: 50px;">ID</th>
										<th style="width: 50px;">Created Date</th>
										<th>Title</th>
										<th>Vendor</th>
										<th>Product</th>
										<th>Amount</th>
										<th>Left Owed</th>
										<th>Notes</th>
									</tr>
								</thead>
								<tfoot>
									<tr>
										<th>ID</th>
										<th>Created Date</th>
										<th>Title</th>
										<th>Vendor</th>
										<th>Product</th>
										<th>Amount</th>
										<th>Left Owed</th>
										<th>Notes</th>
									</tr>
								</tfoot>
								<tbody>
<?php foreach ($expenses as $id => $data): ?>
									<tr style="cursor: pointer;" onclick="submitPage(<?=$id?>);">
										<td><?=$id?></td>
<?php if ($data['alt_date'] == '0000-00-00 00:00:00'): ?>
										<td><?=substr($data['created_date'], 0, 11)?></td>
<?php else: ?>
										<td><?=substr($data['alt_date'], 0, 11)?></td>
<?php endif; ?>
										<td><?=$data['title']?></td>
<?php if ($data['vendor_id'] == 0): ?>
										<td>-</td>
<?php else: ?>
										<td><?=$data['vendor_id']?></td>
<?php endif; ?>
<?php if ($data['product_id'] == 0): ?>
										<td>-</td>
<?php else: ?>
										<td><?=$data['product_id']?></td>
<?php endif; ?>
										<td>$<?=$data['amount']?></td>
										<td>$<?=$data['left_owed']?></td>
										<td><?=$data['note']?></td>
									</tr>
<?php endforeach; ?>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script> 
			$(document).ready(function() {
				"use strict";
	
				$('#main_table').DataTable( {
					columnDefs: [
					{
						className: 'mdl-data-table__cell--non-numeric'
					}],
					lengthMenu: [10, 15, 20, 25, 50, 100],
					
					pageLength: 50,
					order: [[ 0, "desc" ]]
				});

			});
		
			function submitPage(expense_id)
			{
				window.location.replace('<?=$company_info['nav_path']?>edit-expense?expense_id=' + expense_id);
			}
		</script>
