				<footer><p>All right reserved.</p></footer>
			</div>
		</div>
	</div>

<!-- Bootstrap Js -->
	<script src="../../../js/bootstrap.min.js"></script>
<!-- Metis Menu Js -->
	<script src="../../../js/jquery.metisMenu.js"></script>
<?php if ($page == 'chart'): ?>
<!-- Morris Chart Js -->
	<script src="../../../js/morris/raphael-2.1.0.min.js"></script>
	<script src="../../../js/morris/morris.js"></script>
<!-- Custom Js -->
	<script src="../../../js/custom-scripts.js"></script>
<?php endif; ?>
</body>
</html>