

		<div class="page-wrapper">
			<div class="container-fluid">
				<div class="row page-titles">
					<div class="col-md-6 col-8 align-self-center">
						<h3 class="text-themecolor m-b-0 m-t-0">Inventory</h3>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
							<li class="breadcrumb-item active">Inventory Main</li>
						</ol>
					</div>
					<div class="col-md-6 col-4 align-self-center">

						<!-- <button class="btn pull-right hidden-sm-down btn-success"><i class="mdi mdi-plus-circle"></i> Create</button>
						<div class="dropdown pull-right m-r-10 hidden-sm-down">
							<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<?=date('F Y')?>
							</button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								<a class="dropdown-item" href="#">February 2017</a>
								<a class="dropdown-item" href="#">March 2017</a>
								<a class="dropdown-item" href="#">April 2017</a>
							</div>
						</div>
						-->
					</div>
				</div>

				<div class="row">
					<div class="col-lg-12">
						<div class="card card-outline-info">
							<div class="card-header" style="padding-bottom: 0; margin-bottom: 15px; border-radius: 3px 3px 0 0;">
								<h2 class="card-title text-white" style="float: left;">Inventory</h2>
<?php if ($loader['admin_user']['user_type_id'] == 1): ?>
								<button class="btn btn-info" style="float: right; background-color: #7460EE; margin-left: 25px;" onclick="javascript: window.location.href = '<?=$company_info['nav_path']?>edit-product';">Create New Product <i class="fa fa-plus"></i></button>
								<button class="btn btn-info" style="float: right; background-color: #7460EE;" onclick="javascript: window.location.href = '<?=$company_info['nav_path']?>user-inventory';">User Inventory <i class="fa fa-user"></i></button>
<?php endif; ?>	
							</div>
							<div class="card-block">
								<div class="row">
									<div class="col-lg-3 col-md-6 m-b-30 m-t-20 text-center">
										<div id="primamry_holder_box" class="card card-body" style="background-color: #55CE63; padding-top: 20px; padding-left: 20px; color: white; height: 100px;">
											<div class="form-group" style="padding-right: 20px;">
												<select class="custom-select col-12" id="primary_holder" style="background-color: white;" onchange="javascript: changePrimaryHolder();">
<?php foreach ($holders as $id => $data): ?>
<?php if ($company_info['primary_inventory_user_id'] == $id): ?>
													<option value="<?=$id?>" selected><?=$data['first_name']?> <?=$data['last_name']?></option>
<?php else: ?>
													<option value="<?=$id?>"><?=$data['first_name']?> <?=$data['last_name']?></option>
<?php endif; ?>
<?php endforeach; ?>
												</select>
												<div style="position: absolute; top: 28px; right: 25px; color: grey;"><i class="fa fa-chevron-down"></i></div>
											</div>
											<div style="margin-top: -18px;">
												Primary Inventory Holder 
												<span class="mytooltip tooltip-effect-3" style="cursor: help;">
													<span><i class="fa fa-question-circle"></i></span> 
													<span class="tooltip-content clearfix">
														
<?php if ($company_info['primary_inventory_user_id'] == $company_info['house_user_id']): ?>
														<img src="../../..<?=$company_info['nav_path']?>house_tip.png" style="margin-top: 10px; margin-left: 10px;">
														<span class="tooltip-text">
															The primary iventory holder is the <span style="font-weight: bold;">HOUSE</span> record. 
															That means all orders will come out of this inventory by default. 
															Treat the <span style="font-weight: bold;">HOUSE</span> record like any other person, just non-descript.
														</span> 
<?php else: ?>
<?php if ($holders[$company_info['primary_inventory_user_id']]['profile_image'] == ''): ?>
														<img src="../../..<?=$company_info['nav_path']?>no_image_set.png">
<?php else: ?>
														<img src="<?=$company_info['upload_path']?><?=$holders[$company_info['primary_inventory_user_id']]['profile_image']?>" style="margin-top: 10px; margin-left: 10px;">
<?php endif; ?>
														<span class="tooltip-text">
															The Primary iventory holder is 
															<span style="font-weight: bold;">
																<?=ucfirst($holders[$company_info['primary_inventory_user_id']]['first_name'])?> <?=ucfirst($holders[$company_info['primary_inventory_user_id']]['last_name'])?>
															</span>. That means all orders will come out of his/her inventory by default.
														</span> 
<?php endif; ?>
													</span>
												</span>
												
											</div>
												
											<div id="primary_holder_submit" style="margin-top: 15px; padding-right: 20px; display: none;">
												<button class="btn btn-info" style="width: 100%;" onclick="javascript: submitPrimaryHolder();">Submit Change</button>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-6 m-b-30 m-t-20 text-center">
										<div class="card card-body" style="background-color: #F62D51; padding-top: 20px; padding-left: 20px; color: white; height: 100px;">
											<h3 class="box-title m-b-0" style="color: white; font-weight: bold; font-size: 200%; margin: 5px;">
<?php if($company_info['allow_negative'] == 0): ?>
												<div id="allow_neg1">
													<div class="btn active_button">NO</div>
													<div class="btn btn-info inactive_button" style="margin-left: 25px;" onclick="javascript: changeAllowNegative(1);">YES</div>
												</div>
												<div id="allow_neg0" style="display: none;">
													<div class="btn btn-info inactive_button" onclick="javascript: changeAllowNegative(0);">NO</div>
													<div class="btn active_button" style="margin-left: 25px;">YES</div>
												</div>
												
<?php else: ?>
												<div id="allow_neg1" style="display: none;">
													<div class="btn active_button">NO</div>
													<div class="btn btn-info inactive_button" style="margin-left: 25px;" onclick="javascript: changeAllowNegative(1);">YES</div>
												</div>
												<div id="allow_neg0">
													<div class="btn btn-info inactive_button" onclick="javascript: changeAllowNegative(0);">NO</div>
													<div class="btn active_button" style="margin-left: 25px;">YES</div>
												</div>
												
<?php endif; ?>			
												<input id="allow_negative" type="hidden" value="<?=$company_info['allow_negative']?>">
											</h3>
											<address>
												Allow Negative Inventory?
											<br/>
											</address>
												
										</div>
									</div>
									
									<style>
										.inactive_button {
											padding-left: 3em; 
											padding-right: 3em; 
											background-color: #dbdbdb; 
											color: grey;
										}
										
										.active_button {
											padding-left: 3em; 
											padding-right: 3em; 
											background-color: #009EFB; 
											cursor: auto; 
											font-weight: bold;
										}
									</style>
									
								
									
									<script>
										function changePrimaryHolder() {
											document.getElementById('primary_holder_submit').style.display = '';
											document.getElementById('primamry_holder_box').style.height = '150px';
										}

										function submitPrimaryHolder() {
											swal({
												  title: "What should be done with the old primary holder's inventory?",
												  text: "",
												  type: 'warning',
												  showCancelButton: true,
												  confirmButtonColor: '#3085d6',
												  cancelButtonColor: '#d33',
												  confirmButtonText: 'Move To New Holder',
												  cancelButtonText: 'Keep As Is',
												  confirmButtonClass: 'btn btn-success',
												  cancelButtonClass: 'btn btn-danger',
												  buttonsStyling: false
												}).then(function () {
													$.ajax({
														url: "<?=$company_info['nav_path']?>changePrimaryHolderAction",
														type: 'post',
														dataType: 'html',
														data: {
															old_inventory: 1,
															user_id: document.getElementById('primary_holder').value
														},
														async: false,
														success: function(data) {
															if (data == 1) {
																swal({ 
																	title: "Mission Accomplished!", 
																	text: 'New primary inventory holder has been set!',
																	type: "success",
																	confirmButtonColor: "#15A59B", 
																	confirmButtonText: "OK!", 
																	}).then(function(){ 
																		location.reload();
																	});
															} else {
																swal('There has been an error.');
																console.log(data);
															}
														} 
													});
												}, function (dismiss) {
													// dismiss can be 'cancel', 'overlay',
													// 'close', and 'timer'
													if (dismiss === 'cancel') {
														$.ajax({
															url: "<?=$company_info['nav_path']?>changePrimaryHolderAction",
															type: 'post',
															dataType: 'html',
															data: {
																old_inventory: 2,
																user_id: document.getElementById('primary_holder').value
															},
															async: false,
															success: function(data) {
																if (data == 1) {
																	swal({ 
																		title: "Mission Accomplished!", 
																		text: 'New primary inventory holder has been set!',
																		type: "success",
																		confirmButtonColor: "#15A59B", 
																		confirmButtonText: "OK!", 
																		}).then(function(){ 
																			location.reload();
																		});
																} else {
																	swal('There has been an error.');
																	console.log(data);
																}
															} 
														});
													}
												})

											
										}
									</script>
									
									<style>
										.swal2-confirm {
											margin-right: 15px;
										}
									</style>

									<div class="col-lg-2">
									
									</div>
									<div class="col-lg-2">
									
									</div>
								</div>
								<hr>
					<div style="text-align: center;">
						<h3>Product Types</h3>
<?php if ($set_product_type_id == 0): ?>
						<span style="line-height: 50px;"></span><span class="shadow" style="border-radius: 2px; color: white; font-weight: bold; padding: 5px 8px; background-color: #009EFB; border: 2px solid #444444;">ALL</span></span>
<?php else: ?>
						<span style="line-height: 50px;"></span><span class="shadow" onclick="javascript: window.location.href='<?=$company_info['nav_path']?>inventory?product_type=0'" style="cursor: pointer; border-radius: 2px; color: #7460EE; font-weight: bold; padding: 5px 8px; border: 2px solid #444444;">ALL</span></span>
						
<?php endif; ?>

<?php foreach ($product_types as $id => $product_type): ?>
<?php if ($id == $set_product_type_id): ?>
						<span style="line-height: 50px;"></span><span class="shadow" style="border-radius: 2px; color: white; font-weight: bold; padding: 5px 8px; background-color: #009EFB; border: 2px solid #444444;"><?=$product_type['name']?></span></span>
<?php else: ?>
						<span style="line-height: 50px;"></span><span class="shadow" onclick="javascript: window.location.href='<?=$company_info['nav_path']?>inventory?product_type=<?=$id?>'" style="cursor: pointer; border-radius: 2px; color: #7460EE; font-weight: bold; padding: 5px 8px; border: 2px solid #444444;"><?=$product_type['name']?></span></span>
<?php endif; ?>
<?php endforeach; ?>

<?php if ($set_product_type_id > 0): ?>
						<div style="margin: 20px; font-size: 125%; font-weight: bold; color: #009EFB; border-bottom: 3px solid #009EFB;">SHOWING: <?=$product_types[$set_product_type_id]['name']?></div>
<?php endif; ?>			
					</div>
					<hr>
					<div class="table-responsive">
						<table id="main_table" class="table table-hover table-alternate">
							<thead>
								
								<tr>
									<th style="width: 20px;"></th>
									<th style="width: 30px;">Product ID</th>
									<th>Product Name</th>
									<th style="width: 50px;">Combo?</th>
									<th>Product Type</th>
									<th>Vendor</th>
									<th style="width: 100px;">Total Units Available</th>
									<th style="width: 60px;">Retail unit avg</th>
									<th style="width: 50px;">$ in retail</th>
								</tr>
							</thead>
							<tfoot>
								<tr>
									<th></th>
									<th>Product ID</th>
									<th>Product Name</th>
									<th>Combo?</th>
									<th>Product Type</th>
									<th>Vendor</th>
									<th>Total Units Available</th>
									<th>Retail unit avg</th>
									<th>$ in retail</th>
								</tr>
							</tfoot>
					
							<tbody id="table_body">
<?php foreach ($inventory as $product_id => $data): ?>
								<tr>
									<td style="margin: 0; padding: 0; padding-top: 3px;">
										<div class="btn btn-info" onclick="javascript:window.location.href = '<?=$company_info['nav_path']?>edit-inventory?product_id=<?=$product_id?>';" ><i class="fa fa-arrow-right"></i></div>
									</td>
									<td><?=$products[$product_id]['id']?></td>
									<td>
									
<?php if ($products[$product_id]['part'] == 1): ?>
										<button class="btn btn-info" style="background-color: #7460EE;" onclick="javascript: window.location.href = '<?=$company_info['nav_path']?>edit-product-part?product_id=<?=$product_id?>';"><?=$products[$product_id]['name']?> <i class="fa fa-link"></i></button>
<?php else: ?>
										<button class="btn btn-info" style="background-color: #7460EE;" onclick="javascript: window.location.href = '<?=$company_info['nav_path']?>edit-product?product_id=<?=$product_id?>';"><?=$products[$product_id]['name']?> <i class="fa fa-link"></i></button>
<?php endif; ?>

<?php if ($products[$product_id]['inventory_holder_id'] > 0): ?>
										<span class="mytooltip tooltip-effect-3" style="cursor: help;">
											<span><i class="fa fa-star" style="color: #01C0C8; margin-left: 10px; text-shadow: 1px 1px #7460EE;"></i></span> 
											<span class="tooltip-content clearfix" style="margin: 20px;">
												<img src="../../..<?=$company_info['nav_path']?>no_image_set.png">
												<span class="tooltip-text">
													<span style="font-weight: bold;">
														<?=ucfirst($holders[$products[$product_id]['inventory_holder_id']]['first_name'])?> <?=ucfirst($holders[$products[$product_id]['inventory_holder_id']]['last_name'])?>
													</span> 
													over-rides the primary inventory holder for this specific product.
												</span> 
											</span>
										</span>
										
<?php endif; ?>	
									</td>
									<td style="margin: 0; padding: 0; padding-top: 3px; padding-left: 5px; padding-right: 40px;" onclick="submitPage(<?=$id?>);">
<?php if ($products[$product_id]['combo'] == 1): ?>
										<div style="width: 100%; text-align: center; height: 35px; line-height: 35px;"><i class="fa fa-check"></i></div>
<?php endif; ?>
									</td>
									<td><?=$product_types[$products[$product_id]['product_type_id']]['name']?></td>
									
									<td style="font-weight: bold;">
<?php if ($products[$product_id]['combo'] == 1): ?>
										<span style="color: #FEAB12;">- Combo -</span>
<?php else: ?>
										<?=$vendors[$products[$product_id]['vendor_id']]['name']?>
<?php endif; ?>			
									</td>
									

<?php if ($data['quantity'] == 0): ?>
									<td style="font-weight: bold; color: orange;">0</td>
<?php else: ?>
<?php if ($data['quantity'] < 0): ?>
<?php if ($company_info['allow_negative'] == 1): ?>
									<td id="neg_product<?=$product_id?>" class="neg_stock" style="font-weight: bold; color: red;">
										<?=$data['quantity']?>
										<div class="btn btn-info" style="padding: 5px; margin-left: 10px;" onclick="javascript: tare(<?=$product_id?>);">Tare</div>
									</td>
<?php else: ?>
									<td style="font-weight: bold; color: red;">0</td>
<?php endif; ?>
<?php else: ?>
									<td style="font-weight: bold;"><?=$data['quantity']?></td>
<?php endif; ?>
<?php endif; ?>

<?php if ($products[$product_id]['part'] == 1): ?>
									<td>N/A</td>
									<td>N/A</td>
<?php else: ?>
									<td style="font-weight: bold;">$<?=$data['average_retail']?></td>
									<td style="font-weight: bold;">
<?php if (round($data['average_retail'] * $data['quantity'], 2) < 0): ?>
										$0
<?php else: ?>
										$<?=round($data['average_retail'] * $data['quantity'], 2)?>
<?php endif; ?>
									</td>
<?php endif; ?>
								</tr>
<?php endforeach; ?>
							</tbody>
						</table>
					</div>
							</div>
						</div>
						
						
					</div>
				</div>
			</div>
		</div>
					
		<script>
			$(document).ready(function() {

				$('input[name="target_date"]').daterangepicker();


				$('#main_table').DataTable( {
					columnDefs: [
					{
						className: 'mdl-data-table__cell--non-numeric',
						targets: [0],
						orderable: false
					}],
					lengthMenu: [10, 15, 20, 25, 50, 100],
					
					pageLength: 50,
					order: [[ 2, "asc" ]]
					
				});

<?php if ($stock_filter == ''): ?>
				document.getElementById('main_table_length').innerHTML += `
					<span style="line-height: 50px;"></span><span class="shadow" style="border-radius: 2px; color: white; font-weight: bold; margin: 10px; background-color: #009EFB; padding: 5px 8px; border: 2px solid #444444;">Show All Items</span></span>
					<span style="line-height: 50px;"></span><span class="shadow" onclick="javascript: window.location.href='<?=$company_info['nav_path']?>inventory?product_type=<?=$set_product_type_id?>&stock_filter=false'" style="cursor: pointer; border-radius: 2px; color: #7460EE; background-color: white; font-weight: bold; margin: 10px; padding: 5px 8px; border: 2px solid #444444;">Only Show In Stock</span></span>
				`;
<?php else: ?>
				document.getElementById('main_table_length').innerHTML += `
					<span style="line-height: 50px;"></span><span class="shadow" onclick="javascript: window.location.href='<?=$company_info['nav_path']?>inventory?product_type=<?=$set_product_type_id?>'" style="cursor: pointer; border-radius: 2px; color: #7460EE; font-weight: bold; margin: 10px; padding: 5px 8px; border: 2px solid #444444;">Show All Items</span></span>
					<span style="line-height: 50px;"></span><span class="shadow" style="border-radius: 2px; color: white; background-color: #009EFB; font-weight: bold; margin: 10px; padding: 5px 8px; border: 2px solid #444444;">Only Show In Stock</span></span>
				`;
<?php endif; ?>
				
				
			});

			function tare(product_id) {
				$.ajax({
					url: "<?=$company_info['nav_path']?>tareAction",
					type: 'post',
					dataType: 'html',
					data: {
						product_id: product_id
					},
					async: false,
					success: function(data) {
						if (data == 1) {
							document.getElementById('neg_product' + product_id).innerHTML = 0;
						} else {
							alert('An error has occurred.');
							console.log(data);
						}
					} 
				});
			}

			function changeAllowNegative (source) {
				if (source == 0) {
					swal({
						title: 'Do Not Allow Negative Iventory?',
						type: 'warning',
						showCancelButton: true,
						html: "If you continue with this process all inventory values that are negative will be set to 0. All over-sale records will be deleted. <br><br><span style='font-weight: bold;'>Continue?</span>",
						confirmButtonColor: '#3085d6',
						cancelButtonColor: '#d33',
						confirmButtonText: 'YES, TARE RECORDS',
						cancelButtonText: 'NO, CANCEL',
						confirmButtonClass: 'btn btn-success',
						cancelButtonClass: 'btn btn-danger',
						buttonsStyling: false
					}).then(function () {
						$.ajax({
							url: "<?=$company_info['nav_path']?>switch-allow-negative",
							type: 'post',
							dataType: 'html',
							data: {
								source: source
							},
							async: false,
							success: function(data) {
								if (data == 1) {
									if (source == 1) {
										document.getElementById('allow_neg0').style.display = '';
										document.getElementById('allow_neg1').style.display = 'none';
									} else {
										document.getElementById('allow_neg0').style.display = 'none';
										document.getElementById('allow_neg1').style.display = '';
									}

									[].forEach.call(document.getElementsByClassName('neg_stock'), function (el) {
										var product_id = el.id.replace("neg_product", "");

										tare(product_id);
									});

									
									
								} else {
									alert('An error has occurred.');
									console.log(data);
								}
							} 
						});
					}, function (dismiss) {
						
					});
				} else {
					$.ajax({
						url: "<?=$company_info['nav_path']?>switch-allow-negative",
						type: 'post',
						dataType: 'html',
						data: {
							source: source
						},
						async: false,
						success: function(data) {
							if (data == 1) {
								if (source == 1) {
									document.getElementById('allow_neg0').style.display = '';
									document.getElementById('allow_neg1').style.display = 'none';
								} else {
									document.getElementById('allow_neg0').style.display = 'none';
									document.getElementById('allow_neg1').style.display = '';
								}
							} else {
								alert('An error has occurred.');
								console.log(data);
							}
						} 
					});
				}
				
				
			}

		</script>
		
		<style>
			.filter-btn {
				background-color: #7460EE; 
				margin-right: 25px;
			}
		</style>
	
		