


		<div class="page-wrapper">
			<div class="container-fluid">
				<div class="row page-titles">
					<div class="col-md-6 col-8 align-self-center">
						<h3 class="text-themecolor m-b-0 m-t-0">Meds</h3>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/admin">Home</a></li>
							<li class="breadcrumb-item active">Meds</li>
						</ol>
					</div>
					<div class="col-md-6 col-4 align-self-center">

						<!-- <button class="btn pull-right hidden-sm-down btn-success"><i class="mdi mdi-plus-circle"></i> Create</button>
						<div class="dropdown pull-right m-r-10 hidden-sm-down">
							<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<?=date('F Y')?>
							</button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								<a class="dropdown-item" href="#">February 2017</a>
								<a class="dropdown-item" href="#">March 2017</a>
								<a class="dropdown-item" href="#">April 2017</a>
							</div>
						</div>
						-->
					</div>
				</div>

				<div class="card card-outline-info">
					<div class="card-header" style="padding-bottom: 0; margin-bottom: 15px; border-radius: 3px 3px 0 0;">
						<h2 class="card-title text-white" style="float: left;">User Medicine Use Data</h2>
					</div>
					<div class="card-block">
						<div class="panel-body">
							<div class="table-responsive">
								<table id="meds_table" class="table table-hover table-striped">
									<thead>
										<tr>
											<th>Name</th>
											<th>Total Doses Taken</th>
											<th>Average User Dosage</th>
											<th>Amount Taken</th>
											<th>Dosage Amount Average</th>
										</tr>
									</thead>
									<tbody>
<?php foreach ($meds as $name => $data): ?>
										<tr>
											<td><?=$name?></td>
											<td><?=$data['total_doses']?></td>
											<td><?=$data['avg_doses']?></td>
											<td><?=$data['total_amount']?> <?=$data['units']?></td>
											<td><?=$data['avg_amount']?> <?=$data['units']?></td>
										</tr>
<?php endforeach; ?>
									</tbody>	
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>		
		</div>

		

		<script>
		$(document).ready(function() {

			$('#meds_table').DataTable( {
				columnDefs: [
				{
					className: 'mdl-data-table__cell--non-numeric'
				}],
				lengthMenu: [10, 15, 20, 25, 50, 100, 150, 200, 250, 500],
				
				pageLength: 50,
				order: [[ 0, "desc" ]]
			});
		});


		</script>
		
		<style>
			.filter-btn {
				background-color: #7460EE; 
				margin-right: 25px;
			}
		</style>


		