		


		<div class="page-wrapper">
			<div class="container-fluid">
				<div class="row page-titles">
					<div class="col-md-6 col-8 align-self-center">
						<h3 class="text-themecolor m-b-0 m-t-0">Page Content</h3>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
							<li class="breadcrumb-item active" style="font-weight: bold;">Pages Main</li>
						</ol>
				
					</div>
					<div class="col-md-6 col-4 align-self-center">
						<button class="right-side-toggle waves-effect waves-light btn-info btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>

					</div>
				</div>

				<!-- Row -->
				<div class="row">
					<div class="col-lg-12">
						<div class="card card-outline-info">
							<div class="card-header" style="padding-bottom: 0; margin-bottom: 15px; border-radius: 3px 3px 0 0;">
								<h2 class="card-title text-white" style="float: left;"><span style="font-weight: bold;">Current Pages</span></h2>
							</div>
							<div class="card-body" style="padding: 0 10px 10px 10px;">
									
								<div id="piled" class="row">
<?php $count = 0; ?>
<?php foreach ($pages as $id => $name): ?>
									<div class="col-md-6 col-lg-3 col-xlg-3">
										<div class="card card-body" style="width: 100%; height: 0; padding-bottom: 50%; cursor: pointer; background-color: #55CE63; padding-top: 15px; padding-left: 20px; color: white;">
											<div class="row">
												<div class="col-md-2 col-lg-2 text-center">
													<i class="fa fa-gear" style="font-size: 300%;"></i>
												</div>
												<div class="col-md-10 col-lg-10">
													<div style="padding-right: 10px;">
														<h2 class="box-title m-b-0" style="color: white; font-weight: bold;"><?=strtoupper($id)?></h2>
														<div style="border-bottom: 1px solid white; margin-bottom: 10px;">Sub pages, click to edit. <i class="fa fa-arrow-down"></i></div>
<?php foreach ($name as $id2 => $page_name): ?>
														<h4 class="box-title m-b-0" style="color: white; font-weight: bold;"><a href="<?=$base?><?=$company_info['nav_path']?>view-page?page=<?=$page_name?>"><?=$page_name?></a></h4>
<?php endforeach; ?>														
													</div>
													
												</div>
											</div>
										</div>
									</div>

<?php $count++; ?>
<?php if ($count > 6): ?>
<?php $count = 0; ?>
<?php endif; ?>
<?php endforeach; ?>
								</div>
		
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


	
		<script type="text/javascript">
			function changeView ()
			{
				if (document.getElementById('toggle').checked == true) {
					document.getElementById('piled').style.display = 'none';
					document.getElementById('list').style.display = 'initial';
				} else {
					document.getElementById('piled').style.display = 'initial';
					document.getElementById('list').style.display = 'none';
				}
			}
			
			function submit(source, content_type_id)
			{
				if (source == 1) {
					window.location.replace('<?=$base?><?=$company_info['nav_path']?>create-deal');
				} else if (source == 2) {
					window.location.replace('<?=$base?><?=$company_info['nav_path']?>create-program');
				} else {
					window.location.replace('<?=$base?><?=$company_info['nav_path']?>create-program-type');
				}
			}
		</script>
