		<div class="page-wrapper">
			<div class="container-fluid">
				<div class="row page-titles">
					<div class="col-md-6 col-8 align-self-center">
						<h3 class="text-themecolor m-b-0 m-t-0">Pending Sales</h3>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
							<li class="breadcrumb-item active" style="font-weight: bold;">Pending Sales Main</li>
						</ol>

					</div>
					<div class="col-md-6 col-4 align-self-center">
						<button class="right-side-toggle waves-effect waves-light btn-info btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>

					</div>
				</div>


				<div class="card card-outline-info">
					<div class="card-header" style="padding-bottom: 0; margin-bottom: 15px; border-radius: 3px 3px 0 0;">
						<h2 class="card-title text-white" style="float: left;"><b>Pending Sales List</b></h2>
						<button class="btn btn-info" style="float: right; background-color: #7460EE;" onclick="javascript: window.location.href = '<?=$company_info['nav_path']?>new-sale';"> New Sale <i class="fa fa-plus"></i></button>
					</div>
					<div class="card-block">

					
					<div class="col-lg-12">
						<div>

<?php if (count($transactions) > 0): ?>
							<div class="table-responsive" style="padding-top: 15px; padding-bottom: 15px;">
								<table id="main_table" class="table table-hover">
									<thead>
										<tr>
											<th style="width: 20px;"></th>
											<th>ID</th>
<?php if ($company_info['wholesale'] == 1): ?>
													<th style="width: 200px;">Company Name</th>
													<th style="width: 1px;"></th>
<?php else: ?>
													<th style="width: 200px;">First Name</th>
													<th>Last Name</th>
<?php endif; ?>
											<th>Product</th>
											<th>Sub Total</th>
											<th>Paid</th>
											<th style="width: 80px;">Order Time</th>	
											<th style="width: 20px;">Delete?</th>							
										</tr>
									</thead>
									<tfoot>
										<tr>
											<th></th>
											<th>ID</th>
<?php if ($company_info['wholesale'] == 1): ?>
													<th style="width: 200px;">Company Name</th>
													<th></th>
<?php else: ?>
													<th style="width: 200px;">First Name</th>
													<th>Last Name</th>
<?php endif; ?>
											<th>Product</th>
											<th>Sub Total</th>
											<th>Paid</th>
											<th>Order Time</th>
											<th>Delete?</th>					
										</tr>
									</tfoot>
									<tbody>
<?php foreach ($transactions as $id => $data): ?>
										<tr style="cursor: pointer;">
											<td style="margin: 0; padding: 0; padding-top: 3px;"><div class="btn btn-info" onclick="javascript: window.location.href='<?=$company_info['nav_path']?>view-transaction?transaction_id=<?=$id?>'"><i class="fa fa-arrow-right"></i></div></td>
											<td><?=$id?></td>
<?php if (!isset($users[$data['user_id']])): ?>
											<td>ZZZ</td>
											<td>DELETE THIS TRANSACTION</td>
<?php else: ?>
<?php if ($users[$data['user_id']]['deleted'] == 1): ?>
											<td>_<?=$users[$data['user_id']]['first_name']?></td>
<?php if ($company_info['wholesale'] == 1): ?>
											<td></td>
<?php else: ?>
											<td>_<?=$users[$data['user_id']]['last_name']?></td>
<?php endif; ?>
<?php else: ?>
											<td><?=$users[$data['user_id']]['first_name']?></td>
<?php if ($company_info['wholesale'] == 1): ?>
											<td></td>
<?php else: ?>
											<td><?=$users[$data['user_id']]['last_name']?></td>
<?php endif; ?>
<?php endif; ?>
<?php endif; ?>
											

											<td>
												<span style="font-weight: bold;">(<?=count($data['products'])?>) </span>
<?php $count = 1; ?>
<?php foreach ($data['products'] as $product_size_id => $data2): ?>
												<?=$products[$data2['product_id']]['name']?> (<?=$product_sizes[$data2['product_size_id']]['name']?> x <?=$data2['quantity']?>)
<?php if (count($data['products']) > $count): ?>
												<span style="font-weight: bold;"> / </span>
<?php endif; ?>
<?php $count++; ?>
<?php endforeach; ?>
											</td>


											<td>$<?=$data['sub_total']?></td>
<?php if ($data['alt_cost'] > 0): ?>
											<td>$<?=$data['alt_cost']?></td>
<?php else: ?>
											<td>$<?=$data['cost']?></td>
<?php endif; ?>
<?php if ($data['changed_date'] == '0000-00-00 00:00:00'): ?>
											<td><?=substr($data['created_date'], 5, 11)?></td>	
<?php else: ?>
											<td style="color: red;"><?=substr($data['changed_date'], 5, 11)?></td>	
<?php endif; ?>
											<td style="margin: 0; padding: 0; padding-top: 3px;">
												<div id="delete<?=$id?>" class="btn btn-info" style="float: right; background-color: #bfbfbf;" onclick="javascript: addToDeleteList(<?=$id?>);">
													<i class="fa fa-close"></i>
												</div>
											</td>
										</tr>
<?php endforeach; ?>
									</tbody>
								</table>
							</div>
<?php else: ?>
							<div style="font-weight: bold;">There are currently no sales to display with that filtering option. Chose another above.</div>
<?php endif; ?>
						</div>
					</div>
			</div>
		</div>
				
				
				
				
			</div>
		</div>

		<div id="change_button" class="change_button" style="display: none;">
			<div class="gradient change_button2" onclick="javbascript: submitChanges();">
				<div class="change_button3">SUBMIT CHANGES</div>
			</div>
		</div>
		
		<style>
			.change_button2 {
				position: fixed; bottom: 0; width: 100%; background-color: red; height: 50px; z-index: 111; padding: 5px 0; cursor: pointer;
			}
			
			.change_button3 {
				background-color: #F62D51; height: 100%; text-align: center; line-height: 40px; font-weight: bold; color: white;
			}
		</style>

		<script>
			var table =  $('#main_table').DataTable( {
				columnDefs: [
				{
					className: 'mdl-data-table__cell--non-numeric',
<?php if ($company_info['wholesale'] == 1): ?>
					targets: [0,3,8],	
<?php else: ?>
					targets: [0,8],
<?php endif; ?>
					
					orderable: false
				}],
				lengthMenu: [10, 15, 20, 25, 50, 100],
				
				pageLength: 50,
				order: [[ 7, "desc" ]]
			});

			

			$('#main_table').dataTable().api();
			
			jQuery.fn.dataTable.Api.register( 'sum()', function ( ) {
				return this.flatten().reduce( function ( a, b ) {
					if ( typeof a === 'string' ) {
						a = a.replace(/[^\d.-]/g, '') * 1;
					}
					if ( typeof b === 'string' ) {
						b = b.replace(/[^\d.-]/g, '') * 1;
					}
					
					return a + b;
				}, 0 );
			} );

			var delete_list = [];

			function addToDeleteList(transaction_id) {
				delete_list.push(transaction_id);
				document.getElementById('delete' + transaction_id).style.backgroundColor = '#F62D51';
				document.getElementById('change_button').style.display = '';
			}

			function submitChanges () {

				$.ajax({
					url: "<?=$company_info['nav_path']?>updateTransactionsAction",
					type: 'post',
					dataType: 'html',
					data: {
						delete_list: delete_list
					},
					async: false,
					success: function(data) {
						if (data == 1) {
							swal({   
								title: "Mission Accomplished",   
								text: 'Transactions Updated!',
								type: "success",    
								confirmButtonColor: "#15A59B",   
								confirmButtonText: "OK!",   
								closeOnConfirm: true 
								}, 
								function(){   
									
								});

							window.location.href='<?=$company_info['nav_path']?>sales';
						} else {
							console.log(data);
						}
					} 
				});
			}

		</script>

		