		<div class="page-wrapper">
			<div class="container-fluid">
				<div class="row page-titles">
					<div class="col-md-6 col-8 align-self-center">
						<h3 class="text-themecolor m-b-0 m-t-0">Profits &amp; Losses</h3>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
							<li class="breadcrumb-item active" style="font-weight: bold;">Profits &amp; Losses Main</li>
						</ol>

					</div>
					<div class="col-md-6 col-4 align-self-center">
						<button class="right-side-toggle waves-effect waves-light btn-info btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>

					</div>
				</div>


				<div class="card card-outline-info">
					<div class="card-header" style="padding-bottom: 0; margin-bottom: 15px; border-radius: 3px 3px 0 0;">
						<h2 class="card-title text-white" style="float: left;"><b>Sales Overview</b></h2>
						<button class="btn btn-info" style="float: right; background-color: #7460EE;" onclick="javascript: window.location.href = '<?=$company_info['nav_path']?>new-sale';"> New Sale <i class="fa fa-plus"></i></button>
					</div>
					
					
					<div class="card-block">
						<div class="row">
						
							<div class="col-lg-6 col-sm-12" style="padding: 0; margin: 25px 0 0 0; text-align: center;">
								<div style="position: relative;">
									<h3 style="">Quick Filter:</h3>
								</div>
							</div>
							<div class="col-lg-6 col-sm-12" style="padding: 0; margin: 25px 0 0 0; text-align: center;">
								<div style="position: relative; white-space: nowrap;">
									<h3 style="">Filter By Date:</h3>
								</div>
							</div>
							<div class="col-lg-6 col-sm-12" style="text-align: center;">
<?php if ($filter == 1) :?>
								<button class="btn btn-info active filter-btn" onclick="javascript: window.location.href = '/<?=$loader['page']?>';"> 48 Hours</button>
<?php else: ?>		
								<button class="btn btn-info filter-btn" onclick="javascript: window.location.href = '/<?=$loader['page']?>';"> 48 Hours</button>
<?php endif; ?>
<?php if ($filter == 2) :?>
								<button class="btn btn-info active filter-btn" onclick="javascript: window.location.href = '/<?=$loader['page']?>?filter=2';"> Week</button>
<?php else: ?>		
								<button class="btn btn-info filter-btn" onclick="javascript: window.location.href = '/<?=$loader['page']?>?filter=2';"> Week</button>
<?php endif; ?>	
<?php if ($filter == 3) :?>
								<button class="btn btn-info active filter-btn" onclick="javascript: window.location.href = '/<?=$loader['page']?>?filter=3';"> Month</button>
<?php else: ?>		
								<button class="btn btn-info filter-btn" onclick="javascript: window.location.href = '/<?=$loader['page']?>?filter=3';"> Month</button>
<?php endif; ?>	
<?php if ($filter == 4) :?>
								<button class="btn btn-info active filter-btn" onclick="javascript: window.location.href = '/<?=$loader['page']?>?filter=4';"> Year</button>
<?php else: ?>		
								<button class="btn btn-info filter-btn" onclick="javascript: window.location.href = '/<?=$loader['page']?>?filter=4';"> Year</button>
<?php endif; ?>
<?php if ($filter == 5) :?>
								<button class="btn btn-info active filter-btn" onclick="javascript: window.location.href = '/<?=$loader['page']?>?filter=5';"> All Time</button>
<?php else: ?>		
								<button class="btn btn-info filter-btn" onclick="javascript: window.location.href = '/<?=$loader['page']?>?filter=5';"> All Time</button>
<?php endif; ?>	
							</div>
							<div class="col-lg-6 col-sm-12">
								<div style="position: relative;">
<?php if ($filter > 5) :?>
									<div class="input-group date" data-provide="" style="background-color: #009EFB; padding: 10px; margin-top: -5px;">
<?php else: ?>		
									<div class="input-group date" data-provide="" style="padding: 5px; margin-top: -5px;">
<?php endif; ?>	
<?php if ($filter > 5) :?>
										<input id="target_date" name="target_date" type="text" style="font-family: 'Montserrat', sans-serif; width: 100%; letter-spacing: 1px; text-align: center; border-radius: 4px;" value="<?=$filter?>">
<?php else: ?>		
										<input id="target_date" name="target_date" type="text" style="font-family: 'Montserrat', sans-serif; width: 100%; letter-spacing: 1px; text-align: center; border-radius: 4px;">
<?php endif; ?>	
										<div class="input-group-addon" style="display: none;"></div>
									</div>
								</div>
							</div>
						
					<div class="col-lg-12"><hr></div>
					<div class="col-lg-6">
						<div>
							<h3 style="text-align: center;">Summary</h3>
							<div class="table-responsive" style="padding-top: 15px; padding-bottom: 15px;">
								<table style="clear: both; border: 2px solid #009EFB; border-radius: 4px;" class="table table-bordered table-striped" id="user">
                                    <tbody>
                                    	<tr>
                                            <td width="35%">Sales Sub-Total</td>
                                            <td width="65%">
                                            	$<?=money_format('%.2n', $sale_total)?>
                                            </td>
                                        </tr>
                                        <tr style="font-weight: bold;">
                                            <td width="35%">Total Sales Paid</td>
                                            <td width="65%" style="color: green;">
                                            	$<?=money_format('%.2n', $paid_total)?>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="35%">Cash Sales</td>
                                            <td width="65%">
                                            	$<?=money_format('%.2n', $cash_total)?>
                                            </td>
                                        </tr>
<?php $cards_tax_total = 0; ?>
<?php foreach ($merchants as $id => $data): ?>
<?php if ($id > 0): ?>
                                        <tr>
                                            <td width="35%"><?=$data['name']?> (Card) Sales</td>
                                            <td width="65%">
                                            	$<?=money_format('%.2n', $data['total_sales'])?>
                                            </td>
                                        </tr>	
                                        <tr>
                                            <td width="35%"><?=$data['name']?> (Card) Tax %</td>
                                            <td width="65%">
                                            	<a href="#" id="card_tax<?=$id?>" data-type="text" data-pk="1" data-title="Enter username" class="editable editable-click"><?=$data['rate']?></a> % <span style="color: #54667A;"><i class="fa fa-arrow-left"></i> Click to edit</span>
                                            </td>
                                        </tr>
                                        <tr style="font-weight: bold;">
                                            <td width="35%"><?=$data['name']?> (Card) Tax $</td>
                                            <td width="65%" style="color: #F62D51;">
<?php if (strlen($data['rate']) == 1): ?>
<?php $rate = '0.0' . $data['rate']?>
<?php else: ?>
<?php $rate = '0.' . $data['rate']?>
<?php endif; ?>
												$<?=money_format('%.2n', $data['total_sales'] * $rate)?>

                                            </td>
                                        </tr>
<?php $cards_tax_total += $data['total_sales'] * $rate; ?>
<?php endif; ?>
<?php endforeach; ?>
                                        <tr style="font-weight: bold;">
                                            <td width="35%">Expenses</td>
                                            <td width="65%" style="color: #F62D51;">
                                            	$<?=money_format('%.2n', $expenses_total)?>
                                            	<div style="float: right; color: #54667A;">See Table To Right <i class="fa fa-arrow-right"></i></div>
                                            </td>
                                        </tr>
                                        <tr style="font-weight: bold; border-top: 5px solid #009EFB; border-bottom: 5px solid #009EFB;">
                                            <td width="35%">Gross Profit</td>
<?php $gross = $paid_total - $cards_tax_total - $expenses_total; ?>
<?php if ($gross < 0): ?>
											<td width="65%" style="color: #F62D51;">
												-$<?=money_format('%.2n', $gross)?>
											</td>
<?php else: ?>
											<td width="65%" style="color: green;">
												$<?=money_format('%.2n', $gross)?>
											</td>
<?php endif; ?>
                                        </tr>
                                    </tbody>
                                </table>
							</div>

						</div>
					</div>
					
					
					<div class="col-lg-6">
						<div>
							<h3 style="text-align: center;">Expenses (<?=count($expenses)?>)</h3>
							<div class="table-responsive" style="padding-top: 15px; padding-bottom: 15px;">
								<table style="clear: both; border: 2px solid #009EFB; border-radius: 4px;" class="table table-bordered table-striped" id="user">
                                    <tbody>
<?php foreach ($expenses as $id => $data): ?>
                                        <tr>
<?php if ($data['alt_date'] == '0000-00-00 00:00:00'): ?>
											<td><?=substr($data['created_date'], 0, 11)?></td>
<?php else: ?>
											<td><?=substr($data['alt_date'], 0, 11)?></td>
<?php endif; ?>
                                            <td><?=$data['title']?></td>
                                            <td>
                                            	$<a href="#" id="expense<?=$id?>" data-type="text" data-pk="1" data-title="Enter username" class="editable editable-click"><?=$data['amount']?></a>
                                            </td>
                                        </tr>
<?php endforeach; ?>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<!-- 
					<div class="col-lg-6">
						<div>
							<h3 style="text-align: center;">On Hand</h3>
							<div class="table-responsive" style="padding-top: 15px; padding-bottom: 15px;">
								<table style="clear: both; border: 2px solid #009EFB; border-radius: 4px;" class="table table-bordered table-striped" id="user">
                                    <tbody>
<?php foreach ($expenses as $id => $data): ?>
                                        <tr>
<?php if ($data['alt_date'] == '0000-00-00 00:00:00'): ?>
											<td><?=substr($data['created_date'], 0, 11)?></td>
<?php else: ?>
											<td><?=substr($data['alt_date'], 0, 11)?></td>
<?php endif; ?>
                                            <td><?=$data['title']?></td>
                                            <td>
                                            	$<a href="#" id="expense<?=$id?>" data-type="text" data-pk="1" data-title="Enter username" class="editable editable-click"><?=$data['amount']?></a>
                                            </td>
                                        </tr>
<?php endforeach; ?>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					
					<div class="col-lg-6">
						<div>
							<h3 style="text-align: center;">Assumptions</h3>
							<div class="table-responsive" style="padding-top: 15px; padding-bottom: 15px;">
								<table style="clear: both; border: 2px solid #009EFB; border-radius: 4px;" class="table table-bordered table-striped" id="user">
                                    <tbody>
<?php foreach ($expenses as $id => $data): ?>
                                        <tr>
<?php if ($data['alt_date'] == '0000-00-00 00:00:00'): ?>
											<td><?=substr($data['created_date'], 0, 11)?></td>
<?php else: ?>
											<td><?=substr($data['alt_date'], 0, 11)?></td>
<?php endif; ?>
                                            <td><?=$data['title']?></td>
                                            <td>
                                            	$<a href="#" id="expense<?=$id?>" data-type="text" data-pk="1" data-title="Enter username" class="editable editable-click"><?=$data['amount']?></a>
                                            </td>
                                        </tr>
<?php endforeach; ?>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					 -->
				</div>
			</div>
		</div>	
	</div>
</div>
</div>

		<script type="text/javascript">
			$(function() {
<?php foreach ($merchants as $id => $data): ?>
				$('#card_tax<?=$id?>').editable({
					validate: function(value) {
						$.ajax({
							url: "<?=$company_info['nav_path']?>updatePNLAction",
							type: 'post',
							dataType: 'html',
							data: {
								type: 'card_tax',
								card_tax: value,
								credit_merchant_id: <?=$id?>
							},
							async: false,
							success: function(data) {
								if (data == 1) {
									console.log('Success');
								} else {
									alert(data);
								}
							},
							error: function(data) {
								console.log(data['responseText']);
							}
						});
					},
					mode: 'inline'
				});
<?php endforeach; ?>

<?php foreach ($merchants as $id => $data): ?>
				$('#expense<?=$id?>').editable({
					validate: function(value) {
						$.ajax({
							url: "<?=$company_info['nav_path']?>updatePNLAction",
							type: 'post',
							dataType: 'html',
							data: {
								type: 'expense',
								amount: value,
								expense_id: <?=$id?>
							},
							async: false,
							success: function(data) {
								if (data == 1) {
									console.log('Success');
								} else {
									alert(data);
								}
							},
							error: function(data) {
								console.log(data['responseText']);
							}
						});
					},
					mode: 'inline'
				});
<?php endforeach; ?>
			});
		</script>

		<script>
			var table =  $('#main_table').DataTable( {
				columnDefs: [
				{
					className: 'mdl-data-table__cell--non-numeric'
				}],
				lengthMenu: [10, 15, 20, 25, 50, 100],
				
				pageLength: 50,
				order: [[ 6, "desc" ]]
			});

			

			$('#main_table').dataTable().api();
			
			jQuery.fn.dataTable.Api.register( 'sum()', function ( ) {
				return this.flatten().reduce( function ( a, b ) {
					if ( typeof a === 'string' ) {
						a = a.replace(/[^\d.-]/g, '') * 1;
					}
					if ( typeof b === 'string' ) {
						b = b.replace(/[^\d.-]/g, '') * 1;
					}
					
					return a + b;
				}, 0 );
			} );

			$('input[name="target_date"]').daterangepicker();

			$( ".applyBtn" ).click(function() {
				setTimeout(function () {
					search();
				}, 250);
			});

			function search () {
				window.location.href = '<?=$company_info['nav_path']?>sales?filter=' + document.getElementById('target_date').value;
			}

			function downloadCSV () {
				$.ajax({
					url: "<?=$company_info['nav_path']?>transactionReportDownloadAction",
					type: 'post',
					dataType: 'html',
					data: {
						filter: <?=$filter?>
					},
					async: false,
					success: function(data) {
						if (data == 1) {
							swal({   
								title: "Mission Accomplished",   
								text: 'CSV downloaded.',
								type: "success",    
								confirmButtonColor: "#15A59B",   
								confirmButtonText: "OK!",   
								closeOnConfirm: true 
								}, 
								function(){   
	
								});
						} else {
							alert(data);
						}
					} 
				});
			}


		</script>
		
		<style>
			.filter-btn {
				background-color: #7460EE; 
				margin-right: 25px;
			}
		</style>


		