		


		<div class="page-wrapper">
			<div class="container-fluid">
				<div class="row page-titles">
					<div class="col-md-6 col-8 align-self-center">
						<h3 class="text-themecolor m-b-0 m-t-0">Promotions</h3>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
							<li class="breadcrumb-item active" style="font-weight: bold;">Promotions Main</li>
						</ol>

					</div>
					<div class="col-md-6 col-4 align-self-center">
						<button class="right-side-toggle waves-effect waves-light btn-info btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>

					</div>
				</div>


				<div class="card card-outline-info">
					<div class="card-header" style="padding-bottom: 0; margin-bottom: 15px; border-radius: 3px 3px 0 0;">
						<h2 class="card-title text-white" style="float: left;"><span style="font-weight: bold;">Active Promotions - Click a row to issue promotions	</span></h2>
					</div>
					<div class="card-body" style="padding: 0 10px 10px 10px;">
						<?php if (count($promotion_types) == 0): ?>
					<div>There are no reviews for this product yet.</div>
<?php else: ?>
					<div class="table-responsive">
						<table id="main_table" class="table table-hover table-striped">
							<thead>
								<tr>
									<th>ID</th>
									<th style="cursor: pointer; white-space: nowrap;">Name</th>
									<th style="cursor: pointer; white-space: nowrap;">Discount %</th>
									<th style="cursor: pointer; white-space: nowrap;">Discount $</th>
									<th style="cursor: pointer; white-space: nowrap;">Membership</th>								
								</tr>
							</thead>
							<tfoot>
								<tr>
									<th>ID</th>
									<th style="cursor: pointer; white-space: nowrap;">Name</th>
									<th style="cursor: pointer; white-space: nowrap;">Discount %</th>
									<th style="cursor: pointer; white-space: nowrap;">Discount $</th>
									<th style="cursor: pointer; white-space: nowrap;">Membership</th>									
								</tr>
							</tfoot>
							<tbody>
<?php foreach ($promotion_types as $id => $data): ?>
								<tr style="height: 50px; cursor: pointer;" onclick="javascript: window.location.href='<?=$company_info['nav_path']?>issue-promotion?id=<?=$id?>'">
									<td style="line-height: 50px;"><?=$id?></td>
									<td style="line-height: 50px;"><?=$data['name']?></td>
<?php if ($data['discount_percent'] == 0): ?>
									<td style="padding-left: 30px; line-height: 50px;">-</td>
<?php else: ?>
									<td style="padding-left: 30px; line-height: 50px;"><?=$data['discount_percent']?>%</td>
<?php endif; ?>
<?php if ($data['discount_dollars'] == 0): ?>
									<td style="padding-left: 30px; line-height: 50px;">-</td>
<?php else: ?>
									<td style="padding-left: 30px; line-height: 50px;"><?=$data['discount_dollars']?>%</td>
<?php endif; ?>
									<td style="padding-left: 30px; line-height: 50px;"><?=$memberships[$data['membership']]?></td>
								</tr>
<?php endforeach; ?>
							</tbody>
						</table>
					</div>

<?php endif; ?>
					</div>
				</div>
			</div>
		</div>


		<script>
			$(document).ready(function() {
				"use strict";

				$('#main_table').DataTable( {
					columnDefs: [
					{
						className: 'mdl-data-table__cell--non-numeric'
					}],
					lengthMenu: [10, 15, 20, 25, 50, 100],
					
					pageLength: 50,
					order: [[ 0, "desc" ]]
				});

			});

		</script>
