		<link rel="stylesheet" href="../../../css/grid.css" />
		
		<h1 class="page-header">
			Individual Product Sales
			<button style="float: right; font-size: 60%;" onclick="javascript: window.location.href='<?=$company_info['nav_path']?>new-sale'">New Sale +</button>
			<button style="float: right; font-size: 60%; margin-right: 50px;" onclick="javascript: window.open('<?=$company_info['nav_path']?>salesReportDownloadAction?filter=<?=$filter?>', '_blank');">Download CSV</button>
		</h1>
			
		<style>
		  .selected {
		  	background-color: #4CB1CF;
		  	color: white;
		  	cursor: auto;
		  }
		</style>
		
		<div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 25px;">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="row">
						<div class="4u 12u(s)">
<?php if ($filter == 1) :?>
							<button class="selected" style="font-size: 125%;" onclick="javascript: window.location.href='<?=$company_info['nav_path']?>sales-report'">48 Hours</button>
<?php else: ?>		
        					<button style="font-size: 125%;" onclick="javascript: window.location.href='<?=$company_info['nav_path']?>sales-report'">48 Hours</button>
<?php endif; ?>
<?php if ($filter == 2) :?>
        					<button class="selected" style="font-size: 125%;" onclick="javascript: window.location.href='<?=$company_info['nav_path']?>sales-report?filter=2'">Week</button>
<?php else: ?>		
        					<button style="font-size: 125%;" onclick="javascript: window.location.href='<?=$company_info['nav_path']?>sales-report?filter=2'">Week</button>
<?php endif; ?>	
<?php if ($filter == 3) :?>
        					<button class="selected" style="font-size: 125%;" onclick="javascript: window.location.href='<?=$company_info['nav_path']?>sales-report?filter=3'">Month</button>
<?php else: ?>		
        					<button style="font-size: 125%;" onclick="javascript: window.location.href='<?=$company_info['nav_path']?>sales-report?filter=3'">Month</button>
<?php endif; ?>	
<?php if ($filter == 4) :?>
        					<button class="selected" style="font-size: 125%;" onclick="javascript: window.location.href='<?=$company_info['nav_path']?>sales-report?filter=4'">Year</button>
<?php else: ?>		
        					<button style="font-size: 125%;" onclick="javascript: window.location.href='<?=$company_info['nav_path']?>sales-report?filter=4'">Year</button>
<?php endif; ?>	
						</div>
						<div class="8u 12u(s)">
<?php if ($filter > 4) :?>
							<div class="input-group date" data-provide="datepicker" style="background-color: #4CB1CF; padding: 5px; margin-top: -5px;">
<?php else: ?>		
							<div class="input-group date" data-provide="datepicker" style="padding: 5px; margin-top: -5px;">
<?php endif; ?>	
								Look-Up Date 
								<span style="position: relative;">
<?php if ($filter > 4) :?>
    								<input id="target_date" name="target_date" type="text" style="width: 300px; border-radius-right: 0 !important;" value="<?=$filter?>">
<?php else: ?>		
    								<input id="target_date" name="target_date" type="text" style="width: 300px; border-radius-right: 0 !important;">
<?php endif; ?>	
    								<div class="input-group-addon" style="display: none;">
    								</div>
								</span>
							</div>
						</div>
					</div>
				</div> 
				
				<script>
					$('input[name="target_date"]').daterangepicker();
				</script>
				
				<div class="row">
					<div class="1u">
						<div>
							&nbsp;
						</div>
					</div>
					<div class="2u">
						<div>
							# OF TRANSACTIONS: <span style="font-weight: bold; font-size: 125%;"><?=$transaction_count?></span>
						</div>
					</div>
					<div class="1u">
						<div>
							&nbsp;
						</div>
					</div>
					<div class="2u">
						<div>
							# OF PRODUCTS SOLD: <span style="font-weight: bold; font-size: 125%;"><?=count($sales)?></span>
						</div>
					</div>
					<div class="1u">
						<div>
							&nbsp;
						</div>
					</div>
					<div class="1u">
						<div>
							&nbsp;
						</div>
					</div>
					<div class="2u">
						<div>
							TOTAL: <span style="font-weight: bold; font-size: 125%;">$<?=$sales_total?></span>
						</div>
					</div>
					<div class="1u">
						<div>
							&nbsp;
						</div>
					</div>
					<div class="1u">
						<div>
							&nbsp;
						</div>
					</div>
				</div>
				<hr style="margin-bottom: 5px;">
				<div class="panel-body">
<?php if (count($sales) > 0):?>
					<div class="table-responsive">
						<table id="main_table" class="table table-hover">
							<thead>
								<tr>
									<th>Sale ID</th>
									<th style="cursor: pointer; white-space: nowrap;">First Name</th>
									<th style="cursor: pointer; white-space: nowrap;">Last Name</th>
									<th style="cursor: pointer; white-space: nowrap;">Email</th>
									<th style="cursor: pointer; white-space: nowrap;">Product</th>
									<th style="cursor: pointer; white-space: nowrap;">Price</th>
									<th style="cursor: pointer; white-space: nowrap;">Quantity</th>
									<th style="cursor: pointer; white-space: nowrap;">Unit</th>
									<th style="width: 100px; cursor: pointer; white-space: nowrap;">Order Time</th>		
									<th style="width: 60px; cursor: pointer; white-space: nowrap;">Transaction ID</th>							
								</tr>
							</thead>
							<tfoot>
								<tr>
									<th>Sale ID</th>
									<th style="cursor: pointer; white-space: nowrap;">First Name</th>
									<th style="cursor: pointer; white-space: nowrap;">Last Name</th>
									<th style="cursor: pointer; white-space: nowrap;">Email</th>
									<th style="cursor: pointer; white-space: nowrap;">Product</th>
									<th style="cursor: pointer; white-space: nowrap;">Price</th>
									<th style="cursor: pointer; white-space: nowrap;">Quantity</th>
									<th style="cursor: pointer; white-space: nowrap;">Unit</th>
									<th style="width: 100px; cursor: pointer; white-space: nowrap;">Order Time</th>	
									<th style="width: 60px; cursor: pointer; white-space: nowrap;">Transaction ID</th>									
								</tr>
							</tfoot>
							<tbody>
<?php foreach ($sales as $id => $data): ?>
									<tr>
										<td><?=$id?></td>
										<td><a href="<?=$company_info['nav_path']?>edit-user?user_id=<?=$data['user_id']?>"><?=$users[$data['user_id']]['first_name']?></a></td>
										<td><a href="<?=$company_info['nav_path']?>edit-user?user_id=<?=$data['user_id']?>"><?=$users[$data['user_id']]['last_name']?></a></td>
										<td><?=$users[$data['user_id']]['email']?></td>
<?php if ($data['transaction_id'] < 390): ?>
<?php if (isset($product_archive[$data['product_id']]) && isset($product_archive[$product_archive[$data['product_id']]['parent_id']])): ?>
										<td>
											<?=$product_archive[$product_archive[$data['product_id']]['parent_id']]['name']?> (<?=$product_archive[$data['product_id']]['name']?>)
										</td>
										<td>$<?=$product_archive[$data['product_id']]['price']?></td>
<?php else: ?>
										<td>
											DELETED PRODUCT (id=<?=$data['product_id']?>)
										</td>
										<td>$$$</td>
<?php endif; ?>
<?php else: ?>
										<td>
											<?=$products[$data['product_id']]['name']?> - 
											<?=$product_sizes[$data['product_size_id']]['name']?>
										</td>
										<td>$<?=$product_sizes[$data['product_size_id']]['price']?></td>
<?php endif; ?>
<?php if ($data['transaction_id'] < 390): ?>
										<td><?=$product_archive[$data['product_id']]['units_total']?></td>
										<td><?=$product_archive[$data['product_id']]['unit_name']?></td>
<?php else: ?>
										<td><?=$product_sizes[$data['product_size_id']]['units']?></td>
										<td><?=$products[$data['product_id']]['unit_name']?></td>
<?php endif; ?>
										
										<td><?=$data['created_date']?></td>
										<td style="text-align: right;"><?=$data['transaction_id']?></td>
									</tr>
<?php endforeach; ?>
							</tbody>
						</table>
					</div>
<?php else: ?>
					<div>There are currently no sales to display</div>
<?php endif; ?>
				</div>
			</div>
		</div>
		
		<script>
			$('#main_table').DataTable( {
				columnDefs: [
				{
					className: 'mdl-data-table__cell--non-numeric'
				}],
				lengthMenu: [10, 15, 20, 25, 50, 100],
				
				pageLength: 100,
				order: [[ 8, "desc" ]]
			});

			$( ".applyBtn" ).click(function() {
				setTimeout(function () {
					search();
				}, 200);
			});
		
		</script>
		
		<script>


		function search () {
			window.location.href = '<?=$company_info['nav_path']?>sales-report?filter=' + document.getElementById('target_date').value;
		}

		function downloadCSV () {
			$.ajax({
				url: "<?=$company_info['nav_path']?>salesReportDownloadAction",
				type: 'post',
				dataType: 'html',
				data: {
					filter: <?=$filter?>
				},
				async: false,
				success: function(data) {
					if (data == 1) {
						swal({   
							title: "Mission Accomplished",   
							text: 'CSV downloaded.',
							type: "success",    
							confirmButtonColor: "#15A59B",   
							confirmButtonText: "OK!",   
							closeOnConfirm: true 
							}, 
							function(){   

							});
					} else {
						alert(data);
					}
				} 
			});
		}
		</script>

		