		


		<div class="page-wrapper">
			<div class="container-fluid">
				<div class="row page-titles">
					<div class="col-md-6 col-8 align-self-center">
						<h3 class="text-themecolor m-b-0 m-t-0">Inventory</h3>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
							<li class="breadcrumb-item"><a href="<?=$company_info['nav_path']?>inventory">Inventory Main</a></li>
							<li class="breadcrumb-item active" style="font-weight: bold;">User Inventory</li>
						</ol>

					</div>
					<div class="col-md-6 col-4 align-self-center">
						<button class="right-side-toggle waves-effect waves-light btn-info btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>

					</div>
				</div>

				<!-- Row -->
				<div class="row">
					<div class="col-lg-12">
						<div class="card card-outline-info">
							<div class="card-header" style="padding-bottom: 0; margin-bottom: 15px; border-radius: 3px 3px 0 0;">
								<h2 class="card-title text-white" style="float: left;">Users - Click a row to see full inventory for user</h2>
							</div>
							<div class="card-body" style="padding: 0 10px 10px 10px;">
								<div class="table-responsive">
									<table id="user_table" class="table table-striped table-hover">
										<thead>
											<tr>
												<th>ID</th>
												<th>Name</th>
												<th>Products In Inventory</th>
												<th>Stock Transfer</th>
											</tr>
										</thead>
										<tbody>
<?php foreach ($users as $user_id => $data): ?>
											<tr style="cursor: pointer;">
												<td onclick="javascript: window.location.href='<?=$company_info['nav_path']?>view-user-inventory?user_id=<?=$user_id?>'"><?=$user_id?></td>
												<td onclick="javascript: window.location.href='<?=$company_info['nav_path']?>view-user-inventory?user_id=<?=$user_id?>'"><?=$data['first_name']?> <?=$data['last_name']?></td>
<?php if (isset($inventory[$user_id])): ?>
												<td onclick="javascript: window.location.href='<?=$company_info['nav_path']?>view-user-inventory?user_id=<?=$user_id?>'"><?=count($inventory[$user_id])?></td>
<?php else: ?>
												<td onclick="javascript: window.location.href='<?=$company_info['nav_path']?>view-user-inventory?user_id=<?=$user_id?>'" style="color: red;">0</td>
<?php endif; ?>
												<td style="padding: 0; margin: 0;">
													<div class="input-group form-group"style="margin: 0; padding: 0;">
														<span id="submit_transfer<?=$user_id?>" class="input-group-btn" style="display: none;">
								                        	<button class="btn btn-info" type="button" onclick="javascript: transfer(<?=$user_id?>);">Take All Of <?=$data['first_name']?> <?=ucfirst(substr($data['last_name'], 0, 1))?>'s Stock</button>
								                        </span>
								                        <select class="form-control custom-select" onchange="javascript: showTransfer(<?=$user_id?>);" data-placeholder="Choose a Category" tabindex="1" style="padding: 0; margin: 0; line-height: 40px; padding-left: 15px;">
<?php foreach ($holders as $id => $data2): ?>
<?php if ($id != $user_id): ?>
															<option value="<?=$id?>"><?=$data2['first_name']?> <?=$data2['last_name']?></option>
<?php endif; ?>
<?php endforeach; ?>
                                                    	</select>
		                                                    
                                                		</div>
												</td>
											</tr>
<?php endforeach; ?>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script>
			$(document).ready(function() {
				$('#user_table').DataTable( {
					columnDefs: [
					{
						className: 'mdl-data-table__cell--non-numeric'
					}],
					lengthMenu: [10, 15, 20, 25, 50, 100],
					
					pageLength: 50,
					order: [[ 0, "desc" ]]
				});

			});

			function showTransfer(user_id) {
				document.getElementById('submit_transfer' + user_id).style.display = '';
			}
		</script>
		
		