		

	
		

		<div class="page-wrapper">
			<div class="container-fluid">
				<div class="row page-titles">
					<div class="col-md-6 col-8 align-self-center">
						<h3 class="text-themecolor m-b-0 m-t-0">Inventory</h3>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
							<li class="breadcrumb-item"><a href="<?=$company_info['nav_path']?>inventory">Inventory Main</a></li>
							<li class="breadcrumb-item"><a href="<?=$company_info['nav_path']?>user-inventory">User Inventory</a></li>
							<li class="breadcrumb-item active" style="font-weight: bold;">View User Inventory</li>
						</ol>

					</div>
					<div class="col-md-6 col-4 align-self-center">

					</div>
				</div>
				
					
		
		
		

				<!-- Row -->
				<div class="row">
					<div class="col-lg-12">
						<div class="card card-outline-info">
							<div class="card-header" style="padding-bottom: 0; margin-bottom: 15px; border-radius: 3px 3px 0 0;">
								<h2 class="card-title text-white" style="float: left;"><span style="font-weight: bold;"><?=ucfirst($user['first_name'])?> <?=ucfirst($user['last_name'])?></span>'s Inventory</h2>
							</div>
							<div class="card-body" style="padding: 0 10px 10px 10px;">
								<div class="table-responsive">
<?php if (count($inventory) == 0): ?>
						This user does not currently have an inventory
<?php else: ?>
						<table id="user_table" class="table table-striped cell-border table-hover">
							<thead>
								<tr>
									<th style="width: 40px;">ID</th>
									<th style="width: 40px;">Product ID</th>
									<th>Product</th>
									<th>Vendor</th>
									<th style="width: 60px;">Stock</th>
								</tr>
							</thead>
							<tbody>
<?php foreach ($inventory as $id => $data): ?>
<?php if (isset($products[$data['product_id']])): ?>
								<tr>
									<td><?=$id?></td>
									<td><?=$data['product_id']?></td>
									<td><a href="<?=$company_info['nav_path']?>edit-product?product_id=<?=$data['product_id']?>" style="margin-left: 15px;"><?=$products[$data['product_id']]['name']?></a></td>
									<td><a href="<?=$company_info['nav_path']?>edit-vendor?vendor_id=<?=$products[$data['product_id']]['vendor_id']?>"><?=$vendors[$products[$data['product_id']]['vendor_id']]['name']?></a></td>
									<td style="padding: 0;">
										<div style="padding-left: 0; padding-right: 0;">
										
											<input id="input1<?=$id?>" type="number" step="0.1" min="0" oninput="javascript:priceUpdate(<?=$id?>);" style="width: 100px; text-align: center; height: 32px; margin-top: 1px;" value="<?=$data['quantity']?>">
										</div>
									</td>
								</tr>
<?php endif; ?>
<?php endforeach; ?>
							</tbody>
						</table>
<?php endif; ?>
					</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="change_button" style="display: none;">
			<div class="gradient change_button2" onclick="javbascript: submitChanges();">
				<div class="change_button3">SUBMIT CHANGES</div>
			</div>
		</div>
		
		<style>
			.change_button2 {
				position: fixed; bottom: 0; width: 100%; background-color: red; height: 50px; z-index: 111; padding: 5px 0; cursor: pointer;
			}
			
			.change_button3 {
				background-color: #7460EE; height: 100%; text-align: center; line-height: 40px; font-weight: bold; color: white;
			}
		</style>

		<script>
			var products = [];

			var inventory = <?php echo json_encode($inventory); ?>;

			function submitChanges () {

				$.ajax({
					url: "<?=$company_info['nav_path']?>writeUserInventory",
					type: 'post',
					dataType: 'html',
					data: {
						user_id: <?=$user['id']?>,
						products: products
					},
					async: false,
					success: function(data) {
						if (data == 1) {
							window.location.href='<?=$company_info['nav_path']?>inventory?data_move=1';
						} else {
							console.log(data);
						}
					} 
				});
			}

			function priceUpdate(inventory_id) {
				if (document.getElementById('input1' + inventory_id).value == '' || document.getElementById('input1' + inventory_id).value == inventory[inventory_id]['quantity']) {
					document.getElementById('input1' + inventory_id).backgroundColor = 'white';
				} else {

					var quantity = {quantity: document.getElementById('input1' + inventory_id).value, inventory_id: inventory_id};
					products.push(quantity);  
					
					document.getElementById('input1' + inventory_id).style.backgroundColor = '#a3e2a9';
				}

				if (products.length > 0) {
					$('.change_button').css('display', '');
				}
			}
			
			$(document).ready(function() {
				$('#user_table').DataTable( {
					columnDefs: [
					{
						className: 'mdl-data-table__cell--non-numeric'
					}],
					lengthMenu: [10, 15, 20, 25, 50, 100],
					
					pageLength: 50,
					order: [[ 0, "desc" ]]
				});

				

				$("#submit").click(function () {
					var pass = true;
					
					if (document.getElementById('quantity').value == '') {
						alert('You must enter a quantity for a user.');
						pass = false;
					}


					if (pass == true) {
						$.ajax({
							url: "<?=$company_info['nav_path']?>writeInventory",
							type: 'post',
							dataType: 'html',
							data: {
								inventory_id: 1,
								product_id: 1,
								quantity: document.getElementById('quantity').value
							},
							async: false,
							success: function(data) {
								if (data == 1) {
									alert('Inventory data updated!');
									window.location.replace('<?=$company_info['nav_path']?>inventory');
								} else {
									alert(data);
								}
							} 
						});
					}
				});


			});

			
		</script>
		
		