


		<div class="page-wrapper">
			<div class="container-fluid">
				<div class="row page-titles">
					<div class="col-md-6 col-8 align-self-center">
						<h3 class="text-themecolor m-b-0 m-t-0">Sales</h3>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/admin">Home</a></li>
							<li class="breadcrumb-item"><a href="<?=$company_info['nav_path']?>sales">Sales Main</a></li>
							<li class="breadcrumb-item active"><span style="font-weight: bold;">View Transaction</span></li>
						</ol>
					</div>
					<div class="col-md-6 col-4 align-self-center">

					</div>
				</div>

						<div class="card card-outline-info">
							<div class="card-header" style="padding-bottom: 0; margin-bottom: 15px; border-radius: 3px 3px 0 0;">
								<h2 class="card-title text-white" style="float: left;">Transaction Overview</h2>	
								<button class="btn btn-info" style="float: right; background-color: #7460EE;" onclick="javascript: confirmDelete();">Delete Order <span class="fa fa-exclamation-triangle"></span></button>
								<button class="btn btn-info" style="float: right; background-color: #7460EE; margin-right: 15px;" onclick="javascript: window.location.href = '<?=$company_info['nav_path']?>edit-transaction?transaction_id=<?=$transaction['id']?>'">Edit Order <span class="fa fa-pencil"></span></button>
								<button class="btn btn-info" style="float: right; background-color: #7460EE; margin-right: 15px;" onclick="javascript: sendInvoice();">Send Invoice <span class="fa fa-mail"></span></button>
								<a href="<?=$company_info['nav_path']?>invoice?transaction_id=<?=$transaction['id']?>" download="invoice<?=$transaction['id']?>" class="btn btn-info" style="float: right; background-color: #7460EE; margin-right: 15px;">Download Invoice <span class="fa fa-mail"></span></a>
								<a href="<?=$company_info['nav_path']?>invoice?transaction_id=<?=$transaction['id']?>" target="_blank" class="btn btn-info" style="float: right; background-color: #7460EE; margin-right: 15px;">View Invoice <span class="fa fa-mail"></span></a>
							</div>
							<div class="card-block">
<?php if ($transaction['pending'] == 1): ?>
						<div style="font-weight: bold; font-size: 125%; color: #F62D51; width: 100%; text-align: center;">
							<i class="fa fa-warning"></i> This transaction is pending and has NOT been registered yet. <i class="fa fa-warning"></i>
							<br>
							<div class="btn btn-info" style="background-color: #F62D51;" onclick="javascript: submitPending();">MARK TRANSACTION PAID IN FULL</div>
							- OR - 
							<div class="btn btn-info" style="background-color: #F62D51; padding: 0; margin: 0; position: relative;">
								<div class="input-group" style="margin: 0;">
									<span class="input-group-addon">$</span>
<?php if ($transaction['alt_cost'] > 0): ?>
									<input id="partial_payment" type="number" max="<?=$transaction['alt_cost']?>" class="form-control">
<?php else: ?>
									<input id="partial_payment" type="number" max="<?=$transaction['cost']?>" class="form-control">
<?php endif; ?>
									<span class="input-group-btn">
										<button class="btn btn-info" type="button" style="background-color: #F62D51;" onclick="javascript: submitRemainingBalance();">SUBMIT PARTIAL PAYMENT</button>
									</span>
								</div>
								
							</div>
							<hr>
				
						</div>
						<br>
<?php endif; ?>
								<div class="row" style="margin: 0 0 10px 5px; width: 100%; font-size: 160%;">
								
<?php if ($transaction['remaining_balance'] > 0): ?>
									<div class="col-lg-6" style="margin-bottom: 45px; text-align: center;">
<?php if ($transaction['alt_cost'] > 0): ?>
										<label>Transaction Total: <span style="font-size: 75%; color: red;">(Altered)</span></label><br>
										<span style="margin-left: 15px; color: red; font-weight: bold; border: 2px solid #57697D; padding: 10px; border-radius: 2px;">$<?=$transaction['alt_cost']?></span>
<?php else: ?>
										<label>Transaction Total: </label><br>
										<span style="margin-left: 15px; font-weight: bold;">$<?=$transaction['cost']?></span>
<?php endif; ?>			
									</div>
									
									<div class="col-lg-4" style="margin-bottom: 45px; text-align: center;">
										<label>Remaining Balance:</label><br>
										<span style="margin-left: 15px; color: red; font-weight: bold; border: 2px solid #57697D; padding: 10px; border-radius: 2px;">$<?=$transaction['remaining_balance']?></span>
									</div>
									
<?php else: ?>
									<div class="col-lg-12" style="margin-bottom: 45px; text-align: center;">
<?php if ($transaction['alt_cost'] > 0): ?>
										<label>Transaction Total: <span style="font-size: 75%; color: red;">(Altered)</span></label><br>
										<span style="margin-left: 15px; color: red; font-weight: bold; border: 2px solid #57697D; padding: 10px; border-radius: 2px;">$<?=$transaction['alt_cost']?></span>
<?php else: ?>
										<label>Transaction Total: </label><br>
										<span style="margin-left: 15px; font-weight: bold;">$<?=$transaction['cost']?></span>
<?php endif; ?>			
									</div>
<?php endif; ?>
									
									
									
<?php if ($user['id'] != $company_info['general_user_id']): ?>
									<div class="col-lg-6 col-sm-12" style="margin-bottom: 35px;">
										<label>Client Name: </label><br>
										<span style="margin-left: 15px; font-weight: bold;"><?=$user['first_name']?> <?=$user['last_name']?></span>
										<hr>
									</div>
									<div class="col-lg-6 col-sm-12" style="margin-bottom: 35px;">
										<label>Client Phone Number: </label><br>
										<span style="margin-left: 15px; font-weight: bold;"><a href="tel:<?=$user['phone']?>"><?=$user['phone']?></a></span>
										<hr>
									</div>
									<div class="col-lg-6 col-sm-12" style="margin-bottom: 35px;">
										<label>Client Address: </label><br>
										<span style="margin-left: 15px; font-weight: bold;"><?=$user['address']?>, <?=$user['city']?>, <?=$user['zip']?></span>
										<hr>
									</div>
<?php endif; ?>
									<div class="col-lg-6 col-sm-12" style="margin-bottom: 35px;">
										
<?php if ($transaction['changed_date'] == '0000-00-00 00:00:00'): ?>
<?php $string1 = explode(' ', $transaction['created_date']); ?>
<?php $changed = 0; ?>
<?php else: ?>
<?php $string1 = explode(' ', $transaction['changed_date']); ?>
<?php $changed = 1; ?>
<?php endif; ?>

<?php $string2 = explode(':', $string1[1]); ?>
<?php date_default_timezone_set('America/Los_Angeles'); ?>
<?php $time = date("g:i a", strtotime($string2[0] . ':' . $string2[1])); ?>
<?php if ($changed == 1): ?>
										<label>Order Time: <span style="font-size: 75%; color: red;">(Altered)</span></label><br>
										<span style="margin-left: 15px; color: red; font-weight: bold;"><span style="margin-right: 25px;"><?=$time?></span>  <i class="fa fa-calendar fa-fw"></i><?=$string1[0]?></span>
<?php else: ?>
										<label>Order Time:</label><br>
										<span style="margin-left: 15px; font-weight: bold;"><span style="margin-right: 25px;"><?=$time?></span>  <i class="fa fa-calendar fa-fw"></i><?=$string1[0]?></span>
<?php endif; ?>
										<hr>
									</div>
									<div class="col-lg-3 col-sm-6" style="margin-bottom: 35px;">
										<label>Payment Type: </label><br>
										<span style="margin-left: 15px; font-weight: bold;"><?=$transaction['payment_type']?></span>
										<hr>
									</div>
<?php if ($transaction['sale_by'] > 0): ?>
									<div class="col-lg-3 col-sm-6" style="margin-bottom: 35px;">
										<label>Sale Made By: </label><br>
										<span style="margin-left: 15px; font-weight: bold;"><?=$users[$transaction['sale_by']]['first_name']?> <?=$users[$transaction['sale_by']]['last_name']?></span>
										<hr>
									</div>
<?php endif; ?>
									<div class="col-lg-6 col-sm-12" style="margin-bottom: 35px;">
										<label>Delivery Notes: </label><br>
<?php if ($transaction['notes'] == ''): ?>
										<span style="margin-left: 15px; font-weight: bold;">- N/A -</span>
<?php else: ?>
										<span style="margin-left: 15px; font-weight: bold;"><?=$transaction['notes']?></span>
<?php endif; ?>
										<hr>
									</div>
									<div class="col-lg-12">
										<label>Order Contents: </label><br>
<?php $count = 1;?>
<?php foreach($sales as $id => $data): ?>
										<div style="margin-left: 15px; margin-top: 3px; font-weight: bold;"><?=$count?>) <b><?=$all_products[$data['product_id']]['name']?></b> - <?=$product_sizes[$data['product_size_id']]['name']?> x <?=$data['quantity']?></div>
<?php $count++; ?>
<?php endforeach; ?>
									</div>
								</div>
							</div>
						</div>
					</div>	
				</div>

			<script> 
				// using JQUERY's ready method to know when all dom elements are rendered
				$( document ).ready(function () {
<?php if ($transaction_id > 0): ?>
					$("#accept_order").click(function () {
						$.ajax({
							url: "<?=$company_info['nav_path']?>accept-order",
							type: 'post',
							dataType: 'html',
							data: {
								transaction_id: <?=$transaction['id']?>
							},
							async: false,
							success: function(data) {
								if (data == 1) {
									swal({   
										title: "Order Acccepted!",   
										text: 'You have now reserved this delivery. Please contact us if any issues arise.',
										type: "success",    
										confirmButtonColor: "#15A59B",   
										confirmButtonText: "OK!",   
										}).then(function(){   
											window.location.replace('<?=$company_info['nav_path']?>deliveries');
										});
								} else {
									alert('An error has occurred.');
									console.log(data);
								}
							} 
						});
					});

					$("#complete_order").click(function () {
						$.ajax({
							url: "<?=$company_info['nav_path']?>complete-order",
							type: 'post',
							dataType: 'html',
							data: {
								transaction_id: <?=$transaction['id']?>
							},
							async: false,
							success: function(data) {
								if (data == 1) {
									swal({
										title: 'Order Delivered!',
										text: "This order will now be marked as complete.",
										type: 'success',
										showCancelButton: false,
										confirmButtonColor: '#3085d6',
										confirmButtonText: 'OK!'
									}).then(function () {
										window.location.replace('<?=$company_info['nav_path']?>deliveries');
									});
									
								} else {
									alert('An error has occurred.');
									console.log(data);
								}
							} 
						});
					});
<?php endif; ?>
				});
				
				function confirmDelete() {
					swal({
						title: 'Delete Order?',
						text: "Are you sure you want to delete this transaction?",
						type: 'warning',
						showCancelButton: true,
						confirmButtonColor: '#3085d6',
						cancelButtonColor: '#d33',
						confirmButtonText: 'Yes, delete it!'
					}).then(function () {
						$.ajax({
							url: "<?=$company_info['nav_path']?>deleteTransaction",
							type: 'post',
							dataType: 'html',
							data: {
								transaction_id: <?=$transaction['id']?>
							},
							async: false,
							success: function(data) {
								if (data == 1) {
									swal({
										title: 'Transaction Deleted!',
										text: "You will now be taken back to the sales page.",
										type: 'success',
										showCancelButton: false,
										confirmButtonColor: '#3085d6',
										confirmButtonText: 'OK!'
									}).then(function () {
										window.location.replace('<?=$company_info['nav_path']?>sales');
									});
									
								} else {
									alert('An error has occurred.');
									console.log(data);
								}
							} 
						});
					});
		
				} 

				function sendInvoice() {
					swal({
						title: 'Send Invoice',
						text: "Are you sure you want to send this user this invoice?",
						type: 'warning',
						showCancelButton: true,
						confirmButtonColor: '#3085d6',
						cancelButtonColor: '#d33',
						confirmButtonText: 'Yes!'
					}).then(function () {
						$.ajax({
							url: "<?=$company_info['nav_path']?>sendInvoiceAction",
							type: 'post',
							dataType: 'html',
							data: {
								transaction_id: <?=$transaction['id']?>
							},
							async: false,
							success: function(data) {
								if (data == 1) {
									swal({
										title: 'Invoice Sent!',
										text: "You will now be taken back to the sales page.",
										type: 'success',
										showCancelButton: false,
										confirmButtonColor: '#3085d6',
										confirmButtonText: 'OK!'
									}).then(function () {
										window.location.replace('<?=$company_info['nav_path']?>sales');
									});
									
								} else {
									alert('An error has occurred.');
									console.log(data);
								}
							},
							error: function (data) {
								console.log(data['responseText']);
							}
						});
					});
		
				} 

				function submitPending() {
					swal({
						title: 'Submit Pending Order?',
						text: "Submitting will act as though the sale is taking place now. Continue?",
						type: 'warning',
						showCancelButton: true,
						confirmButtonColor: '#3085d6',
						cancelButtonColor: '#d33',
						confirmButtonText: 'Yes!'
					}).then(function () {
						$.ajax({
							url: "<?=$company_info['nav_path']?>changePendingAction",
							type: 'post',
							dataType: 'html',
							data: {
								transaction_id: <?=$transaction['id']?>
							},
							async: false,
							success: function(data) {
								if (data == 1) {
									window.location.href='/admin/view-transaction?transaction_id=<?=$transaction['id']?>';
								} else {
									alert('An error has occurred.');
									console.log(data);
								}
							},
							error: function (data) {
								console.log(data['responseText']);
							}
						});
					});
				}

				function submitRemainingBalance() {
					
						$.ajax({
							url: "<?=$company_info['nav_path']?>changeRemainingBalanceAction",
							type: 'post',
							dataType: 'html',
							data: {
								transaction_id: <?=$transaction['id']?>,
								partial_payment: document.getElementById('partial_payment').value
							},
							async: false,
							success: function(data) {
								if (data == 1) {
									window.location.href='/admin/view-transaction?transaction_id=<?=$transaction['id']?>';
								} else {
									alert('An error has occurred.');
									console.log(data);
								}
							},
							error: function (data) {
								console.log(data['responseText']);
							}
						});
				}

			</script>

			