


		<div class="page-wrapper">
			<div class="container-fluid">
				<div class="row page-titles">
					<div class="col-md-6 col-8 align-self-center">
						<h3 class="text-themecolor m-b-0 m-t-0">Sales</h3>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/admin">Home</a></li>
							<li class="breadcrumb-item active">View/Edit Sale</li>
						</ol>
					</div>
					<div class="col-md-6 col-4 align-self-center">
						<button class="right-side-toggle waves-effect waves-light btn-info btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
					</div>
				</div>

						<div class="card card-outline-info">
							<div class="card-header" style="padding-bottom: 0; margin-bottom: 15px; border-radius: 3px 3px 0 0;">
								<h2 class="card-title text-white" style="float: left;">Transaction Overview</h2>								
								<button class="btn btn-info" style="float: right; background-color: #7460EE;" onclick="javascript: confirmDelete();">Delete Order <span class="fa fa-exclamation-triangle"></span></button>
								<button class="btn btn-info" style="float: right; background-color: #7460EE; margin-right: 15px;" onclick="javascript: window.location.href = '<?=$company_info['nav_path']?>edit-sale?sale_id=<?=$sale['id']?>'">Edit Order <span class="fa fa-pencil"></span></button>
							</div>
							<div class="card-block">
								<div class="row" style="margin: 0 0 10px 5px; width: 100%; font-size: 160%;">
									
									<div class="4u 6u(xl) 12u(s)" style="margin-bottom: 35px;">
										<label>Patient Name: </label><br>
										<span style="margin-left: 15px;"><?=$user['first_name']?> <?=$user['last_name']?></span>
										<hr>
									</div>
									<div class="4u 6u(xl) 12u(s)" style="margin-bottom: 35px;">
										<label>Patient Phone Number: </label><br>
										<span style="margin-left: 15px;"><a href="tel:<?=$user['phone']?>"><?=$user['phone']?></a></span>
										<hr>
									</div>
									<div class="4u 6u(xl) 12u(s)" style="margin-bottom: 35px;">
										<label>Patient Address: </label><br>
										<span style="margin-left: 15px;"><?=$user['address']?>, <?=$user['city']?>, <?=$user['zip']?></span>
										<hr>
									</div>
									<div class="4u 6u(xl) 12u(s)" style="margin-bottom: 35px;">
										<label>Order Time: </label><br>
<?php if ($sale['changed_date'] == '0000-00-00 00:00:00'): ?>
<?php $string1 = explode(' ', $sale['created_date']); ?>
<?php else: ?>
<?php $string1 = explode(' ', $sale['changed_date']); ?>
<?php endif; ?>

<?php $string2 = explode(':', $string1[1]); ?>
<?php date_default_timezone_set('America/Los_Angeles'); ?>
<?php $time = date("g:i a", strtotime($string2[0] . ':' . $string2[1])); ?>
										<span style="margin-left: 15px;"><span style="margin-right: 25px; font-weight: bold;"><?=$time?></span>  <i class="fa fa-calendar fa-fw"></i><?=$string1[0]?></span>
										<hr>
									</div>
									<div class="4u 6u(xl) 12u(s)" style="margin-bottom: 35px;">
										<label>Amount Due: </label><br>
<?php if ($transaction['alt_cost'] > 0): ?>
										<span style="margin-left: 15px; color: red;">$<?=$transaction['alt_cost']?> <span style="font-size: 50%;">Altered Cost</span></span>
<?php else: ?>
										<span style="margin-left: 15px;">$<?=$transaction['cost']?></span>
<?php endif; ?>			
										<hr>
									</div>
									<div class="4u 6u(xl) 12u(s)" style="margin-bottom: 50px;">
										<label>Order Contents: </label><br>
<?php $count = 1;?>
<?php foreach($products as $id => $data): ?>
										<div style="margin-left: 15px; margin-top: 3px;"><?=$count?>) <b><?=$data['name']?></b> - <?=$data['size']['name']?></div>
<?php $count++; ?>
<?php endforeach; ?>
										<hr>
									</div>
								</div>
							</div>
						</div>
					</div>	
				</div>

			<script> 
				// using JQUERY's ready method to know when all dom elements are rendered
				$( document ).ready(function () {
<?php if ($transaction_id > 0): ?>
					$("#accept_order").click(function () {
						$.ajax({
							url: "<?=$company_info['nav_path']?>accept-order",
							type: 'post',
							dataType: 'html',
							data: {
								transaction_id: <?=$transaction['id']?>
							},
							async: false,
							success: function(data) {
								if (data == 1) {
									swal({   
										title: "Order Acccepted!",   
										text: 'You have now reserved this delivery. Please contact us if any issues arise.',
										type: "success",    
										confirmButtonColor: "#15A59B",   
										confirmButtonText: "OK!",   
										closeOnConfirm: false 
										}, 
										function(){   
											window.location.replace('<?=$company_info['nav_path']?>deliveries');
										});
								} else {
									alert(data);
								}
							} 
						});
					});

					$("#complete_order").click(function () {
						$.ajax({
							url: "<?=$company_info['nav_path']?>complete-order",
							type: 'post',
							dataType: 'html',
							data: {
								transaction_id: <?=$transaction['id']?>
							},
							async: false,
							success: function(data) {
								if (data == 1) {
									swal({   
										title: "Order Delivered!",   
										text: 'This order will now be marked as complete.',
										type: "success",    
										confirmButtonColor: "#15A59B",   
										confirmButtonText: "OK!",   
										closeOnConfirm: false 
										}, 
										function(){   
											window.location.replace('<?=$company_info['nav_path']?>deliveries');
										});
								} else {
									alert(data);
								}
							} 
						});
					});
<?php endif; ?>
				});
				
				function confirmDelete() {
					swal({   
						title: "Delete Order?",   
						text: 'Are you sure you want to delete this sale?',
						type: "warning",    
						confirmButtonColor: "#15A59B",   
						confirmButtonText: "Delete!",
						cancelButtonText: "Cancel", 
						closeOnConfirm: false 
						}, 
						function(){   
							$.ajax({
								url: "<?=$company_info['nav_path']?>deleteSale",
								type: 'post',
								dataType: 'html',
								data: {
									sale_id: <?=$sale['id']?>
								},
								async: false,
								success: function(data) {
									if (data == 1) {
										swal({   
											title: "Sale Deleted!",   
											text: 'You will now be taken back to the sales page.',
											type: "success",    
											confirmButtonColor: "#15A59B",   
											confirmButtonText: "OK!",   
											closeOnConfirm: false 
											}, 
											function(){   
												window.location.replace('<?=$company_info['nav_path']?>sales');
											});
									} else {
										alert(data);
									}
								} 
							});
						});
					
				} 

			</script>

			