		


		<div class="page-wrapper">
			<div class="container-fluid">
				<div class="row page-titles">
					<div class="col-md-6 col-8 align-self-center">
						<h3 class="text-themecolor m-b-0 m-t-0">Vendors</h3>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
							<li class="breadcrumb-item active" style="font-weight: bold; text-decoration: underline;">Edit Vendor</li>
						</ol>

					</div>
					<div class="col-md-6 col-4 align-self-center">
						<button class="right-side-toggle waves-effect waves-light btn-info btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>

					</div>
				</div>

				<!-- Row -->
				<div class="row">
					<div class="col-lg-12">
						<div class="card card-outline-info">
							<div class="card-header" style="padding-bottom: 0; margin-bottom: 15px; border-radius: 3px 3px 0 0;">
								<h2 class="card-title text-white" style="float: left;"><span style="font-weight: bold;">Vendor List - Click a row to edit</span></h2>
							</div>
							<div class="card-body" style="padding: 0 10px 10px 10px;">
								<div class="table-responsive">
									<table id="vendor_table" class="table table-hover">
										
										<thead>
											<tr>
												<th>ID</th>
												<th>Created Date</th>
												<th>Name</th>
												<th>Thumb</th>
											</tr>
										</thead>
										<tbody>
<?php foreach ($vendor as $id => $data): ?>
											<tr style="cursor: pointer;" onclick="submitPage(<?=$id?>);">
												<td><?=$id?></td>
												<td><?=$data['created_date']?></td>
												<td><?=$data['name']?></td>
						
												<td>
													<div class="box_pic" style="width: 105px; height: 75px; background-image: url('<?=$company_info['upload_path']?><?=trim($data['attachment_file_name'])?>');">&nbsp;</div>
												</td>
											</tr>
<?php endforeach; ?>
										</tbody>	
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<script>
			$(document).ready(function() {
				"use strict";

				$('#vendor_table').DataTable( {
					columnDefs: [
					{
						className: 'mdl-data-table__cell--non-numeric'
					}],
					lengthMenu: [10, 15, 20, 25, 50, 100],
					
					pageLength: 50,
					order: [[ 0, "desc" ]]
				});

			});

			function submitPage(vendor_id)
			{
				window.location.replace('<?=$company_info['nav_path']?>edit-vendor?vendor_id=' + vendor_id);
			}
		</script>
