
		<div class="row">
			<div class="col-md-12">
				<h1 class="page-header">
					Growers <small>Click to edit an item</small>
					<span style="float: right;"><a href="<?=$company_info['nav_path']?>grower" class="btn btn-default btn-lg" style="background-color: #21a2f2; color: white;">Back To Grower Main</a></span>
				</h1>
			</div>
		</div> 

		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="table-responsive">
							<table class="table table-hover table-striped">
								
								<thead>
									<tr>
										<th>ID</th>
										<th>Created Date</th>
										<th>name</th>
										<th>File Name</th>
										<th>Thumb</th>
									</tr>
								</thead>
								<tbody>
<?php foreach ($grower as $id => $data): ?>
									<tr style="cursor: pointer;" onclick="submitPage(<?=$id?>);">
										<td><?=$id?></td>
										<td><?=$data['created_date']?></td>
										<td><?=$data['name']?></td>
										<td><?=$data['attachment_file_name']?></td>
										<td><img src="<?=$company_info['upload_path']?><?=trim($data['attachment_file_name'])?>" style="width: 105px; height: 75px;"></img></td>
									</tr>
<?php endforeach; ?>
								</tbody>	
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script> 
			function submitPage(grower_id)
			{
				window.location.replace('<?=$company_info['nav_path']?>edit-grower?grower_id=' + grower_id);
			}
		</script>
