		


		<div class="page-wrapper">
			<div class="container-fluid">
				<div class="row page-titles">
					<div class="col-md-6 col-8 align-self-center">
						<h3 class="text-themecolor m-b-0 m-t-0">Inventory</h3>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
							<li class="breadcrumb-item"><a href="<?=$company_info['nav_path']?>content">Content Main</a></li>
							<li class="breadcrumb-item active" style="font-weight: bold;">View <?=ucfirst($content_types[$content_type_id]['name'])?>s</li>
						</ol>

					</div>
					<div class="col-md-6 col-4 align-self-center">
						<button class="right-side-toggle waves-effect waves-light btn-info btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>

					</div>
				</div>


				<div class="card card-outline-info">
					<div class="card-header" style="padding-bottom: 0; margin-bottom: 15px; border-radius: 3px 3px 0 0;">
						<h2 class="card-title text-white" style="float: left;"><span style="font-weight: bold;">List Of <?=ucfirst($content_types[$content_type_id]['name'])?>s - Click a row to edit an item</span></h2>
					</div>
					<div class="card-body" style="padding: 0 10px 10px 10px;">
						<div class="table-responsive">
							<table id="main_table" class="table table-hover table-striped">
								
<?php if ($content_type_id == 1): ?>
								<thead>
									<tr>
										<th>ID</th>
										<th>Created Date</th>
										<th>Title</th>
										<th>Content Text</th>
									</tr>
								</thead>
								<tbody>
<?php foreach ($content as $id => $data): ?>
									<tr style="cursor: pointer;" onclick="submitPage(<?=$id?>);">
										<td><?=$id?></td>
										<td><?=$data['created_date']?></td>
										<td><?=$data['title']?></td>
<?php if(strlen($data['content_text']) > 239): ?>
										<td><?=substr(strip_tags($data['content_text']), 0, 240) . '...'?><span style="font-size: 75%; color: #21A2F2;">Click to see whole post</span></td>
<?php else: ?>
										<td><?=$data['content_text']?></td>
<?php endif; ?>
									</tr>
<?php endforeach; ?>
								</tbody>
<?php elseif($content_type_id == 4): ?>
								<thead>
									<tr>
										<th>ID</th>
										<th>Created Date</th>
										<th>Title</th>
										<th>File Name</th>
										<th>Thumb</th>
									</tr>
								</thead>
								<tbody>
<?php foreach ($content as $id => $data): ?>
									<tr style="cursor: pointer;" onclick="submitPage(<?=$id?>);">
										<td><?=$id?></td>
										<td><?=$data['created_date']?></td>
										<td><?=$data['title']?></td>
										<td><?=$data['attachment_file_name']?></td>
										<td><img src="../../../uploads/<?=trim($data['attachment_file_name'])?>" style="width: 105px; height: 75px;"></img></td>
									</tr>
<?php endforeach; ?>
								</tbody>
<?php else: ?>
								<thead>
									<tr>
										<th>ID</th>
										<th>Created Date</th>
										<th>Title</th>
										<th>Content Text</th>
									</tr>
								</thead>
								<tbody>
<?php foreach ($content as $id => $data): ?>
									<tr style="cursor: pointer;" onclick="submitPage(<?=$id?>);">
										<td><?=$id?></td>
										<td><?=$data['created_date']?></td>
										<td><?=$data['title']?></td>
										<td><?=$data['content_text']?></td>
									</tr>
<?php endforeach; ?>
								</tbody>
									
<?php endif; ?>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>


		<script>
			$(document).ready(function() {
				"use strict";

				$('#main_table').DataTable( {
					columnDefs: [
					{
						className: 'mdl-data-table__cell--non-numeric'
					}],
					lengthMenu: [10, 15, 20, 25, 50, 100],
					
					pageLength: 50,
					order: [[ 0, "desc" ]]
				});

			});
			

			function submitPage(content_id)
			{
				window.location.replace('<?=$company_info['nav_path']?>edit-content?content_id=' + content_id);
			}
		</script>
