		<section id="content">
			<div id="main_box" class="" style="padding: 0;">
			
					
					<div style="line-height: 10px; margin-bottom: 15px;">&nbsp;</div>
					
					<canvas id="canvas" width="400" height="150"></canvas>
			
											
					<div style="border-bottom: 1px solid red; padding-left: 1em; margin-top: 15px; padding-bottom: 10px; text-align: center;">
<?php if ($filter == 1): ?>
						<span class="btn button filter_btn" style="display: inline-block; background-color: #444444;" onclick="javascript: window.location.href='/command/diet?filter=1'">Day</span>
<?php else: ?>
						<span class="btn button filter_btn" style="display: inline-block;" onclick="javascript: window.location.href='/command/diet?filter=1'">Day</span>
<?php endif; ?>
<?php if ($filter == '' || $filter == 2): ?>
						<span class="btn button filter_btn" style="display: inline-block; background-color: #444444;" onclick="javascript: window.location.href='/command/diet?filter=2'">Week</span>
<?php else: ?>
						<span class="btn button filter_btn" style="display: inline-block;" onclick="javascript: window.location.href='/command/diet?filter=2'">Week</span>
<?php endif; ?>
<?php if ($filter == 3): ?>
						<span class="btn button filter_btn" style="display: inline-block; background-color: #444444;" onclick="javascript: window.location.href='/command/diet?filter=3'">Month</span>
<?php else: ?>
						<span class="btn button filter_btn" style="display: inline-block;" onclick="javascript: window.location.href='/command/diet?filter=3'">Month</span>
<?php endif; ?>
<?php if ($filter == 4): ?>
						<span class="btn button filter_btn" style="display: inline-block; background-color: #444444;" onclick="javascript: window.location.href='/command/diet?filter=4'">Year</span>
<?php else: ?>
						<span class="btn button filter_btn" style="display: inline-block;" onclick="javascript: window.location.href='/command/diet?filter=4'">Year</span>
<?php endif; ?>
<?php if ($filter == 5): ?>
						<span class="btn button filter_btn" style="display: inline-block; background-color: #444444;" onclick="javascript: window.location.href='/command/diet?filter=5'">All</span>
<?php else: ?>
						<span class="btn button filter_btn" style="display: inline-block;" onclick="javascript: window.location.href='/command/diet?filter=5'">All</span>
<?php endif; ?>
						
					</div>
					
					<h2 style="text-align: center;">Aggregating <?=$records_on_graph?> Records</h2>
				
				<div class="row">
					<div class="col-lg-6">
						<div style="border-radius: 4px; border: 2px solid #12948B;">
							<div class="divcenter" style="max-width: 100%; min-height: 250px; padding-bottom: 0; padding-top: 20px;">
								<h3 class="nomargin center">Sexes</h3>
								<canvas id="chart-0"></canvas>
								<div class="row nomargin" style="text-align: center;">
									<div class="col-lg-4">
										<div>
											<h3 class="nomargin">Females</h3>
											<h3><?=$female?>%</h3>
										</div>
									</div>
									<div class="col-lg-4">
										<div>
											<h3 class="nomargin">Males</h3>
											<h3><?=$male?>%</h3>
										</div>
									</div>
									<div class="col-lg-4">
										<div>
											<h3 class="nomargin">Trans</h3>
											<h3><?=$trans?>%</h3>
										</div>
									</div>
									<div class="col-lg-6">
										<div>
											<h3 class="nomargin">Other</h3>
											<h3><?=$other?>%</h3>
										</div>
									</div>
									<div class="col-lg-6">
										<div>
											<h3 class="nomargin">Decline</h3>
											<h3><?=$decline?>%</h3>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div style="border-radius: 4px; border: 2px solid #12948B;">
							<div class="divcenter" style="max-width: 100%; min-height: 250px; padding-bottom: 0; padding-top: 20px;">
								<h3 class="nomargin center">Ages</h3>
								<canvas id="chart-1"></canvas>
								<div class="row nomargin" style="text-align: center;">
									<div class="col-lg-4">
										<div>
											<h3 class="nomargin">19-29</h3>
											<h3><?=$age_group1?>%</h3>
										</div>
									</div>
									<div class="col-lg-4">
										<div>
											<h3 class="nomargin">30-39</h3>
											<h3><?=$age_group2?>%</h3>
										</div>
									</div>
									<div class="col-lg-4">
										<div>
											<h3 class="nomargin">40-49</h3>
											<h3><?=$age_group3?>%</h3>
										</div>
									</div>
									<div class="col-lg-6">
										<div>
											<h3 class="nomargin">50-59</h3>
											<h3><?=$age_group4?>%</h3>
										</div>
									</div>
									<div class="col-lg-6">
										<div>
											<h3 class="nomargin">60+</h3>
											<h3><?=$age_group5?>%</h3>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		
		
		<script>
			window.onload = function() {
				var randomScalingFactor = function() {
					return Math.round(Math.random() * 100);
				};

				var config = {
					type: 'doughnut',
					data: {
						datasets: [{
							data: [
								<?=$female?>,
								<?=$male?>,
								<?=$trans?>,
								<?=$other?>,
								<?=$decline?>
							],
							backgroundColor: [
								window.chartColors.red,
								window.chartColors.orange,
								window.chartColors.yellow,
								window.chartColors.green,
								window.chartColors.blue,
							],
							label: 'Dataset 1'
						}],
						labels: [
							"Female",
							"Male",
							"Trans",
							"Other",
							"Decline",
						]
					},
					options: {
						responsive: true,
						legend: {
							position: 'top',
						},
						title: {
							display: false,
							text: 'Sexes'
						},
						animation: {
							animateScale: true,
							animateRotate: true
						}
					}
				};

				var ctx = document.getElementById("chart-0").getContext("2d");
				window.myDoughnut = new Chart(ctx, config);

				var config = {
						type: 'doughnut',
						data: {
							datasets: [{
								data: [
									<?=$age_group1?>,
											<?=$age_group2?>,
													<?=$age_group3?>,
															<?=$age_group4?>,
																	<?=$age_group5?>
								],
								backgroundColor: [
									window.chartColors.red,
									window.chartColors.orange,
									window.chartColors.yellow,
									window.chartColors.green,
									window.chartColors.blue,
								],
								label: 'Dataset 1'
							}],
							labels: [
								"18-29",
								"30-39",
								"40-49",
								"50-59",
								"60+",
							]
						},
						options: {
							responsive: true,
							legend: {
								position: 'top',
							},
							title: {
								display: false,
								text: 'Sexes'
							},
							animation: {
								animateScale: true,
								animateRotate: true
							}
						}
					};

					
					var ctx = document.getElementById("chart-1").getContext("2d");
					window.myDoughnut = new Chart(ctx, config);



					var config = {
							type: 'line',
							data: {
								labels: [
<?php $count = 0; ?>
<?php foreach ($dates as $id => $data): ?>
<?php if ($count < count($dates)): ?>
									'<?=$id?>',
<?php else: ?>
									'<?=$id?>'
<?php endif; ?>
<?php $count++; ?>
<?php endforeach; ?>
								],
								datasets: [
									
									{
										label: "cholesterol",
										fill: false,
										backgroundColor: 'blue',
										borderColor: 'blue',
										spanGaps: true,
										pointRadius: 7,
										data: [
<?php $count = 0; ?>
<?php foreach ($dates as $id => $data): ?>
<?php if ($count < count($dates)): ?>
<?php if ($data['avg_cholesterol'] == 0): ?>
										null,
<?php else: ?>
										'<?=$data['avg_cholesterol']?>',
<?php endif; ?>
<?php else: ?>
<?php if ($data['avg_cholesterol'] == 0): ?>
										null
<?php else: ?>
										'<?=$data['avg_cholesterol']?>'
<?php endif; ?>
<?php endif; ?>
<?php $count++; ?>
<?php endforeach; ?>
										],
									},
									{
										label: "Fiber",
										fill: false,
										backgroundColor: 'green',
										borderColor: 'green',
										spanGaps: true,
										pointRadius: 7,
										data: [
<?php $count = 0; ?>
<?php foreach ($dates as $id => $data): ?>
<?php if ($count < count($dates)): ?>
<?php if ($data['avg_dietary_fiber'] == 0): ?>
										null,
<?php else: ?>
										'<?=$data['avg_dietary_fiber']?>',
<?php endif; ?>
<?php else: ?>
<?php if ($data['avg_dietary_fiber'] == 0): ?>
										null
<?php else: ?>
										'<?=$data['avg_dietary_fiber']?>'
<?php endif; ?>
<?php endif; ?>
<?php $count++; ?>
<?php endforeach; ?>
										],
									},
									{
										label: "Protein",
										fill: false,
										backgroundColor: 'orange',
										borderColor: 'orange',
										spanGaps: true,
										pointRadius: 7,
										data: [
<?php $count = 0; ?>
<?php foreach ($dates as $id => $data): ?>
<?php if ($count < count($dates)): ?>
<?php if ($data['avg_protein'] == 0): ?>
										null,
<?php else: ?>
										'<?=$data['avg_protein']?>',
<?php endif; ?>
<?php else: ?>
<?php if ($data['avg_protein'] == 0): ?>
										null
<?php else: ?>
										'<?=$data['avg_protein']?>'
<?php endif; ?>
<?php endif; ?>
<?php $count++; ?>
<?php endforeach; ?>
										],
									},
									{
										label: "Sodium",
										fill: false,
										backgroundColor: 'purple',
										borderColor: 'purple',
										spanGaps: true,
										pointRadius: 7,
										data: [
<?php $count = 0; ?>
<?php foreach ($dates as $id => $data): ?>
<?php if ($count < count($dates)): ?>
<?php if ($data['avg_protein'] == 0): ?>
										null,
<?php else: ?>
										'<?=$data['avg_protein']?>',
<?php endif; ?>
<?php else: ?>
<?php if ($data['avg_protein'] == 0): ?>
										null
<?php else: ?>
										'<?=$data['avg_protein']?>'
<?php endif; ?>
<?php endif; ?>
<?php $count++; ?>
<?php endforeach; ?>
										],
									},
									{
										label: "Sugars",
										fill: false,
										backgroundColor: 'red',
										borderColor: 'red',
										spanGaps: true,
										pointRadius: 7,
										data: [
<?php $count = 0; ?>
<?php foreach ($dates as $id => $data): ?>
<?php if ($count < count($dates)): ?>
<?php if ($data['avg_sugars'] == 0): ?>
										null,
<?php else: ?>
										'<?=$data['avg_sugars']?>',
<?php endif; ?>
<?php else: ?>
<?php if ($data['avg_sugars'] == 0): ?>
										null
<?php else: ?>
										'<?=$data['avg_sugars']?>'
<?php endif; ?>
<?php endif; ?>
<?php $count++; ?>
<?php endforeach; ?>
										],
									}
								],
								
							},
				            options: {
				                responsive: true,
				                title:{
				                    display:false,
				                    text:'Results'
				                },
				                tooltips: {
				                    mode: 'index',
				                    intersect: false,
				                },
				                hover: {
				                    mode: 'nearest',
				                    intersect: true
				                },
				                scales: {
				                    xAxes: [{
				                        display: true,
				                        scaleLabel: {
				                            display: true,
				                            labelString: 'Last 7 days'
				                        }
				                    }],
				                    yAxes: [{
				                        display: true,
				                        scaleLabel: {
				                            display: true,
				                            labelString: 'Values'
				                        }
				                    }]
				                }
				            }
				        };
				
				            var ctx = document.getElementById("canvas").getContext("2d");
				            window.myLine = new Chart(ctx, config);
					
				};

				</script>
		
		
		
		<script>

			
			if (document.documentElement.clientWidth > 1203) {
				$("#main_box").addClass("content-wrap container clearfix");
			}
			// fire when below 1203
			else {
			}
	
			window.addEventListener("resize", function(){
			    // fire when above 1203
			    if (document.documentElement.clientWidth > 1203) {
			    	$("#main_box").addClass("content-wrap container clearfix");
			    }
			    // fire when below 1203
			    else {
			    	$("#main_box").removeClass("content-wrap container clearfix");
			    }
			}, true);

			
			function confirmDelete(key, med_id) {
				swal({
					title: 'Delete Test Data?',
					type: 'warning',
					html: 'Are you sure you want to remove the record for <span style="font-weight: bold;">' + meds[key]['ZNAME'] + '</span> that was recorded on <span style="font-weight: bold;">' + meds[key]['date'] + '</span>?',
					showCloseButton: true,
					showCancelButton: true,
					focusConfirm: false,
					width: '500px',
					confirmButtonText:
						'<div style="color: white; font-size: 80%;">DELETE</div>'
					,
					cancelButtonText:
						'<div style="color: white; font-size: 80%;">Cancel</div>'
					,
				}).then((result) => {
					if (result.value) {
						$.ajax({
							url: "/web/deleteLabAction",
							type: 'post',
							dataType: 'html',
							data: {
								id: med_id
							},
							async: false,
							success: function(data) {
								if (data == 1) {
									window.location.href = '/command/diet';
								} else {
									alert('hmm');
									console.log(data);
								}
								
							},
							error: function(data) {
								alert('hmm');
								console.log(data['responseText']);
							}
						});
					} else {
						
					}
				});
			}

			
		</script>
		
		<style>
	
			.swal2-show {
				font-size: 140% !important;
			}

			#canvas2_box {
				display: none;	
			}
				
			@media screen and (max-width: 1080px) {

				#canvas1_box {
					display: none;
				}
				
				#canvas2_box {
					display: block;	
				}
			}
		</style>