<section id="content">

			<div class="content-wrap">

				<div class="container clearfix">

					<div class="row clearfix">

						<div class="col-sm-9">

							<div class="heading-block noborder">
								<h3>Vital Signz Command Center</h3>
								<h4 style="color: #12948B;"><?=$company['company']?></h4>
							</div>

							<div class="clear"></div>

							<div class="row clearfix">

								<div class="col-md-12">

									<div class="tabs tabs-alt clearfix" id="tabs-profile">

										<ul class="tab-nav clearfix">
											<li><a href="#tab-posts"><i class="icon-pencil2"></i> Metrics</a></li>
											<li><a href="#tab-feeds"><i class="icon-rss2"></i> Alerts</a></li>
											<li><a href="#tab-replies"><i class="icon-reply"></i> Messages</a></li>
<!-- 											<li><a href="#tab-connections"><i class="icon-users"></i> Connections</a></li> -->
										</ul>

										<div class="tab-container">

											
											
											<div class="tab-content clearfix" id="tab-posts">
												<div class="row">
													<div class="col-lg-6">
														<div style="border-radius: 4px; border: 2px solid #12948B;">
															<div class="divcenter" style="max-width: 100%; min-height: 250px; padding-bottom: 0; padding-top: 20px;">
																<h3 class="nomargin center">Sexes</h3>
																<canvas id="chart-0"></canvas>
																<div class="row nomargin" style="text-align: center;">
																	<div class="col-lg-4">
																		<div>
																			<h3 class="nomargin">Females</h3>
																			<h3><?=$female?>%</h3>
																		</div>
																	</div>
																	<div class="col-lg-4">
																		<div>
																			<h3 class="nomargin">Males</h3>
																			<h3><?=$male?>%</h3>
																		</div>
																	</div>
																	<div class="col-lg-4">
																		<div>
																			<h3 class="nomargin">Trans</h3>
																			<h3><?=$trans?>%</h3>
																		</div>
																	</div>
																	<div class="col-lg-6">
																		<div>
																			<h3 class="nomargin">Other</h3>
																			<h3><?=$other?>%</h3>
																		</div>
																	</div>
																	<div class="col-lg-6">
																		<div>
																			<h3 class="nomargin">Decline</h3>
																			<h3><?=$decline?>%</h3>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="col-lg-6">
														<div style="border-radius: 4px; border: 2px solid #12948B;">
															<div class="divcenter" style="max-width: 100%; min-height: 250px; padding-bottom: 0; padding-top: 20px;">
																<h3 class="nomargin center">Ages</h3>
																<canvas id="chart-1"></canvas>
																<div class="row nomargin" style="text-align: center;">
																	<div class="col-lg-4">
																		<div>
																			<h3 class="nomargin">19-29</h3>
																			<h3><?=$age_group1?>%</h3>
																		</div>
																	</div>
																	<div class="col-lg-4">
																		<div>
																			<h3 class="nomargin">30-39</h3>
																			<h3><?=$age_group2?>%</h3>
																		</div>
																	</div>
																	<div class="col-lg-4">
																		<div>
																			<h3 class="nomargin">40-49</h3>
																			<h3><?=$age_group3?>%</h3>
																		</div>
																	</div>
																	<div class="col-lg-6">
																		<div>
																			<h3 class="nomargin">50-59</h3>
																			<h3><?=$age_group4?>%</h3>
																		</div>
																	</div>
																	<div class="col-lg-6">
																		<div>
																			<h3 class="nomargin">60+</h3>
																			<h3><?=$age_group5?>%</h3>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												
					

											</div>
											
											<script>
										window.onload = function() {
											var randomScalingFactor = function() {
												return Math.round(Math.random() * 100);
											};

											var config = {
												type: 'doughnut',
												data: {
													datasets: [{
														data: [
															<?=$female?>,
															<?=$male?>,
															<?=$trans?>,
															<?=$other?>,
															<?=$decline?>
														],
														backgroundColor: [
															window.chartColors.red,
															window.chartColors.orange,
															window.chartColors.yellow,
															window.chartColors.green,
															window.chartColors.blue,
														],
														label: 'Dataset 1'
													}],
													labels: [
														"Female",
														"Male",
														"Trans",
														"Other",
														"Decline",
													]
												},
												options: {
													responsive: true,
													legend: {
														position: 'top',
													},
													title: {
														display: false,
														text: 'Sexes'
													},
													animation: {
														animateScale: true,
														animateRotate: true
													}
												}
											};

											var ctx = document.getElementById("chart-0").getContext("2d");
											window.myDoughnut = new Chart(ctx, config);

											var config = {
													type: 'doughnut',
													data: {
														datasets: [{
															data: [
																<?=$age_group1?>,
																		<?=$age_group2?>,
																				<?=$age_group3?>,
																						<?=$age_group4?>,
																								<?=$age_group5?>
															],
															backgroundColor: [
																window.chartColors.red,
																window.chartColors.orange,
																window.chartColors.yellow,
																window.chartColors.green,
																window.chartColors.blue,
															],
															label: 'Dataset 1'
														}],
														labels: [
															"18-29",
															"30-39",
															"40-49",
															"50-59",
															"60+",
														]
													},
													options: {
														responsive: true,
														legend: {
															position: 'top',
														},
														title: {
															display: false,
															text: 'Sexes'
														},
														animation: {
															animateScale: true,
															animateRotate: true
														}
													}
												};

												
												var ctx = document.getElementById("chart-1").getContext("2d");
												window.myDoughnut = new Chart(ctx, config);
											};

											</script>
											
											<div class="tab-content clearfix" id="tab-feeds">
												<div>
													<label>Create New Alert</label>
													<textarea id="alert" rows="4" cols="" class="form-control"></textarea>
													<h4 class="nomargin center" style="padding-top: 10px;">Priority</h4>
													<div class="row">
														<div class="col-lg-4">
															<div><div id="low" class="button button-border button-rounded button-green" style="width: 100%;" onclick="javascript: selectPriority(this)"><i class="icon-off"></i>Low</div></div>
														</div>
														<div class="col-lg-4">
															<div><div id="medium" class="button button-border button-rounded button-amber" style="width: 100%;" onclick="javascript: selectPriority(this)"><i class="icon-off"></i>Medium</div></div>
														</div>
														<div class="col-lg-4">
															<div><div id="high" class="button button-border button-rounded button-red" style="width: 100%;" onclick="javascript: selectPriority(this)"><i class="icon-off"></i>High</div></div>
														</div>
													</div>
													
													<div class="btn btn-info" style="width: 100%; margin-top: 20px;" onclick="javascript: submitAlert();">Create New Alert</div>
												</div>
												
												<script>
													var priority = 0;
												
													function selectPriority(source) {
														if (source.id == 'low') {
															document.getElementById('medium').style.backgroundColor = 'white';
															document.getElementById('medium').style.color = '#EB9C4D';
															document.getElementById('high').style.backgroundColor = 'white';
															document.getElementById('high').style.color = '#C02942';
															source.style.backgroundColor = '#59BA41';
															source.style.color = 'white';
															priority = 3;
														} else if (source.id == 'medium') {
															document.getElementById('low').style.backgroundColor = 'white';
															document.getElementById('high').style.backgroundColor = 'white';
															document.getElementById('low').style.color = '#59BA41';
															document.getElementById('high').style.color = '#C02942';
															source.style.backgroundColor = '#EB9C4D';
															source.style.color = 'white';
															priority = 2;
														} else {
															document.getElementById('medium').style.backgroundColor = 'white';
															document.getElementById('low').style.backgroundColor = 'white';
															document.getElementById('medium').style.color = '#EB9C4D';
															document.getElementById('low').style.color = '#59BA41';
															source.style.backgroundColor = '#C02942';
															source.style.color = 'white';
															priority = 1;
														}
														
													}
												</script>
												
												<hr>
												<label>Active Alerts</label>
<?php if (count($alerts) == 0): ?>
													<div class="clearfix">
														<div>There are currently no alerts to display</div>
													</div>
<?php else: ?>
													<div class="clear topmargin-sm"></div>
													<ol class="commentlist noborder nomargin nopadding clearfix">
<?php foreach ($alerts as $id => $data): ?>
														<li class="comment even thread-even depth-1" id="li-comment-1">
															<div id="comment-1" class="comment-wrap clearfix">
																<div class="comment-meta">
																	<div class="comment-author vcard">
																		<span class="comment-avatar clearfix">
																		<img alt='' src='http://0.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=60' class='avatar avatar-60 photo avatar-default' height='60' width='60' /></span>
																	</div>
																</div>
<?php if ($data['priority'] == 1): ?>
<div class="comment-content clearfix" style="border: 2px solid #5BC0DE; border-radius: 3px;">
																	<div class="comment-author"><span><a href="#" title="Permalink to this comment"><?=$data['created_date']?></a></span></div>
																	<p><?=$data['alert']?></p>
																</div>
<?php elseif ($data['priority'] == 2): ?>
<div class="comment-content clearfix" style="border: 2px solid orange; border-radius: 3px;">
																	<div class="comment-author"><span><a href="#" title="Permalink to this comment"><?=$data['created_date']?></a></span></div>
																	<p><?=$data['alert']?></p>
																</div>
<?php else: ?>
<div class="comment-content clearfix" style="border: 2px solid #C02942; border-radius: 3px;">
																	<div class="comment-author"><span><a href="#" title="Permalink to this comment"><?=$data['created_date']?></a></span></div>
																	<p><?=$data['alert']?></p>
																</div>
<?php endif; ?>
																
																<div class="clear"></div>
															</div>
														</li>
<?php endforeach; ?>
													</ol>
<?php endif; ?>
											</div>
											
											<div class="tab-content clearfix" id="tab-replies">

												<div class="clear topmargin-sm"></div>
												<ol class="commentlist noborder nomargin nopadding clearfix">
													<li class="comment even thread-even depth-1" id="li-comment-1">
														<div id="comment-1" class="comment-wrap clearfix">
															<div class="comment-meta">
																<div class="comment-author vcard">
																	<span class="comment-avatar clearfix">
																	<img alt='' src='http://0.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=60' class='avatar avatar-60 photo avatar-default' height='60' width='60' /></span>
																</div>
															</div>
															<div class="comment-content clearfix">
																<div class="comment-author">John Doe<span><a href="#" title="Permalink to this comment">April 24, 2012 at 10:46 am</a></span></div>
																<p>Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
																<a class='comment-reply-link' href='#'><i class="icon-reply"></i></a>
															</div>
															<div class="clear"></div>
														</div>
														<ul class='children'>
															<li class="comment byuser comment-author-_smcl_admin odd alt depth-2" id="li-comment-3">
																<div id="comment-3" class="comment-wrap clearfix">
																	<div class="comment-meta">
																		<div class="comment-author vcard">

																			<span class="comment-avatar clearfix">
																			<img alt='' src='http://1.gravatar.com/avatar/30110f1f3a4238c619bcceb10f4c4484?s=40&amp;d=http%3A%2F%2F1.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D40&amp;r=G' class='avatar avatar-40 photo' height='40' width='40' /></span>

																		</div>
																	</div>
																	<div class="comment-content clearfix">
																		<div class="comment-author"><a href='#' rel='external nofollow' class='url'>SemiColon</a><span><a href="#" title="Permalink to this comment">April 25, 2012 at 1:03 am</a></span></div>

																		<p>Nullam id dolor id nibh ultricies vehicula ut id elit.</p>

																		<a class='comment-reply-link' href='#'><i class="icon-reply"></i></a>
																	</div>
																	<div class="clear"></div>
																</div>
															</li>
														</ul>
													</li>

													<li class="comment byuser comment-author-_smcl_admin even thread-odd thread-alt depth-1" id="li-comment-2">
														<div class="comment-wrap clearfix">
															<div class="comment-meta">
																<div class="comment-author vcard">
																	<span class="comment-avatar clearfix">
																	<img alt='' src='http://1.gravatar.com/avatar/30110f1f3a4238c619bcceb10f4c4484?s=60&amp;d=http%3A%2F%2F1.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D60&amp;r=G' class='avatar avatar-60 photo' height='60' width='60' /></span>
																</div>
															</div>
															<div class="comment-content clearfix">
																<div class="comment-author"><a href='http://themeforest.net/user/semicolonweb' rel='external nofollow' class='url'>SemiColon</a><span><a href="#" title="Permalink to this comment">April 25, 2012 at 1:03 am</a></span></div>

																<p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>

																<a class='comment-reply-link' href='#'><i class="icon-reply"></i></a>
															</div>
															<div class="clear"></div>
														</div>
													</li>

												</ol>

											</div>

										</div>

									</div>

								</div>

							</div>

						</div>

						<div class="line visible-xs-block"></div>

						<div class="col-sm-3 clearfix">

							<div class="list-group">
								<a href="#" class="list-group-item clearfix">Profile <i class="icon-user pull-right"></i></a>
								<a href="/home/logoutAction" class="list-group-item clearfix">Logout <i class="icon-line2-logout pull-right"></i></a>
							</div>

							<div class="fancy-title topmargin title-border">
								<h4>Message Of The Day</h4>
							</div>

							<textarea id="motd" class="form-control"style="min-height: 200px;"><?=$company['motd']?></textarea>

							<div id="submit_motd" class="btn btn-info" style="width: 100%; margin-top: 20px;" onclick="javascript: submitMotd();">Update Message</div>
						</div>

					</div>

				</div>

			</div>

		</section>
		
		
		<script>
			function submitMotd()
			{
				do {
	
					$.ajax({
						url: "/command/writeMotdAction",
						type: 'post',
						dataType: 'html',
						data: {
							motd: document.getElementById('motd').value,
							company_id: <?=$company_id?>
						},
						async: false,
						success: function(data) {
	
							if (data == 1) {
								swal('Mission Accomplished!', 'Message of the day has been updated', 'success');
							} else {
								swal('Something has gone wrong');
								console.log(data);
								pressed = false;
							}
						},
						error: function(data) {
							swal('Something has gone wrong');
							console.log(data['responseText']);
						}
					});
	
				} while (false);
				
			}

			function submitAlert()
			{
				do {
	
					$.ajax({
						url: "/command/writeAlertAction",
						type: 'post',
						dataType: 'html',
						data: {
							alert: document.getElementById('alert').value,
							priority: priority
						},
						async: false,
						success: function(data) {
	
							if (data == 1) {
								swal('Mission Accomplished!', 'An alert has been created', 'success');
								window.location.replace('/command');
							} else {
								swal('Something has gone wrong');
								console.log(data);
								pressed = false;
							}
						},
						error: function(data) {
							swal('Something has gone wrong');
							console.log(data['responseText']);
						}
					});
	
				} while (false);
				
			}
		</script>
		
		
		
		
		
		