		<section id="content">
			<div id="main_box" class="" style="padding: 0; padding-top: 2em; position: relative;">
					
					<canvas id="canvas" width="400" height="150"></canvas>
					<script>
						
				    </script>

				<div style="border-bottom: 1px solid #12948B; padding-left: 1em; margin-top: 15px; padding-bottom: 10px; text-align: center;">
<?php if ($filter == 1): ?>
					<span class="btn button filter_btn" style="background-color: #444444;" onclick="javascript: window.location.href='/command/steps?filter=1'">Day</span>
<?php else: ?>
					<span class="btn button filter_btn" onclick="javascript: window.location.href='/command/steps?filter=1'">Day</span>
<?php endif; ?>
<?php if ($filter == '' || $filter == 2): ?>
					<span class="btn button filter_btn" style="background-color: #444444;" onclick="javascript: window.location.href='/command/steps?filter=2'">Week</span>
<?php else: ?>
					<span class="btn button filter_btn" onclick="javascript: window.location.href='/command/steps?filter=2'">Week</span>
<?php endif; ?>
<?php if ($filter == 3): ?>
					<span class="btn button filter_btn" style=" background-color: #444444;" onclick="javascript: window.location.href='/command/steps?filter=3'">Month</span>
<?php else: ?>
					<span class="btn button filter_btn" onclick="javascript: window.location.href='/command/steps?filter=3'">Month</span>
<?php endif; ?>
<?php if ($filter == 4): ?>
					<span class="btn button filter_btn" style="background-color: #444444;" onclick="javascript: window.location.href='/command/steps?filter=4'">Year</span>
<?php else: ?>
					<span class="btn button filter_btn" onclick="javascript: window.location.href='/command/steps?filter=4'">Year</span>
<?php endif; ?>
<?php if ($filter == 5): ?>
					<span class="btn button filter_btn" style="background-color: #444444;" onclick="javascript: window.location.href='/command/steps?filter=5'">All</span>
<?php else: ?>
					<span class="btn button filter_btn" onclick="javascript: window.location.href='/command/steps?filter=5'">All</span>
<?php endif; ?>
					
				</div>
				<h2 style="text-align: center;">Aggregating <?=$records_on_graph?> Records</h2>
				
				<div class="row">
					<div class="col-lg-6">
						<div style="border-radius: 4px; border: 2px solid #12948B;">
							<div class="divcenter" style="max-width: 100%; min-height: 250px; padding-bottom: 0; padding-top: 20px;">
								<h3 class="nomargin center">Sexes</h3>
								<canvas id="chart-0"></canvas>
								<div class="row nomargin" style="text-align: center;">
									<div class="col-lg-4">
										<div>
											<h3 class="nomargin">Females</h3>
											<h3><?=$female?>%</h3>
										</div>
									</div>
									<div class="col-lg-4">
										<div>
											<h3 class="nomargin">Males</h3>
											<h3><?=$male?>%</h3>
										</div>
									</div>
									<div class="col-lg-4">
										<div>
											<h3 class="nomargin">Trans</h3>
											<h3><?=$trans?>%</h3>
										</div>
									</div>
									<div class="col-lg-6">
										<div>
											<h3 class="nomargin">Other</h3>
											<h3><?=$other?>%</h3>
										</div>
									</div>
									<div class="col-lg-6">
										<div>
											<h3 class="nomargin">Decline</h3>
											<h3><?=$decline?>%</h3>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div style="border-radius: 4px; border: 2px solid #12948B;">
							<div class="divcenter" style="max-width: 100%; min-height: 250px; padding-bottom: 0; padding-top: 20px;">
								<h3 class="nomargin center">Ages</h3>
								<canvas id="chart-1"></canvas>
								<div class="row nomargin" style="text-align: center;">
									<div class="col-lg-4">
										<div>
											<h3 class="nomargin">19-29</h3>
											<h3><?=$age_group1?>%</h3>
										</div>
									</div>
									<div class="col-lg-4">
										<div>
											<h3 class="nomargin">30-39</h3>
											<h3><?=$age_group2?>%</h3>
										</div>
									</div>
									<div class="col-lg-4">
										<div>
											<h3 class="nomargin">40-49</h3>
											<h3><?=$age_group3?>%</h3>
										</div>
									</div>
									<div class="col-lg-6">
										<div>
											<h3 class="nomargin">50-59</h3>
											<h3><?=$age_group4?>%</h3>
										</div>
									</div>
									<div class="col-lg-6">
										<div>
											<h3 class="nomargin">60+</h3>
											<h3><?=$age_group5?>%</h3>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		
		<script>
			window.onload = function() {
				var randomScalingFactor = function() {
					return Math.round(Math.random() * 100);
				};

				var config = {
					type: 'doughnut',
					data: {
						datasets: [{
							data: [
								<?=$female?>,
								<?=$male?>,
								<?=$trans?>,
								<?=$other?>,
								<?=$decline?>
							],
							backgroundColor: [
								window.chartColors.red,
								window.chartColors.orange,
								window.chartColors.yellow,
								window.chartColors.green,
								window.chartColors.blue,
							],
							label: 'Dataset 1'
						}],
						labels: [
							"Female",
							"Male",
							"Trans",
							"Other",
							"Decline",
						]
					},
					options: {
						responsive: true,
						legend: {
							position: 'top',
						},
						title: {
							display: false,
							text: 'Sexes'
						},
						animation: {
							animateScale: true,
							animateRotate: true
						}
					}
				};

				var ctx = document.getElementById("chart-0").getContext("2d");
				window.myDoughnut = new Chart(ctx, config);

				var config = {
						type: 'doughnut',
						data: {
							datasets: [{
								data: [
									<?=$age_group1?>,
											<?=$age_group2?>,
													<?=$age_group3?>,
															<?=$age_group4?>,
																	<?=$age_group5?>
								],
								backgroundColor: [
									window.chartColors.red,
									window.chartColors.orange,
									window.chartColors.yellow,
									window.chartColors.green,
									window.chartColors.blue,
								],
								label: 'Dataset 1'
							}],
							labels: [
								"18-29",
								"30-39",
								"40-49",
								"50-59",
								"60+",
							]
						},
						options: {
							responsive: true,
							legend: {
								position: 'top',
							},
							title: {
								display: false,
								text: 'Sexes'
							},
							animation: {
								animateScale: true,
								animateRotate: true
							}
						}
					};

					
					var ctx = document.getElementById("chart-1").getContext("2d");
					window.myDoughnut = new Chart(ctx, config);



					var config = {
							type: 'line',
							data: {
							labels: [
<?php $count = 0; ?>
<?php foreach ($totals as $id => $data): ?>
<?php if ($count < count($totals)): ?>
								'<?=$id?>',
<?php else: ?>
								'<?=$id?>'
<?php endif; ?>
<?php $count++; ?>
<?php endforeach; ?>
							],
							datasets: [
								{
									label: "Steps",
									fill: false,
									backgroundColor: '#4890EE',
									borderColor: 'black',
									pointRadius: 7,
									spanGaps: true,
									data: [
<?php $count = 0; ?>
<?php foreach ($totals as $id => $data): ?>
<?php if ($count < count($totals)): ?>
<?php if ($data['step_avg'] == 0): ?>
										null,
<?php else: ?>
										'<?=$data['step_avg']?>',
<?php endif; ?>
<?php else: ?>
<?php if ($data['step_avg'] == 0): ?>
										null
<?php else: ?>
										'<?=$data['step_avg']?>'
<?php endif; ?>
<?php endif; ?>
<?php $count++; ?>
<?php endforeach; ?>
										],
									}
				                ]
				            },
				            options: {
				                responsive: true,
				                title:{
				                    display:false,
				                    text:'Your daily goals'
				                },
				                tooltips: {
				                    mode: 'index',
				                    intersect: false,
				                },
				                hover: {
				                    mode: 'nearest',
				                    intersect: true
				                },
				                scales: {
				                    xAxes: [{
				                        display: true,
				                        scaleLabel: {
				                            display: true,
				                            labelString: 'Last 7 Days'
				                        }
				                    }],
				                    yAxes: [{
				                        display: true,
				                        scaleLabel: {
				                            display: true,
				                            labelString: 'Values'
				                        }
				                    }]
				                }
				            }
				        };
				
						var ctx = document.getElementById("canvas").getContext("2d");
						window.myLine = new Chart(ctx, config);
					
				};

				</script>
		
	
		<script>
			if (document.documentElement.clientWidth > 1203) {
				$("#main_box").addClass("content-wrap container clearfix");

// 				setTimeout(function () {
// 					alert('test');
// 					document.getElementById('bar-chart').style.width = '100px';
// 				}, 500);
				
				
			}
			// fire when below 1203
			else {
			}
	
			window.addEventListener("resize", function(){
			    // fire when above 1203
			    if (document.documentElement.clientWidth > 1203) {
			    	$("#main_box").addClass("content-wrap container clearfix");
			    }
			    // fire when below 1203
			    else {
			    	$("#main_box").removeClass("content-wrap container clearfix");
			    }
			}, true);
		</script>
		
		