<!DOCTYPE HTML>
<html>
	<head>
		<title>Flowers on Flowers</title>
		<meta charset="utf-8" />
		<link rel="shortcut icon" href="../../../images/icons/favicon.ico">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="../../../js/ie/html5shiv.js"></script><![endif]-->
		
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
		
		    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,700,600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>
    
    <!-- Bootstrap -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../../../css/owl.carousel.css">
    <link rel="stylesheet" href="../../../css/store.css">
    <link rel="stylesheet" href="../../../css/responsive.css">
		<!--[if lte IE 9]><link rel="stylesheet" href="../../../css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="../../../css/ie8.css" /><![endif]-->
		
		<link rel="stylesheet" href="../../../css/main.css" />
		<link rel="stylesheet" href="../../../css/grid.css" />
		
		<script src="../../../bower_components/sweetalert/dist/sweetalert.min.js"></script> 
		<link rel="stylesheet" type="text/css" href="../../../bower_components/sweetalert/dist/sweetalert.css">		
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">

						<!-- Logo -->
							<div class="logo">
								<a href="/" class="title"><strong>Flowers</strong> on Flowers</a>
							</div>

						<!-- Nav -->
							<nav id="nav" style="font-family: komoda; font-size: 235%;">
								<ul>
									<li><a href="/" style="padding: 0 15px;">Home</a></li>
									<li><a href="/about" style="padding: 0 15px;">About</a></li>
									<li>
										<a href="/floral" class="dropdown" style="padding: 0 15px;"><span style="color: #34C3A7;">Flowers</span></a>
										<ul>
											<li><a href="/floral#basics">Basics</a></li>
											<li><a href="/floral#anniversary">Anniversary</a></li>
											<li><a href="/floral#birthday">Birthday</a></li>
											<li><a href="/floral#sports">Sports</a></li>
<!-- 											<li> -->
<!-- 												<a href="#">Phasellus consequat</a> -->
<!-- 												<ul> -->
<!-- 													<li><a href="#">Lorem ipsum dolor</a></li> -->
<!-- 													<li><a href="#">Phasellus consequat</a></li> -->
<!-- 													<li><a href="#">Magna phasellus</a></li> -->
<!-- 													<li><a href="#">Etiam dolore nisl</a></li> -->
<!-- 													<li><a href="#">Veroeros feugiat</a></li> -->
<!-- 												</ul> -->
<!-- 											</li> -->
										</ul>
									</li>
<?php if ($user_id > 0): ?>
									<li><a href="/cannabis" style="padding: 0 15px;">Products</a></li>
<?php endif;?>
									<li><a href="/florists" style="padding: 0 15px;">Florists</a></li>
									<li><a href="/sign-up" style="padding: 0 15px;">Sign Up</a></li>
									<li><a href="/login/sign-in" style="padding: 0 15px;">Login</a></li>
								</ul>
							</nav>

					</header>


				<!-- Banner -->
					<section id="banner">

						<!-- One -->
							<article id="zoom1" class="full">
								<img src="../../../images/weed2.jpg" alt="" data-position="center" />
								<div class="content 1" style="background-color: rgba(92, 193, 214, 0.7); border-radius: 2px; font-family: line;">
									<h2 style="padding: 25px;"><a href="#" >Welcome to California's first and only medical cannabis florist</a></h2>
									<ul class="actions">
										<li><a href="/about" class="button">Full Story</a></li>
									</ul>
								</div>
							</article>

						<!-- Two -->
							<article id="zoom2" class="half">
								<img src="../../../images/flowers.jpg" alt="" data-position="center" />
								<div class="content 2" style="background-color: rgba(92, 193, 214, 0.7); border-radius: 2px; font-family: line;">
									<h2 style="padding: 25px; color: black;"><a href="#">Floral products</a></h2>
									<p>Hand designed by local florists, our vibrant selection of bouquets is sure to brighten up any day.</p>
									<ul class="actions">
										<li><a href="/floral" class="button">See More</a></li>
									</ul>
								</div>
							</article>

						<!-- Three -->
							<article id="zoom3" class="half">
								<img src="../../../images/weed5.jpg" alt="" data-position="center" />
								<div class="content 3" style="background-color: rgba(92, 193, 214, 0.7); border-radius: 2px; font-family: line;">
									<h2 style="padding: 25px;"><a href="#">Cannabis Products</a></h2>
									<p>Top Shelf buds trimmed to accent your flowers perfectly. Add a whole new layer of beatufy to your bouquet.</p>
									<ul class="actions">
										<li><a href="#" class="button">See More</a></li>
									</ul>
								</div>
							</article>

					</section>

					<script type="text/javascript">
						$(document).ready(function(){
							$('.1').hover(function() {
								$('#zoom1').css("background-size", "115%");
							}, function() {
								$('#zoom1').css("background-size", "100%");
							});
						});
					</script>
					
				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<section>
								<h2>About Us</h2>
								<p>Greetings! Based out of San Diego California, we are a collective of passionate creatives who believe medical marijuana delivery can be a beautiful process. Bringing you the highest quality buds in an elegant floral display, Flowers on Flowers is perfect for any situation.</p>
								<ul class="icons style2">
									<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
									<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="#" class="icon fa-youtube"><span class="label">YouTube</span></a></li>
								</ul>
							</section>
							<section>
								<span>
									<div class="field half first">
										<input type="text" name="name" id="footer_name" placeholder="Name" />
									</div>
									<div class="field half">
										<input type="email" name="email" id="footer_email" placeholder="Email" />
									</div>
									<div class="field">
										<textarea name="message" id="footer_message" placeholder="Message" rows="4"></textarea>
									</div>
									<ul class="actions">
										<li><input id="footer_submit" type="submit" value="Send Message" /></li>
									</ul>
								</span>
							</section>
						</div>
						<div class="copyright" style="background-image: url('../../../uploads/flower_bg2.png');">
							<p style="font-size: 115%; width: 50%; padding: 10px; margin-left: 25%; border-radius: 2px; background-color: rgba(255,255,255,0.9); color: black;">&copy; Flowers on Flowers 2016. All rights reserved. | Site: <a href="http://apogeewebdesign.com">Apogee Web Design</a></p>
						</div>
					</footer>

			</div>
			<script type="text/javascript">
				$( document ).ready(function () {
					$("#footer_submit").click(function () {
						do {
							if (document.getElementById('footer_name').value == '') {
								swal('Oops...', 'You must enter your name!', 'error');
								break;
							}

							if (document.getElementById('footer_email').value == '') {
								swal('Oops...', 'You must enter your email!', 'error');
								break;
							}

							if (document.getElementById('footer_message').value == '') {
								swal('Oops...', 'You must enter a message!', 'error');
								break;
							}
			
							$.ajax({
								url: "/email/send-contact",
								type: 'post',
								dataType: 'html',
								data: 
								{
									name: document.getElementById('footer_name').value, 
									email: document.getElementById('footer_email').value, 
									message: document.getElementById('footer_message').value
								},
								async: false,
								success: function(data) {
									if (data == 1) {
										// update the textarea with the time
										swal('Thanks!', 'Your message has been sent!', 'success')
									} else {
										swal('Oops...', data, 'error');
									}
								} 
							});
						} while(false);
					});
				});
			</script>

		<!-- Scripts -->
			<script src="../../../js/jquery.min.js"></script>
			<script src="../../../js/jquery.dropotron.min.js"></script>
			<script src="../../../js/skel.min.js"></script>
			<script src="../../../js/util.js"></script>
			<!--[if lte IE 8]><script src="../../../js/ie/respond.min.js"></script><![endif]-->
			<script src="../../../js/main.js"></script>
			
			<!-- Latest jQuery form server -->
    <script src="https://code.jquery.com/jquery.min.js"></script>
    
    <!-- Bootstrap JS form CDN -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    
    <!-- jQuery sticky menu -->
    <script src="../../../js/owl.carousel.min.js"></script>
    <script src="../../../js/jquery.sticky.js"></script>
    
    <!-- jQuery easing -->
    <script src="../../../js/jquery.easing.1.3.min.js"></script>
    
    <!-- Main Script -->
    <script src="../../../js/store.js"></script>

	</body>
</html>
					
