
				<!-- Main -->
					<div id="main">

						<!-- Content -->
							<section class="main">
								<div class="inner">

									<header class="major">
										<span class="category">In Depth</span>
										<h2><a href="#">Etiam feugiat tempus veroeros lorem</a></h2>
										<ul class="meta">
											<li>3 days ago</li>
											<li><a href="#" class="favorites">2,174</a></li>
											<li><a href="#" class="comments">1,423</a></li>
										</ul>
									</header>

									<a href="#" class="image main"><img src="../../../images/pic04.jpg" alt="" /></a>

									<p>In ut odio eu quam consectetur tristique nec non nisl. Maecenas porttitor vestibulum augue, nec sodales eros blandit non. Phasellus libero nibh, erat blandit, aliquet volutpat purus. Nullam pretium sed turpis lorem, ac congue orci. Donec pulvinar sagittis pellentesque. In ut odio eu quam consectetur tristique nec non nisl. Maecenas porttitor vestibulum augue, nec sodales eros blandit non. Vis accumsan feugiat adipiscing nisl amet adipiscing accumsan blandit accumsan sapien blandit ac amet faucibus aliquet placerat commodo. Interdum ante aliquet commodo accumsan vis phasellus adipiscing. Ornare a in lacinia. Vestibulum accumsan ac metus massa tempor. Accumsan in lacinia ornare massa amet. Ac interdum ac non praesent. Cubilia lacinia interdum massa faucibus blandit nullam. Accumsan phasellus nunc integer. Accumsan euismod nunc adipiscing lacinia erat ut sit. Arcu amet. Id massa aliquet arcu accumsan lorem amet accumsan.</p>

									<h3>Magna commodo lobortis</h3>
									<p>Amet nibh adipiscing adipiscing. Commodo ante vis placerat interdum massa massa primis. Tempus condimentum tempus non ac varius cubilia adipiscing placerat lorem turpis at. Aliquet lorem porttitor interdum. Amet lacus. Aliquam lobortis faucibus blandit ac phasellus. In amet magna non interdum volutpat porttitor metus a ante ac neque. Nisi turpis. Commodo col. Interdum adipiscing mollis ut aliquam id ante adipiscing commodo integer arcu amet Ac interdum ac non praesent. Cubilia lacinia interdum massa faucibus blandit nullam. Accumsan phasellus nunc integer. Accumsan euismod nunc adipiscing lacinia erat ut sit. Arcu amet. Id massa aliquet arcu accumsan lorem amet accumsan commodo odio cubilia ac eu interdum placerat placerat arcu commodo lobortis adipiscing semper ornare pellentesque.</p>

									<h3>Erat condimentum</h3>
									<p>Interdum ante aliquet commodo accumsan vis phasellus adipiscing. Ornare a in lacinia. Vestibulum accumsan ac metus massa tempor. Accumsan in lacinia ornare massa amet. Ac interdum ac non praesent. Cubilia lacinia interdum massa faucibus blandit nullam. Accumsan phasellus nunc integer. Accumsan euismod nunc adipiscing lacinia erat ut sit. Arcu amet. Id massa aliquet arcu accumsan lorem amet accumsan. Amet nibh adipiscing adipiscing. Commodo ante vis placerat interdum massa massa primis. Tempus condimentum tempus non ac varius cubilia adipiscing placerat lorem turpis at. Aliquet lorem porttitor interdum. Amet lacus. Aliquam lobortis faucibus blandit ac phasellus. In amet magna non interdum volutpat porttitor metus a ante ac neque. Nisi turpis. Commodo col. Interdum adipiscing mollis ut aliquam id ante adipiscing commodo integer arcu amet Ac interdum ac non praesent. Cubilia lacinia interdum massa faucibus blandit nullam. Accumsan phasellus nunc integer. Accumsan euismod nunc adipiscing lacinia erat ut sit. Arcu amet. Id massa aliquet arcu accumsan lorem amet accumsan commodo odio cubilia ac eu interdum placerat placerat arcu commodo lobortis adipiscing.</p>
									<p>Amet nibh adipiscing adipiscing. Commodo ante vis placerat interdum massa massa primis. Tempus condimentum tempus non ac varius cubilia adipiscing placerat lorem turpis at. Aliquet lorem porttitor interdum. Amet lacus. Aliquam lobortis faucibus blandit ac phasellus. In amet magna non interdum volutpat porttitor metus a ante ac neque. Nisi turpis. Commodo col. Interdum adipiscing mollis ut aliquam id ante adipiscing commodo integer arcu amet blandit adipiscing arcu ante.</p>

								</div>
							</section>

						<!-- Posts -->
							<section class="main">
								<div class="posts">
									<article>
										<a href="#" class="image"><img src="../../../images/pic05.jpg" alt="" /></a>
										<header>
											<h2><a href="#">Mauris vitae</a></h2>
											<ul class="meta">
												<li>3 days ago</li>
												<li><a href="#" class="favorites">2,174</a></li>
												<li><a href="#" class="comments">1,423</a></li>
											</ul>
										</header>
										<p>Ipsum dolor sit amet tempus adipiscing amet sed aliquam veroeros etiam magna feugiat cursus lorem nisi. Ut mauris vitae mi dapibus nulla dictum. Ipsum dolor sit amet tempus adipiscing amet sed aliquam veroeros etiam magna.</p>
										<footer>
											<ul class="actions">
												<li><a href="#" class="button">Full Story</a></li>
											</ul>
										</footer>
									</article>
									<article>
										<a href="#" class="image"><img src="../../../images/pic06.jpg" alt="" /></a>
										<header>
											<h2><a href="#">Dapibus nulla</a></h2>
											<ul class="meta">
												<li>3 days ago</li>
												<li><a href="#" class="favorites">2,174</a></li>
												<li><a href="#" class="comments">1,423</a></li>
											</ul>
										</header>
										<p>Ipsum dolor sit amet tempus adipiscing amet sed aliquam veroeros etiam magna feugiat cursus lorem nisi. Ut mauris vitae mi dapibus nulla dictum. Ipsum dolor sit amet tempus adipiscing amet sed aliquam veroeros etiam magna.</p>
										<footer>
											<ul class="actions">
												<li><a href="#" class="button">Full Story</a></li>
											</ul>
										</footer>
									</article>
									<article>
										<a href="#" class="image"><img src="../../../images/pic07.jpg" alt="" /></a>
										<header>
											<h2><a href="#">Dictum veroeros</a></h2>
											<ul class="meta">
												<li>3 days ago</li>
												<li><a href="#" class="favorites">2,174</a></li>
												<li><a href="#" class="comments">1,423</a></li>
											</ul>
										</header>
										<p>Ipsum dolor sit amet tempus adipiscing amet sed aliquam veroeros etiam magna feugiat cursus lorem nisi. Ut mauris vitae mi dapibus nulla dictum. Ipsum dolor sit amet tempus adipiscing amet sed aliquam veroeros etiam magna.</p>
										<footer>
											<ul class="actions">
												<li><a href="#" class="button">Full Story</a></li>
											</ul>
										</footer>
									</article>
									<article>
										<a href="#" class="image"><img src="../../../images/pic08.jpg" alt="" /></a>
										<header>
											<h2><a href="#">Lorem sed magna</a></h2>
											<ul class="meta">
												<li>3 days ago</li>
												<li><a href="#" class="favorites">2,174</a></li>
												<li><a href="#" class="comments">1,423</a></li>
											</ul>
										</header>
										<p>Ipsum dolor sit amet tempus adipiscing amet sed aliquam veroeros etiam magna feugiat cursus lorem nisi. Ut mauris vitae mi dapibus nulla dictum. Ipsum dolor sit amet tempus adipiscing amet sed aliquam veroeros etiam magna.</p>
										<footer>
											<ul class="actions">
												<li><a href="#" class="button">Full Story</a></li>
											</ul>
										</footer>
									</article>
									<article>
										<a href="#" class="image"><img src="../../../images/pic09.jpg" alt="" /></a>
										<header>
											<h2><a href="#">Vitae adipiscing</a></h2>
											<ul class="meta">
												<li>3 days ago</li>
												<li><a href="#" class="favorites">2,174</a></li>
												<li><a href="#" class="comments">1,423</a></li>
											</ul>
										</header>
										<p>Ipsum dolor sit amet tempus adipiscing amet sed aliquam veroeros etiam magna feugiat cursus lorem nisi. Ut mauris vitae mi dapibus nulla dictum. Ipsum dolor sit amet tempus adipiscing amet sed aliquam veroeros etiam magna.</p>
										<footer>
											<ul class="actions">
												<li><a href="#" class="button">Full Story</a></li>
											</ul>
										</footer>
									</article>
									<article>
										<a href="#" class="image"><img src="../../../images/pic10.jpg" alt="" /></a>
										<header>
											<h2><a href="#">Aliquam phasellus</a></h2>
											<ul class="meta">
												<li>3 days ago</li>
												<li><a href="#" class="favorites">2,174</a></li>
												<li><a href="#" class="comments">1,423</a></li>
											</ul>
										</header>
										<p>Ipsum dolor sit amet tempus adipiscing amet sed aliquam veroeros etiam magna feugiat cursus lorem nisi. Ut mauris vitae mi dapibus nulla dictum. Ipsum dolor sit amet tempus adipiscing amet sed aliquam veroeros etiam magna.</p>
										<footer>
											<ul class="actions">
												<li><a href="#" class="button">Full Story</a></li>
											</ul>
										</footer>
									</article>
								</div>
							</section>

					</div>
