<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="Joe Ahart" />
	
	<link rel="icon" type="image/png" sizes="16x16" href="../../../admin/vital.png">

	<!-- Stylesheets
	============================================= -->
	<link href="http://fonts.googleapis.com/css?family=Poppins:300,400,400italic,600,700|Montserrat:400,700|Merriweather" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="../../../canvas/css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="../../../canvas/style.css" type="text/css" />
	<link rel="stylesheet" href="../../../canvas/css/dark.css" type="text/css" />
	
	<script type="text/javascript" src="../../../canvas/js/jquery.js"></script>

	<!-- Media Agency Demo Specific Stylesheet -->
	<link rel="stylesheet" href="../../../canvas/demos/app-landing/app-landing.css" type="text/css" />
	<!-- / -->

	<link rel="stylesheet" href="../../../canvas/css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="../../../canvas/one-page/css/et-line.css" type="text/css" />
	<link rel="stylesheet" href="../../../canvas/css/animate.css" type="text/css" />
	<link rel="stylesheet" href="../../../canvas/css/magnific-popup.css" type="text/css" />

	<link rel="stylesheet" href="../../../canvas/demos/app-landing/css/fonts.css" type="text/css" />

	<!-- Bootstrap Switch CSS -->
	<link rel="stylesheet" href="../../../canvas/css/components/bs-switches.css" type="text/css" />

	<link rel="stylesheet" href="../../../canvas/css/responsive.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel="stylesheet" href="../../../canvas/demos/app-landing/css/colors.css?ts=<?=time()?>&quot;" type="text/css" />
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.10/sweetalert2.js"></script> 
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.10/sweetalert2.css">

	<!-- Document Title
	============================================= -->
	<title>Vital Signz</title>

</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
		<header id="header" class="split-menu transparent-header dark" data-sticky-class="not-dark" data-responsive-class="not-dark">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo">
						<a href="index.html" class="standard-logo" data-dark-logo="../../../uploads/vital_head_logo_red3.png"><img src="../../../uploads/vital_head_logo_red3.png" alt="Canvas Logo"></a>
						<a href="index.html" class="retina-logo" data-dark-logo="../../../uploads/vital_head_logo_red3.png"><img src="../../../uploads/vital_head_logo_red3.png" alt="Canvas Logo"></a>
					</div><!-- #logo end -->

					<!-- Primary Navigation
					============================================= -->
					<nav id="primary-menu" class="with-arrows clearfix not-dark">

						<ul class="one-page-menu" data-easing="easeInOutExpo" data-speed="1250" data-offset="160">
							<li><a href="#" data-href="#wrapper" class="header_nav_link"><div>Home</div></a></li>
							<li><a href="#" data-href="#section-faqs" class="header_nav_link"><div>FAQs</div></a></li>
							<li><a href="#" data-href="#section-gallery" class="header_nav_link"><div>Gallery</div></a></li>
						</ul>

						<ul class="one-page-menu" data-easing="easeInOutExpo" data-speed="1250" data-offset="160">
							<li class="menu-item-emphasis"><a href="#modal-login" data-lightbox="inline" class="" style="background-color: #ED1C24;"><div>Login</div></a></li>
						</ul>

					</nav><!-- #primary-menu end -->

				</div>

			</div>

		</header><!-- #header end -->
		
		

		<section id="slider" class="full-screen slider-parallax">
			<div class="slider-parallax-inner" style="background: url('../../../uploads/doc2.jpg') center center no-repeat; background-size: cover;">
				<div class="vertical-middle" style="z-index: 2;">
					<div class="container dark clearfix">
						<div class="row clearfix">
							<div class="col-md-6 col-sm-8">
								<div class="emphasis-title">
									<h1 class="font-body" style="text-shadow: 3px 2px red; font-weight: bold;">Harness your health,<br>Join Vital Signz today</h1>
								</div>
								<a href="#" data-scrollto="#section-pricing" data-easing="easeInOutExpo" data-speed="1250" data-offset="160" class="button button-large button-white button-light capitalize" style="border-radius: 23px;">Try it Free</a>
								<a href="https://www.youtube.com/watch?v=N_r349riLEE" class="hero-action-link" data-lightbox="iframe"><i class="icon-play-sign"></i> Watch the Video</a>
							</div>
							<div class="col-md-6 col-sm-12">
								<img alt="" src="../../../uploads/vital_icon.png" style="width: 50%; margin-left: 25%;">
							</div>
						</div>
					</div>
				</div>
				<div class="video-wrap" style="position: absolute; height: 100%; z-index: 1;">
					<div class="video-overlay" style="background: rgba(0,0,0,0.2);"></div>
				</div>
			</div>
		</section>

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">

				<!-- Modal -->
				<div class="modal1 mfp-hide" id="modal-login">
					<div class="block divcenter" style="background-color: #FFF; max-width: 400px;">
						<div style="padding: 50px;">
							<h3 class="font-body">Login to your Account</h3>
							<div class="nobottommargin">
								<div class="col_full">
									<label class="font-body capitalize" for="login-form-modal-username">Username:</label>
									<input type="text" id="login-form-modal-username" name="login-form-modal-username" value="" class="form-control" />
								</div>

								<div class="col_full">
									<label class="font-body capitalize" for="login-form-modal-password">Password:</label>
									<input type="password" id="login-form-modal-password" name="login-form-modal-password" value="" class="form-control" />
								</div>

								<div class="col_full nobottommargin">
									<button id="login-submit-button" onclick="javascript: submitPage()" class="button button-rounded nomargin" id="login-form-modal-submit" name="login-form-modal-submit" value="login">Login</button>
									<a href="#" class="fright">Forgot Password?</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<script>

				$(document).keypress(function(e) {
					var keycode = (e.keyCode ? e.keyCode : e.which);
					if (keycode == '13') {
						if (document.getElementById('login-form-modal-username').value != '' && document.getElementById('login-form-modal-password').value != '') {
							submitPage();
						}
					}
				});
				
				function submitPage()
				{
					do {
						if (document.getElementById('login-form-modal-username') == '') {
							alert('error - username');
							break;
						}

						if (document.getElementById('login-form-modal-password') == '') {
							alert('error - password');
							break;
						}

						$.ajax({
							url: "/home/loginAction",
							type: 'post',
							dataType: 'html',
							data: {
								email: document.getElementById('login-form-modal-username').value,
								password: document.getElementById('login-form-modal-password').value
							},
							async: false,
							success: function(data) {
								if (data == 1) {
		<?php if ($_SESSION['client_id'] > 1): ?>
									window.location.replace('/web');
		<?php else: ?>
									window.location.replace('/web');
		<?php endif; ?>
								} else {
									swal('Something has gone wrong');
									console.log(data);
									pressed = false;
								}
							} 
						});

					} while (false);
					
				}

				</script>

				<div class="container clearfix">

					<div id="section-nextgen" class="page-section bottommargin-lg">
						<div class="row clearfix">

							<div class="col-md-7 center">
								<img src="../../../uploads/ss2_vital.jpg" alt="NextGen Framework" data-animate="fadeInLeft">
							</div>

							<div class="col-md-5">
								<div class="topmargin-lg hidden-xs hidden-sm"></div>
								<img src="../../../canvas/demos/app-landing/images/section/section-1-icon.png" alt="" style="display: block;" class="bottommargin-sm">
								<div class="emphasis-title bottommargin-sm">
									<span class="before-heading">Plug into the</span>
									<h2 style="font-size: 42px;" class="font-body ls1 t400">NextGen Algorithms</h2>
								</div>
								<p style="color: #777;" class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, vel! Eius pariatur nemo expedita.</p>
								<a href="#" class="section-more-link">Learn More <i class="icon-angle-right"></i></a>
							</div>

						</div>
					</div>

					<div class="line"></div><div class="clear"></div>

					<div id="section-stunning-graphics" class="page-section topmargin bottommargin-lg">
						<div class="row clearfix">

							<div class="col-md-5">
								<div class="topmargin-lg hidden-xs hidden-sm"></div>
								<img src="../../../canvas/demos/app-landing/images/section/section-2-icon.png" alt="" style="display: block;" class="bottommargin-sm">
								<div class="emphasis-title bottommargin-sm">
									<h2 style="font-size: 42px;" class="font-body ls1 t400">Ready Whenever You Are</h2>
								</div>
								<p style="color: #777;" class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, vel! Eius pariatur nemo expedita.</p>
								<a href="#" class="section-more-link">Learn More <i class="icon-angle-right"></i></a>
							</div>

							<div class="col-md-7 center">
								<img src="../../../uploads/ss1_vital.jpg" alt="Stunning Graphics" data-animate="fadeInRight">
							</div>

						</div>
					</div>

					<div class="line"></div><div class="clear"></div>

				</div>

				<div id="section-secured-solutions" class="page-section section nopadding topmargin-sm" style="background: url('../../../canvas/demos/app-landing/images/section/iphone-3d-bg.png') no-repeat left bottom; background-size: 100% auto;" data-height-lg="700" data-height-md="700" data-height-sm="450" data-height-xs="450" data-height-xxs="450">
					<div class="container clearfix">
						<div class="row clearfix">
							<div class="col-md-5 col-md-offset-6">
								<div class="topmargin-lg hidden-xs hidden-sm"></div>
								<div class="topmargin-lg hidden-xs hidden-sm"></div>
								<img src="../../../canvas/demos/app-landing/images/section/section-3-icon.png" alt="" style="display: block;" class="bottommargin-sm">
								<div class="emphasis-title bottommargin-sm">
									<h2 style="font-size: 42px;" class="font-body ls1 t400">Secure Solutions</h2>
								</div>
								<p style="color: #777;" class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, vel! Eius pariatur nemo expedita.</p>
								<a href="#" class="section-more-link">Learn More <i class="icon-angle-right"></i></a>
							</div>
						</div>
					</div>
					<div class="video-wrap" style="position: absolute; height: 100%; z-index: 1;">
						<div class="video-overlay hidden-xs hidden-sm" style="background: url('../../../canvas/demos/app-landing/images/section/iphone-3d.png') no-repeat left top; background-size: auto 100%;" data-animate="fadeInLeft"></div>
					</div>
				</div>

				<div class="clear bottommargin"></div>

				<div class="container clearfix">

					<div id="section-pricing" class="page-section nopadding nomargin">


						<!-- Modal -->
						<div class="modal1 mfp-hide" id="modal-get-started">
							<div class="block divcenter" style="background-color: #FFF; max-width: 800px;">
								<div style="padding: 50px;">
									<form action="#" id="get-started-form" method="post" class="nobottommargin">

										<div class="row clearfix">
											<div class="col-sm-8">
												<h3 class="font-body">Register for an Account</h3>
											</div>
											<div class="col-sm-4">
												<div id="modal-get-started-package"></div>
											</div>
										</div>

										<div class="col_half">
											<label class="font-body capitalize" for="get-started-form-username">Choose Username:</label>
											<input type="text" id="get-started-form-username" name="get-started-form-username" value="" class="form-control required no-error-msg" />
										</div>

										<div class="col_half col_last">
											<label class="font-body capitalize" for="get-started-form-email">Your Email:</label>
											<input type="email" id="get-started-form-email" name="get-started-form-email" value="" class="form-control required email no-error-msg" />
										</div>

										<div class="clear"></div>

										<div class="col_half">
											<label class="font-body capitalize" for="get-started-form-password">Choose Password:</label>
											<input type="password" id="get-started-form-password" name="get-started-form-password" value="" class="form-control required no-error-msg" />
										</div>

										<div class="col_half col_last">
											<label class="font-body capitalize" for="get-started-form-password">Retype Password:</label>
											<input type="password" id="get-started-form-repassword" name="get-started-form-repassword" value="" class="form-control required no-error-msg" />
										</div>

										<!-- Package Selector Hidden Input Value Setter -->
										<input type="hidden" id="get-started-form-package" name="get-started-form-package" value="Free">

										<div class="col_full">
											<label>
												<input type="checkbox" id="get-started-form-agree" name="get-started-form-agree" value="1" style="position: relative; top: 2px; margin-right: 5px;"> I Agree to the Terms &amp; Conditions
											</label>
										</div>

										<div class="col_full nobottommargin">
											<button class="button button-rounded nomargin" id="get-started-form-submit" name="get-started-form-submit" value="login">Get Started</button>
											<a href="#" data-scrollto="#section-pricing" data-easing="easeInOutExpo" data-speed="1250" data-offset="160" class="fright" onClick="$.magnificPopup.close();">Change Plan?</a>
										</div>

									</form>
								</div>
							</div>
						</div>

					</div>

					<div class="clear"></div>

					<div id="section-faqs" class="page-section nopadding nomargin">

						<div class="row topmargin-sm clearfix">

							<h2 class="center font-body bottommargin-lg">Frequently Asked Questions</h2>

							<div class="col-md-5 col-md-offset-1 col-sm-6 bottommargin-sm">
								<h4 class="font-body" style="margin-bottom:15px;">Question #1</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi.</p>
							</div>
							<div class="col-md-5 col-sm-6 bottommargin-sm">
								<h4 class="font-body" style="margin-bottom:15px;">Question #2</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, placeat, architecto rem dolorem dignissimos repellat veritatis in et eos doloribus magnam aliquam ipsa alias assumenda officiis quasi sapiente suscipit.</p>
							</div>
							<div class="col-md-5 col-md-offset-1 col-sm-6 bottommargin-sm">
								<h4 class="font-body" style="margin-bottom:15px;">Question #3</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, fugiat iste nisi tempore nesciunt nemo fuga? Nesciunt, delectus laboriosam nisi repudiandae nam fuga saepe animi recusandae.</p>
							</div>
							<div class="col-md-5 col-sm-6 bottommargin-sm">
								<h4 class="font-body" style="margin-bottom:15px;">Question #4</h4>
								<p>Laboriosam iusto quia nulla ad voluptatibus iste beatae voluptas corrupti facilis accusamus recusandae sequi debitis reprehenderit quibusdam. Facilis eligendi a exercitationem nisi et placeat excepturi velit!</p>
							</div>
					

						</div>

					</div>

				</div>


				<div id="section-gallery" class="page-section nopadding nomargin">

					<div class="container topmargin bottommargin-lg center clearfix">

						<h3 class="ls1 t400" style="font-size: 32px; margin-bottom: 10px;">App Screenshots</h3>
						<p class="lead divcenter" style="max-width: 600px">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, repellendus quae fuga ad, beatae odit.</p>
						<a href="#" class="button button-circle capitalize">Check All</a>

					</div>

					<div class="owl-carousel owl-carousel-full image-carousel carousel-widget bottommargin" data-margin="20" data-center="true" data-loop="true" data-nav="false" data-pagi="true" data-items-xxs="2" data-items-xs="2" data-items-sm="4" data-items-md="4" data-items-lg="6" data-stage-padding="30" data-lightbox="gallery">

						<div class="oc-item">
							<a data-lightbox="gallery-item" href="../../../uploads/ss/1.png"><img src="../../../uploads/ss/1.png" alt="Image 1"></a>
						</div>
						<div class="oc-item">
							<a data-lightbox="gallery-item" href="../../../uploads/ss/2.png"><img src="../../../uploads/ss/2.png" alt="Image 2"></a>
						</div>
						<div class="oc-item">
							<a data-lightbox="gallery-item" href="../../../uploads/ss/3.png"><img src="../../../uploads/ss/3.png" alt="Image 3"></a>
						</div>
						<div class="oc-item">
							<a data-lightbox="gallery-item" href="../../../uploads/ss/4.png"><img src="../../../uploads/ss/4.png" alt="Image 4"></a>
						</div>
						<div class="oc-item">
							<a data-lightbox="gallery-item" href="../../../uploads/ss/5.png"><img src="../../../uploads/ss/5.png" alt="Image 5"></a>
						</div>
						<div class="oc-item">
							<a data-lightbox="gallery-item" href="../../../uploads/ss/6.png"><img src="../../../uploads/ss/6.png" alt="Image 5"></a>
						</div>
						<div class="oc-item">
							<a data-lightbox="gallery-item" href="../../../uploads/ss/7.png"><img src="../../../uploads/ss/7.png" alt="Image 5"></a>
						</div>

					</div>

				</div>

				<div class="clear"></div>

				<!-- <div class="section nomargin">
					<div class="container clearfix">

						<h2></h2>

					</div>
				</div> 

				<div class="section" style="padding: 30px 0; color: #999; background-color: #F8FAFB; border-top: 1px solid #E5E5E5; border-bottom: 1px solid #E5E5E5;">
					<div class="container clearfix">
						<div class="row topmargin-lg clearfix">

							<div class="col-md-4 bottommargin">
								<i class="i-plain i-large icon-et-browser inline-block" style="margin-bottom: 30px; color: #999;"></i>
								<div class="heading-block nobottomborder" style="margin-bottom: 15px;">
									<h4 style="font-size: 16px;">Cross Browser</h4>
								</div>
								<p class="" style="line-height: 26px;">Canvas 4 Loads Faster &amp; Smoother than the Previous Versions providing an Optimal Experience for your Users.</p>
							</div>

							<div class="col-md-4 bottommargin">
								<i class="i-plain i-large icon-et-adjustments inline-block" style="margin-bottom: 30px; color: #999;"></i>
								<div class="heading-block nobottomborder" style="margin-bottom: 15px;">
									<h4 style="font-size: 16px;">Flexible Options</h4>
								</div>
								<p class="" style="line-height: 26px;">Unleash the Power of Mega Menus by adding Widgets &amp; Mixed Columns powered by the Bootstrap Grid.</p>
							</div>

							<div class="col-md-4 bottommargin">
								<i class="i-plain i-large icon-et-calendar inline-block" style="margin-bottom: 30px; color: #999;"></i>
								<div class="heading-block nobottomborder" style="margin-bottom: 15px;">
									<h4 style="font-size: 16px;">Scheduled Backups</h4>
								</div>
								<p class="" style="line-height: 26px;">Amazing set of New Components giving you Opportunity to Create an Interactive Website for your Business.</p>
							</div>

							<div class="col-md-4 bottommargin">
								<i class="i-plain i-large icon-et-desktop inline-block" style="margin-bottom: 30px; color: #999;"></i>
								<div class="heading-block nobottomborder" style="margin-bottom: 15px;">
									<h4 style="font-size: 16px;">Responsive Ready</h4>
								</div>
								<p class="" style="line-height: 26px;">Convert any Grid to an Isotope Grid easily with Filterable Options making it extremely flexible and powerful.</p>
							</div>

							<div class="col-md-4 bottommargin">
								<i class="i-plain i-large icon-et-bargraph inline-block" style="margin-bottom: 30px; color: #999;"></i>
								<div class="heading-block nobottomborder" style="margin-bottom: 15px;">
									<h4 style="font-size: 16px;">Increased Conversions</h4>
								</div>
								<p class="" style="line-height: 26px;">Display an Alternate Lighter Menu on Responsive Devices with the same Markup Code as before. Awesomely Useful.</p>
							</div>

							<div class="col-md-4 bottommargin">
								<i class="i-plain i-large icon-et-cloud inline-block" style="margin-bottom: 30px; color: #999;"></i>
								<div class="heading-block nobottomborder" style="margin-bottom: 15px;">
									<h4 style="font-size: 16px;">Cloud Sharing</h4>
								</div>
								<p class="" style="line-height: 26px;">Added SPAM Protection for your Precious Forms so that you receive Emails only from Authentic Real Users.</p>
							</div>

						</div>
					</div>
				</div>

-->
				<div class="section center nobottommargin nobg">
					<div class="container clearfix">

						<h3 class="ls1 t400" style="font-size: 32px;">Experienced &amp; Trusted by <span>10,000+</span> People worldwide</h3>
						<a href="#modal-login" data-lightbox="inline" class="button button-large button-black capitalize" style="border-radius: 23px;">Login Now</a>
						<a href="#" data-scrollto="#section-pricing" data-easing="easeInOutExpo" data-speed="1250" data-offset="160" class="button button-large capitalize" style="border-radius: 23px;">Try it Free</a>

						<div class="clear bottommargin"></div>

					</div>
				</div>


			</div>

		</section><!-- #content end -->

		<!-- Footer
		============================================= -->
		<footer id="footer" style="background-color: #FFF;">

			<div class="container">

				<!-- Footer Widgets
				============================================= -->
				<div class="footer-widgets-wrap clearfix">
					<div class="row clearfix">

						<div class="col-md-5">

							<div class="widget clearfix">
								<div class="row clearfix">
									<div class="col-md-8 bottommargin-sm clearfix" style="color:#888;">
										<img src="../../../uploads/vital_head_logo_red3.png" alt="Canvas Logo" style="display: block;" class="bottommargin-sm">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, consequatur facere molestiae iusto atque.</p>

										<a href="#" class="social-icon si-small si-borderless si-colored si-rounded si-facebook">
											<i class="icon-facebook"></i>
											<i class="icon-facebook"></i>
										</a>

										<a href="#" class="social-icon si-small si-borderless si-colored si-rounded si-twitter">
											<i class="icon-twitter"></i>
											<i class="icon-twitter"></i>
										</a>

										<a href="#" class="social-icon si-small si-borderless si-colored si-rounded si-instagram">
											<i class="icon-instagram"></i>
											<i class="icon-instagram"></i>
										</a>

									</div>
								</div>
							</div>

						</div>

						<div class="col-md-7">
							<div class="row clearfix">

								<div class="col-md-4 bottommargin-sm">
									<div class="widget widget_links app_landing_widget_link clearfix">
										<h4>In News</h4>

										<ul>
											<li><a href="http://codex.wordpress.org/">Documentation</a></li>
											<li><a href="http://wordpress.org/support/forum/requests-and-feedback">Feedback</a></li>
											<li><a href="http://wordpress.org/extend/plugins/">Plugins</a></li>
											<li><a href="http://wordpress.org/support/">Support Forums</a></li>
											<li><a href="http://wordpress.org/extend/themes/">Themes</a></li>
										</ul>
									</div>
								</div>
								<div class="col-md-4 bottommargin-sm">
									<div class="widget widget_links app_landing_widget_link clearfix">
										<h4>About Us</h4>

										<ul>
											<li><a href="http://codex.wordpress.org/">Documentation</a></li>
											<li><a href="http://wordpress.org/support/forum/requests-and-feedback">Feedback</a></li>
											<li><a href="http://wordpress.org/extend/plugins/">Plugins</a></li>
											<li><a href="http://wordpress.org/support/">Support Forums</a></li>
											<li><a href="http://wordpress.org/extend/themes/">Themes</a></li>
										</ul>
									</div>
								</div>
								<div class="col-md-4 bottommargin-sm">
									<div class="widget widget_links app_landing_widget_link clearfix">
										<h4>Support</h4>

										<ul>
											<li><a href="http://codex.wordpress.org/">Documentation</a></li>
											<li><a href="http://wordpress.org/support/forum/requests-and-feedback">Feedback</a></li>
											<li><a href="http://wordpress.org/extend/plugins/">Plugins</a></li>
											<li><a href="http://wordpress.org/support/">Support Forums</a></li>
											<li><a href="http://wordpress.org/extend/themes/">Themes</a></li>
										</ul>
									</div>
								</div>

							</div>
						</div>

					</div>
				</div>

			</div>

			<!-- Copyrights
			============================================= -->
			<div id="copyrights" class="nobg notoppadding">

				<div class="container clearfix">

					<div class="col_half">
						Copyrights &copy; 2018 All Rights Reserved Vital Signz.<br>
						<div class="copyright-links"><a href="#">Terms of Use</a> / <a href="#">Privacy Policy</a></div>
					</div>

				</div>

			</div><!-- #copyrights end -->

		</footer><!-- #footer end -->

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- External JavaScripts
	============================================= -->
	<script type="text/javascript" src="../../../canvas/js/jquery.js"></script>
	<script type="text/javascript" src="../../../canvas/js/plugins.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script type="text/javascript" src="../../../canvas/js/functions.js"></script>

	<script>
		jQuery(document).ready( function($){

			function pricingSwitcher( elementCheck, elementParent, elementPricing ) {
				elementParent.find('.pts-left,.pts-right').removeClass('pts-switch-active');
				elementPricing.find('.pts-switch-content-left,.pts-switch-content-right').addClass('hidden');

				if( elementCheck.filter(':checked').length > 0 ) {
					elementParent.find('.pts-right').addClass('pts-switch-active');
					elementPricing.find('.pts-switch-content-right').removeClass('hidden');
				} else {
					elementParent.find('.pts-left').addClass('pts-switch-active');
					elementPricing.find('.pts-switch-content-left').removeClass('hidden');
				}
			}

			$('.pts-switcher').each( function(){
				var element = $(this),
					elementCheck = element.find(':checkbox'),
					elementParent = $(this).parents('.pricing-tenure-switcher'),
					elementPricing = $( elementParent.attr('data-container') );

				pricingSwitcher( elementCheck, elementParent, elementPricing );

				elementCheck.on( 'change', function(){
					pricingSwitcher( elementCheck, elementParent, elementPricing );
				});
			});

			// Get Started From Validation
			var getStartedForm = $('#get-started-form'),
				getStartedFormAlert = getStartedForm.attr('data-alert-type'),
				getStartedFormLoader = getStartedForm.attr('data-loader'),
				getStartedFormResult = getStartedForm.find('.contact-form-result'),
				getStartedFormRedirect = getStartedForm.attr('data-redirect');

			getStartedForm.validate({
				submitHandler: function(form) {

					getStartedFormResult.hide();

					if( getStartedFormLoader == 'button' ) {
						var defButton = $(form).find('button'),
							defButtonText = defButton.html();

						defButton.html('<i class="icon-line-loader icon-spin nomargin"></i>');
					} else {
						$(form).find('.form-process').fadeIn();
					}

					$(form).ajaxSubmit({
						target: getStartedFormResult,
						dataType: 'json',
						resetForm: true,
						success: function( data ) {
							if( getStartedFormLoader == 'button' ) {
								defButton.html( defButtonText );
							} else {
								$(form).find('.form-process').fadeOut();
							}
							if( data.alert != 'error' && getStartedFormRedirect ){
								window.location.replace( getStartedFormRedirect );
								return true;
							}
							if( getStartedFormAlert == 'inline' ) {
								if( data.alert == 'error' ) {
									var alertType = 'alert-danger';
								} else {
									var alertType = 'alert-success';
								}

								getStartedFormResult.addClass( 'alert ' + alertType ).html( data.message ).slideDown( 400 );
							} else {
								getStartedFormResult.attr( 'data-notify-type', data.alert ).attr( 'data-notify-msg', data.message ).html('');
								SEMICOLON.widget.notifications( getStartedFormResult );
							}
						}
					});
				}
			});

			$('[data-pricing-plan]').click( function(){
				getStartedForm.find('#get-started-form-package').val( $(this).attr('data-pricing-plan') );
				getStartedForm.find('#modal-get-started-package').html( $(this).attr('data-pricing-plan') );
			});

		});
	</script>
	
	<style>
		
		.header_nav_link {
			color: #ED1C24 !important;
		}
		
		.header_nav_link:hover {
			background-color: red;
			color: white !important;
		}
	</style>

</body>
</html>