
		<!-- Main -->
			<section id="main" class="wrapper" style="background-color: #353D5B; color: white; min-height: 85vh;">
				<div class="inner" style="margin-top: 75px;">
					<div style="font-size: 200%; text-align: center; margin-bottom: 25px;">
						<h2 style="margin: 0;"><span style="color: white;">404</span></h2>
						<div style="margin-top: -25px;">Page Not Found</div>
					</div>
				<!-- Content -->
					<div class="content" style="text-align: center; position: relative;">
						<a href="/" style="border-bottom: 0px solid black;"><img id="planet" alt="planet" src="../../../uploads/too_dank.gif"></a>
					</div>
					<div style="text-align: center; margin: 25px 0;">
						<div style="margin-top: -25px;">The page you requested does not exist. Click above to find your way back home.</div>
					</div>
				</div>
			</section>
			<style>
				@media screen and (max-width: 900px) {
					#planet {
						width: 100%;	
					}
				}
			</style>
