					
							
		
			<section class="wrapper" style="min-height: 85vh;">
				<div class="inner">

					<div class="content">
						<div class="row" style="margin: 0 auto; text-align: center;">
							<div class="3u">&nbsp;</div>
							<div class="6u 12u(s)" style="margin: 0; padding: 0;">&nbsp;
								<div class="shadow" style="background-color: rgba(255,255,255, 0.7); margin-bottom: 25px; padding: 25px;">
									<h2 style="color: #0FA18C;">Site is under development!</h2>
									The team here at World Wide Weed is excited to bring you the most state of the art medicinal marijuana purchasing platform on the market. As such, many aspects of the site are still very much a
work in progress. We love hearing feedback from our clients, so feel free to leave any suggestions, questions, error reports, or anything else site related in the contact section below. Thank you for checking out World Wide Weed!

								<div class="row" style="margin-top: 35px;">
									<div class="6u 12u(s)">
										<label>Name (Optional)</label>
										<input id="name" type="text" style="background-color: white;">
									</div>
									<div class="6u 12u(s)">
										<label>Email (Optional, but needed if you want a response)</label>
										<input id="email" type="text" style="background-color: white;">
									</div>	
									<div class="12u">
										<label>Message</label>
										<textarea id="message" style="background-color: white;"></textarea>
									</div>	
									<div class="12u">
										<div class="button" style="width: 100%; padding: 10px;">Send</div>
									</div>					
								</div>
								</div>
							</div>
							<div class="3u">&nbsp;</div>
						</div>
					</div>
				</div>
			
			</section>

		<script type="text/javascript">
			
			$(document).ready(function () {
				$(document).keypress(function(event){
					var keycode = (event.keyCode ? event.keyCode : event.which);
					if(keycode == '13'){
						submitPage();
					}
				});
				
				$("#submit").click(function () {
					submitPage();
				});
			});

			function submitPage() {
				do {
					event.preventDefault();
					
					if (document.getElementById('message').value == '') {
						swal("Oops...", "You must enter a message", "error")
						break;
					}

					$.ajax({
						url: "/login/loginAction",
						type: 'post',
						dataType: 'html',
						data: 
						{
							email: document.getElementById('email').value, 
							password: document.getElementById('pass').value
						},
						async: false,
						success: function(data) {
							if (data == 1) {
								swal({
									title: "Success!",
									text: "Logging In...",
									type: "success",
									timer: 3000
								},
								function () {
									window.location.replace('/');
								});
							} else {
								alert(data);
								
								$('.login_form').fadeIn(1000);
								document.getElementById('loading_gif').style.display = 'none';
							}
						} 
					});
				} while (false);
			}
		</script>
		
					
					
					
					
		