		


		<div class="page-wrapper">
			<div class="container-fluid">
				<div class="row page-titles">
					<div class="col-md-6 col-8 align-self-center">
						<h3 class="text-themecolor m-b-0 m-t-0">Inventory</h3>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
							<li class="breadcrumb-item"><a href="/admin/inventory">Inventory Main</a></li>
							<li class="breadcrumb-item"><a href="/admin/user-inventory">User Inventory</a></li>
							<li class="breadcrumb-item active" style="font-weight: bold;">View User Inventory</li>
						</ol>

					</div>
					<div class="col-md-6 col-4 align-self-center">
						<button class="right-side-toggle waves-effect waves-light btn-info btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>

					</div>
				</div>


				<div class="card card-outline-info">
					<div class="card-header" style="padding-bottom: 0; margin-bottom: 15px; border-radius: 3px 3px 0 0;">
						<h2 class="card-title text-white" style="float: left;"><span style="font-weight: bold;">Header Text</span></h2>
					</div>
					<div class="card-body" style="padding: 0 10px 10px 10px;">
					
					</div>
				</div>
			</div>
		</div>


		<script>
			$(document).ready(function() {
				"use strict";

				$('#user_table').DataTable( {
					columnDefs: [
					{
						className: 'mdl-data-table__cell--non-numeric'
					}],
					lengthMenu: [10, 15, 20, 25, 50, 100],
					
					pageLength: 50,
					order: [[ 0, "desc" ]]
				});

			});
			
			function sampleFunction(user_id) {
				var orders = <?php echo json_encode($orders) ?>

				$.ajax({
					url: "/admin/cashOutAction",
					type: 'post',
					dataType: 'html',
					data: {
						orders: orders[user_id]
					},
					async: false,
					success: function(data) {
						if (data == 1) {
							swal({   
								title: "Mission Accomplished!",   
								text: 'You have successfully cashed out your current holdings.',
								type: "success",    
								confirmButtonColor: "#15A59B",   
								confirmButtonText: "OK!",   
								closeOnConfirm: false 
								}, 
								function(){   
									window.location.replace('/admin/delivery-overview');
								});
						} else {
							alert(data);
						}
					} 
				});
			}
		</script>
		
		