		


		<div class="page-wrapper">
			<div class="container-fluid">
				<div class="row page-titles">
					<div class="col-md-6 col-8 align-self-center">
						<h3 class="text-themecolor m-b-0 m-t-0">Products</h3>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/admin">Home</a></li>
							<li class="breadcrumb-item active" style="font-weight: bold;">Edit Product</li>
						</ol>
					</div>
					<div class="col-md-6 col-4 align-self-center">
						<button class="right-side-toggle waves-effect waves-light btn-info btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
					</div>
				</div>
				<div class="card card-outline-info">
					<div class="card-header" style="padding-bottom: 0; margin-bottom: 15px; border-radius: 3px 3px 0 0;">
						<h2 class="card-title text-white" style="float: left;">Edit Transaction <i class="fa fa-pencil"></i></h2>								
						<button class="btn btn-info" style="float: right; background-color: #7460EE;" onclick="javascript: confirmDelete();">Delete Product <span class="fa fa-exclamation-triangle"></span></button>
						
<?php if($product_id == 0): ?>

<?php else: ?>
<?php if ($product['active'] == 1): ?>
							&nbsp;
							<button id="active_on" onclick="javascript: activate(0);" class="btn btn-info" style="float: right; background-color: #55CE63; margin-right: 20px;">PRODUCT ACTIVE <span style="font-size: 75%;"> Click To De-Activate</span></button>
							<button id="active_off" onclick="javascript: activate(1);" class="btn btn-info" style="float: right; background-color: #fcc500; display: none; margin-right: 20px;"><span class="fa fa-exclamation-triangle"></span> PRODUCT INACTIVE! <span style="font-size: 75%;"> Click To Activate</span></button>
<?php else: ?>
							&nbsp;
							<button id="active_on" onclick="javascript: activate(0);" class="btn btn-info" style="float: right; display: none; background-color: #55CE63; margin-right: 20px;">PRODUCT ACTIVE <span style="font-size: 75%;"> Click To De-Activate</span></button>
							<button id="active_off" onclick="javascript: activate(1);" class="btn btn-info" style="float: right; background-color: #fcc500; margin-right: 20px;"><span class="fa fa-exclamation-triangle"></span> PRODUCT INACTIVE! <span style="font-size: 75%;"> Click To Activate</span></button>
<?php endif; ?>
<?php endif;?>	
					</div>
					<div class="card-block">
						
						
						
							<div class="row" style="padding: 0 25px;">
								<div id="snap_point" class="col-lg-4 col-sm-12">
									<label>Name</label>
									<div class="input-group">
<?php if($product_id == 0): ?>
										<input id="name" class="form-control">						
<?php else: ?>
										<input id="name" class="form-control" value="<?=$product['name']?>">
<?php endif; ?>
									</div>
								</div>
								<div class="col-lg-4 col-sm-12">
									<label>Vendor</label>
									<div class="input-group">
										<select id="vendor_id" class="form-control">
	<?php foreach($vendors as $id => $data): ?>
	<?php if ($product_id > 0): ?>
	<?php if($product['vendor_id'] == $id): ?>
											<option value="<?=$id?>" selected><?=$data['name']?></option>
	<?php else: ?>
											<option value="<?=$id?>"><?=$data['name']?></option>
	<?php endif; ?>
	<?php else: ?>
											<option value="<?=$id?>"><?=$data['name']?></option>
	<?php endif; ?>
	<?php endforeach; ?>
										</select>
									</div>
								</div>
								<div class="col-lg-4 col-sm-12">
									<label>Product Type</label>
									<div class="input-group">
										<select id="product_type_id" class="form-control">
<?php foreach($product_types as $id => $data): ?>
<?php if ($product_id > 0): ?>
<?php if($product['product_type_id'] == $id): ?>
											<option value="<?=$id?>" selected><?=$data['name']?></option>
<?php else: ?>
											<option value="<?=$id?>"><?=$data['name']?></option>
<?php endif; ?>
<?php else: ?>
											<option value="<?=$id?>"><?=$data['name']?></option>
<?php endif; ?>
<?php endforeach; ?>
										</select>
									</div>
								</div>
								<div class="col-lg-4 col-sm-12">
									<div>
										<label>Featured Product Image #1: </label>
										<div style="position: relative;">
											<div class="input-group">
<?php if($product_id == 0): ?>
												<input id="attachment1" type="text" class="form-control">					
<?php else: ?>
												<input id="attachment1" type="text" class="form-control" value="<?=$product['attachment_file_name']?>">
<?php endif; ?>
												<span class="input-group-addon" style="padding: 0;"> 
													<a href="../../../filemanager/dialog.php?type=0&field_id=attachment1&relative_url=1" class="btn btn-info iframe-btn" type="submit" style="background-color: #21A2F2; color: white;">
														<i class="fa fa-image"></i>
													</a>
												</span>
											</div>


										</div>
									</div>
								</div>
								<div class="col-lg-4 col-sm-12">
									<div>
										<label>Featured Product Image #2: </label>
										<div style="position: relative;">
											<div class="input-group">
<?php if($product_id == 0): ?>
												<input id="attachment2" type="text" class="form-control">					
<?php else: ?>
												<input id="attachment2" type="text" class="form-control" value="<?=array_slice($product_images, 0)[1]['attachment_file_name']?>">
<?php endif; ?>
												<span class="input-group-addon" style="padding: 0;"> 
													<a href="../../../filemanager/dialog.php?type=0&field_id=attachment2&relative_url=1" class="btn btn-info iframe-btn" type="submit" style="background-color: #21A2F2; color: white;">
														<i class="fa fa-image"></i>
													</a>
												</span>
											</div>

										</div>
									</div>
								</div>
								<div class="col-lg-4 col-sm-12">
									<div>
										<label>Featured Product Image #3: </label>
										<div style="position: relative;">
											<div class="input-group">
<?php if($product_id == 0): ?>
												<input id="attachment3" type="text" class="form-control">					
<?php else: ?>
												<input id="attachment3" type="text" class="form-control" value="<?=array_slice($product_images, 0)[2]['attachment_file_name']?>">
<?php endif; ?>
												<span class="input-group-addon" style="padding: 0;"> 
													<a href="../../../filemanager/dialog.php?type=0&field_id=attachment3&relative_url=1" class="btn btn-info iframe-btn" type="submit" style="background-color: #21A2F2; color: white;">
														<i class="fa fa-image"></i>
													</a>
												</span>
											</div>

										</div>
									</div>
								</div>
								<div class="col-lg-4 col-sm-12">
									<div>
										<label>Featured Product Image #4: </label>
										<div style="position: relative;">
											<div class="input-group">
<?php if($product_id == 0): ?>
												<input id="attachment4" type="text" class="form-control">					
<?php else: ?>
												<input id="attachment4" type="text" class="form-control" value="<?=array_slice($product_images, 0)[3]['attachment_file_name']?>">
<?php endif; ?>
												<span class="input-group-addon" style="padding: 0;"> 
													<a href="../../../filemanager/dialog.php?type=0&field_id=attachment4&relative_url=1" class="btn btn-info iframe-btn" type="submit" style="background-color: #21A2F2; color: white;">
														<i class="fa fa-image"></i>
													</a>
												</span>
											</div>

										</div>
									</div>
								</div>
								<div class="col-lg-4 col-sm-12">
									<div>
										<label>Featured Product Image #5: </label>
										<div style="position: relative;">
											<div class="input-group">
<?php if($product_id == 0): ?>
												<input id="attachment5" type="text" class="form-control">					
<?php else: ?>
												<input id="attachment5" type="text" class="form-control" value="<?=array_slice($product_images, 0)[4]['attachment_file_name']?>">
<?php endif; ?>
												<span class="input-group-addon" style="padding: 0;"> 
													<a href="../../../filemanager/dialog.php?type=0&field_id=attachment5&relative_url=1" class="btn btn-info iframe-btn" type="submit" style="background-color: #21A2F2; color: white;">
														<i class="fa fa-image"></i>
													</a>
												</span>
											</div>

											
										</div>
									</div>
								</div>
								
								
								<div class="col-lg-4 col-sm-12">
									<label>Unit of Measurement (use smallest measurement possible, DO NOT PLURALIZE)</label>
<?php if($product_id == 0): ?>
									<input id="unit_name" class="form-control">						
<?php else: ?>
									<input id="unit_name" class="form-control" value="<?=$product['unit_name']?>">
<?php endif; ?>
								</div>
								
<?php if($product_id == 0): ?>			
								<div class="col-lg-4 col-sm-12">
									<label>Initial house inventory (in terms of your unit of measurement, determined above)</label>
									<input id="initial_inventory" class="form-control">						
								</div>
<?php else: ?>
								<div class="col-lg-4 col-sm-12">
									<label>House inventory (in terms of your unit of measurement, determined above)</label>
									<input id="initial_inventory" class="form-control" value="<?=$inventory?>">						
								</div>
<?php endif; ?>

								<div class="col-lg-4 col-sm-12">
									<label>Wholesale Unit Cost (in terms of your unit of measurement, determined above)</label>
<?php if($product_id == 0): ?>	
									<input id="unit_price_wholesale" class="form-control">
<?php else: ?>
									<input id="unit_price_wholesale" class="form-control" value="<?=$product['unit_price_wholesale']?>">
<?php endif; ?>
								</div>
								
<?php if($product_id > 0): ?>	
								<div class="col-lg-12">
									<div class="row">
										<div class="col-lg-12"><h2 style="">Available Product Sizes</h2></div>
<?php foreach ($product_sizes as $id => $data): ?>
										<div id="size_box<?=$id?>" class="col-lg-2 col-sm-6">
											<div id="quantity_box<?=$id?>" class="shadow" style="padding: 10px; background-color: rgba(0, 255, 0, 0.4); position: relative;">
												<button onclick="javascript: deleteSize(<?=$id?>);" class="btn btn-info" style="position: absolute; top: 0; right: 0; background-color: #ff7777; border-top-left-radius: 0; border-bottom-right-radius: 0;"><i class="fa fa-close" style="color: white;"></i></button>
												
												
												<div>Product Size<hr style="margin: 5px;"></div>
												
												<span style="text-align: center;">
													<label>Size Name</label>
													<input id="new_sub_product_name<?=$id?>" class="form-control" placeholder="Name..." value="<?=$data['name']?>" onkeyup="javascript: checkQuantity(<?=$id?>);">	
													<br>
													<label>Size Price</label>
													<div class="row">
														<div class="col-lg-2">
															<div style="line-height: 33px; font-weight: bold;">$</div>
														</div>
														<div class="col-lg-8">
															<input id="new_sub_product_price<?=$id?>" class="form-control" placeholder="Amount..." value="<?=$data['price']?>" onkeyup="javascript: checkQuantity(<?=$id?>);">	
														</div>
													</div>
													<br>
													<label>Inventory Units</label>
													<input id="new_sub_product_inventory<?=$id?>" class="form-control" placeholder="#..." value="<?=$data['units']?>" onkeyup="javascript: checkQuantity(<?=$id?>);">	
												</span>					
											</div>
										</div>
<?php endforeach; ?>
										<div id="new_quantity_box" class="col-lg-2 col-sm-6" style="pointer-events: auto !important;">
											<div id="quantity_box_new" class="shadow card" style="padding: 30px; background-color: rgba(196, 196, 196, 0.8); text-align: center; cursor: pointer;" onclick="javascript: newQuantity();">
												<h3 style="font-weight: bold;">ADD NEW QUANTITY<hr style="margin: 5px;"></h3>
												<br><br>
												<i class="fa fa-plus" style="font-size: 300%;"></i>	
											</div>
										</div>	
									</div>
								</div>
<?php else: ?>
								<div class="col-lg-12">
									<div class="row" style="pointer-events: auto !important;">
										<div id="new_quantity_box" class="col-lg-2 col-sm-6">
											<div id="quantity_box_new" class="shadow card" style="padding: 30px; background-color: rgba(196, 196, 196, 0.8); text-align: center; cursor: pointer;" onclick="javascript: newQuantity();">
												<h3 style="font-weight: bold;">ADD NEW QUANTITY<hr style="margin: 5px;"></h3>
												<br><br>
												<i class="fa fa-plus" style="font-size: 300%;"></i>	
											</div>
										</div>	
									</div>
								</div>
<?php endif; ?>
											
							</div>
							
							<div class="row" style="padding: 0 25px;">
								<div class="col-lg-12">
									<div class="form-group">
										<h2 style="margin-top: 50px;">Product Description</h2>
<?php if($product_id == 0): ?>
										<textarea id="post_text"></textarea>			
<?php else: ?>
										<textarea id="post_text"><?=$product['description']?></textarea>
<?php endif; ?>
										
									</div>
									<button id="submit" class="btn btn-primary btn-lg" style="width: 100%;">
										Submit
									</button>
								</div>
							</div>
						
					</div>
				</div>
			</div>	
		</div>
	</div>

			<script> 
				// using JQUERY's ready method to know when all dom elements are rendered
				$( document ).ready(function () {

					tinymce.init({
						selector: "#post_text",
						mode: "textareas",
						height: 400,
						theme: "modern",
						plugins: [
							"autolink link image lists charmap print preview hr anchor pagebreak",
							"searchreplace wordcount visualblocks visualchars insertdatetime media nonbreaking",
							"table contextmenu directionality emoticons paste textcolor responsivefilemanager"
						],
						toolbar1: "undo redo | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | styleselect",
						toolbar2: "| responsivefilemanager | link unlink anchor | image media | forecolor backcolor| print preview code ",
						image_advtab: true ,
						external_filemanager_path:"/filemanager/",
						filemanager_title:"Responsive Filemanager" ,
						external_plugins: { "filemanager" : "/filemanager/plugin.min.js"}
					});
	
					$('.iframe-btn').fancybox({	
						'type'		: 'iframe',
						'width'		: 900,
						'height'	: 650,
						'autoSize'	: false,
						'autoDimensions': false
					});
	
					$(".fancybox").fancybox();




				
					$("#submit").click(function () {
						do {	
							if (<?=$product_id?> == 0) {
								swal("Oops...", "You must enter a product size", "error");
								break;
							}
							
							if (document.getElementById('name').value == '') {
								swal("Oops...", "You must enter a product type name", "error");
								break;
							}

							if (document.getElementById('attachment1').value == '') {
								swal("Oops...", "You must enter at least 1 attachment file name", "error");
								break;
							}
							
							if (document.getElementById('unit_name').value == '') {
								swal("Oops...", "You must enter a unit of measurement name", "error");
								break;
							}
							
<?php if($product_id == 0): ?>
							if (document.getElementById('initial_inventory').value == '') {
								swal("Oops...", "You must enter an initial inventory amount", "error");
								break;
							}

							if (isNaN(document.getElementById('initial_inventory').value)) {
								swal("Oops...", "Initial inventory amount must be a number", "error");
								break;
							}
<?php endif; ?>

							tinyMCE.triggerSave();

							for (var i = 0; i < Object.keys(new_sizes).length; i++) {
								var product_size_id = Object.keys(new_sizes)[i];

								new_sizes[product_size_id].name = document.getElementById('new_sub_product_name' + product_size_id).value;
								new_sizes[product_size_id].price = document.getElementById('new_sub_product_price' + product_size_id).value;
								new_sizes[product_size_id].inventory = document.getElementById('new_sub_product_inventory' + product_size_id).value;
							}

<?php if($product_id > 0): ?>	
<?php foreach ($product_sizes as $id => $data): ?>
								if (deleted_sizes[<?=$id?>] > 0) {

								} else {
									new_sizes[<?=$id?>] = {};
									
									new_sizes[<?=$id?>].name = document.getElementById('new_sub_product_name<?=$id?>').value;
									new_sizes[<?=$id?>].price = document.getElementById('new_sub_product_price<?=$id?>').value;
									new_sizes[<?=$id?>].inventory = document.getElementById('new_sub_product_inventory<?=$id?>').value;
								}
								
<?php endforeach; ?>
<?php endif; ?>

						$.ajax({
							url: "/admin/write-product",
							type: 'post',
							dataType: 'html',
							data: {
								product_id: <?=$product_id?>,
								name: document.getElementById('name').value,
								active: 1,
								attachment1: document.getElementById('attachment1').value,
								attachment2: document.getElementById('attachment2').value,
								attachment3: document.getElementById('attachment3').value,
								attachment4: document.getElementById('attachment4').value,
								attachment5: document.getElementById('attachment5').value,
								unit_price_wholesale: document.getElementById('unit_price_wholesale').value,
								vendor_id: document.getElementById('vendor_id').value,
								unit_name: document.getElementById('unit_name').value,
								product_type_id: document.getElementById('product_type_id').value,
								description: tinyMCE.activeEditor.getContent(),
								new_sizes: new_sizes,				
								initial_inventory: document.getElementById('initial_inventory').value
							},
							async: false,
							success: function(data) {
								if (data == 1) {
									swal({
										title: 'Mission Accomplished!',
										text: "This product's data has been updated.",
										type: 'success',
										showCancelButton: true,
										confirmButtonColor: '#3085d6',
										cancelButtonColor: '#d33',
										confirmButtonText: 'To Inventory',
										cancelButtonText: 'To Product List',
										confirmButtonClass: 'btn btn-success',
										cancelButtonClass: 'btn btn-danger',
										buttonsStyling: false
									}).then(function () {
										window.location.href = '/admin/inventory';
									}, function (dismiss) {
										window.location.href = '/admin/view-product';
									});
									

								} else {
									console.log(data);
								}
							} 
						});
					} while (false);
				});
		
				$("#delete").click(function () {
					swal({   
						title: "Confrim Delete",   
						text: 'Are you sure you want to delete this product?',
						type: "warning",    
						showCancelButton: true,
						cancelButtonText: "No, go back",
						confirmButtonColor: "#15A59B",   
						confirmButtonText: "Yes!",   
						closeOnConfirm: false 
						}, 
						function(){   
							confirmDelete();
						}
					);
				});
				
			});
		
			function checkQuantity(i) {
				if (document.getElementById('new_sub_product_name' + i).value == '' || document.getElementById('new_sub_product_price' + i).value == '' || document.getElementById('new_sub_product_inventory' + i).value == '') {
					document.getElementById('quantity_box' + i).style.backgroundColor = 'rgba(255, 0, 0, 0.4)';
				} else {
					document.getElementById('quantity_box' + i).style.backgroundColor = 'rgba(0, 255, 0, 0.4)';
				}
			}
			
			function showNewQuantity(i) {
				var num = parseInt(i + 1);
				
				document.getElementById('add_quantity_button' + i).style.display = 'none';
				document.getElementById('add_quantity' + num).style.display = 'inline';
		
				if (i == 1) {
					document.getElementById('add_quantity_button2').style.display = 'inline';
				}
			}
		
			function activate(num) {
				$.ajax({
					url: "/admin/activateProduct",
					type: 'post',
					dataType: 'html',
					data: {
						product_id: <?=$product_id?>,
						flag: num
					},
					async: false,
					success: function(data) {
						if (data == 1) {			
							if (num == 1) {
								document.getElementById('active_on').style.display = '';
								document.getElementById('active_off').style.display = 'none';
							} else {
								document.getElementById('active_on').style.display = 'none';
								document.getElementById('active_off').style.display = '';
							}				
						} else {
							alert(data);
						}
					} 
				});
			}


			<?php if($product_id > 0): ?>	
			<?php foreach ($product_sizes as $id => $data): ?>
							checkQuantity(<?=$id?>);
			<?php endforeach; ?>
			<?php endif; ?>
							var new_sizes = {};
							var deleted_sizes = {};
		
			function deleteSize(product_size_id) {
				swal({   
					title: "Delete Product Size?",   
					text: 'Are you sure you want to delete this product size?',
					type: "warning",    
					showCancelButton: true,
					cancelButtonText: "NO",
					confirmButtonColor: "#15A59B",   
					confirmButtonText: "YES",   
					closeOnConfirm: true 
					}, 
					function(){   
						deleted_sizes[product_size_id] = product_size_id;
						
						$.ajax({
							url: "/admin/deleteProductSize",
							type: 'post',
							dataType: 'html',
							data: {product_size_id: product_size_id},
							async: false,
							success: function(data) {
								if (data == 1) {							
									document.getElementById('size_box' + product_size_id).style.display = 'none';
								} else {
									alert(data);
								}
							} 
						});
					});
				
			}
		
			function newQuantity() {
				$.ajax({
					url: "/admin/write-product-size",
					type: 'post',
					dataType: 'html',
					data: {
						product_id: <?=$product_id?>,
						name: document.getElementById('name').value,
						active: 1,
						attachment1: document.getElementById('attachment1').value,
						attachment2: document.getElementById('attachment2').value,
						attachment3: document.getElementById('attachment3').value,
						attachment4: document.getElementById('attachment4').value,
						attachment5: document.getElementById('attachment5').value,
						vendor_id: document.getElementById('vendor_id').value,
						unit_name: document.getElementById('unit_name').value,
						product_type_id: document.getElementById('product_type_id').value,
						initial_inventory: document.getElementById('initial_inventory').value,
						description: tinyMCE.activeEditor.getContent(),
					},
					async: false,
					success: function(data) {
						if (data == 0) {
							//error
							alert(data);
						} else {
							if (<?=$product_id?> == 0) {
								window.location.replace('/admin/edit-product?product_id=' + data + '#snap_point');
							} else {
								var html = `
									<div id="size_box` + data + `" class="2u 12u(s)">
										<div id="quantity_box` + data + `" class="shadow" style="padding: 10px; background-color: rgba(0, 255, 0, 0.4);">
											<label>Required Product Quantity<hr style="margin: 5px;"></label>
											<label>Quantity Name</label>
											<input id="new_sub_product_name` + data + `" class="form-control" placeholder="Name..." value="" onkeyup="javascript: checkQuantity(` + data + `);">	
											<br>
											<label>Quantity Price</label>
											<div class="row">
												<div class="2u">
													<div style="line-height: 33px; font-weight: bold;">$</div>
												</div>
												<div class="8u">
													<input id="new_sub_product_price` + data + `" class="form-control" placeholder="Amount..." value="" onkeyup="javascript: checkQuantity(` + data + `);">	
												</div>
											</div>
											<br>
											<label>Inventory Units</label>
											<input id="new_sub_product_inventory` + data + `" class="form-control" placeholder="#..." value="" onkeyup="javascript: checkQuantity(` + data + `);">	
										</div>
									</div>
								`;
		
								$( "#new_quantity_box" ).before(html);
		
								var name = 'new_sub_product_name' + data;
								var price = 'new_sub_product_name' + data;
								var inventory = 'new_sub_product_inventory' + data;
		
								new_sizes[data] = {};
								new_sizes[data].name = '';
								new_sizes[data].price = '';
								new_sizes[data].inventory = '';
							}
						}
					} 
				});
				
							
			}
		
			function confirmDelete() {
				$.ajax({
					url: "/admin/deleteProduct",
					type: 'post',
					dataType: 'html',
					data: {product_id: <?=$product_id?>},
					async: false,
					success: function(data) {
						if (data == 1) {
							swal({   
								title: "Product Deleted",   
								text: 'This product has been deleted',
								type: "success",    
								confirmButtonColor: "#15A59B",   
								confirmButtonText: "OK!",   
								closeOnConfirm: false 
								}, 
								function(){   
									window.location.replace('/admin/view-product');
								});
						} else {
							alert(data);
						}
					} 
				});
			} 

			</script>
			<style>
				.btn-success {
					margin-right: 50px;
				}
			</style>
