<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

<nav class="navbar navbar-inverse navbar-fixed-top" style="background-image: url('http://i.imgur.com/KGeYbKh.jpg'); height: 75px; width: 100%;">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button" style="background-color: #3F408E; height: 50px; z-index: 11111;">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div id="navbar" class="navbar-collapse collapse" style="position: absolute; top: 10px; right: 15px; z-index: 11111;">
	<ul class="nav navbar-nav navbar-right" style="margin-top: 10px;">
		<li>
			<a href="/" class="nav-item"><h4 style="line-height: 0px; margin: 5px;">HOME</h4></a>
		</li>
		<li>
			<a href="/menu" class="nav-item"><h4 style="line-height: 0px; margin: 5px;">DAILY MENU</h4></a>
		</li>
		<li>
			<a href="/cake" class="nav-item"><h4 style="line-height: 0px; margin: 5px; font-family: 'Raleway', sans-serif;">CAKES</h4></a>
		</li>
		<li>
			<a href="/gallery" class="nav-item"><h4 style="line-height: 0px; margin: 5px;">GALLERY</h4></a>
		</li>
		<li>
			<a href="/reviews" class="nav-item"><h4 style="line-height: 0px; margin: 5px;">REVIEWS</h4></a>
		</li>
		<li>
			<a href="/about" class="nav-item"><h4 style="line-height: 0px; margin: 5px;">ABOUT</h4></a>
		</li>
		<li>
			<a href="/contact" class="nav-item"><h4 style="line-height: 0px; margin: 5px;">CONTACT</h4></a>
		</li>
	</ul>
</div>
            </div>
<img id="header_logo" style="width: 250px; height: 55px; border-radius: 2px; box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); position: absolute; top: 11px; left: 15px;" alt="Company logo under" src="http://i.imgur.com/QXWs8i0.jpg">
<div style="width: 100%; height: 3px; background-color: #292B83; position: absolute; bottom: 0px; margin-bottom: -3px;">&nbsp;</div>
</nav>

<style>
h1, h2, h3, h4{
	font-family: 'Raleway', sans-serif  !important;
}
</style>