<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- Tell the browser to be responsive to screen width -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<!-- Favicon icon -->
	<link rel="icon" type="image/png" sizes="16x16" href="../../../admin/vital_logo.png">
	<title><?=$company_info['name']?> - ADMIN</title>
	<!-- Bootstrap Core CSS -->
	<link href="../../../admin/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet">

	<!-- chartist CSS -->
	<link href="../../../admin/plugins/chartist-js/dist/chartist.min.css" rel="stylesheet">
	<link href="../../../admin/plugins/chartist-js/dist/chartist-init.css" rel="stylesheet">
	<link href="../../../admin/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css" rel="stylesheet">
	<link href="../../../admin/plugins/css-chart/css-chart.css" rel="stylesheet">
	<!-- Custom CSS -->
	<link href="../../../admin/css/style_light.css?ts=<?=time()?>&quot;" rel="stylesheet">
	<link href="../../../admin/css/custom.css?ts=<?=time()?>&quot;" rel="stylesheet">
	<!-- You can change the theme colors from here -->

<?php if ($loader['admin_user']['theme'] == ''): ?>
	<link href="../../../admin/css/colors/default.css" id="theme" rel="stylesheet">
<?php else: ?>
	<link href="../../../admin/css/colors/<?=$loader['admin_user']['theme']?>.css?ts=<?=time()?>&quot;" id="theme" rel="stylesheet">
<?php endif; ?>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	<script src="../../../admin/plugins/datatables/jquery.dataTables.min.js"></script>
	
	<script type="text/javascript" src="../../../tinymce/js/tinymce/tinymce.min.js"></script>
	
	<script src="../../../admin/plugins/echarts/echarts-all.js"></script>
    
	<script type="text/javascript" src="../../../js/fancybox/jquery.fancybox.js"></script>
		
	<link href="../../../admin/plugins/clockpicker/dist/jquery-clockpicker.min.css" rel="stylesheet">
	<script src="../../../admin/plugins/clockpicker/dist/jquery-clockpicker.min.js"></script>

	<script type='text/javascript' src='../../../js/tipped/tipped.js'></script>	
	<link rel='stylesheet' href='../../../js/tipped/tipped.css' type='text/css' />
	
	<link href="../../../admin/plugins/clockpicker/dist/jquery-clockpicker.min.css" rel="stylesheet">
	<link href="../../../admin/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
	<script src="../../../admin/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
		

	<link rel="stylesheet" href="../../../js/fancybox/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
	<link rel="stylesheet" href="../../../js/fancybox/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
	<link rel="stylesheet" href="../../../js/fancybox/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />
	
	<script src='//cdn.tinymce.com/4/tinymce.min.js'></script>
	
	<link href="../../../admin/plugins/x-editable/dist/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet" type="text/css" />
	
	<!-- Dropzone css -->
	<link href="../../../admin/plugins/dropzone-master/dist/dropzone.css" rel="stylesheet" type="text/css" />
	<script src="../../../admin/plugins/dropzone-master/dist/dropzone.js"></script>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.10/sweetalert2.js"></script> 
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.10/sweetalert2.css">	
	
	<script type="text/javascript" src="../../../admin/js/moment.js"></script>
	<script type="text/javascript" src="../../../admin/js/date_range_picker/daterangepicker.js"></script>
	<link rel="stylesheet" type="text/css" href="../../../admin/js/date_range_picker/daterangepicker.css?ts=<?=time()?>&quot;" />
	
	<!-- Magnific popup JavaScript -->
	<link href="../../../admin/plugins/Magnific-Popup-master/dist/magnific-popup.css" rel="stylesheet">
    <script src="../../../admin/plugins/Magnific-Popup-master/dist/jquery.magnific-popup.min.js"></script>
    <script src="../../../admin/plugins/Magnific-Popup-master/dist/jquery.magnific-popup-init.js"></script>
	
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	
	<link href="../../../css/fontawesome-pro-5.0.1/web-fonts-with-css/css/fontawesome-all.min.css" id="theme" rel="stylesheet">

</head>

<body class="fix-header fix-sidebar card-no-border">

    <div id="main-wrapper">
        <header class="topbar">
            <nav class="navbar top-navbar navbar-toggleable-sm navbar-light">

                <div class="navbar-header">
                    <a class="navbar-brand" href="/">
                        <!-- Logo icon -->
                        <b>
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            

							<img src="../../../admin/vital.png" alt="homepage" class="dark-logo" style="height: 75px; width: 75px;" />


							<img src="../../../admin/vital.png" alt="homepage" class="light-logo" style="height: 75px; width: 75px;" />
						</b>
                        <!--End Logo icon -->
                        <!-- Logo text -->
                     </a>
                </div>

                <div class="navbar-collapse" style="margin-left: 25px;">

                    <ul class="navbar-nav mr-auto mt-md-0 ">
                        <!-- This is  -->
                        <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                        <li class="nav-item"> <a class="nav-link sidebartoggler hidden-sm-down text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="icon-arrow-left-circle"></i></a> </li>
                        <!-- ============================================================== -->
                        <!-- Comment -->
                        <!-- ============================================================== -->
<!--                         <li class="nav-item dropdown"> -->
<!-- 							<a class="nav-link dropdown-toggle text-muted text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="mdi mdi-message"></i> -->
							<!-- @TODO alert animation	<div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div> -->
<!-- 							</a> -->
<!--                             <div class="dropdown-menu mailbox animated bounceInDown"> -->
<!--                                 <ul> -->
<!--                                     <li> -->
<!--                                         <div class="drop-title">Notifications</div> -->
<!--                                     </li> -->
<!--                                     <li> -->
<!--                                         <div class="message-center"> -->
                                            <!-- Message -->
<!--                                             <a href="#"> -->
<!--                                                 <div class="btn btn-danger btn-circle"><i class="fa fa-link"></i></div> -->
<!--                                                 <div class="mail-contnet"> -->
<!--                                                     <h5>Luanch Admin</h5> <span class="mail-desc">Just see the my new admin!</span> <span class="time">9:30 AM</span> </div> -->
<!--                                             </a> -->
                                            <!-- Message -->
<!--                                             <a href="#"> -->
<!--                                                 <div class="btn btn-success btn-circle"><i class="ti-calendar"></i></div> -->
<!--                                                 <div class="mail-contnet"> -->
<!--                                                     <h5>Event today</h5> <span class="mail-desc">Just a reminder that you have event</span> <span class="time">9:10 AM</span> </div> -->
<!--                                             </a> -->
                                            <!-- Message -->
<!--                                             <a href="#"> -->
<!--                                                 <div class="btn btn-info btn-circle"><i class="ti-settings"></i></div> -->
<!--                                                 <div class="mail-contnet"> -->
<!--                                                     <h5>Settings</h5> <span class="mail-desc">You can customize this template as you want</span> <span class="time">9:08 AM</span> </div> -->
<!--                                             </a> -->
                                            <!-- Message -->
<!--                                             <a href="#"> -->
<!--                                                 <div class="btn btn-primary btn-circle"><i class="ti-user"></i></div> -->
<!--                                                 <div class="mail-contnet"> -->
<!--                                                     <h5>Pavan kumar</h5> <span class="mail-desc">Just see the my admin!</span> <span class="time">9:02 AM</span> </div> -->
<!--                                             </a> -->
<!--                                         </div> -->
<!--                                     </li> -->
<!--                                     <li> -->
<!--                                         <a class="nav-link text-center" href="javascript:void(0);"> <strong>Check all notifications</strong> <i class="fa fa-angle-right"></i> </a> -->
<!--                                     </li> -->
<!--                                 </ul> -->
<!--                             </div> -->
<!--                         </li> -->
                        <!-- ============================================================== -->
                        <!-- End Comment -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- Messages -->
                        <!-- ============================================================== -->
<!--                         <li class="nav-item dropdown"> -->
<!-- 							<a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" id="2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="mdi mdi-email"></i> -->
								<!-- @TODO alert animation	<div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div> -->
<!-- 							</a> -->
<!-- 							<div class="dropdown-menu mailbox animated bounceInDown" aria-labelledby="2"> -->
<!--                                 <ul> -->
<!--                                     <li> -->
<!--                                         <div class="drop-title">You have 4 new messages</div> -->
<!--                                     </li> -->
<!--                                     <li> -->
<!--                                         <div class="message-center"> -->
                                            <!-- Message -->
<!--                                             <a href="#"> -->
<!--                                                 <div class="user-img"> <img src="../../../admin/images/users/joe_ahart.png" alt="user" class="img-circle"> <span class="profile-status online pull-right"></span> </div> -->
<!--                                                 <div class="mail-contnet"> -->
<!--                                                     <h5>Pavan kumar</h5> <span class="mail-desc">Just see the my admin!</span> <span class="time">9:30 AM</span> </div> -->
<!--                                             </a> -->
                                            <!-- Message -->
<!--                                             <a href="#"> -->
<!--                                                 <div class="user-img"> <img src="../../../admin/images/users/2.jpg" alt="user" class="img-circle"> <span class="profile-status busy pull-right"></span> </div> -->
<!--                                                 <div class="mail-contnet"> -->
<!--                                                     <h5>Sonu Nigam</h5> <span class="mail-desc">I've sung a song! See you at</span> <span class="time">9:10 AM</span> </div> -->
<!--                                             </a> -->
                                            <!-- Message -->
<!--                                             <a href="#"> -->
<!--                                                 <div class="user-img"> <img src="../../../admin/images/users/3.jpg" alt="user" class="img-circle"> <span class="profile-status away pull-right"></span> </div> -->
<!--                                                 <div class="mail-contnet"> -->
<!--                                                     <h5>Arijit Sinh</h5> <span class="mail-desc">I am a singer!</span> <span class="time">9:08 AM</span> </div> -->
<!--                                             </a> -->
                                            <!-- Message -->
<!--                                             <a href="#"> -->
<!--                                                 <div class="user-img"> <img src="../../../admin/images/users/4.jpg" alt="user" class="img-circle"> <span class="profile-status offline pull-right"></span> </div> -->
<!--                                                 <div class="mail-contnet"> -->
<!--                                                     <h5>Pavan kumar</h5> <span class="mail-desc">Just see the my admin!</span> <span class="time">9:02 AM</span> </div> -->
<!--                                             </a> -->
<!--                                         </div> -->
<!--                                     </li> -->
<!--                                     <li> -->
<!--                                         <a class="nav-link text-center" href="javascript:void(0);"> <strong>See all e-Mails</strong> <i class="fa fa-angle-right"></i> </a> -->
<!--                                     </li> -->
<!--                                 </ul> -->
<!--                             </div> -->
<!--                         </li> -->
                        <!-- ============================================================== -->
                        <!-- End Messages -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- Messages -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown mega-dropdown" style="display: none;"> <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="mdi mdi-view-grid"></i></a>
                            <div class="dropdown-menu animated bounceInDown">
                                <ul class="mega-dropdown-menu row">
                                    <li class="col-lg-3 col-xlg-2 m-b-30">
                                        <h4 class="m-b-20">CAROUSEL</h4>
                                        <!-- CAROUSEL -->
                                        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                                            <div class="carousel-inner" role="listbox">
                                                <div class="carousel-item active">
                                                    <div class="container"> <img class="d-block img-fluid" src="../../../admin/images/big/img1.jpg" alt="First slide"></div>
                                                </div>
                                                <div class="carousel-item">
                                                    <div class="container"><img class="d-block img-fluid" src="../../../admin/images/big/img2.jpg" alt="Second slide"></div>
                                                </div>
                                                <div class="carousel-item">
                                                    <div class="container"><img class="d-block img-fluid" src="../../../admin/images/big/img3.jpg" alt="Third slide"></div>
                                                </div>
                                            </div>
                                            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a>
                                            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span> </a>
                                        </div>
                                        <!-- End CAROUSEL -->
                                    </li>
                                    <li class="col-lg-3 m-b-30">
                                        <h4 class="m-b-20">ACCORDION</h4>
                                        <!-- Accordian -->
                                        <div id="accordion" class="nav-accordion" role="tablist" aria-multiselectable="true">
                                            <div class="card">
                                                <div class="card-header" role="tab" id="headingOne">
                                                    <h5 class="mb-0">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                  Collapsible Group Item #1
                                                </a>
                                              </h5> </div>
                                                <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                                                    <div class="card-block"> Anim pariatur cliche reprehenderit, enim eiusmod high. </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header" role="tab" id="headingTwo">
                                                    <h5 class="mb-0">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                  Collapsible Group Item #2
                                                </a>
                                              </h5> </div>
                                                <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                                                    <div class="card-block"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header" role="tab" id="headingThree">
                                                    <h5 class="mb-0">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                  Collapsible Group Item #3
                                                </a>
                                              </h5> </div>
                                                <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                                                    <div class="card-block"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="col-lg-3  m-b-30">
                                        <h4 class="m-b-20">CONTACT US</h4>
                                        <!-- Contact -->
                                        <form>
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="exampleInputname1" placeholder="Enter Name"> </div>
                                            <div class="form-group">
                                                <input type="email" class="form-control" placeholder="Enter email"> </div>
                                            <div class="form-group">
                                                <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Message"></textarea>
                                            </div>
                                            <button type="submit" class="btn btn-info">Submit</button>
                                        </form>
                                    </li>
                                    <li class="col-lg-3 col-xlg-4 m-b-30">
                                        <h4 class="m-b-20">List style</h4>
                                        <!-- List style -->
                                        <ul class="list-style-none">
                                            <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> You can give link</a></li>
                                            <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> Give link</a></li>
                                            <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> Another Give link</a></li>
                                            <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> Forth link</a></li>
                                            <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> Another fifth link</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- ============================================================== -->
                        <!-- End Messages -->
                        <!-- ============================================================== -->
                    </ul>
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav my-lg-0">
              
                        <li class="nav-item hidden-sm-down">
                            <form class="app-search">
                                <input type="text" class="form-control" placeholder="Search for..."> <a class="srh-btn"><i class="ti-search"></i></a> </form>
                        </li>
                        <li class="nav-item dropdown">
<?php if ($loader['admin_user']['profile_image'] != '' && file_exists($company_info['exists_path'] . $loader['admin_user']['profile_image'])): ?>
							<a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="<?=$company_info['upload_path']?><?=$loader['admin_user']['profile_image']?>" alt="user" class="profile-pic" /></a>
<?php else: ?>
							<a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="text-align: center;"><i class="fa fa-user-circle" style="width: 50px; height: 50px; line-height: 50px; font-size: 200%;"></i></a>
<?php endif; ?>
                            <div class="dropdown-menu dropdown-menu-right animated flipInY">
                                <ul class="dropdown-user">
                                    <li>
                                        <div class="dw-user-box">
<?php if ($loader['admin_user']['profile_image'] != '' && file_exists($company_info['exists_path'] . $loader['admin_user']['profile_image'])): ?>
											<div class="u-img"><img src="<?=$company_info['upload_path']?><?=$loader['admin_user']['profile_image']?>" alt="user"></div>
<?php else: ?>
											<div class="u-img"><i class="fa fa-user-circle" style="width: 50px; height: 50px; line-height: 50px; font-size: 300%;"></i></div>
<?php endif; ?>
                                            <div class="u-text">
                                                <h4><?=$loader['admin_user']['first_name']?> <?=$loader['admin_user']['last_name']?></h4>
                                                <p class="text-muted"><?=$loader['admin_user']['email']?></p>
                                            </div>
                                        </div>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="<?=$company_info['nav_path']?>edit-user?user_id=<?=$loader['admin_user']['id']?>"><i class="ti-user"></i> My Profile</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="javascript:void(0)" class="right-side-toggle"><i class="ti-palette"></i> Change Theme</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="/admin/logout"><i class="fa fa-power-off"></i> Logout</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item dropdown" style="display: none;">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="flag-icon flag-icon-us"></i></a>
                            <div class="dropdown-menu  dropdown-menu-right animated bounceInDown"> <a class="dropdown-item" href="#"><i class="flag-icon flag-icon-in"></i> India</a> <a class="dropdown-item" href="#"><i class="flag-icon flag-icon-fr"></i> French</a> <a class="dropdown-item" href="#"><i class="flag-icon flag-icon-cn"></i> China</a> <a class="dropdown-item" href="#"><i class="flag-icon flag-icon-de"></i> Dutch</a> </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

<!-- SIDE BAR NAV -->
		<aside class="left-sidebar">
			<div class="scroll-sidebar">
				<div class="user-profile">
<?php if ($loader['admin_user']['profile_image'] != '' && file_exists($company_info['exists_path'] . $loader['admin_user']['profile_image'])): ?>
					<div class="profile-img"> <img src="<?=$company_info['upload_path']?><?=$loader['admin_user']['profile_image']?>" alt="user" /> </div>
<?php else: ?>
					<div class="profile-img"> <i class="fa fa-user-circle" style="width: 50px; height: 50px; font-size: 300%;"></i> </div>

<?php endif; ?>
					<div class="profile-text"> <a href="#" class="dropdown-toggle link u-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"><?=$loader['admin_user']['first_name']?> <?=$loader['admin_user']['last_name']?><span class="caret"></span></a>
						<div class="dropdown-menu animated flipInY">
							<a href="<?=$company_info['nav_path']?>edit-user?user_id=<?=$loader['admin_user']['id']?>" class="dropdown-item"><i class="ti-user"></i> My Profile</a>
							<div class="dropdown-divider"></div>
							<a href="javascript:void(0)" class="dropdown-item right-side-toggle"><i class="ti-palette"></i> Change Theme</a>
							<!-- @TODO balance <a href="#" class="dropdown-item"><i class="ti-wallet"></i> My Balance</a> -->
							<div class="dropdown-divider"></div> <a href="<?=$company_info['nav_path']?>logout" class="dropdown-item"><i class="fa fa-power-off"></i> Logout</a>
						</div>
					</div>
				</div>
				<nav class="sidebar-nav">
					<ul id="sidebarnav">
						<li class="nav-small-cap"></li>
						<li>
<?php if ($loader['page'] == 'admin/index'): ?>
							<a href="<?=$company_info['nav_path']?>" aria-expanded="false" class="active"><i class="mdi mdi-gauge"></i><span class="hide-menu">Dashboard</span></a>
<?php else: ?>
							<a href="<?=$company_info['nav_path']?>" aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu">Dashboard</span></a>
<?php endif; ?>
						</li>



<?php if($loader['admin_user']['user_type_id'] != 3): ?>
						<li>
<?php if ($loader['page'] == 'memberships'): ?>
							<a class="has-arrow active" href="/admin/memberships" aria-expanded="false"><i class="mdi mdi-account-multiple"></i><span class="hide-menu">Users <span class="label label-rounded label-success"><?=count($loader['inactive'])?></span></span></a>							
<?php else: ?>
							<a class="has-arrow" href="/admin/memberships" aria-expanded="false"><i class="mdi mdi-account-multiple"></i><span class="hide-menu">Users <span class="label label-rounded label-success"><?=count($loader['inactive'])?></span></span></a>							
<?php endif; ?>
							<ul aria-expanded="false" class="collapse">
								<li><a href="<?=$company_info['nav_path']?>memberships"><i class="fa fa-long-arrow-right"></i> Users <i class="fa fa-users"></i></a></li>
								<li><a href="<?=$company_info['nav_path']?>memberships#admin_table2"><i class="fa fa-long-arrow-right"></i> Admins <i class="fa fa-shield"></i></a></li>
							</ul>
						</li>
<?php endif; ?>

					
<?php if($loader['admin_user']['user_type_id'] != 3): ?>

						<li>
<?php if ($loader['page'] == 'datasets'): ?>
							<a href="<?=$company_info['nav_path']?>datasets" class="active"><i class="mdi mdi-chart-line"></i><span class="hide-menu">Data Sets</span></a>
<?php else: ?>
							<a href="<?=$company_info['nav_path']?>datasets"><i class="mdi mdi-chart-line"></i><span class="hide-menu">Data Sets</span></a>
<?php endif; ?>
						</li>

						<li>
<?php if ($loader['page'] == 'steps'): ?>
							<a href="<?=$company_info['nav_path']?>steps" class="active"><i class="mdi mdi-walk"></i><span class="hide-menu">Steps</span></a>
<?php else: ?>
							<a href="<?=$company_info['nav_path']?>steps"><i class="mdi mdi-walk"></i><span class="hide-menu">Steps</span></a>
<?php endif; ?>
						</li>
						
						<li>
<?php if ($loader['page'] == 'diet'): ?>
							<a href="<?=$company_info['nav_path']?>diet" class="active"><i class="mdi mdi-food-fork-drink"></i><span class="hide-menu">Diet</span></a>
<?php else: ?>
							<a href="<?=$company_info['nav_path']?>diet"><i class="mdi mdi-food-fork-drink"></i><span class="hide-menu">Diet</span></a>
<?php endif; ?>
						</li>

						<li>
<?php if ($loader['page'] == 'blood-pressure'): ?>
							<a href="<?=$company_info['nav_path']?>blood-pressure" class="active"><i class="mdi mdi-heart-pulse"></i><span class="hide-menu">Body</span></a>
<?php else: ?>
							<a href="<?=$company_info['nav_path']?>blood-pressure"><i class="mdi mdi-heart-pulse"></i><span class="hide-menu">Body</span></a>
<?php endif; ?>
						</li>
						
						<li>
<?php if ($loader['page'] == 'meds'): ?>
							<a href="<?=$company_info['nav_path']?>meds" class="active"><i class="mdi mdi-hospital"></i><span class="hide-menu">Meds</span></a>
<?php else: ?>
							<a href="<?=$company_info['nav_path']?>meds"><i class="mdi mdi-hospital"></i><span class="hide-menu">Meds</span></a>
<?php endif; ?>
						</li>
						
						<li>
<?php if ($loader['page'] == 'tests'): ?>
							<a href="<?=$company_info['nav_path']?>tests" class="active"><i class="mdi mdi-clipboard-text"></i><span class="hide-menu">Tests</span></a>
<?php else: ?>
							<a href="<?=$company_info['nav_path']?>tests"><i class="mdi mdi-clipboard-text"></i><span class="hide-menu">Tests</span></a>
<?php endif; ?>
						</li>

<?php endif; ?>
					</ul>
				</nav>
			</div>
			<div class="sidebar-footer">
<!--            <a href="" class="link" data-toggle="tooltip" title="Settings"><i class="ti-settings"></i></a> -->
<!--            <a href="" class="link" data-toggle="tooltip" title="Email"><i class="mdi mdi-gmail"></i></a> -->
				<a href="<?=$company_info['nav_path']?>logout" class="link" data-toggle="tooltip" title="Logout"><i class="mdi mdi-power"></i></a>
			</div>
		</aside>
