	
	<div>
		<header  style="text-align: center; margin: 5%;">
			<h2>Create New User</h2>
			<div>
			
<h1>ROOT BASICS(A Private Wellness Membership Association)</h1>
<br /><br />
<h1 style="font-weight: bold;">MEMBERSHIP CONTRACT</h1>
<br /><br />
I, _________________________________________, for membership fee paid in hand, do hereby apply for membership in ROOT BASICS, a private wellness membership association.  With the signing of this membership agreement I/we accept the offer made to become a member of ROOT BASICS and have read and agree with the following Declaration of Purpose from Article I of ROOT BASICS Articles of Association.
<br /><br />
1.     This Association of members hereby declares that our main objective is to maintain and improve the civil rights, constitutional guarantees, and political freedom of every member and citizen of the United States of America.  We believe that the Constitution of the United States is one of the best documents ever devised by man, and the signers of the Declaration of Independence did so out of love for their country.
<br /><br />
2.     We believe that the First Amendment of the Constitution of the United States of America guarantees our members the rights of free speech, petition, assembly, and the right to gather together for the lawful purpose of advising and helping one another in asserting our rights under the Federal and State Constitutions and Statutes. 
<br /><br />
IT IS HEREBY Declared that we are exercising our right of "freedom of association" as guaranteed by the 1st and 14th Amendments of the U.S. Constitution and equivalent provisions of the various State Constitutions.  This means that our association activities are restricted to the private domain only.
<br /><br />
3.     We declare the basic right of all of our members to select spokesmen from our number who could be expected to give wisest counsel and advice concerning the need for physical and mental health care assistance and to select from our number those members who are the most skilled to assist and facilitate the actual performance and delivery of therapy, treatment and care, as well as recommended products.
<br /><br />
4.     We proclaim the freedom to choose and perform for ourselves the types of therapies and treatment modalities that we think best for diagnosing, treating and preventing illness and disease of our minds and bodies and for achieving and maintaining optimum wellness.  We proclaim and reserve the right to include health options that include but are not limited to cutting edge treatment modalities and therapies practiced or used by any types of healers or therapists or practitioners the world over whether traditional or nontraditional, conventional or unconventional.  
<br /><br />
5.     More specifically, the mission of our Association is to provide members with the highest level of quality care and the most effective methods of treatment.  We treat members and their health condition, and not merely the symptoms experienced.  Our Association understands that wellness has many dimensions and strives every day to stay on the leading edge of new products and technology.  The Association provides comprehensive, conventional, complementary alternative care and advanced technologies to assess all aspects of a member's disease and provide the most effective means of treatment at an affordable fee. More specifically, the Association specializes in consultations, teaching, training, instructions and services to its members and offers products as alternates to medication concerning the modalities of service and benefits to its members.
<br /><br />
6.     The Association will recognize any person (irrespective of race, color, or religion) who is inaccordance with these principles and policies as a member, and will provide a medium through which its individual members may associate for actuating and bringing to fruition the purposes heretofore declared.

<br /><br />
MEMORANDUM OF UNDERSTANDING 
<br /><br />
I, _________(initial here) understand that the fellow members of the Association that provide services and care, do so in the capacity of a fellow member and not in the capacity as a licensed health care provider.  I further understand that within the association no doctor-patient relationship exists but only a contract member-member Association relationship.  In addition, I have freely chosen to change my legal status as a public patient, customer or client to a private member of the Association. I further understand that it is entirely my own responsibility to consider the advice and recommendations offered to me by my fellow members and to educate myself as to the efficacy, risks, and desirability of same and the acceptance of the offered or recommended assessment, therapy, treatment and care is my own carefully considered decision.  Any request by me to a fellow member to assist me or provide me with the aforementioned diagnosis, therapy, treatment and care is my own free decision in an exercise of my rights and made by me for my benefit, and I agree to hold the Trustee(s), staff and other worker members and the Association harmless from any unintentional liability for the results of such care, except for harm that results from instances of a clear and present danger of substantive evil as determined by the Association, as stated and defined by the United States Supreme Court. 
<br /><br />
The Trustees and members have chosen JUDITH L. STONE as the person best qualified to perform services to members of the Association and entrust her to select other members to assist her in carrying out that service.
<br /><br />
In addition, I understand that, since the Association is protected by the First and Fourteenth Amendments to the U.S. Constitution, it is outside the jurisdiction and authority of Federal and State Agencies and Authorities concerning any and all complaints or grievances against the Association, any Trustee(s), members or other staff persons.  All rights of complaints or grievances will be settled by an Association Committee and will be waived by the member for the benefit of the Association and its members. Because the privacy and security of membership records maintained within the Association which have been held to be inviolate by the U.S. Supreme Court, the undersigned member waives HIPAA privacy rights and complaint process.  Any medical, healthcare or wellness records kept by the association will be strictly protected and only released upon written request of the member.  I agree that violation of any waivers in this membership contract will result in a no contest legal proceeding against me.  In addition, the Association does not participate in any medical insurance plans or collections on behalf of the member but will provide a suitable invoice for the member to pursue reimbursement by his/her insurance company, if applicable.
<br /><br />
I agree to join the Association, a private membership association under common law, whose members seek to help each other achieve better health and live longer with good quality of life.
<br /><br />
I understand that the doctors, nurses, and other providers who are fellow members of the Association are offering me advice, services, and benefits that do not necessarily conform to conventional medical care.  I do not expect these benefits to include on-call coverage, hospital care, or the usual and customary care provided by most physicians.  I will receive such primary and specialist care elsewhere.  I fully understand that the benefits I receive from the Association might or might not be covered by my health insurance and not at all by Medicare.
<br /><br />
As a member, I accept the goals of helping my body function better and choosing techniques that are both very safe and have a reasonably good chance to succeed, realizing that no diagnostic technique or treatment is foolproof.  If I choose to forgo drugs, surgery, or radiation that has been recommended to me by others, I fully accept the risk that I might suffer serious consequences from that choice.  Other aspects of informed consent will take place in my discussions with the providers and my fellow members of the Association.
<br /><br />
My activities within the Association are a private matter that I refuse to share with the State Medical Board, the FDA, FTC, Medicare, Medicaid or my own insurance company without my expressed specific permission.  All records and documents remain as property of the Association, even if I receive a copy of them.  I fully agree not to file a malpractice lawsuit against a fellow member of the Association, unless that member has exposed me to a clear and present danger of substantive evil.  I acknowledge that the members of the Association do not carry malpractice insurance.
<br /><br />
I enter into this agreement of my own free will or on behalf of my dependent without any pressure or promise of cure.  I affirm that I do not represent any State or Federal agency whose purpose is to regulate and approve products.  I have read and understood this document, and my questions have been answered fully to my satisfaction.  I understand that I can withdraw from this agreement and terminate my membership in this association at any time.  These pages and Article I of the articles of association of the Association consist of the entire agreement for my membership in the Association and they supersede any previous agreement.
<br /><br />
I understand that the membership fee entitles me to receive those benefits declared by the Trustee(s) to be "general benefits" free of further charge.  I agree to pay as levied those benefits that I receive that are declared by the Trustees to be "special assessments", per Fee Schedule.
<br /><br />
I enclose the sum of $10.00 as consideration for my one-time lifetime membership contract, said term beginning with the date of the signing of this contract, and by these presents do hereby certify, attest and warrant that I have carefully read the above and foregoing ROOT BASIC'S Contractual Application for Membership and I fully understand and agree with same.
<br /><br />
IN WITNESS WHEREOF I set my hand this ______day of _____________________, 20____.

<br /><br />
________________________________________________________________________ 
Member's Name (Please Print Legibly) (and name of legal guardian if applicant under 18 years)


<br /><br /><br /><br />
________________________________________________________________________ 
Member's Signature (and signature of legal guardian if applicant under 18 years)

Members Address and Phone #:	



________________________________________________________________________
Street				City			State			Zip Code                                                                                              
            

	
__________________________________________		________________________
Home/Work/Cell #s						email address
	
	
ROOT BASICS


                                                                        By________________________________________________ 


Approved and accepted this ____________ day of ________________________, 20____.
			</div>
			<div style="margin: 25px 0; font-weight: bold;">
				<input id="agree" type="checkbox" name="agree" value="agree"> Checking this box indicates that you agree to the terms and conditions stated in the previous article 
			</div>
			<button onclick="submitPage()">Submit</button>
		</header>
	</div>
	
		<script type="text/javascript">
		function submitPage()
		{
			do {
				if (document.getElementById('first_name').value === '') {
					alert('error - First Name');
					break;
				}
				
				if (document.getElementById('last_name').value === '') {
					alert('error - Last Name');
					break;
				}
				
				if (document.getElementById('email').value === '') {
					alert('error - Email');
					break;
				}
				
 				window.location.replace('/login/confirmRegister?email=' + document.getElementById('email').value + '&first_name=' + document.getElementById('first_name').value + '&lest_name=' + document.getElementById('last_name').value);
			} while (false);
			
		}
		</script>