		
		
			<section class="wrapper" style="min-height: 85vh;">
				<div class="inner">

					<div class="content">
						<div class="row" style="margin: 0 auto; text-align: center;">
							<div class="3u">&nbsp;</div>
							<div class="6u 12u(s)" style="margin: 0; padding: 0;">&nbsp;
								<div class="shadow" style="background-color: rgba(255,255,255, 0.7); margin-bottom: 25px; padding-top: 25px;">
									<h2 style="margin: 0;">LOGIN</h2>
									<div class="shadow bar" style="height: 15px; width: 90%; margin-left: 5%; z-index: 11111;">&nbsp;</div>
									<iframe id="loading_gif" class="blur-box" style="display: none;" src="//giphy.com/embed/xJCaPc70BUMgg" width="250" height="250" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="http://giphy.com/gifs/xJCaPc70BUMgg"></a></p>
								
									<div class="login_form" class="form" style="margin: 0; text-align: center;">
										<input type="text" id="email" placeholder="Email Address" style="width: 80%; margin-left: 10%; margin-bottom: 20px; border: 1px solid #0FA18C; background-color: white;">
										<input type="password" id="pass" placeholder="Password" style="width: 80%; margin-left: 10%; background-color: white; border: 1px solid #0FA18C;">
										<div style="margin-top: 20px; z-index: 1111;">Forgot your password? <a href="/login/forgot-password" style="color: #11A291;">CLICK HERE</a> to reset.</div>
										<div id="submit" class="button" style="margin-top: 25px;">Login</div>
										<div style="margin-top: 50px; z-index: 1111;">Not a memeber yet? <a href="/join" style="color: #11A291;">Click here</a> to sign up!</div>
									</div>
								</div>
							</div>
							<div class="3u">&nbsp;</div>
						</div>
					</div>
				</div>
			
			</section>

		<script type="text/javascript">
			
			$(document).ready(function () {
				$(document).keypress(function(event){
					var keycode = (event.keyCode ? event.keyCode : event.which);
					if(keycode == '13'){
						submitPage();
					}
				});
				
				$("#submit").click(function () {
					submitPage();
				});
			});

			function submitPage() {
				do {					
					if (document.getElementById('email').value == '') {
						swal("Oops...", "You must enter a user name", "error");
						break;
					}

					if (document.getElementById('pass').value == '') {
						swal("Oops...", "You must enter your password", "error");
						break;
					}
					
					$.ajax({
						url: "/login/loginAction",
						type: 'post',
						dataType: 'html',
						data: 
						{
							email: document.getElementById('email').value, 
							password: document.getElementById('pass').value
						},
						async: false,
						success: function(data) {
							if (data == 1) {
								swal({
									title: "Success!",
									text: "Logging In...",
									type: "success",
									timer: 3000
								}).then(function () {
									window.location.replace('/');
								});
							} else {
								swal("Oops...", "Those login credentials do not match anything in our system. Please try again.", "error");
							}
						} 
					});
				} while (false);
			}

			function closeModal()
			{
				document.getElementById('name').value = '';
				document.getElementById('attachment').value = '';

				tinyMCE.activeEditor.setContent('');
			}
		</script>
		