

		
		
			<section class="wrapper" style="min-height: 85vh;">
				<div class="inner">

					<div class="content">
						<div class="row" style="margin: 0 auto; text-align: center;">
							<div class="3u">&nbsp;</div>
							<div class="6u 12u(s)" style="margin: 0; padding: 0; margin-top: 50px;">
								<div class="shadow" style="background-color: rgba(255,255,255, 0.7); margin-bottom: 25px; padding: 25px; text-align: center;">
									<h1>Fill out the information below to reset your password.</h1>
									<div class="shadow bar" style="height: 15px; width: 90%; margin-left: 5%; z-index: 11111;">&nbsp;</div>
									<span>
										<div class="field" style="margin-top: 25px;">
											<input type="text" name="password" id="password" required placeholder="Enter a Password" />
										</div>
										<div class="field" style="margin-top: 25px;">
											<input type="text" name="confirm" id="confirm" required placeholder="Confirm Password" />
										</div>
										<input id="change_password" type="submit" value="Submit" class="button" style="margin-top: 50px;"/>
									</span>
								</div>
							</div>
							<div class="3u">&nbsp;</div>
						</div>
					</div>
				</div>
			
			</section>

		<script type="text/javascript">
			
			$(document).ready(function () {
				$(document).keypress(function(event){
					var keycode = (event.keyCode ? event.keyCode : event.which);
					if(keycode == '13'){
						submitPage();
					}
				});
				
				$("#change_password").click(function () {
					submitPage();
				});
			});

			function submitPage()
			{
				do {
					if (document.getElementById('password').value === '') {
						swal("Error!", "Please enter a password", "error");
						break;
					}

					if (document.getElementById('confirm').value === '') {
						swal("Error!", "Please re-enter your email address", "error");
						break;
					}

					if (document.getElementById('confirm').value != document.getElementById('password').value) {
						swal("Error!", "You passwords don't match, try again", "error");
						break;
					}
	
					$.ajax({
						url: "/login/submitNewPasswordAction",
						type: 'post',
						dataType: 'html',
						data: 
						{
							password: document.getElementById('password').value,
							key: '<?=$key?>',
							user_id: <?=$user_id?>
						},
						async: false,
						success: function(data) {
							if (data == '') {
								swal({   
									title: "Password reset!",   
									text: "You have successfully reset your password, login to see all of the site's features.",
									type: "success",    
									confirmButtonColor: "#15A59B",   
									confirmButtonText: "OK!",   
									closeOnConfirm: false 
									}, 
									function(){   
										window.location.replace('/login');
									});
							} else {
								swal("Error!", data, "error");
							}
						} 
					});
				} while(false);
			}
		</script>