<div id="main">
	<section class="main special" style="background-image: url('../../../uploads/flower_bg2.png');">
		<div class="inner" style="background-color: white;">
			<h1>LOGIN</h1>
			<div class="row" style="margin-bottom: 50px;">
				<div class="3u">&nbsp;</div>
				<div class="1u"><span class="fa fa-at login_input" style="float: left; margin-left: 55px;"></span></div>
				<div class="4u">
					<div style="padding: 5px; margin-left: 10px;">
						<input type="text" value="" placeholder="Email Address" id="email" />
					</div>
				</div>
				<div class="4u">&nbsp;</div>
			</div>
			<div class="row">
				<div class="3u">&nbsp;</div>
				<div class="1u"><span class="fa fa-key login_input" style="float: left; margin-left: 55px;"></span></div>
				<div class="4u">
					<div style="padding: 5px; margin-left: 10px;">
						<input type="password" value="" placeholder="Password" id="password" style="margin-top: -35px;" />
					</div>
				</div>
				<div class="4u">&nbsp;</div>
			</div>
		
			<button id="submit">Submit</button>
		</div>
	</section>
</div>
	
		<script type="text/javascript">
			$(document).keypress(function(event){
				var keycode = (event.keyCode ? event.keyCode : event.which);

				if(keycode == '13'){
					submitPage();
				}
			});
			
			$( document ).ready(function () {
				$("#submit").click(function () {
					submitPage();
				});	
			});

			function submitPage()
			{
				do {
					if (document.getElementById('email').value === '') {
						swal("Error!", "Please enter an email address", "error");
						break;
					}
					
					if (document.getElementById('password').value === '') {
						swal("Error!", "Please enter a password", "error");
						break;
					}

					$.ajax({
						url: "/login/loginAction",
						type: 'post',
						dataType: 'html',
						data: 
						{
							email: document.getElementById('email').value,
							password: document.getElementById('password').value
						},
						async: false,
						success: function(data) {
							if (data > 0) {
								// update the textarea with the time
								window.location = "/";
							} else {
								swal("Error!", data, "error");
							}
						} 
					});
				} while(false);
			}
		
		</script>