
			<!-- Main -->
			<section class="wrapper" style="text-align: center;">
				<div class="inner shadow" style="background-color: rgba(255,255,255,0.7); padding: 35px;">
					<header class="major">
						<h2 style="margin-bottom: -65px;">Gift Balance</h2>
					</header>

					<div class="content" style="background-color: #21AEB9; padding: 25px; background-image: url('../../../uploads/overlay.png');">
						
						<div class="shadow" style="padding: 20px;">
							<div style="margin-bottom: 25px;">
								<div id="message" style="font-size: 75%;">You can not enter more than your balance of $<?=$user['balance']?>.</div>
								<span>Amount: </span>
								<span style="position: relative;">
									<input id="amount" type="number" style="padding-left: 20px;" max="<?=$user['balance']?>" min="0" onkeyup="javascript: checkAmount();">
									<div style="position: absolute; top: -5px; left: 5px;"><i class="fa fa-dollar"></i></div>
								</span>
								
							</div>
							<div style="margin-bottom: 25px;">
								<span>Friend ID: </span>
								<input id="friend_id" style="padding-left: 10px;" />
							</div>
							<div style="margin-bottom: 25px;">
								<div class="button" style="margin-left: 20px; padding: 15px 35px;" onclick="javascript: sendGift();">Send</div>
							</div>
						</div>
				
					</div>

				</div>
			</section>
			
			<style>
				@media screen and (max-width: 880px) {
		
				}
			</style>
			
			<script type="text/javascript">
				function checkAmount () {
					if (document.getElementById('amount').value > <?=$user['balance']?>) {
						document.getElementById('message').style.color = 'red';
						document.getElementById('message').style.fontSize = '115%';
					} else {
						document.getElementById('message').style.color = 'black';
						document.getElementById('message').style.fontSize = '75%';
					}
				}
			
				function sendGift() {
					$.ajax({
						url: "/account/sendGift",
						type: 'post',
						dataType: 'html',
						data: {
							amount: document.getElementById('amount').value,
							friend_user_id: document.getElementById('friend_id').value
						},
						async: false,
						success: function(data) {
							if (data == 1) {
								swal({   
									title: "Mission Accomplished!",   
									text: 'Your gift has been sent',
									type: "success",    
									confirmButtonColor: "#15A59B",   
									confirmButtonText: "OK!",   
									closeOnConfirm: true 
									}, 
									function(){   
										window.location.href = "/account";
									});
							} else {
								alert(data);
							}
						} 
					});
				}
				
			</script>
		
			