
			<!-- Main -->
			<section class="wrapper" style="text-align: center;">
				<div class="inner shadow" style="background-color: rgba(255,255,255,0.7); padding: 35px;">
					<header class="major">
						<h2 style="margin-bottom: -65px;">Account Information</h2>
					</header>
					<!-- Content -->
					<div class="content" style="background-color: #039870; padding: 25px; background-image: url('../../../uploads/overlay.png');">
						<div class="row">
							<div class="6u 12u(s)" style="padding-left: 50px;">
								<div class="shadow" style="padding: 20px;">
									<div class="row">
										<div class="10u">
											<div style="font-weight: bold; font-size: 125%;">Name: <span style="margin-left: 25px;"><?=$user['first_name']?> <?=$user['last_name']?></span></div>
										</div>
										<div class="2u">
											<a href="/account/edit"><span class="icon fa-edit" style="cursor: pointer; font-size: 130%;"></span></a>
										</div>
									</div>
								</div>
							</div>
							<div class="6u 12u(s)" style="padding-left: 50px;">
								<div class="shadow" style="padding: 20px;">
									<div class="row">
										<div class="10u">
											<div style="font-weight: bold; font-size: 125%;">Delivery Address: <span style="margin-left: 25px;"><?=$user['address']?></span></div>
										</div>
										<div class="2u">
											<a href="/account/edit"><span class="icon fa-edit" style="cursor: pointer; font-size: 130%;"></span></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="content" style="background-color: #13A496; padding: 25px 25px 1px 25px; background-image: url('../../../uploads/overlay.png');">
						<div class="row" style="margin-bottom: 25px;">
							<div class="4u 12u(s)" style="padding-left: 50px;">
								<div class="shadow" style="padding: 20px;">
									<div style="font-weight: bold; font-size: 125%;">Membership Level: <span style="margin-left: 25px;"><?=$levels[$user['membership']]?></span></div>
								</div>
							</div>
							<div class="4u 12u(s)" style="padding-left: 50px;">
								<div class="shadow" style="padding: 20px;">
									<div style="font-weight: bold; font-size: 125%;">Purchases Made: <span style="margin-left: 25px;"><?=count($transactions)?></span></div>
								</div>
							</div>
							<div class="4u 12u(s)" style="padding-left: 50px;">
								<div class="shadow" style="padding: 20px;">
									<div class="row" style="white-space: nowrap;">
										<div class="10u">
											<div style="font-weight: bold; font-size: 125%;">
												Current Balance:
<?php if ($user['balance'] == 0): ?>
												<span style="margin-left: 25px;">N/A</span>
<?php else: ?>
												<span style="margin-left: 25px;">$<?=$user['balance']?></span>
<?php endif; ?>
											</div>										
										</div>
										<div class="2u">
<?php if ($user['balance'] > 0): ?>
											<a href="/account/gift" style="cursor: pointer; font-size: 130%;"><i class="icon fa-gift"></i></a>
<?php endif; ?>			
										</div>
									</div>
									
								</div>
							</div>
						</div>
					</div>
					<div class="content" style="background-color: #21AEB9; padding: 1px 25px; background-image: url('../../../uploads/overlay.png');">
						<header class="major" style="margin-top: 25px;">
							<h1 style="margin-bottom: -75px; color: white;">referral Info</h1>
						</header>
						<div class="row" style="margin-bottom: 25px;">
							<div class="4u 12u(s)" style="padding-left: 50px;">
								<div class="shadow" style="padding: 20px;">
									<div style="font-weight: bold; font-size: 125%;">My Referral ID: <span style="margin-left: 25px;"><?=$user['referral_code']?></span></div>
								</div>
							</div>
							<div class="4u 12u(s)" style="padding-left: 50px;">
								<div class="shadow" style="padding: 20px;">
									<div style="font-weight: bold; font-size: 125%;"># Of referrals: <span style="margin-left: 25px;"><?=count($referrals)?></span></div>
								</div>
							</div>
							<div class="4u 12u(s)" style="padding-left: 50px;">
								<div class="shadow" style="padding: 20px;">
									<div style="font-weight: bold; font-size: 125%;">$ made from referrals: <span style="margin-left: 25px;">$<?=$referral_earn?></span></div>
								</div>
							</div>
							<div class="12u" style="padding-left: 50px;">
								<div class="shadow" style="padding: 20px;">
									<div><span style="font-weight: bold; font-size: 125%;">Enter a friends email address to refer them now:</span> <span style="margin-left: 15px;"><input id="friend_referral" /></span><div class="button" style="margin-left: 20px;" onclick="javascript: sendReferral();">Send</div></div>
								</div>
							</div>
						</div>
					</div>
<?php if(count($recent_sales) > 0): ?>
					<div class="content" style="background-color: #30B9DE; padding: 25px 25px 1px 25px; background-image: url('../../../uploads/overlay.png');">
						<div style="margin-left: 25px;">
						<header class="major" style="margin-top: 25px;">
							<h1 style="margin-bottom: -50px; color: white;">Previous Order</h1>
						</header>
						
						<table style="text-align: left;">
							<thead>
								<tr>
									<th>Product</th>
									<th>Re-Order?</th>
								</tr>
							</thead>
							<tbody>
<?php foreach($recent_sales as $id => $data): ?>
								<tr>
<?php if ($products[$data['product_id']]['parent_id'] == 0): ?>
									<td><?=$products[$data['product_id']]['name']?></td>
<?php else: ?>
									<td><?=$products[$products[$data['product_id']]['parent_id']]['name']?> - <?=$products[$data['product_id']]['name']?></td>
<?php endif; ?>	
<?php if ($products[$data['product_id']]['active'] == 1): ?>
									<td><a href="/store?product_id=<?=$data['product_id']?>">Go To Item <span class="icon fa-arrow-right" style="cursor: pointer;"></span></a></td>
<?php else: ?>
									<td>Item is currently not available.</td>
<?php endif; ?>
								</tr>
<?php endforeach; ?>
							</tbody>
						</table>
						</div>
					</div>
<?php endif; ?>
				</div>
			</section>
			
			<style>
				@media screen and (max-width: 880px) {
		
				}
			</style>
			
			<script type="text/javascript">
				$( document ).ready(function () {
					$("tr:even").css( "color", "white" );
					$("tr:even a").css( "color", "white" );
				});
			
				Tipped.create(".fa-edit", 
					"Click here to edit Information", {
					skin: 'light'
				});

				Tipped.create(".fa-gift", 
					"Click here to send a portion of your balance to another customer", {
					skin: 'light'
				});

				function sendReferral () {
					$.ajax({
						url: "/account/sendReferral",
						type: 'post',
						dataType: 'html',
						data: {
							email: document.getElementById('friend_referral').value
						},
						async: false,
						success: function(data) {
							if (data == 1) {
								swal({   
									title: "Mission Accomplished!",   
									text: 'Your friend referral has been sent',
									type: "success",    
									confirmButtonColor: "#15A59B",   
									confirmButtonText: "OK!",   
									closeOnConfirm: true 
									}, 
									function(){   
										document.getElementById('friend_referral').value = '';
									});
							} else {
								alert(data);
							}
						} 
					});
				}
				
			</script>
		
			