
		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner" style="margin-top: 100px;">

					<header class="major" style="text-align: center; margin-bottom: 35px;">
						<h2>Blog</h2>
					</header>

					<div class="shadow" style="text-align: left; background-color: white; cursor: pointer;">
						<div class="box_pic" style="width: 100%; height: 400px; background-image: url('../../../uploads/<?=trim($blog['attachment_file_name'])?>');">&nbsp;</div>
						<div style="padding: 50px;">
							<h2><?=$blog['title']?></h2>
							<h5 style="margin-top: -55px; font-style: italic; color: #939393;"><?=$blog['created_date']?></h5>
							<div>
							<?=$blog['content_text']?>
							</div>
						</div>
					</div>
		
				</div>
			</section>
			<style>
				.image_left {
					padding-left: 75px;	
				}
					
				@media screen and (max-width: 736px) {
					
					.image_left {
						padding-left: 20px;	
					}
		
				}
			</style>
