<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>New Message!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
</head>
<body>
<h1>What up dawg! You have received a new message from your website.</h1>
<div>Name: <span style="font-weight: bold;"><?=$name?></span></div>
<br>
<div>
	Message: 
	<br>
	<span style="font-weight: bold; margin-left: 30px;"><?=$message?></span></div>
</body>
</html>