<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8" />
	    <title>Password Reset</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	</head>
	<body style="font-family: 'Raleway', sans-serif;">
		<h1>Hello <?=ucfirst($user['first_name'])?>! Your password to <?=$site?> has been reset.</h1>
		<br>
		<div>
			Please <a href="http://<?=$site?>/login/reset?key=<?=$key?>&user_id=<?=$user['id']?>">CLICK HERE</a> to create a new password. This link will expire after your password has been created
		</div>
	</body>
</html>