


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!--[if !mso]><!-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!--<![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title></title>
  <style type="text/css">
.ReadMsgBody { width: 100%; background-color: #ffffff; }
.ExternalClass { width: 100%; background-color: #ffffff; }
.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div { line-height: 100%; }
html { width: 100%; }
body { -webkit-text-size-adjust: none; -ms-text-size-adjust: none; margin: 0; padding: 0; }
table { border-spacing: 0; table-layout: fixed; margin: 0 auto; }
table table table { table-layout: auto; }
.yshortcuts a { border-bottom: none !important; }
img:hover { opacity: 0.9 !important; }
a { color: #3cb2d0; text-decoration: none; }
.textbutton a { font-family: 'open sans', arial, sans-serif !important; }
.btn-link a { color: #FFFFFF !important; }

@media only screen and (max-width: 640px) {
body { width: auto !important; }
/* image */
img[class="img1"] { width: 100% !important; height: auto !important; }
}

@media only screen and (max-width: 480px) {
body { width: auto !important; }
/* image */
img[class="img1"] { width: 100% !important; }
}
</style>
</head>

<body>
  <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#494c50">
    <tr>
      <td align="center" background="http://wwweed.org/uploads/email/bg.jpg" style="background-size:cover; background-position:top;">
        <table border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td height="60"></td>
          </tr>
          <tr>
            <td width="600" align="center">
              <table align="center" bgcolor="#FFFFFF" style="border-radius:4px; box-shadow: 0px 3px 0px #d4d2d2;" width="95%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td height="50"></td>
                </tr>

                <!-- slogan -->
                <tr>
                  <td align="center" style="font-family: 'Open Sans', Arial, sans-serif; font-size:12px; color:#3b3b3b; text-transform:uppercase; letter-spacing:2px; font-weight: normal;">ERROR: </td>
                </tr>
                <!-- end slogan -->
                <tr>
                  <td height="40"></td>
                </tr>
                <tr>
                  <td align="center" bgcolor="#f3f3f3">
                    <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
                      <tr>
                        <td height="50"></td>
                      </tr>

                      <!-- end title -->
                      <tr>
                        <td align="center">
                          <table width="25" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td height="15" style="border-bottom:2px solid #3cb2d0;"></td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td height="20"></td>
                      </tr>
                      <!-- content -->
                      <tr>
                        <td align="center" style="font-family: 'Open Sans', Arial, sans-serif; font-size:13px; color:black; line-height:30px;">

							<div>Message: <span style="font-weight: bold;"><?=$message?></span></div>
							
                         </td>
                      </tr>
                      <!-- end content -->
                      <tr>
                        <td height="50"></td>
                      </tr>
                    </table>
                  </td>
                </tr>
 

                <!-- end button -->

                <tr>
                  <td height="30"></td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td height="30"></td>
          </tr>

          
          <tr>
            <td height="45"></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>
