<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>New ORDER!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
</head>
<body>
<h1>What up dawg! You have received a new ORDER!!!</h1>
<div>Name: <span style="font-weight: bold;"><?=$customer_name?></span></div>
<br>
<div>Phone: <span style="font-weight: bold;"><?=$phone?></span></div>
<br>
<div>Address: <span style="font-weight: bold;"><?=$address?></span></div>
<br>
<hr style="width: 100%;">
<h1>Order Info</h1>
<div>Arrangement: <span style="font-weight: bold;"><?=$flower?></span></div>
<br>
<div>Strain: <span style="font-weight: bold;"><?=$strain?></span></div>
<br>
<div>Quantity: <span style="font-weight: bold;"><?=$quantity?></span></div>
<br>
<div>Price: <span style="font-weight: bold;"><?=$price?></span></div>
<br>
</body>
</html>