<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8" />
	    <title>You have been referred</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	</head>
	<body style="font-family: 'Raleway', sans-serif;">
		<h1>Hello! <?=$name?> thinks you would love World Wide Weed, San Diego's premier medical marijuana delivery service.</h1>
		<div>Come check out our site and browse our huge selection of products now. If you sign up, <?=$name?> will get a percentage of everything you spend for life, and you can do the same!
		Sign up for the Free Tree program from Wwweed.org and make money on every referral you make forever. No string attached.
		</div>
		<br>
		
		Click <a href="http://wwweed.org">HERE</a> and experience the highest quality marijuana in San Diego.
	</body>
</html>