<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="Joe Ahart" />
	
	<link rel="icon" type="image/png" sizes="16x16" href="../../../admin/vital.png">

	<!-- Stylesheets
	============================================= -->
	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="../../../canvas/css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="../../../canvas/style.css?ts=<?=time()?>&quot;" type="text/css" />
	<link rel="stylesheet" href="../../../canvas/css/dark.css" type="text/css" />
	<link rel="stylesheet" href="../../../canvas/css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="../../../canvas/css/animate.css" type="text/css" />
	<link rel="stylesheet" href="../../../canvas/css/magnific-popup.css" type="text/css" />

	<link rel="stylesheet" href="../../../canvas/css/responsive.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<script type="text/javascript" src="../../../canvas/js/jquery.js"></script>
	
	<link href="../../../css/fontawesome-pro-5.0.1/web-fonts-with-css/css/fontawesome-all.min.css" id="theme" rel="stylesheet">
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>
	<script src="../../../js/charts/utils.js"></script>
	
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/datetimepicker@latest/dist/DateTimePicker.min.css" />
	<script type="text/javascript" src="//cdn.jsdelivr.net/npm/datetimepicker@latest/dist/DateTimePicker.min.js"></script>
	
	
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
	
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.3/chosen.min.css" />
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.3/chosen.jquery.min.js"></script>
	
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.6.3/sweetalert2.min.css" />
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.6.3/sweetalert2.min.js"></script>
	
	<script type="text/javascript" src="../../../js/tipped/tipped.js"></script>
	<link rel="stylesheet" type="text/css" href="../../../js/tipped/tipped.css"/>
	
	
<?php if ($loader['page'] != 'web' && $loader['page'] != 'command'): ?>


	<script src="../../../admin/plugins/echarts/echarts-all.js"></script>
	<script src="../../../admin/plugins/echarts/echarts.js"></script>

<?php endif; ?>



	<!-- Document Title
	============================================= -->
	<title>Vital Signz - Web</title>

<style>
.device-lg #slider .emphasis-title h1 { font-size: 52px; }
.device-md #slider .emphasis-title h1 { font-size: 44px; }
</style>

</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
		<header id="header" class="full-header">

			<div id="header-wrap" style="background-color: #12948B;">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder" style="color: white;"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo">

							<a href="/web" class="standard-logo" data-dark-logo="../../../uploads/vital_head_logo.png"><img src="../../../uploads/vital_head_logo.png" alt="Vital Signz Logo"></a> 
 							<a href="/web" class="retina-logo" data-dark-logo="../../../uploads/vital_head_logo.png"><img src="../../../uploads/vital_head_logo.png" alt="Vital Signz Logo"></a> 
							
<!-- 						<a href="index.html" class="standard-logo" data-dark-logo="../../../canvas/images/logo-dark.png"><img src="../../../canvas/images/logo.png" alt="Canvas Logo"></a> -->
<!-- 						<a href="index.html" class="retina-logo" data-dark-logo="../../../canvas/images/logo-dark@2x.png"><img src="../../../canvas/images/logo@2x.png" alt="Canvas Logo"></a> -->
					</div><!-- #logo end -->

					<h3 style="color: #ED1C24; float: left; color: white; padding-top: 1.2em;">Command</h3>
					
					<!-- Primary Navigation
					============================================= -->
					<nav id="primary-menu">
						
						<ul style="color: white !important;">
<?php if ($loader['page'] == 'web'): ?>
							<li><a href="/command" class="" style="background-color: white; cursor: auto;"><div style="color: #ED1C24;">Home</div></a></li>
<?php else: ?>
							<li><a href="/command" class="nav_btn_bg"><div class="nav_btn_label" style="color: white">Home</div></a></li>
<?php endif; ?>


							<li>
<?php if ($loader['page'] == 'command/steps'): ?>
								<a href="javascript:" style="background-color: white !important;" class="nav_btn_bg active"><div class="nav_btn_label" style="color: #12948B">Steps</div></a>
<?php else: ?>
								<a href="/command/steps" class="nav_btn_bg"><div class="nav_btn_label" style="color: white">Steps</div></a>
<?php endif; ?>	
								
							</li>


							<li>
<?php if ($loader['page'] == 'command/diet'): ?>
								<a href="javascript:" style="background-color: white !important;" class="nav_btn_bg active"><div class="nav_btn_label" style="color: #12948B">Diet</div></a>
<?php else: ?>
								<a href="/command/diet" class="nav_btn_bg"><div class="nav_btn_label" style="color: white">Diet</div></a>
<?php endif; ?>	
							</li>


							<li>
<?php if ($loader['page'] == 'command/vitals'): ?>
								<a href="javascript:" style="background-color: white !important;" class="nav_btn_bg active"><div class="nav_btn_label" style="color: #12948B">Vitals</div></a>
<?php else: ?>
								<a href="/command/vitals" class="nav_btn_bg"><div class="nav_btn_label" style="color: white">Vitals</div></a>
<?php endif; ?>	

							</li>
							
							<li>
<?php if ($loader['page'] == 'command/meds' || $loader['page'] == 'command/view-med'): ?>
								<a href="javascript:" style="background-color: white !important;" class="nav_btn_bg active"><div class="nav_btn_label" style="color: #12948B">Meds</div></a>
<?php else: ?>
								<a href="/command/meds" class="nav_btn_bg"><div class="nav_btn_label" style="color: white">Meds</div></a>
<?php endif; ?>	
								
							</li>
							<li>
<?php if ($loader['page'] == 'command/tests' || $loader['page'] == 'command/view-test'): ?>
								<a href="javascript:" style="background-color: white !important;" class="nav_btn_bg active"><div class="nav_btn_label" style="color: #12948B">Labs</div></a>
<?php else: ?>
								<a href="/command/tests" class="nav_btn_bg"><div class="nav_btn_label" style="color: white">Labs</div></a>
<?php endif; ?>	
								
							</li>
							
<?php if ($loader['page'] == 'web/account'): ?>
							<li><a href="#" style="background-color: white; cursor: auto;"><div class="nav_btn_label" style="color: #ED1C24 !important;"><i class="fa fa-user"></i></div></a>
<?php else: ?>
							<li><a href="#" class="nav_btn_bg"><div class="nav_btn_label" style="color: white !important;"><i class="fa fa-user"></i></div></a>
<?php endif; ?>
							
								<ul>
									<li style="border-left: 2px solid #12948B; border-bottom: 2px solid #12948B; border-right: 2px solid #12948B; border-radius: 2px;">
										<div style="color: grey; text-align: center; padding: 2em;">
											<?=$loader['user']['ZFIRSTNAME']?> <?=$loader['user']['ZLASTNAME']?>
										</div>
										<div class="button btn" style="width: 95%; background-color: #12948B;" onclick="javascript: logout()">Log Out</div>
									</li>
								</ul>
							</li>
							
						</ul>
						
						<script>
							$( ".nav_btn_bg" ).hover(
								function() {
									$( this ).find( ".nav_btn_label" ).css('color', '#12948B');

									$( this ).css('background-color', 'white');
								//document.getElementById().style.backgroundColor = '';
								}, function() {
									$( this ).css('background-color', '#12948B');

									$( this ).find( ".nav_btn_label" ).css('color', 'white');
								}
							);

							function logout () {
								window.location.href = '/home/logoutAction';
							}
						</script>
						
						<style>
							.nav_active {
								
							}
						</style>

						<!-- Top Search
						============================================= 
						<div id="top-search">
							<a href="#" id="top-search-trigger"><i class="icon-search3" style="color: white;"></i><i class="icon-line-cross"></i></a>
							<form action="/search" method="get">
								<input id="q" type="text" name="q" class="q form-control" value="" style="color: white;" placeholder="Type &amp; Hit Enter..">
							</form>
						</div> #top-search end -->

					</nav><!-- #primary-menu end -->

				</div>

			</div>

		</header><!-- #header end -->
