<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="Joe Ahart" />
	
	<link rel="icon" type="image/png" sizes="16x16" href="../../../admin/vital.png">

	<!-- Stylesheets
	============================================= -->
	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="../../../canvas/css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="../../../canvas/style.css?ts=<?=time()?>&quot;" type="text/css" />
	<link rel="stylesheet" href="../../../canvas/css/dark.css" type="text/css" />
	<link rel="stylesheet" href="../../../canvas/css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="../../../canvas/css/animate.css" type="text/css" />
	<link rel="stylesheet" href="../../../canvas/css/magnific-popup.css" type="text/css" />

	<link rel="stylesheet" href="../../../canvas/css/responsive.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<script type="text/javascript" src="../../../canvas/js/jquery.js"></script>
	
	<link href="../../../css/fontawesome-pro-5.0.1/web-fonts-with-css/css/fontawesome-all.min.css" id="theme" rel="stylesheet">
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>
	<script src="../../../js/charts/utils.js"></script>
	
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/datetimepicker@latest/dist/DateTimePicker.min.css" />
	<script type="text/javascript" src="//cdn.jsdelivr.net/npm/datetimepicker@latest/dist/DateTimePicker.min.js"></script>
	
	
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
	
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.3/chosen.min.css" />
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.3/chosen.jquery.min.js"></script>
	
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.6.3/sweetalert2.min.css" />
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.6.3/sweetalert2.min.js"></script>
	
	<script type="text/javascript" src="../../../js/tipped/tipped.js"></script>
	<link rel="stylesheet" type="text/css" href="../../../js/tipped/tipped.css"/>
	
	
<?php if ($loader['page'] != 'web' && $loader['page'] != 'command'): ?>


	<script src="../../../admin/plugins/echarts/echarts-all.js"></script>
	<script src="../../../admin/plugins/echarts/echarts.js"></script>

<?php endif; ?>



	<!-- Document Title
	============================================= -->
	<title>Vital Signz - Web</title>

<style>
.device-lg #slider .emphasis-title h1 { font-size: 52px; }
.device-md #slider .emphasis-title h1 { font-size: 44px; }
</style>

</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
		<header id="header" class="full-header">
<?php if ($loader['page'] == 'command'): ?>
			<div id="header-wrap" style="background-color: #12948B;">
<?php else: ?>
			<div id="header-wrap" style="background-color: #ED1C24;">
<?php endif; ?>
				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder" style="color: white;"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo">

							<a href="/web" class="standard-logo" data-dark-logo="../../../uploads/vital_head_logo.png"><img src="../../../uploads/vital_head_logo.png" alt="Vital Signz Logo"></a> 
 							<a href="/web" class="retina-logo" data-dark-logo="../../../uploads/vital_head_logo.png"><img src="../../../uploads/vital_head_logo.png" alt="Vital Signz Logo"></a> 
							
<!-- 						<a href="index.html" class="standard-logo" data-dark-logo="../../../canvas/images/logo-dark.png"><img src="../../../canvas/images/logo.png" alt="Canvas Logo"></a> -->
<!-- 						<a href="index.html" class="retina-logo" data-dark-logo="../../../canvas/images/logo-dark@2x.png"><img src="../../../canvas/images/logo@2x.png" alt="Canvas Logo"></a> -->
					</div><!-- #logo end -->

					<!-- Primary Navigation
					============================================= -->
					<nav id="primary-menu">
						
						<ul style="color: white !important;">
<?php if ($loader['page'] == 'web'): ?>
							<li><a href="/web" class="" style="background-color: white; cursor: auto;"><div style="color: #ED1C24;">Home</div></a></li>
<?php else: ?>
							<li><a href="/web" class="nav_btn_bg"><div class="nav_btn_label" style="color: white">Home</div></a></li>
<?php endif; ?>

<?php if ($loader['page'] == 'web/steps' || $loader['page'] == 'web/add-step'): ?>
							<li><a href="javascript:" class="" style="background-color: white; cursor: auto;"><div style="color: #ED1C24;">Steps</div></a>
								<ul>
									<div style="position: absolute; top: 0; left: 25px; margin-top: -30px;"><i class="fa fa-caret-down" style="color: white; font-size: 150%;"></i></div>
									<li style="border-left: 2px solid #ED1C24; border-right: 2px solid #ED1C24;"><a href="/web/steps">View Step Records</a></li>
									<li style="border: 2px solid #ED1C24;"><a href="/web/add-step">Add New Step Data</a></li>
								</ul>
							</li>
<?php else: ?>
							<li>
<?php if ($loader['page'] == 'web'): ?>
								<a href="/web/steps" class="nav_btn_bg"><div class="nav_btn_label" style="color: white">Steps</div></a>
<?php else: ?>
								<a href="javascript:" class="nav_btn_bg"><div class="nav_btn_label" style="color: white">Steps</div></a>
<?php endif; ?>	
								<ul>
									<div style="position: absolute; top: 0; left: 25px; margin-top: -30px;"><i class="fa fa-caret-down" style="color: white; font-size: 150%;"></i></div>
									<li style="border-left: 2px solid #ED1C24; border-right: 2px solid #ED1C24;"><a href="/web/steps">View Step Records</a></li>
									<li style="border: 2px solid #ED1C24;"><a href="/web/add-step">Add New Step Data</a></li>
								</ul>
							</li>
<?php endif; ?>

<?php if ($loader['page'] == 'web/diet' || $loader['page'] == 'web/add-food'): ?>
							<li><a href="javascript:" class="" style="background-color: white; cursor: auto;"><div style="color: #ED1C24;">Diet</div></a>
								<ul>
									<div style="position: absolute; top: 0; left: 25px; margin-top: -30px;"><i class="fa fa-caret-down" style="color: white; font-size: 150%;"></i></div>
									<li style="border-left: 2px solid #ED1C24; border-right: 2px solid #ED1C24;"><a href="/web/diet">View Diet Records</a></li>
									<li style="border: 2px solid #ED1C24;"><a href="/web/add-food">Add Diet Record</a></li>
								</ul>
							</li>
<?php else: ?>
							<li>
<?php if ($loader['page'] == 'web'): ?>
								<a href="/web/diet" class="nav_btn_bg"><div class="nav_btn_label" style="color: white">Diet</div></a>
<?php else: ?>
								<a href="javascript:" class="nav_btn_bg"><div class="nav_btn_label" style="color: white">Diet</div></a>
<?php endif; ?>	
							
								<ul>
									<div style="position: absolute; top: 0; left: 25px; margin-top: -30px;"><i class="fa fa-caret-down" style="color: white; font-size: 150%;"></i></div>
									<li style="border-left: 2px solid #ED1C24; border-right: 2px solid #ED1C24;"><a href="/web/diet">View Diet Records</a></li>
									<li style="border: 2px solid #ED1C24;"><a href="/web/add-food">Add Diet Record</a></li>
								</ul>
							</li>
<?php endif; ?>

<?php if ($loader['page'] == 'web/blood' || $loader['page'] == 'web/vitals' || $loader['page'] == 'web/view-heart' || $loader['page'] == 'web/add-heart'): ?>
							<li><a href="javascript:" class="" style="background-color: white; cursor: auto;"><div style="color: #ED1C24;">Vitals</div></a>
								<ul>
									<div style="position: absolute; top: 0; left: 25px; margin-top: -30px;"><i class="fa fa-caret-down" style="color: white; font-size: 150%;"></i></div>
									<li style="border-left: 2px solid #ED1C24; border-right: 2px solid #ED1C24; border-bottom: 2px solid #ED1C24;"><a href="/web/vitals">View Overall Vitals</a></li>
									<li style="border-left: 2px solid #ED1C24; border-right: 2px solid #ED1C24;"><a href="/web/blood">View Blood Pressure</a></li>
									<li style="border: 2px solid #ED1C24;"><a href="/web/add-blood">Add Blood Pressure Reading</a></li>
									<li style="border-left: 2px solid #ED1C24; border-right: 2px solid #ED1C24; border-bottom: 2px solid #ED1C24;"><a href="/web/view-heart">View Heart Rate</a></li>
									<li style="border-left: 2px solid #ED1C24; border-right: 2px solid #ED1C24; border-bottom: 2px solid #ED1C24;"><a href="/web/add-heart">Add Heart Rate</a></li>
									
								</ul>
							</li>
<?php else: ?>
							<li>
<?php if ($loader['page'] == 'web'): ?>
								<a href="/web/vitals" class="nav_btn_bg"><div class="nav_btn_label" style="color: white">Vitals</div></a>
<?php else: ?>
								<a href="javascript:" class="nav_btn_bg"><div class="nav_btn_label" style="color: white">Vitals</div></a>
<?php endif; ?>	
								<ul>
									<div style="position: absolute; top: 0; left: 25px; margin-top: -30px;"><i class="fa fa-caret-down" style="color: white; font-size: 150%;"></i></div>
									<li style="border-left: 2px solid #ED1C24; border-right: 2px solid #ED1C24; border-bottom: 2px solid #ED1C24;"><a href="/web/vitals">View Overall Vitals</a></li>
									<li style="border-left: 2px solid #ED1C24; border-right: 2px solid #ED1C24;"><a href="/web/blood">View Blood Pressure</a></li>
									<li style="border: 2px solid #ED1C24;"><a href="/web/add-blood">Add Blood Pressure Reading</a></li>
									<li style="border-left: 2px solid #ED1C24; border-right: 2px solid #ED1C24; border-bottom: 2px solid #ED1C24;"><a href="/web/view-heart">View Heart Rate</a></li>
									<li style="border-left: 2px solid #ED1C24; border-right: 2px solid #ED1C24; border-bottom: 2px solid #ED1C24;"><a href="/web/add-heart">Add Heart Rate</a></li>
									
								</ul>
							</li>
<?php endif; ?>

<?php if ($loader['page'] == 'web/meds' || $loader['page'] == 'web/add-med'): ?>
							<li><a href="javascript:" class="" style="background-color: white; cursor: auto;"><div style="color: #ED1C24;">Meds</div></a>
								<ul>
									<div style="position: absolute; top: 0; left: 25px; margin-top: -30px;"><i class="fa fa-caret-down" style="color: white; font-size: 150%;"></i></div>
									<li style="border-left: 2px solid #ED1C24; border-right: 2px solid #ED1C24;"><a href="/web/meds">View Med Records</a></li>
									<li style="border: 2px solid #ED1C24;"><a href="/web/add-med">Add Med Data</a></li>
								</ul>
							</li>
<?php else: ?>
							<li>
<?php if ($loader['page'] == 'web'): ?>
								<a href="/web/meds" class="nav_btn_bg"><div class="nav_btn_label" style="color: white">Meds</div></a>
<?php else: ?>
								<a href="javascript:" class="nav_btn_bg"><div class="nav_btn_label" style="color: white">Meds</div></a>
<?php endif; ?>	
								<ul>
									<div style="position: absolute; top: 0; left: 25px; margin-top: -30px;"><i class="fa fa-caret-down" style="color: white; font-size: 150%;"></i></div>
									<li style="border-left: 2px solid #ED1C24; border-right: 2px solid #ED1C24;"><a href="/web/meds">View Med Records</a></li>
									<li style="border: 2px solid #ED1C24;"><a href="/web/add-med">Add Med Data</a></li>
								</ul>
							</li>
<?php endif; ?>

<?php if ($loader['page'] == 'web/tests' || $loader['page'] == 'web/add-lab' || $loader['page'] == 'web/view-test' || $loader['page'] == 'web/add-lab-test' || $loader['page'] == 'web/view-tests'): ?>
							<li><a href="javascript:" class="" style="background-color: white; cursor: auto;"><div style="color: #ED1C24;">Lab Data</div></a>
								<ul>
									<div style="position: absolute; top: 0; left: 25px; margin-top: -30px;"><i class="fa fa-caret-down" style="color: white; font-size: 150%;"></i></div>
									<li style="border-left: 2px solid #ED1C24; border-right: 2px solid #ED1C24;"><a href="/web/tests">View Lab Data</a></li>
									<li style="border: 2px solid #ED1C24;"><a href="/web/add-lab">Add New Lab</a></li>
									<li style="border-left: 2px solid #ED1C24; border-right: 2px solid #ED1C24;"><a href="/web/view-tests">View Lab Tests</a></li>
									<li style="border: 2px solid #ED1C24;"><a href="/web/add-lab-test">Add New Lab Test</a></li>
								</ul>
							</li>
<?php else: ?>
							<li>
<?php if ($loader['page'] == 'web'): ?>
								<a href="/web/tests" class="nav_btn_bg"><div class="nav_btn_label" style="color: white">Lab Data</div></a>
<?php else: ?>
								<a href="javascript:" class="nav_btn_bg"><div class="nav_btn_label" style="color: white">Lab Data</div></a>
<?php endif; ?>
								<ul>
									<div style="position: absolute; top: 0; left: 25px; margin-top: -30px;"><i class="fa fa-caret-down" style="color: white; font-size: 150%;"></i></div>
									<li style="border-left: 2px solid #ED1C24; border-right: 2px solid #ED1C24;"><a href="/web/tests">View Lab Data</a></li>
									<li style="border: 2px solid #ED1C24;"><a href="/web/add-lab">Add New Lab</a></li>
									<li style="border-left: 2px solid #ED1C24; border-right: 2px solid #ED1C24;"><a href="/web/view-tests">View Lab Tests</a></li>
									<li style="border: 2px solid #ED1C24;"><a href="/web/add-lab-test">Add New Lab Test</a></li>
								</ul>
							</li>
<?php endif; ?>

<?php if ($loader['page'] == 'web/select-test'): ?>
							<li><a href="/web/select-test" class="" style="background-color: white; cursor: auto;"><div style="color: #ED1C24;">Compare</div></a></li>
<?php else: ?>
							<li><a href="/web/select-test" class="nav_btn_bg"><div class="nav_btn_label" style="color: white">Compare</div></a></li>
<?php endif; ?>

					
							
<?php if ($loader['page'] == 'web/account'): ?>
							<li><a href="#" style="background-color: white; cursor: auto;"><div class="nav_btn_label" style="color: #ED1C24 !important;"><i class="fa fa-user"></i></div></a>
<?php else: ?>
							<li><a href="#" class="nav_btn_bg"><div class="nav_btn_label" style="color: white !important;"><i class="fa fa-user"></i></div></a>
<?php endif; ?>
							
								<ul>
									<li style="border-left: 2px solid red; border-bottom: 2px solid red; border-right: 2px solid red; border-radius: 2px;">
										<div style="color: grey; text-align: center; padding: 2em;">
											<?=$loader['user']['ZFIRSTNAME']?> <?=$loader['user']['ZLASTNAME']?>
										</div>
										<div class="button btn" style="width: 95%; margin-bottom: 15px;" onclick="javascript: window.location.href='/web/account'">My Account</div>
										<div class="button btn" style="width: 95%;" onclick="javascript: logout()">Log Out</div>
									</li>
								</ul>
							</li>
							
						</ul>
						
						<script>
							$( ".nav_btn_bg" ).hover(
								function() {
<?php if ($loader['page'] == 'command'): ?>
									$( this ).find( ".nav_btn_label" ).css('color', '#12948B');
<?php else: ?>
									$( this ).find( ".nav_btn_label" ).css('color', '#ED1C24');
<?php endif; ?>
									$( this ).css('background-color', 'white');
							    //document.getElementById().style.backgroundColor = '';
							  }, function() {
<?php if ($loader['page'] == 'command'): ?>
									$( this ).css('background-color', '#12948B');
<?php else: ?>
									$( this ).css('background-color', '#ED1C24');
<?php endif; ?>
									$( this ).find( ".nav_btn_label" ).css('color', 'white');
								  
							  }
							);

							function logout () {
								window.location.href = '/home/logoutAction';
							}
						</script>
						
						<style>
							.nav_active {
								
							}
						</style>

						<!-- Top Search
						============================================= 
						<div id="top-search">
							<a href="#" id="top-search-trigger"><i class="icon-search3" style="color: white;"></i><i class="icon-line-cross"></i></a>
							<form action="/search" method="get">
								<input id="q" type="text" name="q" class="q form-control" value="" style="color: white;" placeholder="Type &amp; Hit Enter..">
							</form>
						</div> #top-search end -->

					</nav><!-- #primary-menu end -->

				</div>

			</div>

		</header><!-- #header end -->
