
	<div id="main">
		<section class="main" style="background-image: url('../../../uploads/flower_bg2.png');">
			<div class="inner" style="background-color: white;">
				
				<header class="major 12u" style="margin-bottom: 100px;">
					<h1>Browse our cannabis products</h1>
				</header>
				<div class="row">
					<div class="3u 6u(xl) 12u(s)">
						<figure>
							<img src="../../../uploads/weed/Ogre1.png" alt="Thumb" width="100%" height="300" />
							<figcaption><div style="background-color: rgba(255,255,255,0.4);">Ogre OG</div></figcation>
						</figure>
					</div>
					<div class="3u 6u(xl) 12u(s)">
						<figure>
							<img src="../../../uploads/weed/pineapple_og.jpg" alt="Thumb" width="100%" height="300" />
							<figcaption><div style="background-color: rgba(255,255,255,0.4);">Pineapple OG</div></figcation>
						</figure>
					</div>
					<div class="3u 6u(xl) 12u(s)">
						<figure>
							<img src="../../../uploads/weed/PlatinumOG.png" alt="Thumb" width="100%" height="300" />
							<figcaption><div style="background-color: rgba(255,255,255,0.4);">Platinum OG</div></figcation>
						</figure>
					</div>
					<div class="3u 6u(xl) 12u(s)">
						<figure>
							<img src="../../../uploads/weed/platinumOG1.jpg" alt="Thumb" width="100%" height="300" />
							<figcaption><div style="background-color: rgba(255,255,255,0.4);">Super Lemon Haze</div></figcation>
						</figure>
					</div>
				</div>
				<div class="row">
					<div class="12u" style="text-align: center;">
						<hr style="width: 100%; color: black;">	
						<h2>MORE PRODUCTS COMING SOON!</h2>					
					</div>
				</div>
			</div>
		</section>
	</div>
	<script type="text/javascript">
	
	</script>
