		<section id="content">
			<div id="main_box" class="" style="padding: 0; padding-top: 3em; text-align: center;">
			
				<h2>Your Account</h2>

				<div class="row" style="width: 50%; margin-left: 25%; margin-bottom: 2em;">
					<div class="col-lg-6">
						<div>
							<h3 style="margin: 5px;">Your Age</h3>
<?php if ($user['age'] == 0): ?>
							<input id="age" type="number" style="border: 1px solid black; text-align: center; padding: 10px; font-weight: bold; border-radius: 3px; width: 100%;">
<?php else: ?>
							<input id="age" type="number" style="border: 1px solid black; text-align: center; padding: 10px; font-weight: bold; border-radius: 3px; width: 100%;" value="<?=$user['age']?>">
<?php endif; ?>
						</div>
					</div>
					<div class="col-lg-6">
						<div>
							<h3 style="margin: 5px;">Your Weight (pounds)</h3>
<?php if ($user['weight'] == 0): ?>
							<input id="weight" type="number" style="border: 1px solid black; text-align: center; padding: 10px; font-weight: bold; border-radius: 3px; width: 100%;">
<?php else: ?>
							<input id="weight" type="number" style="border: 1px solid black; text-align: center; padding: 10px; font-weight: bold; border-radius: 3px; width: 100%;" value="<?=$user['weight']?>">
<?php endif; ?>
						</div>
					</div>
					<div class="col-lg-6">
						<div>
							<h3 style="margin: 5px;">Your Sex</h3>							
							<select id="sex" style="border: 1px solid black; text-align: center; padding: 10px; font-weight: bold; border-radius: 3px; width: 100%;">
<?php if ($user['sex'] == ''): ?>
								<option value="">- Select -</option>
<?php foreach($sexes as $i => $sex): ?>
								<option value="<?=$sex?>"><?=$sex?></option>
<?php endforeach; ?>			
<?php else: ?>
								<option value="">- Select -</option>
<?php foreach($sexes as $i => $sex): ?>
<?php if ($user['sex'] == $sex): ?>
								<option value="<?=$sex?>" selected><?=$sex?></option>
<?php else: ?>
								<option value="<?=$sex?>"><?=$sex?></option>
<?php endif; ?>
<?php endforeach; ?>	
<?php endif; ?>				
							</select>
						</div>
					</div>
					<div class="col-lg-6">
						<div>
							<h3 style="margin: 5px;">Your Height (inches)</h3>
							
							<select id="height" style="border: 1px solid black; text-align: center; padding: 10px; font-weight: bold; border-radius: 3px; width: 100%;">
<?php if ($user['height'] == 0 || $user['height'] == ''): ?>
								<option value="">- Select -</option>
<?php foreach($heights as $i => $height): ?>
								<option value="<?=$height?>"><?=$height?></option>
<?php endforeach; ?>			
<?php else: ?>
								<option value="">- Select -</option>
<?php foreach($heights as $i => $height): ?>
<?php if ($user['height'] == $height): ?>
								<option value="<?=$height?>" selected><?=$height?></option>
<?php else: ?>
								<option value="<?=$height?>"><?=$height?></option>
<?php endif; ?>
<?php endforeach; ?>	
<?php endif; ?>				
							</select>
						</div>
					</div>
					
				</div>
				<h3 style="margin: 5px;">Your Daily Goals</h3>
				<div class="row" style="width: 50%; margin-left: 25%; margin-bottom: 20px;">
					<div class="col-lg-6">
						<div>
							<h3 style="margin: 5px;">Carbohydrate (<?=$goals['Carbohydrate']['ZUNIT']?>)</h3>
							<input id="Carbohydrate" class="" type="number" value="<?=$goals['Carbohydrate']['ZVALUE']?>">
						</div>
					</div>
					<div class="col-lg-6">
						<div>
							<h3 style="margin: 5px;">Protein (<?=$goals['Protein']['ZUNIT']?>)</h3>
							<input id="Protein" type="number" value="<?=$goals['Protein']['ZVALUE']?>">
						</div>
					</div>
					<div class="col-lg-6">
						<div>
							<h3 style="margin: 5px;">Calories (<?=$goals['Calories']['ZUNIT']?>)</h3>
							<input id="Calories" type="number" value="<?=$goals['Calories']['ZVALUE']?>">
						</div>
					</div>
					<div class="col-lg-6">
						<div>
							<h3 style="margin: 5px;">Fiber (<?=$goals['Fiber']['ZUNIT']?>)</h3>
							<input id="Fiber" type="number" value="<?=$goals['Fiber']['ZVALUE']?>">
						</div>
					</div>
					<div class="col-lg-6">
						<div>
							<h3 style="margin: 5px;">Sugar (<?=$goals['Sugar']['ZUNIT']?>)</h3>
							<input id="Sugar" type="number" value="<?=$goals['Sugar']['ZVALUE']?>">
						</div>
					</div>
					<div class="col-lg-6">
						<div>
							<h3 style="margin: 5px;">Sodium (<?=$goals['Sodium']['ZUNIT']?>)</h3>
							<input id="Sodium" type="number" value="<?=$goals['Sodium']['ZVALUE']?>">
						</div>
					</div>
					<div class="col-lg-6">
						<div>
							<h3 style="margin: 5px;">Fat (<?=$goals['Fat']['ZUNIT']?>)</h3>
							<input id="Fat" type="number" value="<?=$goals['Fat']['ZVALUE']?>">
						</div>
					</div>
					<div class="col-lg-6">
						<div>
							<h3 style="margin: 5px;">Cholesterol (<?=$goals['Cholesterol']['ZUNIT']?>)</h3>
							<input id="Cholesterol" type="number" value="<?=$goals['Cholesterol']['ZVALUE']?>">
						</div>
					</div>
				</div>

				<br>
				<button class="btn button" onclick="javascript: updateUser();">Update Info</button>
				
				<div style="height: 20em;">&nbsp;</div>
			</div>
		</section>
		
		<style>
			input {
				border: 1px solid black; text-align: center; padding: 10px; font-weight: bold; border-radius: 3px; width: 100%;
			}
		</style>
		
		
		
		<script>
			$(document).ready(function() {
				
			});
		
			if (document.documentElement.clientWidth > 1203) {
				$("#main_box").addClass("content-wrap container clearfix");
			} else {
				
			}
	
			window.addEventListener("resize", function(){
			    // fire when above 1203
			    if (document.documentElement.clientWidth > 1203) {
			    	$("#main_box").addClass("content-wrap container clearfix");
			    }
			    // fire when below 1203
			    else {
			    	$("#main_box").removeClass("content-wrap container clearfix");
			    }
			}, true);

			function updateUser() {
				$.ajax({
					url: "/web/updateUserAction",
					type: 'post',
					dataType: 'html',
					data: {
						user_id: <?=$_SESSION['user_id']?>,
						age: document.getElementById('age').value,
						sex: document.getElementById('sex').value,
						height: document.getElementById('height').value,
						weight: document.getElementById('weight').value,
						
						Carbohydrate: document.getElementById('Carbohydrate').value,
						Calories: document.getElementById('Calories').value,
						Sugar: document.getElementById('Sugar').value,
						Fat: document.getElementById('Fat').value,
						Protein: document.getElementById('Protein').value,
						Fiber: document.getElementById('Fiber').value,
						Sodium: document.getElementById('Sodium').value,
						Cholesterol: document.getElementById('Cholesterol').value
					},
					async: false,
					success: function(data) {

						if (data == 1) {
							swal({
								title: 'Success!',
								type: 'success',
								text: 'User Info Updated.',
								showCloseButton: true,
								showCancelButton: false,
								focusConfirm: false,
								width: '500px',
								confirmButtonText:
									'<div style="color: white; font-size: 200%;">OK</div>'
								,
								confirmButtonAriaLabel: 'Thumbs up, great!',
							}).then((result) => {
								if (result.value) {
									window.location.href = '/web/account';
								} else {
									//alert('down');
								}
							});
						} else {
							console.log(data);
						}
					},
					error: function(data) {
						alert('hmm');
						console.log(data['responseText']);
					}
				});
			}
				
			
		</script>
		
		<style>
			.swal2-title {
				font-size: 250% !important;
			}
			
			.swal2-content {
				font-size: 150% !important;
			}
		</style>