		<section id="content">
			<div id="main_box" class="" style="padding: 0; padding-top: 3em; text-align: center; height: 85vh;">
			
				<h2>Add Medication Record</h2>
				
				<div style="font-size: 150%; margin-top: 1em;">Medication Lookup:</div>
				<input id="food_search" class="form-control" placeholder="Type a med here to add it to your records..." oninput="javascript: medAPI(this.value);" style="width:70%; margin-left: 15%; text-align: center;"/>
				<br><br>
				
				
				<div id="food_options" style="border-top: 1px solid black;"></div>
				<div id="selected_food"></div>
				
				<div style="border-bottom: 1px solid grey; margin-top: 3em;">RECENTLY ADDED MEDICATIONS:</div>
				
<?php foreach ($medications as $id => $data): ?>
				<div class="row" style="border-bottom: 1px solid grey;">
					<div class="col-lg-5">
						<div style="line-height: 25px; padding: 5px;">
							<span style="color: #5a97e8;"><?=$data['name']?></span><br/>
							<?=$data['date']?>
						</div>
					</div>
					<div class="col-lg-5">
						<div style="line-height: 55px; color: #ED1C24;">
							<?=$data['dose_quantity']?> x <?=$data['dose_info']?>
						</div>
					</div>
					
					<div class="col-lg-2">
						<div style="line-height: 55px;">
							<div class="button" style="border-radius: 2px;" onclick="javascript: redoData('<?=$data['Z_PK']?>')">
								<i class="fa fa-sync" style="font-size: 130%;"></i>
							</div>
						</div>
					</div>
				</div>
<?php endforeach; ?>
					
			</div>
		</section>
		
		<script>
			var all_meds = <?php echo json_encode($meds); ?>;
	
			function redoData(med_id) {

				swal({
					title: 'Replicate Med Record?',
					type: 'warning',
					text: '',
					showCloseButton: true,
					showCancelButton: true,
					focusConfirm: false,
					width: '500px',
					confirmButtonText:
						'<div style="color: white; font-size: 200%;">YES!</div>'
					,
					confirmButtonAriaLabel: 'Thumbs up, great!',
					cancelButtonText:
						'<div style="color: white; font-size: 200%;">Cancel</div>'
					,
					cancelButtonAriaLabel: 'Thumbs down',
				}).then((result) => {
					if (result.value) {
						resubmitMed(all_meds[med_id].ZGENERIC, all_meds[med_id].ZNDOSES, '', all_meds[med_id].ZDOSAGEINFO, all_meds[med_id].ZCOMMENT);
					} else {
						
					}
				});
			}
		
			var app_id = 'b48229f6';
			var app_key = 'be142d45178f0db03905392c3aed3a46';
			var results = 30;
			var cal_min = 0;
			var cal_max = 50000;
			var fields = 'item_name,brand_name,item_id,brand_id';

			var current_dose = [];
			var drugs = [];
			var doses = [];

			var quantity = 1;
			
			medAPI('');

			function medAPI(query) {

				if (query == '') {
					document.getElementById('food_options').innerHTML = '';
				} else {

					$.ajax({
						url: "https://clin-table-search.lhc.nlm.nih.gov/api/rxterms/v3/search?terms=" + query + "&ef=STRENGTHS_AND_FORMS",
						type: 'POST',
						beforeSend: function(xhr){
							
						},
						dataType: 'html',
						data: {
							
						},
						async: true,
						success: function(data) {
							var obj = JSON.parse(data);
							drugs = obj[1];
							doses = obj[2]['STRENGTHS_AND_FORMS'];
							
							var string = '';

							for (var i = 0; i < drugs.length; i++) {

								var dash_result = drugs[i].indexOf('/');

								if (dash_result > 0) {

								} else {
									if (i == 0) {
										string += '<div class="search_row" style="cursor: pointer; padding: 5px; border: 1px solid black;" onclick="javascript:setMedData(\'' + drugs[i] + '\', ' + i + ')"><span style="font-weight: bold;">' + drugs[i] + '</span></div>';
									} else {
										string += '<div class="search_row" style="cursor: pointer; padding: 5px; border-left: 1px solid black; border-right: 1px solid black; border-bottom: 1px solid black;" onclick="javascript:setMedData(\'' + drugs[i] + '\', ' + i + ')"><span style="font-weight: bold;">' + drugs[i] + '</span></div>';
									}
								}
							}

							document.getElementById('food_options').innerHTML = string;
						},
						error: function(data) {
							//alert('hmm');
							console.log(data['responseText']);
						}
					});
				}
			}

			function ucfirst(string) 
			{
				return string.charAt(0).toUpperCase() + string.slice(1);
			}

			function setMedData(med, i) {

				var num = med.indexOf("(");

				med = med.substring(0, num - 1);
				
				$.ajax({
					url: "https://api.fda.gov/drug/label.json?search=" + med + "&limit=1",
					type: 'GET',
					beforeSend: function(xhr){},
					dataType: 'html',
					data: {
						
					},
					async: true,
					success: function(data) {
						var obj = JSON.parse(data);

						var results = obj['results'][0];

						if (results['boxed_warning']) {
							var warning = results['boxed_warning'][0];
						} else {
							var warning = '';
						}
						
						if (results['adverse_reactions_table']) {
							var reactions = results['adverse_reactions_table'][0];
						} else {
							var reactions = '';
						}
						
						if (results['dosage_forms_and_strengths']) {
							var dosage = results['dosage_forms_and_strengths'][0];
						} else {
							var dosage = '';
						}
						
						if (results['dosage_and_administration']) {
							var dosage_admin = results['dosage_and_administration'][0];
						} else {
							var dosage_admin = '';
						}
						
						var selected_doses = doses[i];

						var dose_string = '';

						for (var l = 0; l < selected_doses.length; l++) {
							dose_string += '<option value="' + selected_doses[l] + '">' + selected_doses[l] + '</option>';
						}

						var string = `
							<div style="border: 2px solid black; border-radius: 2px;">
								<h2>` + drugs[i] + `</h2>
								<input type="hidden" id="med_name" value="` + drugs[i] + `">
								<div class="container">
									<button type="button" class="button btn" data-toggle="collapse" data-target="#demo">Show Dosage Warnings</button>
									<div id="demo" class="collapse" style="font-weight: bold;">` + dosage_admin + `</div>
								</div>
								<div class="row">
									<div class="col-lg-4">
										<div>
											<h3 style="margin: 5px;">Select Date: </h3>
											<div style="text-align: center;">
												<input id="date" class="form-control" type="text" data-field="datetime" readonly style="width: 80%; margin-left: 10%; text-align: center; border: 3px solid #ED1C24; height: 50px;" />
												<div id="dtBox"></div>
											</div>
										</div>
									</div>
									<div class="col-lg-4">
										<div>
											<h3 style="margin: 5px;">Quantity: </h3>
											<div style="text-align: center;">
												<input id="med_quantity" min="1" class="form-control" type="number" value="` + quantity + `" style="width: 80%; margin-left: 10%; text-align: center; border: 3px solid #ED1C24; height: 50px;" />
											</div>
										</div>
									</div>
									<div class="col-lg-4">
										<div>
										<h3 style="margin: 5px;">Dose: </h3>
											<div style="text-align: center;">
												<select id="med_dose" class="form-control" style="border: 3px solid #ED1C24; width: 80%; margin-left: 10%; height: 50px;">
													<option value="0">- Choose Dosage -</option>
													` + dose_string + `
												</select>
											</div>
										</div>
									</div>
									<div class="col-lg-12">
										<div>
											<div style="margin-top: 25px; text-align: center; font-size: 150%;">Note</div>
											<div style="text-align: center;">
												<textarea id="note" class="form-control" style="width: 90%; margin-left: 5%; text-align: center; border: 3px solid #ED1C24;">

												</textarea>
											</div>
														
										</div>
									</div>
								</div>
								
								
								<div class="button btn" style="margin-top: 15px;" onclick="javascript: submitMed()">Add Medication Record</div>
							</div>
						`;

						document.getElementById('food_options').innerHTML = '';
						document.getElementById('food_options').style.paddingBottom = '1em';
						document.getElementById('selected_food').innerHTML = string;

						$("#dtBox").DateTimePicker();
					},
					error: function(data) {
						//alert('hmm');
						console.log(data['responseText']);
					}
				});
				
			}

			function submitMed() {
				
				$.ajax({
					url: "/web/writeMedAction",
					type: 'post',
					dataType: 'html',
					data: {
						user_id: <?=$_SESSION['user_id']?>,
						med_name: document.getElementById('med_name').value,
						quantity: document.getElementById('med_quantity').value,
						date: document.getElementById('date').value,						
						med_dose: document.getElementById('med_dose').value,
						note: document.getElementById('note').value
					},
					async: false,
					success: function(data) {
						if (data == 1) {
							window.location.href = '/web/add-med';
						} else {
							swal('Error uploading data.');
							console.log(data);
						}
					},
					error: function(data) {
						alert('hmm');
						console.log(data['responseText']);
					}
				});
			}

			function resubmitMed(med_name, quantity, date, med_dose, note) {
				$.ajax({
					url: "/web/writeMedAction",
					type: 'post',
					dataType: 'html',
					data: {
						user_id: <?=$_SESSION['user_id']?>,
						med_name: med_name,
						quantity: quantity,
						date: date,						
						med_dose: med_dose,
						note: note
					},
					async: false,
					success: function(data) {
						if (data == 1) {
							window.location.href = '/web/add-med';
						} else {
							swal('Error uploading data.');
							console.log(data);
						}
					},
					error: function(data) {
						alert('hmm');
						console.log(data['responseText']);
					}
				});
			}

			function increaseFoodQuantity(food_name, serving_qty, serving_unit, serving_weight_grams, calories, cholesterol, dietary_fiber, potassium, protein, saturated_fat, sodium, sugars, total_carbohydrate, total_fat) {
				quantity = document.getElementById('food_quantity').value;

				var serving_qty = +(serving_qty * quantity).toFixed(2);
				var serving_weight_grams = +(serving_weight_grams * quantity).toFixed(2);
				var calories = +(calories * quantity).toFixed(2);
				var cholesterol = +(cholesterol * quantity).toFixed(2);
				var dietary_fiber = +(dietary_fiber * quantity).toFixed(2);
				var potassium = +(potassium * quantity).toFixed(2);
				var protein = +(protein * quantity).toFixed(2);
				var saturated_fat = +(saturated_fat * quantity).toFixed(2);
				var sodium = +(sodium * quantity).toFixed(2);
				var sugars = +(sugars * quantity).toFixed(2);
				var total_carbohydrate = +(total_carbohydrate * quantity).toFixed(2);
				var total_fat = +(total_fat * quantity).toFixed(2);

				var string = `
					<div class="col-lg-4" style="padding: 0.6em;">
						<div>Serving Size:</div>
						<div>
							` + serving_qty + ` ` + serving_unit + `
						</div>
					</div>
					<div class="col-lg-4" style="padding: 0.6em;">
						<div>Serving Weight:</div>
						<div>
							` + serving_weight_grams + ` grams
						</div>
					</div>
					<div class="col-lg-4" style="padding: 0.6em;">
						<div>Calories:</div>
						<div>
							` + calories + `
						</div>
					</div>
					<div class="col-lg-4" style="padding: 0.6em;">
						<div>Cholesterol:</div>
						<div>
							` + cholesterol + ` milligrams
						</div>
					</div>
					<div class="col-lg-4" style="padding: 0.6em;">
						<div>Dietary Fiber:</div>
						<div>
							` + dietary_fiber + ` grams
						</div>
					</div>
					<div class="col-lg-4" style="padding: 0.6em;">
						<div>Potassium:</div>
						<div>
							` + potassium + ` grams
						</div>
					</div>
					<div class="col-lg-4" style="padding: 0.6em;">
						<div>Protein:</div>
						<div>
							` + protein + ` grams
						</div>
					</div>
					<div class="col-lg-4" style="padding: 0.6em;">
						<div>Saturated Fat:</div>
						<div>
							` + saturated_fat + ` grams
						</div>
					</div>
	
					<div class="col-lg-4" style="padding: 0.6em;">
						<div>Sodium:</div>
						<div>
							` + sodium + ` milligrams
						</div>
					</div>
	
					<div class="col-lg-4" style="padding: 0.6em;">
						<div>Sugars:</div>
						<div>
							` + sugars + ` grams
						</div>
					</div>
					<div class="col-lg-4" style="padding: 0.6em;">
						<div>Total Carbohydrate:</div>
						<div>
							` + total_carbohydrate + ` grams
						</div>
					</div>
	
					<div class="col-lg-4" style="padding: 0.6em;">
						<div>Total Fat:</div>
						<div>
							` + total_fat + ` grams
						</div>
					</div>
				`;

				document.getElementById('food_stats').innerHTML = string;
			}

			function showAddMed(value) {

				swal({
					title: value,
					html:
						'<div style="font-size: 150%; padding: 30px;"> ' +

						'Date:<br>' +
						'<input id="new_date" type="text" data-field="datetime" readonly class="form-control not-dark" style="background-color: white; text-align: center; padding: 7px; font-weight: bold; border-radius: 3px; width: 100%;">' +
										
						'<div id="dtBox"></div><br>' +

							'<input id="med_name" type="hidden" value="' + value + '">' +
						
							'Quantity:<br/><input id="quantity" type="text" class="form-control not-dark"> <br/>' +
							'Dose:<br/>' +
							'<select id="dose" class="form-control not-dark">' +
								'<option value=""></option>' +
								'<option value="50 mg Tablet">50 mg Tablet</option>' +
								'<option value="100 mg Tablet">100 mg Tablet</option>' +
								'<option value="150 mg Tablet">150 mg Tablet</option>' +
							'</select>' +
							'<br/>' +
							'Comment:<br/><input id="comment" type="text" class="form-control not-dark"> <br/>' +
						'</div>'
					,
					showCloseButton: true,
					showCancelButton: true,
					focusConfirm: false,
					width: '500px',
					confirmButtonText:
						'<div style="color: white; font-size: 200%;">Add Data</div>'
					,
					confirmButtonAriaLabel: 'Thumbs up, great!',
					cancelButtonText:
						'<div style="color: white; font-size: 200%;">Cancel</div>'
					,
					cancelButtonAriaLabel: 'Thumbs down',
					//imageUrl: '../../../uploads/',
					//imageWidth: 200,
					//imageAlt: 'Logo image'
				}).then((result) => {
					if (result.value) {
						writeMedRecord();
					} else {
						alert('down');
					}
				});

				$("#dtBox").DateTimePicker();
				
				//$( ".swal2-popup" ).append( "<span>&nbsp;</span>" );
				//$( ".swal2-popup" ).append( "<div style='font-size: 75%; text-align: center; width: 100%; position: absolute; bottom: 0; left: 0;'><?=$loader['company']['name']?> uses cookies. Click <a href='/terms/cookies'>here</a> to learn more.</div>" );
			}

			if (document.documentElement.clientWidth > 1203) {
				$("#main_box").addClass("content-wrap container clearfix");
			} else {
				
			}
	
			window.addEventListener("resize", function(){
			    // fire when above 1203
			    if (document.documentElement.clientWidth > 1203) {
			    	$("#main_box").addClass("content-wrap container clearfix");
			    }
			    // fire when below 1203
			    else {
			    	$("#main_box").removeClass("content-wrap container clearfix");
			    }
			}, true);

			function writeMedRecord() {
				$.ajax({
					url: "/web/writeMedRecord",
					type: 'post',
					dataType: 'html',
					data: {
						med_name: document.getElementById('med_name').value,
						date: document.getElementById('new_date').value,
						quantity: document.getElementById('quantity').value,
						dose: document.getElementById('dose').value,
						comment: document.getElementById('comment').value
					},
					async: false,
					success: function(data) {
						if (data == 1) {
							swal('Medication Reading Added!');
						} else {
							swal('Error uploading data.');
							console.log(data);
						}
					},
					error: function(data) {
						alert('hmm');
						console.log(data['responseText']);
					}
				});
			}
			
			
		</script>
		
		<style>
			.search_row:hover {
				background-color: red;
				color: white;
			}
			.chosen-single {
				height: 60px !important;
				line-height: 60px !important;
			}
			
			.chosen-single div{
				display: none !important;
			}
			
			.swal2-title {
				font-size: 250% !important;
			}
		</style>