		<section id="content">
			<div id="main_box" class="" style="padding: 0; padding-top: 3em; text-align: center;">
			
				<h2>Add Steps Record</h2>

				<h3 style="margin: 5px;">Select Date : </h3>
				<input id="date" type="text" data-field="datetime" readonly style="border: 1px solid black; text-align: center; padding: 10px; font-weight: bold; border-radius: 3px;">
								
				<div id="dtBox"></div>
				
				<hr style="width: 350px;">
				
				<h3 style="margin: 5px;">Steps: </h3>
				<input id="steps" type="number" style="border: 1px solid black; text-align: center; padding: 10px; font-weight: bold; border-radius: 3px;">

				<br><br><br>
				<button class="btn button" onclick="javascript: writeBloodPressure();">Add Data</button>
					
			</div>
		</section>
		
		<script>
			$(document).ready(function() {
				$("#dtBox").DateTimePicker({
					dateTimeFormat: "yyyy-MM-dd hh:mm:ss"
				});
				
			});
		
			if (document.documentElement.clientWidth > 1203) {
				$("#main_box").addClass("content-wrap container clearfix");
			} else {
				
			}
	
			window.addEventListener("resize", function(){
			    // fire when above 1203
			    if (document.documentElement.clientWidth > 1203) {
			    	$("#main_box").addClass("content-wrap container clearfix");
			    }
			    // fire when below 1203
			    else {
			    	$("#main_box").removeClass("content-wrap container clearfix");
			    }
			}, true);

			function writeBloodPressure() {
				$.ajax({
					url: "/web/writeStepAction",
					type: 'post',
					dataType: 'html',
					data: {
						date: document.getElementById('date').value,
						steps: document.getElementById('steps').value
					},
					async: false,
					success: function(data) {

						if (data == 1) {
							swal({
								title: 'Steps Record Added!',
								type: 'success',
								text: 'Would you like to view your past steps, or do you want to add another record?',
								showCloseButton: true,
								showCancelButton: true,
								focusConfirm: false,
								width: '500px',
								confirmButtonText:
									'<div style="color: white; font-size: 200%;">View Steps</div>'
								,
								confirmButtonAriaLabel: 'Thumbs up, great!',
								cancelButtonText:
									'<div style="color: white; font-size: 200%;">Add Another Record</div>'
								,
								cancelButtonAriaLabel: 'Thumbs down'
							}).then((result) => {
								if (result.value) {
									window.location.href = '/web/steps';
								} else {
									document.getElementById('date').value = '';
									document.getElementById('steps').value = '';
								}
							});
						} else {
							swal('Something has gone wrong', data, 'error');
							console.log(data);
						}
						
						
					},
					error: function(data) {
						alert('hmm');
						console.log(data['responseText']);
					}
				});
			}
				
			
		</script>
		
		<style>

		</style>