		<section id="content">
			<div id="main_box" class="" style="padding: 0; padding-top: 3em; text-align: center;">
			
				<h2>Add Lab Test</h2>
				
				<h3 style="margin: 5px;">Test Name/ID</h3>
<?php if ($id != ''): ?>
				<input id="name" type="text" style="border: 1px solid black; text-align: center; padding: 10px; font-weight: bold; border-radius: 3px; width: 50%;" value="<?=$test['ZDESC']?>">
<?php else: ?>
				<input id="name" type="text" style="border: 1px solid black; text-align: center; padding: 10px; font-weight: bold; border-radius: 3px; width: 50%;" value="<?=$name?>">
<?php endif; ?>
				
				<h3 style="margin: 5px;">Description</h3>
<?php if ($id != ''): ?>
				<input id="description" type="text" style="border: 1px solid black; text-align: center; padding: 10px; font-weight: bold; border-radius: 3px; width: 50%;" value="<?=$test['ZNAME']?>">
<?php else: ?>
				<input id="description" type="text" style="border: 1px solid black; text-align: center; padding: 10px; font-weight: bold; border-radius: 3px; width: 50%;">
<?php endif; ?>
				
				<div class="row" style="width: 50%; margin-left: 25%;">
					<div class="col-lg-6">
						<div>
							<h3 style="margin: 5px;">Low Range</h3>
<?php if ($id != ''): ?>
							<input id="low" type="text" style="border: 1px solid black; text-align: center; padding: 10px; font-weight: bold; border-radius: 3px; width: 100%;" value="<?=$test['ZRANGELOW']?>">
<?php else: ?>
							<input id="low" type="text" style="border: 1px solid black; text-align: center; padding: 10px; font-weight: bold; border-radius: 3px; width: 100%;">
<?php endif; ?>
						</div>
					</div>
					<div class="col-lg-6">
						<div>
							<h3 style="margin: 5px;">High Range</h3>
<?php if ($id != ''): ?>
							<input id="high" type="text" style="border: 1px solid black; text-align: center; padding: 10px; font-weight: bold; border-radius: 3px; width: 100%;" value="<?=$test['ZRANGEHIGH']?>">
<?php else: ?>
							<input id="high" type="text" style="border: 1px solid black; text-align: center; padding: 10px; font-weight: bold; border-radius: 3px; width: 100%;">
<?php endif; ?>
						</div>
					</div>
					<div class="col-lg-6">
						<div>
							<h3 style="margin: 5px;">Units</h3>
<?php if ($id != ''): ?>
							<input id="units" type="text" style="border: 1px solid black; text-align: center; padding: 10px; font-weight: bold; border-radius: 3px; width: 100%;" value="<?=$test['ZUNITS']?>">
<?php else: ?>
							<input id="units" type="text" style="border: 1px solid black; text-align: center; padding: 10px; font-weight: bold; border-radius: 3px; width: 100%;">
<?php endif; ?>
						</div>
					</div>
					<div class="col-lg-6">
						<div>
							<h3 style="margin: 5px;">Tags/Identifiers</h3>
<?php if ($id != ''): ?>
							<input id="tags" type="text" style="border: 1px solid black; text-align: center; padding: 10px; font-weight: bold; border-radius: 3px; width: 100%;" value="<?=$test['ZTAGS']?>">
<?php else: ?>
							<input id="tags" type="text" style="border: 1px solid black; text-align: center; padding: 10px; font-weight: bold; border-radius: 3px; width: 100%;">
<?php endif; ?>
						</div>
					</div>
				</div>
				<h3 style="margin: 5px;">Comments/Links</h3>
<?php if ($id != ''): ?>
				<textarea id="comment" style="border: 1px solid black; text-align: center; padding: 10px; font-weight: bold; border-radius: 3px; width: 50%;"><?=$test['ZCOMMENT']?></textarea>
<?php else: ?>
				<textarea id="comment" style="border: 1px solid black; text-align: center; padding: 10px; font-weight: bold; border-radius: 3px; width: 50%;"></textarea>
<?php endif; ?>

				<br><br><br>
				<button class="btn button" onclick="javascript: writeDataSet();">Add Data</button>
				
				<div style="height: 20em;">&nbsp;</div>
			</div>
		</section>
		
		<script>
			$(document).ready(function() {
			});
		
			if (document.documentElement.clientWidth > 1203) {
				$("#main_box").addClass("content-wrap container clearfix");
			} else {
				
			}
	
			window.addEventListener("resize", function(){
			    // fire when above 1203
			    if (document.documentElement.clientWidth > 1203) {
			    	$("#main_box").addClass("content-wrap container clearfix");
			    }
			    // fire when below 1203
			    else {
			    	$("#main_box").removeClass("content-wrap container clearfix");
			    }
			}, true);

			function writeDataSet() {
				$.ajax({
					url: "/web/writeDataSet",
					type: 'post',
					dataType: 'html',
					data: {
						id: <?=$id?>,
						name: document.getElementById('name').value,
						description: document.getElementById('description').value,
						low: document.getElementById('low').value,
						high: document.getElementById('high').value,
						units: document.getElementById('units').value,
						tags: document.getElementById('tags').value,
						comment: document.getElementById('comment').value
					},
					async: false,
					success: function(data) {

						if (data == 1) {
							swal({
								title: 'Success!',
<?php if ($id != ''): ?>
								text: 'Lab Test Updated.',
<?php else: ?>
								text: 'Lab Test Added.',
<?php endif; ?>
								showCloseButton: true,
								showCancelButton: false,
								focusConfirm: false,
								width: '500px',
								confirmButtonText:
									'<div style="color: white; font-size: 200%;">OK</div>'
								,
								confirmButtonAriaLabel: 'Thumbs up, great!',
							}).then((result) => {
								if (result.value) {
<?php if ($id != ''): ?>
									window.location.href = '/web/view-tests';
<?php else: ?>
									window.location.href = '/web/add-lab';
<?php endif; ?>
								} else {
									//alert('down');
								}
							});
							
						} else {
							if (data == 'FOUND') {
								swal({
									title: 'Test Name Already Exists',
									text: 'Sorry, choose another test name.',
									showCloseButton: true,
									showCancelButton: false,
									focusConfirm: false,
									width: '500px',
									confirmButtonText:
										'<div style="color: white; font-size: 200%;">Yes, add test</div>'
									,
									confirmButtonAriaLabel: 'Thumbs up, great!',
									cancelButtonText:
										'<div style="color: white; font-size: 200%;">Cancel</div>'
									,
									cancelButtonAriaLabel: 'Thumbs down',
								}).then((result) => {
									if (result.value) {
										//window.location.href = '/web/add-lab-test?name=' + document.getElementById('name').value;
									} else {
										//alert('down');
									}
								});
							} else {
								swal('Something has gone wrong.');
							}
							
							console.log(data);
						}
						
						

						
					},
					error: function(data) {
						alert('hmm');
						console.log(data['responseText']);
					}
				});
			}
				
			
		</script>
		
		<style>
			.swal2-title {
				font-size: 250% !important;
			}
			
			.swal2-content {
				font-size: 150% !important;
			}
		</style>