		<section id="content">
			<div id="main_box" class="" style="padding: 0; padding-top: 3em; text-align: center;">
			
				<h2>Add Lab Data</h2>
				
				<h3 style="margin: 5px;">Test Name: </h3>
				<input list="test_names"  onchange="setLab(this);" id="name" type="text" style="border: 1px solid black; text-align: center; padding: 10px; font-weight: bold; border-radius: 3px; width: 50%;">

<datalist id="test_names">
<?php foreach ($sets as $i => $data): ?>
	<option value="<?=$data['ZDESC']?>"><?=$data['ZNAME']?> - <?=$data['ZDESC']?></option>
<?php endforeach; ?>
</datalist>
			
				<input id="name" type="hidden">

				<h3 style="margin: 5px;">Select Date : </h3>
				<input id="date" type="text" data-field="datetime" readonly style="border: 1px solid black; text-align: center; padding: 10px; width: 50%; font-weight: bold; border-radius: 3px;">
								
				<div id="dtBox"></div>
				
				<div id="range_row" class="row" style="margin-top: 1em; display: none;">
					<div class="col-lg-6">
						<div style="text-align: right;">
							<h3>Low Range:</h3>
							<h3 id="low_field" style="padding-right: 1em;"></h3>
						</div>
					</div>
					<div class="col-lg-6">
						<div style="text-align: left;">
							<h3>High Range:</h3>
							<h3 id="high_field" style="padding-left: 1em;"></h3>
						</div>
					</div>
				</div>
				<h3 style="margin: 5px;">Value : </h3>
				<input id="value" type="number" style="border: 1px solid black; text-align: center; padding: 10px; font-weight: bold; border-radius: 3px; width: 50%;">
				
				<h3 style="margin: 5px;">Comment : </h3>
				<textarea id="comment" rows="" cols="" style="border: 1px solid black; text-align: center; padding: 10px; font-weight: bold; border-radius: 3px; width: 50%;"></textarea>

				<br><br><br>
				<button class="btn button" onclick="javascript: writeTestData();">Add Data</button>
					
			</div>
		</section>
		
		<script>
			$(document).ready(function() {
				$("#dtBox").DateTimePicker({dateTimeFormat: "yyyy-MM-dd hh:mm:ss"});
			});
		
			if (document.documentElement.clientWidth > 1203) {
				$("#main_box").addClass("content-wrap container clearfix");
			} else {
				
			}
	
			window.addEventListener("resize", function(){
			    // fire when above 1203
			    if (document.documentElement.clientWidth > 1203) {
			    	$("#main_box").addClass("content-wrap container clearfix");
			    }
			    // fire when below 1203
			    else {
			    	$("#main_box").removeClass("content-wrap container clearfix");
			    }
			}, true);

			var sets = <?php echo json_encode($sets_sort); ?>;
			
			function setLab(source) {
				document.getElementById('range_row').style.display = '';
				document.getElementById('low_field').innerHTML = sets[source.value]['ZRANGELOW'];
				document.getElementById('high_field').innerHTML = sets[source.value]['ZRANGEHIGH'];
			}

			function writeTestData() {
				$.ajax({
					url: "/web/writeTestData",
					type: 'post',
					dataType: 'html',
					data: {
						date: document.getElementById('date').value,
						name: document.getElementById('name').value,
						value: document.getElementById('value').value,
						comment: document.getElementById('comment').value
					},
					async: false,
					success: function(data) {

						if (data == 1) {

							swal({
								title: 'Test Data Added!',
								type: 'success',
								text: 'Would you like to view your lab data, or do you want to add another test?',
								showCloseButton: true,
								showCancelButton: true,
								focusConfirm: false,
								width: '500px',
								confirmButtonText:
									'<div style="color: white; font-size: 200%;">View Lab Data</div>'
								,
								confirmButtonAriaLabel: 'Thumbs up, great!',
								cancelButtonText:
									'<div style="color: white; font-size: 200%;">Add Another Test</div>'
								,
								cancelButtonAriaLabel: 'Thumbs down',
								//imageUrl: '../../../uploads/',
								//imageWidth: 200,
								//imageAlt: 'Logo image'
							}).then((result) => {
								if (result.value) {
									window.location.href = '/web/tests';
								} else {
									document.getElementById('date').value = '';
									document.getElementById('name').value = '';
									document.getElementById('value').value = '';
									document.getElementById('comment').value = '';
								}
							});
							
							
						} else {
							if (data == 'NOT FOUND') {
								swal({
									title: 'Test Name Not Found',
									text: 'Sorry, the lab test you have specified is currently not in the database. Would you like to add this as a new test?',
									showCloseButton: true,
									showCancelButton: true,
									focusConfirm: false,
									width: '500px',
									confirmButtonText:
										'<div style="color: white; font-size: 200%;">Yes, add test</div>'
									,
									confirmButtonAriaLabel: 'Thumbs up, great!',
									cancelButtonText:
										'<div style="color: white; font-size: 200%;">Cancel</div>'
									,
									cancelButtonAriaLabel: 'Thumbs down',
									//imageUrl: '../../../uploads/',
									//imageWidth: 200,
									//imageAlt: 'Logo image'
								}).then((result) => {
									if (result.value) {
										window.location.href = '/web/add-lab-test?name=' + document.getElementById('name').value;
									} else {
										//alert('down');
									}
								});
							} else {
								swal('Something has gone wrong.');
							}
							
							console.log(data);
						}
						
						

						
					},
					error: function(data) {
						alert('hmm');
						console.log(data['responseText']);
					}
				});
			}
				
			
		</script>
		
		<style>
			.swal2-title {
				font-size: 250% !important;
			}
			
			.swal2-content {
				font-size: 150% !important;
			}
		</style>