		<section id="content">
			<div id="main_box" class="" style="padding: 0; padding-top: 3em; text-align: center;">
			
				<h2>Add Blood Pressure Reading</h2>

				<h3 style="margin: 5px;">Select Date : </h3>
				<input id="date" type="text" data-field="datetime" readonly style="border: 1px solid black; text-align: center; padding: 10px; font-weight: bold; border-radius: 3px;">
								
				<div id="dtBox"></div>
				
				<hr style="width: 350px;">

				<h3 style="margin: 5px;">Systolic : </h3>
				<input id="systolic" type="number" style="border: 1px solid black; text-align: center; padding: 10px; font-weight: bold; border-radius: 3px;"> mm Hg
				
				<h3 style="margin: 5px;">Diastolic : </h3>
				<input id="diastolic" type="number" style="border: 1px solid black; text-align: center; padding: 10px; font-weight: bold; border-radius: 3px;"> mm Hg

				<br><br><br>
				<button class="btn button" onclick="javascript: writeBloodPressure();">Add Data</button>
					
			</div>
		</section>
		
		<script>
			$(document).ready(function() {
				$("#dtBox").DateTimePicker({
					dateTimeFormat: "yyyy-MM-dd hh:mm:ss"
				});
			});
		
			if (document.documentElement.clientWidth > 1203) {
				$("#main_box").addClass("content-wrap container clearfix");
			} else {
				
			}
	
			window.addEventListener("resize", function(){
			    // fire when above 1203
			    if (document.documentElement.clientWidth > 1203) {
			    	$("#main_box").addClass("content-wrap container clearfix");
			    }
			    // fire when below 1203
			    else {
			    	$("#main_box").removeClass("content-wrap container clearfix");
			    }
			}, true);

			function writeBloodPressure() {
				$.ajax({
					url: "/web/writeBloodPressure",
					type: 'post',
					dataType: 'html',
					data: {
						date: document.getElementById('date').value,
						diastolic: document.getElementById('diastolic').value,
						systolic: document.getElementById('systolic').value
					},
					async: false,
					success: function(data) {
						if (data == 1) {
							swal('Blood Pressure Reading Added!');
							document.getElementById('systolic').value = '';
							document.getElementById('diastolic').value = '';
						} else {
							alert('hmm');
							console.log(data);
						}
						
					},
					error: function(data) {
						alert('hmm');
						console.log(data['responseText']);
					}
				});
			}
				
			
		</script>
		
		<style>

		</style>