		<section id="content">
			<div id="main_box" class="" style="padding: 0; padding-top: 3em; text-align: center; height: 85vh;">
			
				<h2>Add Food Record</h2>
				
				<div style="font-size: 150%; margin-top: 1em;">Food Lookup:</div>
				<input id="food_search" class="form-control" placeholder="Type a food here to add it to your records..." oninput="javascript: foodAPI(this.value);" style="width:70%; margin-left: 15%; text-align: center;"/>
				<br><br>
				
				
				<div id="food_options"></div>
				<div id="selected_food"></div>
				
				<div style="border-bottom: 1px solid grey; margin-top: 3em;">RECENTLY ADDED FOODS:</div>
				
<?php foreach ($food as $id => $data): ?>
				<div class="row" style="border-bottom: 1px solid grey;">
					<div class="col-lg-5">
						<div style="line-height: 25px; padding: 5px;">
							<span style="font-weight: bold; font-size: 110%;"><?=ucfirst($data['food_name'])?></span><br/>
							<?=$data['created_date']?>
						</div>
					</div>
					<div class="col-lg-5">
						<div style="line-height: 55px; color: #ED1C24;">
							Serv: <?=$data['serving_qty']?> <?=$data['serving_unit']?>(s) <span style="margin-left: 20px; color: #5a97e8; font-weight: bold;">Calories: <?=$data['calories']?></span>
						</div>
					</div>
					
					<div class="col-lg-2">
						<div style="line-height: 55px;">
							<div class="button" style="border-radius: 2px;" onclick="javascript: redoData(<?=$id?>)">
								<i class="fa fa-sync" style="font-size: 130%;"></i>
							</div>
						</div>
					</div>
				</div>
<?php endforeach; ?>
					
			</div>
		</section>
		
		<script>

			var all_foods = <?php echo json_encode($food); ?>;
			var all_nutrients = <?php echo json_encode($nutrients); ?>;

			function redoData(food_id) {
				swal({
					title: 'Replicate Food Record?',
					type: 'warning',
					text: '',
					showCloseButton: true,
					showCancelButton: true,
					focusConfirm: false,
					width: '500px',
					confirmButtonText:
						'<div style="color: white; font-size: 200%;">YES!</div>'
					,
					confirmButtonAriaLabel: 'Thumbs up, great!',
					cancelButtonText:
						'<div style="color: white; font-size: 200%;">Cancel</div>'
					,
					cancelButtonAriaLabel: 'Thumbs down',
				}).then((result) => {
					if (result.value) {
						resubmitFood(all_foods[food_id].food_name, all_foods[food_id].serving_qty, all_foods[food_id].serving_unit, all_foods[food_id].serving_weight_grams, all_foods[food_id].calories, all_foods[food_id].cholesterol, all_foods[food_id].dietary_fiber, all_foods[food_id].potassium, all_foods[food_id].protein, all_foods[food_id].saturated_fat, all_foods[food_id].sodium, all_foods[food_id].sugars, all_foods[food_id].total_carbohydrate, all_foods[food_id].total_fat, all_foods[food_id].meal_type);
					} else {
						
					}
				});
			}
		
			var app_id = 'b48229f6';
			var app_key = 'be142d45178f0db03905392c3aed3a46';
			var results = 30;
			var cal_min = 0;
			var cal_max = 50000;
			var fields = 'item_name,brand_name,item_id,brand_id';

			var quantity = 1;
			
			foodAPI('');

			function foodAPI(query) {

				if (query == '') {
					document.getElementById('food_options').innerHTML = '';
				} else {
					$.ajax({
						url: "https://trackapi.nutritionix.com/v2/search/instant",
						type: 'POST',
						beforeSend: function(xhr){
							xhr.setRequestHeader('x-app-id', app_id);
							xhr.setRequestHeader('x-app-key', app_key);
						},
						dataType: 'html',
						data: {
							query: query,
							detailed: true
						},
						async: true,
						success: function(data) {
							var obj = JSON.parse(data);

							//	var total_hits = obj['total_hits'];
							//var hits = obj['hits'];

							var string = '';

							for (var i = 0; i < obj['common'].length; i++) {
								if (i == 0) {
									string += '<div class="search_row" style="cursor: pointer; padding: 5px; border: 1px solid black;" onclick="javascript:setFoodData(\'' + obj['common'][i]['food_name'] + '\')"><span style="font-weight: bold;">' + obj['common'][i]['food_name'] + '</span> | Serving Size: ' + obj['common'][i]['serving_qty'] + ' ' + obj['common'][i]['serving_unit'] + '</div>';
								} else {
									string += '<div class="search_row" style="cursor: pointer; padding: 5px; border-left: 1px solid black; border-right: 1px solid black; border-bottom: 1px solid black;" onclick="javascript:setFoodData(\'' + obj['common'][i]['food_name'] + '\')"><span style="font-weight: bold;">' + obj['common'][i]['food_name'] + '</span> | Serving Size: ' + obj['common'][i]['serving_qty'] + ' ' + obj['common'][i]['serving_unit'] + '</div>';
								}
								
							}

							document.getElementById('food_options').innerHTML = string;
						},
						error: function(data) {
							//alert('hmm');
							console.log(data['responseText']);
						}
					});
				}
			}

			function ucfirst(string) 
			{
				return string.charAt(0).toUpperCase() + string.slice(1);
			}

			var found_count = 0;
			
			function setFoodData(nix_id) {
				
				$.ajax({
					url: "https://trackapi.nutritionix.com/v2/natural/nutrients",
					type: 'POST',
					beforeSend: function(xhr){
						xhr.setRequestHeader('x-app-id', app_id);
						xhr.setRequestHeader('x-app-key', app_key);
					},
					dataType: 'html',
					data: {
						query: nix_id
					},
					async: true,
					success: function(data) {
						var obj = JSON.parse(data);

						var food = obj['foods'][0];

						found_nutrients = food['full_nutrients'];

						var food_name = food['food_name'];

						var serving_qty = +(food['serving_qty'] * quantity).toFixed(2);
						var serving_unit = food['serving_unit'];
						var serving_weight_grams = +(food['serving_weight_grams'] * quantity).toFixed(2);
						var calories = +(food['nf_calories'] * quantity).toFixed(2);
						var cholesterol = +(food['nf_cholesterol'] * quantity).toFixed(2);
						var dietary_fiber = +(food['nf_dietary_fiber'] * quantity).toFixed(2);
						var p = +(food['nf_p'] * quantity).toFixed(2);
						var potassium = +(food['nf_potassium'] * quantity).toFixed(2);
						var protein = +(food['nf_protein'] * quantity).toFixed(2);
						var saturated_fat = +(food['nf_saturated_fat'] * quantity).toFixed(2);
						var sodium = +(food['nf_sodium'] * quantity).toFixed(2);
						var sugars = +(food['nf_sugars'] * quantity).toFixed(2);
						var total_carbohydrate = +(food['nf_total_carbohydrate'] * quantity).toFixed(2);
						var total_fat = +(food['nf_total_fat'] * quantity).toFixed(2);

						var string = `
							<div style="border: 2px solid black; border-radius: 2px;">
								<h2>` + ucfirst(food_name) + `</h2>
								
								<div id="food_stats" class="row" style="font-weight: bold;">
									<div class="col-lg-4" style="padding: 0.6em;">
										<div>Serving Size:</div>
										<div>
											` + serving_qty + ` ` + serving_unit + `
										</div>
									</div>
									<div class="col-lg-4" style="padding: 0.6em;">
										<div>Serving Weight:</div>
										<div>
											` + serving_weight_grams + ` grams
										</div>
									</div>
									<div class="col-lg-4" style="padding: 0.6em;">
										<div>Calories:</div>
										<div>
											` + calories + `
										</div>
									</div>
									<div class="col-lg-4" style="padding: 0.6em;">
										<div>Cholesterol:</div>
										<div>
											` + cholesterol + ` milligrams
										</div>
									</div>
									<div class="col-lg-4" style="padding: 0.6em;">
										<div>Dietary Fiber:</div>
										<div>
											` + dietary_fiber + ` grams
										</div>
									</div>
									<div class="col-lg-4" style="padding: 0.6em;">
										<div>Potassium:</div>
										<div>
											` + potassium + ` grams
										</div>
									</div>
									<div class="col-lg-4" style="padding: 0.6em;">
										<div>Protein:</div>
										<div>
											` + protein + ` grams
										</div>
									</div>
									<div class="col-lg-4" style="padding: 0.6em;">
										<div>Saturated Fat:</div>
										<div>
											` + saturated_fat + ` grams
										</div>
									</div>

									<div class="col-lg-4" style="padding: 0.6em;">
										<div>Sodium:</div>
										<div>
											` + sodium + ` milligrams
										</div>
									</div>

									<div class="col-lg-4" style="padding: 0.6em;">
										<div>Sugars:</div>
										<div>
											` + sugars + ` grams
										</div>
									</div>
									<div class="col-lg-4" style="padding: 0.6em;">
										<div>Total Carbohydrate:</div>
										<div>
											` + total_carbohydrate + ` grams
										</div>
									</div>

									<div class="col-lg-4" style="padding: 0.6em;">
										<div>Total Fat:</div>
										<div>
											` + total_fat + ` grams
										</div>
									</div>
								</div>`;

								for (var i = 0; i < found_nutrients.length; i++) {
									if (found_nutrients[i].value != 0) {
										found_count++;
									}
								};

								string += `

								<div class="container">
									
									<button id="hide_button" type="button" class="button btn" data-toggle="collapse" data-target="#demo" onclick="javascript: toggleHide();">Show Additional Nutrients (` + found_count + `)</button>
									<input id="hide_button_value" type="hidden" value="0">
									<div id="demo" class="collapse" style="font-weight: bold; line-height: 26px;">`;

								for (var i = 0; i < found_nutrients.length; i++) {
									if (found_nutrients[i].value == 0) {

									} else {
										
										if (all_nutrients[found_nutrients[i].attr_id]) {
											string += `
												<span style="white-space: nowrap;">
													` + all_nutrients[found_nutrients[i].attr_id].name + ` = ` + found_nutrients[i].value + all_nutrients[found_nutrients[i].attr_id].unit + ` <span style="color: red; margin: 15px;">/</span>
												</span>`;
										} else {
											console.log('Not Found:' + found_nutrients[i].attr_id);
										}
										
									}
								}

								string += `
									</div>
								</div>`;


							string += `
								<div style="margin-top: 25px; text-align: center; font-size: 150%;">Meal Type</div>
								<select id="meal" class="form-control" style="width: 40%; margin-left: 30%; text-align: center; border: 3px solid #ED1C24;">
									<option value="">- Select One -</option>
									<option value="Breakfast">Breakfast</option>
									<option value="Lunch">Lunch</option>
									<option value="Dinner">Dinner</option>
									<option value="Snack">Snack</option>
									<option value="Other">Other</option>
								</select>

								<h3 style="margin: 5px;">Select Date : </h3>
								<input id="date" type="text" data-field="datetime" readonly class="form-control" style="width: 40%; margin-left: 30%; text-align: center; border: 3px solid #ED1C24;">
												
								<div id="dtBox"></div>
								
								<div style="margin-top: 25px; text-align: center; font-size: 150%;">Quantity</div>
								<div style="text-align: center;"><input id="food_quantity" min="0" oninput="javascript: increaseFoodQuantity('` + food_name + `',` + serving_qty + `,'',` + serving_weight_grams + `,` + calories + `,` + cholesterol + `,` + dietary_fiber + `,` + potassium + `,` + protein + `,` + saturated_fat + `,` + sodium + `,` + sugars + `,` + total_carbohydrate + `,` + total_fat + `);" class="form-control" type="number" value="` + quantity + `" style="width: 40%; margin-left: 30%; text-align: center; border: 3px solid #ED1C24;" /></div>
								<div class="button btn" style="margin-top: 15px;" onclick="javascript: submitFood('` + food_name + `',` + serving_qty + `,'',` + serving_weight_grams + `,` + calories + `,` + cholesterol + `,` + dietary_fiber + `,` + potassium + `,` + protein + `,` + saturated_fat + `,` + sodium + `,` + sugars + `,` + total_carbohydrate + `,` + total_fat + `);">Add Food Record</div>
							</div>
						`;

						

						document.getElementById('food_options').innerHTML = '';
						document.getElementById('food_options').style.paddingBottom = '1em';
						document.getElementById('selected_food').innerHTML = string;

						$("#dtBox").DateTimePicker({
							dateTimeFormat: "yyyy-MM-dd hh:mm:ss"
						});
					},
					error: function(data) {
						//alert('hmm');
						console.log(data['responseText']);
					}
				});
			}

			function toggleHide() {
				if (document.getElementById('hide_button_value').value == 0) {
					document.getElementById('hide_button_value').value = 1;
					document.getElementById('hide_button').innerHTML = 'HIDE ADDITIONAL NUTRIENTS  (' + found_count + ')';
				} else {
					document.getElementById('hide_button_value').value = 0;
					document.getElementById('hide_button').innerHTML = 'SHOW ADDITIONAL NUTRIENTS  (' + found_count + ')';
				}
			}

			function submitFood(food_name, serving_qty, serving_unit, serving_weight_grams, calories, cholesterol, dietary_fiber, potassium, protein, saturated_fat, sodium, sugars, total_carbohydrate, total_fat) {
				var serving_qty = +(serving_qty * quantity).toFixed(2);
				var serving_weight_grams = +(serving_weight_grams * quantity).toFixed(2);
				var calories = +(calories * quantity).toFixed(2);
				var cholesterol = +(cholesterol * quantity).toFixed(2);
				var dietary_fiber = +(dietary_fiber * quantity).toFixed(2);
				var potassium = +(potassium * quantity).toFixed(2);
				var protein = +(protein * quantity).toFixed(2);
				var saturated_fat = +(saturated_fat * quantity).toFixed(2);
				var sodium = +(sodium * quantity).toFixed(2);
				var sugars = +(sugars * quantity).toFixed(2);
				var total_carbohydrate = +(total_carbohydrate * quantity).toFixed(2);
				var total_fat = +(total_fat * quantity).toFixed(2);

				serving_unit = serving_unit.replace('"', '\"');
				
				$.ajax({
					url: "/web/writeFoodAction",
					type: 'post',
					dataType: 'html',
					data: {
						user_id: <?=$_SESSION['user_id']?>,
						quantity: quantity,
						meal_type: document.getElementById('meal').value,
						date: document.getElementById('date').value,
						food_name: food_name,
						serving_qty: serving_qty,
						serving_unit: serving_unit,
						serving_weight_grams: serving_weight_grams,
						calories: calories,
						cholesterol: cholesterol,
						dietary_fiber: dietary_fiber,
						potassium: potassium,
						protein: protein,
						saturated_fat: saturated_fat,
						sodium: sodium,
						sugars: sugars,
						total_carbohydrate: total_carbohydrate,
						total_fat: total_fat,
						found_nutrients: found_nutrients
					},
					async: false,
					success: function(data) {
						if (data == 1) {
							window.location.href = '/web/add-food';
						} else {
							swal('Error uploading data.');
							console.log(data);
						}
					},
					error: function(data) {
						alert('hmm');
						console.log(data['responseText']);
					}
				});
			}

			function resubmitFood(food_name, serving_qty, serving_unit, serving_weight_grams, calories, cholesterol, dietary_fiber, potassium, protein, saturated_fat, sodium, sugars, total_carbohydrate, total_fat, meal_type) {
				var serving_qty = +(serving_qty * quantity).toFixed(2);
				var serving_weight_grams = +(serving_weight_grams * quantity).toFixed(2);
				var calories = +(calories * quantity).toFixed(2);
				var cholesterol = +(cholesterol * quantity).toFixed(2);
				var dietary_fiber = +(dietary_fiber * quantity).toFixed(2);
				var potassium = +(potassium * quantity).toFixed(2);
				var protein = +(protein * quantity).toFixed(2);
				var saturated_fat = +(saturated_fat * quantity).toFixed(2);
				var sodium = +(sodium * quantity).toFixed(2);
				var sugars = +(sugars * quantity).toFixed(2);
				var total_carbohydrate = +(total_carbohydrate * quantity).toFixed(2);
				var total_fat = +(total_fat * quantity).toFixed(2);

				serving_unit = serving_unit.replace('"', '\"');
				
				$.ajax({
					url: "/web/writeFoodAction",
					type: 'post',
					dataType: 'html',
					data: {
						user_id: <?=$_SESSION['user_id']?>,
						quantity: quantity,
						meal_type: meal_type,
						food_name: food_name,
						serving_qty: serving_qty,
						serving_unit: serving_unit,
						serving_weight_grams: serving_weight_grams,
						calories: calories,
						cholesterol: cholesterol,
						dietary_fiber: dietary_fiber,
						potassium: potassium,
						protein: protein,
						saturated_fat: saturated_fat,
						sodium: sodium,
						sugars: sugars,
						total_carbohydrate: total_carbohydrate,
						total_fat: total_fat
					},
					async: false,
					success: function(data) {
						if (data == 1) {
							window.location.href = '/web/add-food';
						} else {
							swal('Error uploading data.');
							console.log(data);
						}
					},
					error: function(data) {
						alert('hmm');
						console.log(data['responseText']);
					}
				});
			}

			function increaseFoodQuantity(food_name, serving_qty, serving_unit, serving_weight_grams, calories, cholesterol, dietary_fiber, potassium, protein, saturated_fat, sodium, sugars, total_carbohydrate, total_fat) {
				quantity = document.getElementById('food_quantity').value;

				var serving_qty = +(serving_qty * quantity).toFixed(2);
				var serving_weight_grams = +(serving_weight_grams * quantity).toFixed(2);
				var calories = +(calories * quantity).toFixed(2);
				var cholesterol = +(cholesterol * quantity).toFixed(2);
				var dietary_fiber = +(dietary_fiber * quantity).toFixed(2);
				var potassium = +(potassium * quantity).toFixed(2);
				var protein = +(protein * quantity).toFixed(2);
				var saturated_fat = +(saturated_fat * quantity).toFixed(2);
				var sodium = +(sodium * quantity).toFixed(2);
				var sugars = +(sugars * quantity).toFixed(2);
				var total_carbohydrate = +(total_carbohydrate * quantity).toFixed(2);
				var total_fat = +(total_fat * quantity).toFixed(2);

				var string = `
					<div class="col-lg-4" style="padding: 0.6em;">
						<div>Serving Size:</div>
						<div>
							` + serving_qty + ` ` + serving_unit + `
						</div>
					</div>
					<div class="col-lg-4" style="padding: 0.6em;">
						<div>Serving Weight:</div>
						<div>
							` + serving_weight_grams + ` grams
						</div>
					</div>
					<div class="col-lg-4" style="padding: 0.6em;">
						<div>Calories:</div>
						<div>
							` + calories + `
						</div>
					</div>
					<div class="col-lg-4" style="padding: 0.6em;">
						<div>Cholesterol:</div>
						<div>
							` + cholesterol + ` milligrams
						</div>
					</div>
					<div class="col-lg-4" style="padding: 0.6em;">
						<div>Dietary Fiber:</div>
						<div>
							` + dietary_fiber + ` grams
						</div>
					</div>
					<div class="col-lg-4" style="padding: 0.6em;">
						<div>Potassium:</div>
						<div>
							` + potassium + ` grams
						</div>
					</div>
					<div class="col-lg-4" style="padding: 0.6em;">
						<div>Protein:</div>
						<div>
							` + protein + ` grams
						</div>
					</div>
					<div class="col-lg-4" style="padding: 0.6em;">
						<div>Saturated Fat:</div>
						<div>
							` + saturated_fat + ` grams
						</div>
					</div>
	
					<div class="col-lg-4" style="padding: 0.6em;">
						<div>Sodium:</div>
						<div>
							` + sodium + ` milligrams
						</div>
					</div>
	
					<div class="col-lg-4" style="padding: 0.6em;">
						<div>Sugars:</div>
						<div>
							` + sugars + ` grams
						</div>
					</div>
					<div class="col-lg-4" style="padding: 0.6em;">
						<div>Total Carbohydrate:</div>
						<div>
							` + total_carbohydrate + ` grams
						</div>
					</div>
	
					<div class="col-lg-4" style="padding: 0.6em;">
						<div>Total Fat:</div>
						<div>
							` + total_fat + ` grams
						</div>
					</div>
				`;

				document.getElementById('food_stats').innerHTML = string;
			}

			function showAddMed(value) {

				swal({
					title: value,
					html:
						'<div style="font-size: 150%; padding: 30px;"> ' +

						'Date:<br>' +
						'<input id="new_date" type="text" data-field="datetime" readonly class="form-control not-dark" style="background-color: white; text-align: center; padding: 7px; font-weight: bold; border-radius: 3px; width: 100%;">' +
										
						'<div id="dtBox"></div><br>' +

							'<input id="med_name" type="hidden" value="' + value + '">' +
						
							'Quantity:<br/><input id="quantity" type="text" class="form-control not-dark"> <br/>' +
							'Dose:<br/>' +
							'<select id="dose" class="form-control not-dark">' +
								'<option value=""></option>' +
								'<option value="50 mg Tablet">50 mg Tablet</option>' +
								'<option value="100 mg Tablet">100 mg Tablet</option>' +
								'<option value="150 mg Tablet">150 mg Tablet</option>' +
							'</select>' +
							'<br/>' +
							'Comment:<br/><input id="comment" type="text" class="form-control not-dark"> <br/>' +
						'</div>'
					,
					showCloseButton: true,
					showCancelButton: true,
					focusConfirm: false,
					width: '500px',
					confirmButtonText:
						'<div style="color: white; font-size: 200%;">Add Data</div>'
					,
					confirmButtonAriaLabel: 'Thumbs up, great!',
					cancelButtonText:
						'<div style="color: white; font-size: 200%;">Cancel</div>'
					,
					cancelButtonAriaLabel: 'Thumbs down',
					//imageUrl: '../../../uploads/',
					//imageWidth: 200,
					//imageAlt: 'Logo image'
				}).then((result) => {
					if (result.value) {
						writeMedRecord();
					} else {
						alert('down');
					}
				});

				$("#dtBox").DateTimePicker();
				
				//$( ".swal2-popup" ).append( "<span>&nbsp;</span>" );
				//$( ".swal2-popup" ).append( "<div style='font-size: 75%; text-align: center; width: 100%; position: absolute; bottom: 0; left: 0;'><?=$loader['company']['name']?> uses cookies. Click <a href='/terms/cookies'>here</a> to learn more.</div>" );
			}

			
			if (document.documentElement.clientWidth > 1203) {
				$("#main_box").addClass("content-wrap container clearfix");
			} else {
				
			}
	
			window.addEventListener("resize", function(){
			    // fire when above 1203
			    if (document.documentElement.clientWidth > 1203) {
			    	$("#main_box").addClass("content-wrap container clearfix");
			    }
			    // fire when below 1203
			    else {
			    	$("#main_box").removeClass("content-wrap container clearfix");
			    }
			}, true);

			function writeMedRecord() {
				$.ajax({
					url: "/web/writeMedRecord",
					type: 'post',
					dataType: 'html',
					data: {
						med_name: document.getElementById('med_name').value,
						date: document.getElementById('new_date').value,
						quantity: document.getElementById('quantity').value,
						dose: document.getElementById('dose').value,
						comment: document.getElementById('comment').value
					},
					async: false,
					success: function(data) {
						if (data == 1) {
							swal('Medication Reading Added!');
						} else {
							swal('Error uploading data.');
							console.log(data);
						}
					},
					error: function(data) {
						alert('hmm');
						console.log(data['responseText']);
					}
				});
			}
			
			
		</script>
		
		<style>
			.search_row:hover {
				background-color: red;
				color: white;
			}
			.chosen-single {
				height: 60px !important;
				line-height: 60px !important;
			}
			
			.chosen-single div{
				display: none !important;
			}
			
			.swal2-title {
				font-size: 250% !important;
			}
		</style>