		<section id="content">
			<div id="main_box" class="" style="padding: 0; padding-top: 3em; text-align: center;">
			
				<h2>Add Heart Rate</h2>

				<h3 style="margin: 5px;">Select Date : </h3>
				<input id="date" type="text" data-field="datetime" readonly style="border: 1px solid black; text-align: center; padding: 10px; font-weight: bold; border-radius: 3px;">
								
				<div id="dtBox"></div>
				
				<hr style="width: 350px;">
				
				<h3 style="margin: 5px;">Beat Per Minute : </h3>
				<input id="bpm" type="number" style="border: 1px solid black; text-align: center; padding: 10px; font-weight: bold; border-radius: 3px;">
				
				<h3 style="margin: 5px;">Note : </h3>
				<input id="note" type="text" style="border: 1px solid black; text-align: center; padding: 10px; font-weight: bold; border-radius: 3px;">

				<br><br><br>
				<button class="btn button" onclick="javascript: writeHeart();">Add Data</button>
					
			</div>
		</section>
		
		<script>
			$(document).ready(function() {
				$("#dtBox").DateTimePicker({dateTimeFormat: "yyyy-MM-dd hh:mm:ss"});
			});
		
			if (document.documentElement.clientWidth > 1203) {
				$("#main_box").addClass("content-wrap container clearfix");
			} else {
				
			}
	
			window.addEventListener("resize", function(){
			    // fire when above 1203
			    if (document.documentElement.clientWidth > 1203) {
			    	$("#main_box").addClass("content-wrap container clearfix");
			    }
			    // fire when below 1203
			    else {
			    	$("#main_box").removeClass("content-wrap container clearfix");
			    }
			}, true);

			function writeHeart() {
				$.ajax({
					url: "/web/writeHeartAction",
					type: 'post',
					dataType: 'html',
					data: {
						date: document.getElementById('date').value,
						bpm: document.getElementById('bpm').value,
						note: document.getElementById('note').value
					},
					async: false,
					success: function(data) {
						if (data == 1) {
							swal({
								title: 'Heart Rate Added!',
								type: 'success',
								text: 'Would you like to view your Heart Rate data, or do you want to add another reading?',
								showCloseButton: true,
								showCancelButton: true,
								focusConfirm: false,
								width: '500px',
								confirmButtonText:
									'<div style="color: white; font-size: 200%;">View Heart Rates</div>'
								,
								confirmButtonAriaLabel: 'Thumbs up, great!',
								cancelButtonText:
									'<div style="color: white; font-size: 200%;">Add Another Test</div>'
								,
								cancelButtonAriaLabel: 'Thumbs down'
							}).then((result) => {
								if (result.value) {
									window.location.href = '/web/view-heart';
								} else {
									document.getElementById('date').value = '';
									document.getElementById('bpm').value = '';
									document.getElementById('note').value = '';
								}
							});
						} else {
							alert('hmm');
							console.log(data);
						}
						
					},
					error: function(data) {
						alert('hmm');
						console.log(data['responseText']);
					}
				});
			}
				
			
		</script>
		
		<style>

		</style>