		<section id="content">
			<div id="main_box" class="" style="padding: 0; padding-top: 2em; position: relative;">
					
					<canvas id="canvas" width="400" height="150"></canvas>
					<script>
						var config = {
							type: 'line',
							data: {
							labels: [
<?php $count = 0; ?>
<?php foreach ($totals as $id => $data): ?>
<?php if ($count < count($totals)): ?>
								'<?=$id?>',
<?php else: ?>
								'<?=$id?>'
<?php endif; ?>
<?php $count++; ?>
<?php endforeach; ?>
							],
							datasets: [
								{
									label: "Systolic",
									fill: false,
									backgroundColor: '#4890EE',
									borderColor: 'black',
									spanGaps: true,
									pointRadius: 7,
									data: [
<?php $count = 0; ?>
<?php foreach ($totals as $id => $data): ?>
<?php if ($count < count($totals)): ?>
<?php if ($data['avg_sys'] == 0): ?>
										null,
<?php else: ?>
										'<?=$data['avg_sys']?>',
<?php endif; ?>
<?php else: ?>
<?php if ($data['avg_sys'] == 0): ?>
										null
<?php else: ?>
										'<?=$data['avg_sys']?>'
<?php endif; ?>
<?php endif; ?>
<?php $count++; ?>
<?php endforeach; ?>
					                    ],
					                },
					                {
					                    label: "S Goal",
					                    fill: false,
					                    backgroundColor: '#4890EE',
					                    borderColor: '#4890EE',
					                    pointBorderColor: 'white',
					                    pointRadius: 0,
					                    data: [
<?php $count = 0; ?>
<?php foreach ($totals as $id => $data): ?>
<?php if ($count < count($totals)): ?>
											120,
<?php else: ?>
											120
<?php endif; ?>
<?php $count++; ?>
<?php endforeach; ?>
					                    ],
					                },{
				                    label: "Diastolic",
				                    fill: false,
				                    backgroundColor: '#52bf31',
				                    borderColor: 'black',
				                    spanGaps: true,
				                    pointRadius: 7,
				                    data: [
<?php $count = 0; ?>
<?php foreach ($totals as $id => $data): ?>
<?php if ($count < count($totals)): ?>
<?php if ($data['avg_dia'] == 0): ?>
										null,
<?php else: ?>
										'<?=$data['avg_dia']?>',
<?php endif; ?>
<?php else: ?>
<?php if ($data['avg_dia'] == 0): ?>
										null
<?php else: ?>
										'<?=$data['avg_dia']?>'
<?php endif; ?>
<?php endif; ?>
<?php $count++; ?>
<?php endforeach; ?>
				                    ],
				                },{
				                    label: "D Goal",
				                    fill: false,
				                    backgroundColor: '#52bf31',
				                    borderColor: '#52bf31',
				                    pointBorderColor: 'white',
				                    pointRadius: 0,
				                    data: [
				                    	<?php $count = 0; ?>
				                    	<?php foreach ($totals as $id => $data): ?>
				                    	<?php if ($count < count($totals)): ?>
				                    										80,
				                    	<?php else: ?>
				                    										80
				                    	<?php endif; ?>
				                    	<?php $count++; ?>
				                    	<?php endforeach; ?>
				                    ],
				                }
				                ]
				            },
				            options: {
				                responsive: true,
				                title:{
				                    display:false,
				                    text:'Your daily goals'
				                },
				                tooltips: {
				                    mode: 'index',
				                    intersect: false,
				                },
				                hover: {
				                    mode: 'nearest',
				                    intersect: true
				                },
				                scales: {
				                    xAxes: [{
				                        display: true,
				                        scaleLabel: {
				                            display: true,
				                            labelString: 'Last 7 Days'
				                        }
				                    }],
				                    yAxes: [{
				                        display: true,
				                        scaleLabel: {
				                            display: true,
				                            labelString: 'Values'
				                        }
				                    }]
				                }
				            }
				        };
				
				        window.onload = function() {
				            var ctx = document.getElementById("canvas").getContext("2d");
				            window.myLine = new Chart(ctx, config);
				        };
				    </script>

				<div style="border-bottom: 1px solid red; padding-left: 1em; margin-top: 15px; padding-bottom: 10px; text-align: center;">
<?php if ($filter == 1): ?>
					<span class="btn button" style="display: inline-block; background-color: #444444;" onclick="javascript: window.location.href='/web/blood?filter=1'">Day</span>
<?php else: ?>
					<span class="btn button" style="display: inline-block;" onclick="javascript: window.location.href='/web/blood?filter=1'">Day</span>
<?php endif; ?>
<?php if ($filter == '' || $filter == 2): ?>
					<span class="btn button" style="display: inline-block; background-color: #444444;" onclick="javascript: window.location.href='/web/blood?filter=2'">Week</span>
<?php else: ?>
					<span class="btn button" style="display: inline-block;" onclick="javascript: window.location.href='/web/blood?filter=2'">Week</span>
<?php endif; ?>
<?php if ($filter == 3): ?>
					<span class="btn button" style="display: inline-block; background-color: #444444;" onclick="javascript: window.location.href='/web/blood?filter=3'">Month</span>
<?php else: ?>
					<span class="btn button" style="display: inline-block;" onclick="javascript: window.location.href='/web/blood?filter=3'">Month</span>
<?php endif; ?>
<?php if ($filter == 4): ?>
					<span class="btn button" style="display: inline-block; background-color: #444444;" onclick="javascript: window.location.href='/web/blood?filter=4'">Year</span>
<?php else: ?>
					<span class="btn button" style="display: inline-block;" onclick="javascript: window.location.href='/web/blood?filter=4'">Year</span>
<?php endif; ?>
<?php if ($filter == 5): ?>
					<span class="btn button" style="display: inline-block; background-color: #444444;" onclick="javascript: window.location.href='/web/blood?filter=5'">All</span>
<?php else: ?>
					<span class="btn button" style="display: inline-block;" onclick="javascript: window.location.href='/web/blood?filter=5'">All</span>
<?php endif; ?>
					
				</div>
					<table style="width: 100%; font-size: 150%;">
						<tr>
							<th style="width: 50%; padding: 1em;">
								BLOOD PRESSURE
							</th>
							<th style="width: 50%; padding: 1em 1em 1em 0;">
								Systolic / Diastolic
							</th>
						</tr>
<?php $bp = array_reverse($bp)?>
<?php foreach ($bp as $i => $data): ?>
						<tr>
							<td style="text-align: right; padding-right: 20px; font-weight: bold; color: #1c75ea;"><?=date('M d, Y h:i A', strtotime($data['date']))?></td>
							<td style="text-align: left; font-weight: bold;"><?=$data['ZSYSTOLIC']?> / <?=$data['ZDIASTOLIC']?></td>
						</tr>
<?php endforeach; ?>
					</table>
			</div>
		</section>
		
		<script>
			if (document.documentElement.clientWidth > 1203) {
				$("#main_box").addClass("content-wrap container clearfix");

// 				setTimeout(function () {
// 					alert('test');
// 					document.getElementById('bar-chart').style.width = '100px';
// 				}, 500);
				
				
			}
			// fire when below 1203
			else {
			}
	
			window.addEventListener("resize", function(){
			    // fire when above 1203
			    if (document.documentElement.clientWidth > 1203) {
			    	$("#main_box").addClass("content-wrap container clearfix");
			    }
			    // fire when below 1203
			    else {
			    	$("#main_box").removeClass("content-wrap container clearfix");
			    }
			}, true);
		</script>
		
		<style>
	
			#canvas2_box {
				display: none;	
			}
				
			@media screen and (max-width: 1080px) {

				#canvas1_box {
					display: none;
				}
				
				#canvas2_box {
					display: block;	
				}
			}
		</style>