		<section id="content">
			<div id="main_box" class="" style="padding: 0;">
			
			
					<div style="line-height: 10px; margin-bottom: 15px;">&nbsp;</div>
<?php $margin = 0;?>
<?php foreach ($lab_array as $lab_data_id => $lab_data): ?>
					<h2><span><?=$lab_data['ZNAME']?></span></h2>
					
					<canvas id="lab_canvas<?=$lab_data_id?>" width="400" height="75" style=""></canvas>
<?php $margin += 200;?>
					<script>
						var config = {
							type: 'line',
							data: {
								labels: [
<?php $count = 0; ?>
<?php foreach ($dates as $id => $data): ?>
<?php if ($count < count($dates)): ?>
									'<?=$id?>',
<?php else: ?>
									'<?=$id?>'
<?php endif; ?>
<?php $count++; ?>
<?php endforeach; ?>
								],
								datasets: [
									{
										label: "<?=$lab_data['ZUNITS']?>",
										fill: false,
										backgroundColor: 'black',
										borderColor: 'black',
										spanGaps: true,
										pointRadius: 4,
										data: [
<?php $count = 0; ?>
<?php foreach ($dates as $id => $data): ?>
<?php if ($count < count($dates)): ?>
<?php if ($data[$lab_data['ZNAME']]['avg'] == 0): ?>
										null,
<?php else: ?>
										'<?=$data[$lab_data['ZNAME']]['avg']?>',
<?php endif; ?>
<?php else: ?>
<?php if ($data[$lab_data['ZNAME']]['avg'] == 0): ?>
										null
<?php else: ?>
										'<?=$data[$lab_data['ZNAME']]['avg']?>'
<?php endif; ?>
<?php endif; ?>
<?php $count++; ?>
<?php endforeach; ?>
										],
									},
									{
										label: "Low Range",
										fill: false,
										backgroundColor: '#52bf31',
										borderColor: '#52bf31',
										pointBorderColor: 'white',
										pointRadius: 0,
										data: [
<?php $count = 0; ?>
<?php foreach ($dates as $id => $data): ?>
<?php if ($count < count($dates)): ?>
<?=$data[$lab_data['ZNAME']]['low']?>,
<?php else: ?>
<?=$data[$lab_data['ZNAME']]['low']?>
<?php endif; ?>
<?php $count++; ?>
<?php endforeach; ?>
										],
									},
									{
										label: "High Range",
										fill: false,
										backgroundColor: '#4890EE',
										borderColor: '#4890EE',
										pointBorderColor: 'white',
										pointRadius: 0,
										data: [
<?php $count = 0; ?>
<?php foreach ($dates as $id => $data): ?>
<?php if ($count < count($dates)): ?>
<?=$data[$lab_data['ZNAME']]['high']?>,
<?php else: ?>
<?=$data[$lab_data['ZNAME']]['high']?>
<?php endif; ?>
<?php $count++; ?>
<?php endforeach; ?>
										],
									}
								]
				            },
				            options: {
				                responsive: true,
				                title:{
				                    display:false,
				                    text:'TEST Results'
				                },
				                tooltips: {
				                    mode: 'index',
				                    intersect: false,
				                },
				                hover: {
				                    mode: 'nearest',
				                    intersect: true
				                },
				                scales: {
				                    xAxes: [{
				                        display: true,
				                        scaleLabel: {
				                            display: true,
				                            labelString: 'Last 7 days'
				                        }
				                    }],
				                    yAxes: [{
				                        display: true,
				                        scaleLabel: {
				                            display: true,
				                            labelString: 'Value (UNITS)'
				                        }
				                    }]
				                }
				            }
				        };
				
				            var ctx = document.getElementById("lab_canvas<?=$lab_data_id?>").getContext("2d");
				            window.myLine = new Chart(ctx, config);
				    </script>
				
<?php endforeach; ?>





<?php foreach ($vital_array as $lab_data_id => $lab_data): ?>
					<h2><span><?=$lab_data['ZNAME']?></span></h2>
					
					<canvas id="vital_canvas<?=$lab_data_id?>" width="400" height="75" style=""></canvas>
<?php $margin += 200;?>
					<script>
						var config = {
							type: 'line',
							data: {
								labels: [
<?php $count = 0; ?>
<?php foreach ($vital_dates as $id => $data): ?>
<?php if ($count < count($vital_dates)): ?>
									'<?=substr($id, 5)?>',
<?php else: ?>
									'<?=substr($id, 5)?>'
<?php endif; ?>
<?php $count++; ?>
<?php endforeach; ?>
								],
								datasets: [
									{
										label: "<?=$lab_data['ZNAME']?>",
										fill: false,
										backgroundColor: '#ED1C24',
										borderColor: '#ED1C24',
										spanGaps: true,
										data: [
<?php $count = 0; ?>
<?php foreach ($vital_dates as $id => $data): ?>
<?php if ($count < count($vital_dates)): ?>
<?php if (!isset($data[$lab_data['ZNAME']]) || $data[$lab_data['ZNAME']]['avg'] == 0): ?>
										null,
<?php else: ?>
										'<?=$data[$lab_data['ZNAME']]['avg']?>',
<?php endif; ?>
<?php else: ?>
<?php if (!isset($data[$lab_data['ZNAME']]) || $data[$lab_data['ZNAME']]['avg'] == 0): ?>
										null
<?php else: ?>
										'<?=$data[$lab_data['ZNAME']]['avg']?>'
<?php endif; ?>
<?php endif; ?>
<?php $count++; ?>
<?php endforeach; ?>
										],
									},
									
								]
				            },
				            options: {
				                responsive: true,
				                title:{
				                    display:false,
				                    text:'TEST Results'
				                },
				                tooltips: {
				                    mode: 'index',
				                    intersect: false,
				                },
				                hover: {
				                    mode: 'nearest',
				                    intersect: true
				                },
				                scales: {
				                    xAxes: [{
				                        display: true,
				                        scaleLabel: {
				                            display: false,
				                            labelString: ''
				                        }
				                    }],
				                    yAxes: [{
				                        display: true,
				                        scaleLabel: {
				                            display: true,
				                            labelString: 'Value (UNITS)'
				                        }
				                    }]
				                }
				            }
				        };
				
				            var ctx = document.getElementById("vital_canvas<?=$lab_data_id?>").getContext("2d");
				            window.myLine = new Chart(ctx, config);
				    </script>
				
<?php endforeach; ?>



											
					<div style="border-bottom: 1px solid red; padding-left: 1em; margin-top: 15px; padding-bottom: 10px; text-align: center;">
<?php if ($filter == 1): ?>
						<span class="btn button" style="display: inline-block; background-color: #444444;" onclick="javascript: window.location.href='/web/<?=$url?>&filter=1'">Day</span>
<?php else: ?>
						<span class="btn button" style="display: inline-block;" onclick="javascript: window.location.href='/web/compare?<?=$url?>&filter=1'">Day</span>
<?php endif; ?>
<?php if ($filter == '' || $filter == 2): ?>
						<span class="btn button" style="display: inline-block; background-color: #444444;" onclick="javascript: window.location.href='/web/<?=$url?>&filter=2'">Week</span>
<?php else: ?>
						<span class="btn button" style="display: inline-block;" onclick="javascript: window.location.href='/web/compare?<?=$url?>&filter=2'">Week</span>
<?php endif; ?>
<?php if ($filter == 3): ?>
						<span class="btn button" style="display: inline-block; background-color: #444444;" onclick="javascript: window.location.href='/web/compare?<?=$url?>&filter=3'">Month</span>
<?php else: ?>
						<span class="btn button" style="display: inline-block;" onclick="javascript: window.location.href='/web/compare?<?=$url?>&filter=3'">Month</span>
<?php endif; ?>
<?php if ($filter == 4): ?>
						<span class="btn button" style="display: inline-block; background-color: #444444;" onclick="javascript: window.location.href='/web/<?=$url?>&filter=4'">Year</span>
<?php else: ?>
						<span class="btn button" style="display: inline-block;" onclick="javascript: window.location.href='/web/compare?<?=$url?>&filter=4'">Year</span>
<?php endif; ?>
<?php if ($filter == 5): ?>
						<span class="btn button" style="display: inline-block; background-color: #444444;" onclick="javascript: window.location.href='/web/<?=$url?>&filter=5'">All</span>
<?php else: ?>
						<span class="btn button" style="display: inline-block;" onclick="javascript: window.location.href='/web/compare?<?=$url?>&filter=5'">All</span>
<?php endif; ?>
						
					</div>
					
					<div style="height: 100px;">&nbsp;</div>
			</div>
		</section>
		
		<script>

			var labs = <?=JSON_encode($lab_array)?>;
			
			if (document.documentElement.clientWidth > 1203) {
				$("#main_box").addClass("content-wrap container clearfix");
			}
			// fire when below 1203
			else {
			}
	
			window.addEventListener("resize", function(){
			    // fire when above 1203
			    if (document.documentElement.clientWidth > 1203) {
			    	$("#main_box").addClass("content-wrap container clearfix");
			    }
			    // fire when below 1203
			    else {
			    	$("#main_box").removeClass("content-wrap container clearfix");
			    }
			}, true);

			function showDetails(key, lab_id) {
				swal({
					title: 'View Test Data',
					html: '<h3>' + labs[key]['ZNAME'] + '</h3>' +
						'<div style="margin-top: -15px; margin-bottom: 10px;"><a href="javascript: confirmDelete(' + key + ', ' + labs[key]['Z_PK'] + ')" class="btn button">DELETE TEST</a></div>' +
						'Value:' +
						'<input id="value' + labs[key]['Z_PK'] + '" class="form-control" value="' + labs[key]['ZVALUE'] + '" style="text-align: center;"><br>' +
						'Date:' +
						'<input id="date' + labs[key]['Z_PK'] + '" type="text" data-field="datetime" readonly class="form-control" value="' + labs[key]['date'] + '" style="text-align: center;">' +
						'<div class="dtBox"></div><br>' +
						'Comment:' +
						'<textarea id="comment' + labs[key]['Z_PK'] + '" class="form-control" style="text-align: center;">' + labs[key]['ZCOMMENT'] + '</textarea>' 
					,
					showCloseButton: true,
					showCancelButton: true,
					focusConfirm: false,
					width: '500px',
					confirmButtonText:
						'<div style="color: white; font-size: 80%;">Submit Change</div>'
					,
					cancelButtonText:
						'<div style="color: white; font-size: 80%;">Cancel</div>'
					,
				}).then((result) => {
					if (result.value) {
						$.ajax({
							url: "/web/updateLabAction",
							type: 'post',
							dataType: 'html',
							data: {
								id: lab_id,
								value: document.getElementById('value' + labs[key]['Z_PK']).value,
								date: document.getElementById('date' + labs[key]['Z_PK']).value,
								comment: document.getElementById('comment' + labs[key]['Z_PK']).value
							},
							async: false,
							success: function(data) {
								if (data == 1) {
									window.location.href = '/web/<?=$url?>';
								} else {
									alert('hmm');
									console.log(data);
								}
								
							},
							error: function(data) {
								alert('hmm');
								console.log(data['responseText']);
							}
						});
					} else {
						
					}
				});

				$(".dtBox").DateTimePicker();
			}

			function confirmDelete(key, lab_id) {
				swal({
					title: 'Delete Test Data?',
					type: 'warning',
					html: 'Are you sure you want to remove the record for <span style="font-weight: bold;">' + labs[key]['ZNAME'] + '</span> that was recorded on <span style="font-weight: bold;">' + labs[key]['date'] + '</span>?',
					showCloseButton: true,
					showCancelButton: true,
					focusConfirm: false,
					width: '500px',
					confirmButtonText:
						'<div style="color: white; font-size: 80%;">DELETE</div>'
					,
					cancelButtonText:
						'<div style="color: white; font-size: 80%;">Cancel</div>'
					,
				}).then((result) => {
					if (result.value) {
						$.ajax({
							url: "/web/deleteLabAction",
							type: 'post',
							dataType: 'html',
							data: {
								id: lab_id
							},
							async: false,
							success: function(data) {
								if (data == 1) {
									window.location.href = '/web/<?=$url?>';
								} else {
									alert('hmm');
									console.log(data);
								}
								
							},
							error: function(data) {
								alert('hmm');
								console.log(data['responseText']);
							}
						});
					} else {
						
					}
				});
			}

			
		</script>
		
		<style>
	
			.swal2-show {
				font-size: 140% !important;
			}


			h2 {
			   width: 100%; 
			   text-align: center; 
			   border-bottom: 1px solid #000; 
			   line-height: 0.1em;
			   margin: 30px 0 20px; 
			} 
			
			h2 span { 
			    background:#fff; 
			    padding:0 10px; 
			}
			
		</style>