		<section id="content">
			<div id="main_box" class="" style="padding: 0;">
<div id="canvas1_box">
						<canvas id="canvas" width="400" height="150"></canvas>
					</div>
					<div id="canvas2_box">
						<canvas id="canvas2" width="400" height="300"></canvas>
					</div>

					
					<script>
						var config = {
							type: 'line',
							data: {
								labels: [
<?php $count = 0; ?>
<?php foreach ($totals as $id => $data): ?>
<?php if ($count < count($totals)): ?>
									'<?=$id?>',
<?php else: ?>
									'<?=$id?>'
<?php endif; ?>
<?php $count++; ?>
<?php endforeach; ?>
									],
								datasets: 
								[
									{
										label: 'Calories',
										fill: false,
										backgroundColor: '#ED1C24',
										borderColor: '#ED1C24',
										data: [
<?php $count = 0; ?>
<?php foreach ($totals as $id => $data): ?>
<?php if ($count < count($totals)): ?>
<?php if ($data['cals'] == 0): ?>
											null,
<?php else: ?>
											'<?=$data['cals']?>',
<?php endif; ?>
									
<?php else: ?>
<?php if ($data['cals'] == 0): ?>
											null
<?php else: ?>
											'<?=$data['cals']?>'
<?php endif; ?>
<?php endif; ?>
<?php $count++; ?>
<?php endforeach; ?>
										],
									},
									{
										label: 'GOAL (<?=$goals['Calories']['ZVALUE']?>)',
										fill: false,
										backgroundColor: 'black',
										borderColor: 'black',
										pointRadius: 0,
										data: [
<?php $count = 0; ?>
<?php foreach ($totals as $id => $data): ?>
<?php if ($count < count($totals)): ?>
											'<?=$goals['Calories']['ZVALUE']?>',
<?php else: ?>
											'<?=$goals['Calories']['ZVALUE']?>'
<?php endif; ?>
<?php $count++; ?>
<?php endforeach; ?>
										],
									}
								]
							},
								options: {
									responsive: true,
									title:{
										display:true,
										text:'Calorie Intake'
									},
									legend: {

									},
									tooltips: {
										mode: 'index',
										intersect: false,
										callbacks: {
											label: function(tooltipItem) {
												return tooltipItem.yLabel;
											}
										}
									},
									hover: {
									mode: 'nearest',
									intersect: true
								},
								scales: {
									xAxes: [{
										display: true,
										scaleLabel: {
											display: false,
											labelString: 'Month'
										}
									}],
									yAxes: [{
										display: true,
										scaleLabel: {
											display: false,
											labelString: 'Value'
										}
									}]
								}
							}
						};
				
					window.onload = function() {
						var ctx = document.getElementById("canvas").getContext("2d");
						window.myLine = new Chart(ctx, config);
		
						var ctx2 = document.getElementById("canvas2").getContext("2d");
						window.myLine = new Chart(ctx2, config);
					};
				</script>
					
					<div style="border-bottom: 1px solid #ED1C24; line-height: 10px;">&nbsp;</div>
					<table style="width: 100%; font-size: 150%;">
						<tr>
							<th style="width: 50%;">
								DAILY GOALS
							</th>
							<th style="width: 50%;">
								Total / Goal
							</th>
						</tr>
						<tr>
							<td style="text-align: right; padding-right: 20px; font-weight: bold;">Sodium:</td>
							<td style="text-align: left; font-weight: bold;"><?=$t_sodium?> <span style="color: #1c75ea;">/ <?=$goals['Sodium']['ZVALUE']?> <?=$goals['Sodium']['ZUNIT']?></span></td>
						</tr>
						<tr>
							<td style="text-align: right; padding-right: 20px; font-weight: bold;">Fiber:</td>
							<td style="text-align: left; font-weight: bold;"><?=$t_dietary_fiber?> <span style="color: #1c75ea;">/ <?=$goals['Fiber']['ZVALUE']?> <?=$goals['Fiber']['ZUNIT']?></span></td>
						</tr>
						<tr>
							<td style="text-align: right; padding-right: 20px; font-weight: bold;">Protein:</td>
							<td style="text-align: left; font-weight: bold;"><?=$t_protein?> <span style="color: #1c75ea;">/ <?=$goals['Protein']['ZVALUE']?> <?=$goals['Protein']['ZUNIT']?></span></td>
						</tr>
						<tr>
							<td style="text-align: right; padding-right: 20px; font-weight: bold;">Carbohydrate:</td>
							<td style="text-align: left; font-weight: bold;"><?=$t_total_carbohydrate?> <span style="color: #1c75ea;">/ <?=$goals['Carbohydrate']['ZVALUE']?> <?=$goals['Carbohydrate']['ZUNIT']?></span></td>
						</tr>
						<tr>
							<td style="text-align: right; padding-right: 20px; font-weight: bold;">Cholesterol:</td>
							<td style="text-align: left; font-weight: bold;"><?=$t_cholesterol?> <span style="color: #1c75ea;">/ <?=$goals['Cholesterol']['ZVALUE']?> <?=$goals['Cholesterol']['ZUNIT']?></span></td>
						</tr>
						<tr>
							<td style="text-align: right; padding-right: 20px; font-weight: bold;">Fat:</td>
							<td style="text-align: left; font-weight: bold;"><?=$t_total_fat?> <span style="color: #1c75ea;">/ <?=$goals['Fat']['ZVALUE']?> <?=$goals['Fat']['ZUNIT']?></span></td>
						</tr>
						<tr>
							<td style="text-align: right; padding-right: 20px; font-weight: bold;">Sugar:</td>
							<td style="text-align: left; font-weight: bold;"><?=$t_sugars?> <span style="color: #1c75ea;">/ <?=$goals['Sugar']['ZVALUE']?> <?=$goals['Sugar']['ZUNIT']?></span></td>
						</tr>
						<tr>
							<td style="text-align: right; padding-right: 20px; font-weight: bold;">Calories:</td>
							<td style="text-align: left; font-weight: bold;"><?=$t_calories?> <span style="color: #1c75ea;">/ <?=$goals['Calories']['ZVALUE']?> <?=$goals['Calories']['ZUNIT']?></span></td>
						</tr>
					</table>
			</div>
		</section>
		
		<script>
			if (document.documentElement.clientWidth > 1203) {
				$("#main_box").addClass("content-wrap container clearfix");
			}
			// fire when below 1203
			else {
			}
	
			window.addEventListener("resize", function(){
			    // fire when above 1203
			    if (document.documentElement.clientWidth > 1203) {
			    	$("#main_box").addClass("content-wrap container clearfix");
			    }
			    // fire when below 1203
			    else {
			    	$("#main_box").removeClass("content-wrap container clearfix");
			    }
			}, true);
		</script>
		
		<style>
	
			#canvas2_box {
				display: none;	
			}
				
			@media screen and (max-width: 1080px) {

				#canvas1_box {
					display: none;
				}
				
				#canvas2_box {
					display: block;	
				}
			}
		</style>