		<section id="content">
			<div id="main_box" class="" style="padding: 0;">
			
				xxx
					
			</div>
		</section>
		
		<script>
			if (document.documentElement.clientWidth > 1203) {
				$("#main_box").addClass("content-wrap container clearfix");
			}
			// fire when below 1203
			else {
			}
	
			window.addEventListener("resize", function(){
			    // fire when above 1203
			    if (document.documentElement.clientWidth > 1203) {
			    	$("#main_box").addClass("content-wrap container clearfix");
			    }
			    // fire when below 1203
			    else {
			    	$("#main_box").removeClass("content-wrap container clearfix");
			    }
			}, true);
		</script>
		
		<style>

		</style>