		<div id="submit_changes" class="card" onclick="submitPage();" style="display: none; padding: 7px 20px 35px 20px; position: fixed; width: 99vw; height: 60px; line-height: 47px; text-align: center; bottom: 0px; left: 0px; background-color: #ef862f; z-index: 111111; cursor: pointer; color: white; font-weight: bold;">
			<div id="main_submit">COMPARE</div>
		</div>
		
		<section id="content">
			<div id="main_box" class="" style="padding: 0; padding-top: 3em; text-align: center;">
			
				
				<h2 style="border-bottom: 1px solid grey; margin-top: 2em;">SELECT TESTS TO COMPARE</h2>
				
				<div class="split_header">Lab Data</div>
<?php foreach ($lab_data as $id => $data): ?>
				<div style="border-bottom: 1px solid grey;">
					<div id="lab_row<?=$data['Z_PK']?>" style="line-height: 25px; padding: 5px; cursor: pointer;" onclick="javascript: clickLabRow(this, <?=$data['Z_PK']?>);">
						<input id="lab_value<?=$data['Z_PK']?>" type="hidden" value='0'>
						<span style="font-weight: bold; font-size: 110%;">
							<span id="lab_row1<?=$data['Z_PK']?>" style="color: grey; font-size: 115%; font-weight: bold;"><?=$data['data_set']['ZNAME']?></span> 
							<span id="lab_row2<?=$data['Z_PK']?>" style="margin-left: 25px; color: grey;"><?=$data['data_set']['ZDESC']?></span>
						</span>
						<br/>
					</div>
				
				</div>
<?php endforeach; ?>

				<div class="split_header">Vitals</div>
				
				<div style="border-bottom: 1px solid grey;">
					<div id="vital_row1" style="line-height: 25px; padding: 5px; cursor: pointer;" onclick="javascript: clickVitalRow(this, 1);">
						<span style="font-weight: bold; font-size: 110%;">
							<span id="vital_row11" style="color: grey; font-size: 115%; font-weight: bold;">BP-SYS</span> 
							<span id="vital_row21" style="margin-left: 25px; color: grey;">Systolic Blood Pressure</span>
						</span>
						<br/>
						<input id="vital_value1" type="hidden" value='0'>
					</div>
				</div>
				<div style="border-bottom: 1px solid grey;">
					<div id="vital_row2" style="line-height: 25px; padding: 5px; cursor: pointer;" onclick="javascript: clickVitalRow(this, 2);">
						<span style="font-weight: bold; font-size: 110%;">
							<span id="vital_row12" style="color: grey; font-size: 115%; font-weight: bold;">BP-DIA</span> 
							<span id="vital_row22" style="margin-left: 25px; color: grey;">Diastolic Blood Pressure</span>
						</span>
						<br/>
						<input id="vital_value2" type="hidden" value='0'>
					</div>
				</div>
				
				<div class="split_header">Medication Data</div>
<?php foreach ($meds as $id => $data): ?>
				<div class="row_style" onclick="javascript: clickMedRow(this, <?=$id?>);"><?=$data['ZGENERIC']?></div>
				<input id="med_value<?=$id?>" type="hidden" value='0'>
<?php endforeach; ?>


				<div class="split_header">Nutrient Intake</div>
<?php foreach ($list_nutrients as $id => $data): ?>
				<div class="row_style" onclick="javascript: clickNutrientRow(this, <?=$id?>);"><?=$data['name']?></div>
				<input id="nutrient_value<?=$id?>" type="hidden" value='0'>
<?php endforeach; ?>
				
				<div style="height: 200px;">&nbsp;</div>
					
			</div>
		</section>
		
		<script type="text/javascript">
	
			$(document).ready(function() {
				$("#dtBox").DateTimePicker();
	
				$(".chosen-select").chosen();
			});

			var lab_array = [];
			var lab_selected = 0;

			var vital_array = [];
			var vital_selected = 0;

			var med_array = [];
			var med_selected = 0;

			var nutrient_array = [];
			var nutrient_selected = 0;

			function clickLabRow(row, id) {
				
				if (document.getElementById('lab_value' + id).value == 0) {
					row.style.backgroundColor = 'red';
					$('#lab_row1' + id).css('color', 'white');
					$('#lab_row2' + id).css('color', 'white');

					lab_array.push(id);

					document.getElementById('lab_value' + id).value = 1;
				} else {
					row.style.backgroundColor = 'white';
					$('#lab_row1' + id).css('color', 'grey');
					$('#lab_row2' + id).css('color', 'grey');
					
					var index = lab_array.indexOf(id);

					if (index > -1) {
						lab_array.splice(index, 1);
					}

					document.getElementById('lab_value' + id).value = 0;
				}

				changeSubmitButton();
				lab_selected = 1;
			}

			function changeSubmitButton() {
				var total = lab_array.length + vital_array.length + med_array.length + nutrient_array.length;

				console.log(total);
				
				if (total == 1) {
					if (document.getElementById('submit_changes').style.display == 'none') {
						document.getElementById('submit_changes').style.display = '';
					}
					
					document.getElementById('submit_changes').style.backgroundColor = '#b5b5b5';
					document.getElementById('main_submit').innerHTML = 'SELECT 1 MORE DATA SET';
				} else if (total > 1) {
					if (document.getElementById('submit_changes').style.display == 'none') {
						document.getElementById('submit_changes').style.display = '';
					}

					document.getElementById('submit_changes').style.backgroundColor = '#EF862F';
					document.getElementById('main_submit').innerHTML = 'COMPARE ' + total + ' DATA SETS';
				} else {
					document.getElementById('submit_changes').style.display = 'none';
				}
			}

			function clickVitalRow(row, id) {
				
				if (document.getElementById('vital_value' + id).value == 0) {
					row.style.backgroundColor = 'red';
					$('#vital_row1' + id).css('color', 'white');
					$('#vital_row2' + id).css('color', 'white');

					vital_array.push(id);

					document.getElementById('vital_value' + id).value = 1;
				} else {
					row.style.backgroundColor = 'white';
					$('#vital_row1' + id).css('color', 'grey');
					$('#vital_row2' + id).css('color', 'grey');
					
					var index = vital_array.indexOf(id);

					if (index > -1) {
						vital_array.splice(index, 1);
					}

					document.getElementById('vital_value' + id).value = 0;
				}

				changeSubmitButton();
				vital_selected = 1;
			}

			function clickMedRow(row, id) {
				
				if (document.getElementById('med_value' + id).value == 0) {
					row.style.backgroundColor = 'red';
					row.style.color = 'white';
					
					med_array.push(id);

					document.getElementById('med_value' + id).value = 1;
				} else {
					row.style.backgroundColor = 'white';
					row.style.color = 'grey';
					
					var index = med_array.indexOf(id);

					if (index > -1) {
						med_array.splice(index, 1);
					}

					document.getElementById('med_value' + id).value = 0;
				}

				changeSubmitButton();
				med_selected = 1;
			}

			function clickNutrientRow(row, id) {
				if (document.getElementById('nutrient_value' + id).value == 0) {
					row.style.backgroundColor = 'red';
					row.style.color = 'white';
					
					nutrient_array.push(id);

					document.getElementById('nutrient_value' + id).value = 1;
				} else {
					row.style.backgroundColor = 'white';
					row.style.color = 'grey';
					
					var index = nutrient_array.indexOf(id);

					if (index > -1) {
						nutrient_array.splice(index, 1);
					}

					document.getElementById('nutrient_value' + id).value = 0;
				}

				changeSubmitButton();
				nutrient_selected = 1;
			}

			function submitPage() {
				window.location.href = '/web/compare?lab_array=' + lab_array + '&vital_array=' + vital_array + '&med_array=' + med_array + '&nutrient_array=' + nutrient_array;
			}
			
			
			if (document.documentElement.clientWidth > 1203) {
				$("#main_box").addClass("content-wrap container clearfix");
			} else {
				
			}
	
			window.addEventListener("resize", function(){
			    // fire when above 1203
			    if (document.documentElement.clientWidth > 1203) {
			    	$("#main_box").addClass("content-wrap container clearfix");
			    }
			    // fire when below 1203
			    else {
			    	$("#main_box").removeClass("content-wrap container clearfix");
			    }
			}, true);

			
		</script>
		
		<style>

			.split_header {
				font-size: 130%; 
				color: #ED1C24;
				font-weight: bold;
				border-bottom: 1px solid grey; 
				margin-top: 35px;	
			}
			
			.row_style {
				border-bottom: 1px solid grey; 
				line-height: 25px; 
				padding: 5px; 
				color: grey; 
				font-size: 125%; 
				font-weight: bold;
				cursor: pointer;
			}
			
			.chosen-single {
				height: 60px !important;
				line-height: 60px !important;
			}
			
			.chosen-single div{
				display: none !important;
			}
			
			.swal2-title {
				font-size: 250% !important;
			}
		</style>