		<section id="content">
			<div id="main_box" class="" style="padding: 0; padding-top: 4em;">
			
				<div style="text-align: center;">
					<h3 style="margin: 5px;">Daily Step Goal: </h3>
					<input id="goal" type="number" style="border: 1px solid black; text-align: center; padding: 10px; font-weight: bold; border-radius: 3px;" value="<?=$goal['goal']?>" oninput="javascript: document.getElementById('goal_button').style.display=''">
	
					<br><br>
					<button id="goal_button" class="btn button" onclick="javascript: writeGoal();" style="display: none;">Update</button>
				</div>
				
			
					<div id="canvas1_box">
						<canvas id="canvas" width="400" height="150"></canvas>
					</div>
					<div id="canvas2_box">
						<canvas id="canvas2" width="400" height="300"></canvas>
					</div>

					
					<script>
						var config = {
							type: 'line',
							data: {
								labels: [
<?php $count = 0; ?>
<?php foreach ($dates as $id => $data): ?>
<?php if ($count < count($dates)): ?>
									'<?=$id?>',
<?php else: ?>
									'<?=$id?>'
<?php endif; ?>
<?php $count++; ?>
<?php endforeach; ?>
								],
								datasets: 
								[
									{
										label: 'Steps',
										fill: false,
										backgroundColor: '#ED1C24',
										borderColor: '#ED1C24',
										pointRadius: 7,
										spanGaps: true,
										data: [
<?php $count = 0; ?>
<?php foreach ($dates as $id => $data): ?>
<?php if ($count < count($dates)): ?>
<?php if ($data['day_total'] == 0): ?>
											null,
<?php else: ?>
											'<?=$data['day_total']?>',
<?php endif; ?>
<?php else: ?>
<?php if ($data['day_total'] == 0): ?>
											null
<?php else: ?>
											'<?=$data['day_total']?>'
<?php endif; ?>
<?php endif; ?>
<?php $count++; ?>
<?php endforeach; ?>
										],
									},
									{
										label: 'GOAL - <?=$goal['goal']?>',
										fill: false,
										backgroundColor: 'black',
										borderColor: 'black',
										pointRadius: 0,
										data: [
<?php $count = 0; ?>
<?php foreach ($dates as $id => $data): ?>
<?php if ($count < count($dates)): ?>
											'<?=$goal['goal']?>',
<?php else: ?>
											'<?=$data['goal']?>'
<?php endif; ?>
<?php $count++; ?>
<?php endforeach; ?>
										],
									}
								]
							},
								options: {
									responsive: true,
									title:{
										display:true,
										text:'Daily Step Totals'
									},
									legend: {

									},
									tooltips: {
										mode: 'index',
										intersect: false,
										callbacks: {
											label: function(tooltipItem) {
												return tooltipItem.yLabel;
											}
										}
									},
									hover: {
									mode: 'nearest',
									intersect: true
								},
								scales: {
									xAxes: [{
										display: true,
										scaleLabel: {
											display: false,
											labelString: 'Month'
										}
									}],
									yAxes: [{
										display: true,
										scaleLabel: {
											display: false,
											labelString: 'Value'
										}
									}]
								}
							}
						};
				
					window.onload = function() {
						var ctx = document.getElementById("canvas").getContext("2d");
						window.myLine = new Chart(ctx, config);
		
						var ctx2 = document.getElementById("canvas2").getContext("2d");
						window.myLine = new Chart(ctx2, config);
					};
				</script>
				
				
					
					<div style="border-bottom: 1px solid #ED1C24; line-height: 10px;">&nbsp;</div>
					<table style="width: 100%; font-size: 130%;">
						<tr>
							<th style="width: 50%;">
								<div style="padding: 1em;">ACTIVITY TODAY</div>
							</th>
							<th style="width: 50%;">
								
							</th>
						</tr>
						<tr>
							<td style="text-align: right; padding-right: 20px; font-weight: bold; color: #1c75ea;">Steps:</td>
							<td style="text-align: left; font-weight: bold;"><?=end($dates)['day_total']?></td>
						</tr>
						<tr>
							<td style="text-align: right; padding-right: 20px; font-weight: bold; color: #1c75ea;">Distance:</td>
							<td style="text-align: left; font-weight: bold;">-</td>
						</tr>
				
					</table>
			</div>
		</section>
		
		<script>
			if (document.documentElement.clientWidth > 1203) {
				$("#main_box").addClass("content-wrap container clearfix");
			}
			// fire when below 1203
			else {
			}
	
			window.addEventListener("resize", function(){
			    // fire when above 1203
			    if (document.documentElement.clientWidth > 1203) {
			    	$("#main_box").addClass("content-wrap container clearfix");
			    }
			    // fire when below 1203
			    else {
			    	$("#main_box").removeClass("content-wrap container clearfix");
			    }
			}, true);

			function writeGoal() {
				$.ajax({
					url: "/web/writeGoalAction",
					type: 'post',
					dataType: 'html',
					data: {
						goal: document.getElementById('goal').value
					},
					async: false,
					success: function(data) {

						if (data == 1) {
						
							window.location.href = '/web/steps';
								
						} else {
							swal('Something has gone wrong', data, 'error');
							console.log(data);
						}
						
						
					},
					error: function(data) {
						alert('hmm');
						console.log(data['responseText']);
					}
				});
			}
		</script>
		
		<style>
	
			#canvas2_box {
				display: none;	
			}
				
			@media screen and (max-width: 1080px) {

				#canvas1_box {
					display: none;
				}
				
				#canvas2_box {
					display: block;	
				}
			}
		</style>