
	<script>

		function loadDoc()
		{
			var xhttp = new XMLHttpRequest();
			xhttp.onreadystatechange = function ()
			{
				if (this.readyState == 4 && this.status == 200)
				{
					document.getElementById("demo").innerHTML = this.responseText;
				}
			};
			xhttp.open("GET", "http://192.168.1.176:8080/datasets/1/4", true);
			xhttp.send();
		}
	</script>

<div id="demo">
  <h2>Let AJAX change this text</h2>
  <button type="button" onclick="loadDoc()">Change Content</button>
</div>
