		<section id="content">
			<div id="main_box" class="" style="padding: 0;">
			
					
					<div style="line-height: 10px; margin-bottom: 15px;">&nbsp;</div>
					
					<canvas id="canvas" width="400" height="150"></canvas>
												<script>
													var config = {
														type: 'line',
														data: {
															labels: [
<?php $count = 0; ?>
<?php foreach ($dates as $id => $data): ?>
<?php if ($count < count($dates)): ?>
																'<?=$id?>',
<?php else: ?>
																'<?=$id?>'
<?php endif; ?>
<?php $count++; ?>
<?php endforeach; ?>
															],
															datasets: [
																{
																	label: "<?=$meds[0]['ZUNITS']?>",
																	fill: false,
																	backgroundColor: 'black',
																	borderColor: 'black',
																	spanGaps: true,
																	pointRadius: 7,
																	data: [
<?php $count = 0; ?>
<?php foreach ($dates as $id => $data): ?>
<?php if ($count < count($dates)): ?>
<?php if ($data['avg'] == 0): ?>
																	null,
<?php else: ?>
																	'<?=$data['avg']?>',
<?php endif; ?>
<?php else: ?>
<?php if ($data['avg'] == 0): ?>
																	null
<?php else: ?>
																	'<?=$data['avg']?>'
<?php endif; ?>
<?php endif; ?>
<?php $count++; ?>
<?php endforeach; ?>
																	],
																}
															]
											            },
											            options: {
											                responsive: true,
											                title:{
											                    display:false,
											                    text:'<?=$med_name?> Results'
											                },
											                tooltips: {
											                    mode: 'index',
											                    intersect: false,
											                },
											                hover: {
											                    mode: 'nearest',
											                    intersect: true
											                },
											                scales: {
											                    xAxes: [{
											                        display: true,
											                        scaleLabel: {
											                            display: true,
											                            labelString: 'Last 7 days'
											                        }
											                    }],
											                    yAxes: [{
											                        display: true,
											                        scaleLabel: {
											                            display: true,
											                            labelString: 'Value (<?=$meds[0]['ZUNITS']?>)'
											                        }
											                    }]
											                }
											            }
											        };
											
											        window.onload = function() {
											            var ctx = document.getElementById("canvas").getContext("2d");
											            window.myLine = new Chart(ctx, config);
											        };
											    </script>
											    
											
											<div style="border-bottom: 1px solid red; padding-left: 1em; margin-top: 15px; padding-bottom: 10px; text-align: center;">
<?php if ($filter == 1): ?>
												<span class="btn button" style="display: inline-block; background-color: #444444;" onclick="javascript: window.location.href='/web/view-med?name=<?=$med_name?>&filter=1'">Day</span>
<?php else: ?>
												<span class="btn button" style="display: inline-block;" onclick="javascript: window.location.href='/web/view-med?name=<?=$med_name?>&filter=1'">Day</span>
<?php endif; ?>
<?php if ($filter == '' || $filter == 2): ?>
												<span class="btn button" style="display: inline-block; background-color: #444444;" onclick="javascript: window.location.href='/web/view-med?name=<?=$med_name?>&filter=2'">Week</span>
<?php else: ?>
												<span class="btn button" style="display: inline-block;" onclick="javascript: window.location.href='/web/view-med?name=<?=$med_name?>&filter=2'">Week</span>
<?php endif; ?>
<?php if ($filter == 3): ?>
												<span class="btn button" style="display: inline-block; background-color: #444444;" onclick="javascript: window.location.href='/web/view-med?name=<?=$med_name?>&filter=3'">Month</span>
<?php else: ?>
												<span class="btn button" style="display: inline-block;" onclick="javascript: window.location.href='/web/view-med?name=<?=$med_name?>&filter=3'">Month</span>
<?php endif; ?>
<?php if ($filter == 4): ?>
												<span class="btn button" style="display: inline-block; background-color: #444444;" onclick="javascript: window.location.href='/web/view-med?name=<?=$med_name?>&filter=4'">Year</span>
<?php else: ?>
												<span class="btn button" style="display: inline-block;" onclick="javascript: window.location.href='/web/view-med?name=<?=$med_name?>&filter=4'">Year</span>
<?php endif; ?>
<?php if ($filter == 5): ?>
												<span class="btn button" style="display: inline-block; background-color: #444444;" onclick="javascript: window.location.href='/web/view-med?name=<?=$med_name?>&filter=5'">All</span>
<?php else: ?>
												<span class="btn button" style="display: inline-block;" onclick="javascript: window.location.href='/web/view-med?name=<?=$med_name?>&filter=5'">All</span>
<?php endif; ?>
												
											</div>
					<table style="width: 100%; font-size: 150%;">
						<tr>
							<th style="width: 100%; padding: 1em;">
								<?=$med_name?> - Results: <?=count($meds)?>
							</th>
						</tr>
						


						<tr>
							<td style="width: 100%; padding: 1em; background-color: #ED1C24; color: white;">Results In Range:</td>
						</tr>
						
<?php foreach ($meds as $i => $data): ?>
						<tr>
							<td style="text-align: left; padding: 1em; font-weight: bold; color: #1c75ea; border-bottom: 1px solid grey;">
								<?=date('M d, Y h:i A', $data['ZDATE'] + 978307200)?><br><span></span>
								<div class="row">
									<div class="col-lg-4">
										
											
											
											<div style="color: #555555;">Dosage: <?=$data['ZNDOSES']?>x <?=$data['ZDOSAGEINFO']?></div>

									</div>
									<div class="col-lg-3">
										<div>
											<div style="color: #555555;">Total: <?=$data['ZAMOUNT']?><?=$data['ZUNITS']?>s</div>
										</div>
									</div>
									<div class="col-lg-3">
										<div>
											<div style="color: #555555;">Comment: <?=$data['ZCOMMENT']?></div>
										</div>
									</div>
									<div class="col-lg-2">
										<div style="text-align: right; margin-top: -20px;">
<?php if ($data['ZCOMMENT'] != ''): ?>
											<img style="cursor: pointer; display: none;" onclick="javascript: showDetails(<?=$i?>, <?=$data['Z_PK']?>)" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAElSURBVEhL7dVNSsNQGIXhiFOxOCtYCw4Vu4bi0Fkp2oJuQFeguAAptJtwCyK2w45bXIEdtBsoFWcFf95T7ldsGkgCSVTMgYeQL/feM0ri5flXKeAsZepYSwWfKVPHWqx4hFbCdGZo8ePiLtnozLx4mV9VvIFbPKCmgUsZ986eBi51aK32aK8ldnETmskcu1CeYHNbX4LW2LwBS+ziK9hBcgBlCJsNNCCH+L72EpbYxVvoYYa2Bi7HmGCMqgYuHbyiC+21xC5OKnnxSn68+Bn+35neW8s+/M/D6MzQ4iDnUE4wRdCaKAKLi/D/zvrQhgvoa/SOD+iL5V8bhToi5QYq1vuq6xtOkXqsWF5whExixfo272iQVa5xh83FXYbZdtc8fzWe9wUaKrVV8dErtAAAAABJRU5ErkJggg==">
<?php endif; ?>
											<img style="cursor: pointer;" onclick="javascript: showDetails(<?=$i?>, <?=$data['Z_PK']?>)" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAJNSURBVGhD7ZM9SyNRFIans9pCK9stRLbTf+APSK29hb0zGIMWVmLnWq2CplEstFGIRVKoiTGKgQhrJQvLokb8KhStbDzrCWf0GK947sckWXZeeJtw35nnCXe8OHHixGnNzJQfoVklBLuoHtyoEoJdVA9uVAnBLvyBX388NK2Eo59YwFEJRz8fCfDfG11Ck4UPYwFHJTRZ+DAWcFRCk4UPYwFHJTRZ+PC/EhgcSoCfHIDp9BQsHPxRnjEtocnChzoCfrIf+hIJOFzqBCi0wW3xG5QL4zC7f6k8r1NCk4UPdQSmFyZf4LE3+V54TH+Bq8VeawlCk4UPdQTSB7/fwcOcV6utBKHJwoc6Ati7ne538C4kCE0WPtQVKOfHlPBhTSUITRY+1BWY27+A68UeJXxYEwlCk4UPdQWwUUgQmix8aCKAlUrgOdW+voQmCx+aCmBdShCaLHxoI4B1JUFosvChrQDWhQShycKHLgSwthKEJgsfuhLA2kgQmix86FIAaypBaLLwoWsBrIkEocnCXxaFAFZXgtD0E5UAFuEQUgUfNpQgHP1EKYCVSjzNex2EpJeoBbASiadZr7KXnTCTCKN6uat+JlHKfM+vbe4ermT3zCVUL3bZjySyuVVY3yrVura1WzGWUL3UdeslODw2k9s+Ok2miqfDw3bXKcrgB4t3vrQxs10PfzKauj8PAqj6/g4db80cLafa8bqo4Gv1/V90tHWDdx0/3Gf4n2/gg6B6NjLSRcdaOyiBd57982f/DHwY/GCrQVB8hj9+hfe8v548o4fGDtTEAAAAAElFTkSuQmCC">
										</div>
									</div>
								</div>
							</td>
						</tr>
						
						
<?php endforeach; ?>
					</table>
					<div style="height: 100px;">&nbsp;</div>
			</div>
		</section>
		
		<script>

			var meds = <?=JSON_encode($meds)?>;
			
			if (document.documentElement.clientWidth > 1203) {
				$("#main_box").addClass("content-wrap container clearfix");
			}
			// fire when below 1203
			else {
			}
	
			window.addEventListener("resize", function(){
			    // fire when above 1203
			    if (document.documentElement.clientWidth > 1203) {
			    	$("#main_box").addClass("content-wrap container clearfix");
			    }
			    // fire when below 1203
			    else {
			    	$("#main_box").removeClass("content-wrap container clearfix");
			    }
			}, true);

			function showDetails(key, med_id) {
				swal({
					title: 'View Test Data',
					html: '<h3><?=$med_name?></h3>' +
						'<div style="margin-top: -15px; margin-bottom: 10px;"><a href="javascript: confirmDelete(' + key + ', ' + meds[key]['Z_PK'] + ')" class="btn button">DELETE MED RECORD</a></div>' +
						'Quantity:' +
						'<input id="ndoses' + meds[key]['Z_PK'] + '" type="number" class="form-control" value="' + meds[key]['ZNDOSES'] + '" style="text-align: center;"><br>' +
						'Date:' +
						'<input id="date' + meds[key]['Z_PK'] + '" type="text" data-field="datetime" readonly class="form-control" value="' + meds[key]['date'] + '" style="text-align: center;">' +
						'<div class="dtBox"></div><br>' +
						'Comment:' +
						'<textarea id="comment' + meds[key]['Z_PK'] + '" class="form-control" style="text-align: center;">' + meds[key]['ZCOMMENT'] + '</textarea>' 
					,
					showCloseButton: true,
					showCancelButton: true,
					focusConfirm: false,
					width: '500px',
					confirmButtonText:
						'<div style="color: white; font-size: 80%;">Submit Change</div>'
					,
					cancelButtonText:
						'<div style="color: white; font-size: 80%;">Cancel</div>'
					,
				}).then((result) => {
					if (result.value) {
						$.ajax({
							url: "/web/updateMedAction",
							type: 'post',
							dataType: 'html',
							data: {
								id: med_id,
								dosage: '<?=$meds[0]['ZDOSAGEINFO']?>',
								quantity: document.getElementById('ndoses' + meds[key]['Z_PK']).value,
								date: document.getElementById('date' + meds[key]['Z_PK']).value,
								comment: document.getElementById('comment' + meds[key]['Z_PK']).value
							},
							async: false,
							success: function(data) {
								if (data == 1) {
									window.location.href = '/web/view-med?name=<?=$med_name?>';
								} else {
									alert('hmm');
									console.log(data);
								}
								
							},
							error: function(data) {
								alert('hmm');
								console.log(data['responseText']);
							}
						});
					} else {
						
					}
				});

				$(".dtBox").DateTimePicker();
			}

			function confirmDelete(key, med_id) {
				swal({
					title: 'Delete Test Data?',
					type: 'warning',
					html: 'Are you sure you want to remove the record for <span style="font-weight: bold;">' + meds[key]['ZNAME'] + '</span> that was recorded on <span style="font-weight: bold;">' + meds[key]['date'] + '</span>?',
					showCloseButton: true,
					showCancelButton: true,
					focusConfirm: false,
					width: '500px',
					confirmButtonText:
						'<div style="color: white; font-size: 80%;">DELETE</div>'
					,
					cancelButtonText:
						'<div style="color: white; font-size: 80%;">Cancel</div>'
					,
				}).then((result) => {
					if (result.value) {
						$.ajax({
							url: "/web/deleteLabAction",
							type: 'post',
							dataType: 'html',
							data: {
								id: med_id
							},
							async: false,
							success: function(data) {
								if (data == 1) {
									window.location.href = '/web/view-med?name=<?=$med_name?>';
								} else {
									alert('hmm');
									console.log(data);
								}
								
							},
							error: function(data) {
								alert('hmm');
								console.log(data['responseText']);
							}
						});
					} else {
						
					}
				});
			}

			
		</script>
		
		<style>
	
			.swal2-show {
				font-size: 140% !important;
			}

			#canvas2_box {
				display: none;	
			}
				
			@media screen and (max-width: 1080px) {

				#canvas1_box {
					display: none;
				}
				
				#canvas2_box {
					display: block;	
				}
			}
		</style>