		<section id="content">
			<div id="main_box" class="" style="padding: 0;">
			
					
					<div style="line-height: 10px; margin-bottom: 15px;">&nbsp;</div>
					
					<canvas id="canvas" width="400" height="150"></canvas>
												<script>
													var config = {
														type: 'line',
														data: {
															labels: [
<?php $count = 0; ?>
<?php foreach ($dates as $id => $data): ?>
<?php if ($count < count($dates)): ?>
																'<?=$id?>',
<?php else: ?>
																'<?=$id?>'
<?php endif; ?>
<?php $count++; ?>
<?php endforeach; ?>
															],
															datasets: [
																{
																	label: "<?=$lab_info['ZUNITS']?>",
																	fill: false,
																	backgroundColor: 'black',
																	borderColor: 'black',
																	spanGaps: true,
																	pointRadius: 7,
																	data: [
<?php $count = 0; ?>
<?php foreach ($dates as $id => $data): ?>
<?php if ($count < count($dates)): ?>
<?php if ($data['avg'] == 0): ?>
																	null,
<?php else: ?>
																	'<?=$data['avg']?>',
<?php endif; ?>
<?php else: ?>
<?php if ($data['avg'] == 0): ?>
																	null
<?php else: ?>
																	'<?=$data['avg']?>'
<?php endif; ?>
<?php endif; ?>
<?php $count++; ?>
<?php endforeach; ?>
																	],
																},
																{
																	label: "Low Range",
																	fill: false,
																	backgroundColor: '#52bf31',
																	borderColor: '#52bf31',
																	pointBorderColor: 'white',
																	spanGaps: true,
																	pointRadius: 0,
																	data: [
<?php $count = 0; ?>
<?php foreach ($dates as $id => $data): ?>
<?php if ($count < count($dates)): ?>
<?=$lab_info['ZRANGELOW']?>,
<?php else: ?>
<?=$lab_info['ZRANGELOW']?>
<?php endif; ?>
<?php $count++; ?>
<?php endforeach; ?>
																	],
																},
																{
																	label: "High Range",
																	fill: false,
																	backgroundColor: 'red',
																	borderColor: 'red',
																	pointBorderColor: 'white',
																	spanGaps: true,
																	pointRadius: 0,
																	data: [
<?php $count = 0; ?>
<?php foreach ($dates as $id => $data): ?>
<?php if ($count < count($dates)): ?>
<?=$lab_info['ZRANGEHIGH']?>,
<?php else: ?>
<?=$lab_info['ZRANGEHIGH']?>
<?php endif; ?>
<?php $count++; ?>
<?php endforeach; ?>
																	],
																}
															]
											            },
											            options: {
											                responsive: true,
											                title:{
											                    display:false,
											                    text:'<?=$lab_info['ZNAME']?> Results'
											                },
											                tooltips: {
											                    mode: 'index',
											                    intersect: false,
											                },
											                hover: {
											                    mode: 'nearest',
											                    intersect: true
											                },
											                scales: {
											                    xAxes: [{
											                        display: true,
											                        scaleLabel: {
											                            display: true,
											                            labelString: 'Last 7 days'
											                        }
											                    }],
											                    yAxes: [{
											                        display: true,
											                        scaleLabel: {
											                            display: true,
											                            labelString: 'Value (<?=$lab_info['ZUNITS']?>)'
											                        }
											                    }]
											                }
											            }
											        };
											
											        window.onload = function() {
											            var ctx = document.getElementById("canvas").getContext("2d");
											            window.myLine = new Chart(ctx, config);
											        };
											    </script>
											    
											
											<div style="border-bottom: 1px solid red; padding-left: 1em; margin-top: 15px; padding-bottom: 10px; text-align: center;">
<?php if ($filter == 1): ?>
												<span class="btn button" style="display: inline-block; background-color: #444444;" onclick="javascript: window.location.href='/web/view-test?name=<?=$lab_info['ZDESC']?>&filter=1'">Day</span>
<?php else: ?>
												<span class="btn button" style="display: inline-block;" onclick="javascript: window.location.href='/web/view-test?name=<?=$lab_info['ZDESC']?>&filter=1'">Day</span>
<?php endif; ?>
<?php if ($filter == '' || $filter == 2): ?>
												<span class="btn button" style="display: inline-block; background-color: #444444;" onclick="javascript: window.location.href='/web/view-test?name=<?=$lab_info['ZDESC']?>&filter=2'">Week</span>
<?php else: ?>
												<span class="btn button" style="display: inline-block;" onclick="javascript: window.location.href='/web/view-test?name=<?=$lab_info['ZDESC']?>&filter=2'">Week</span>
<?php endif; ?>
<?php if ($filter == 3): ?>
												<span class="btn button" style="display: inline-block; background-color: #444444;" onclick="javascript: window.location.href='/web/view-test?name=<?=$lab_info['ZDESC']?>&filter=3'">Month</span>
<?php else: ?>
												<span class="btn button" style="display: inline-block;" onclick="javascript: window.location.href='/web/view-test?name=<?=$lab_info['ZDESC']?>&filter=3'">Month</span>
<?php endif; ?>
<?php if ($filter == 4): ?>
												<span class="btn button" style="display: inline-block; background-color: #444444;" onclick="javascript: window.location.href='/web/view-test?name=<?=$lab_info['ZDESC']?>&filter=4'">Year</span>
<?php else: ?>
												<span class="btn button" style="display: inline-block;" onclick="javascript: window.location.href='/web/view-test?name=<?=$lab_info['ZDESC']?>&filter=4'">Year</span>
<?php endif; ?>
<?php if ($filter == 5): ?>
												<span class="btn button" style="display: inline-block; background-color: #444444;" onclick="javascript: window.location.href='/web/view-test?name=<?=$lab_info['ZDESC']?>&filter=5'">All</span>
<?php else: ?>
												<span class="btn button" style="display: inline-block;" onclick="javascript: window.location.href='/web/view-test?name=<?=$lab_info['ZDESC']?>&filter=5'">All</span>
<?php endif; ?>
												
											</div>
					<table style="width: 100%; font-size: 150%;">
						<tr>
							<th style="width: 100%; padding: 1em;">
								<?=$lab_info['ZDESC']?> - Results: <?=count($labs)?> <span style="margin-left: 20px; border: 2px solid #52BF31; border-radius: 2px; padding: 4px;">Low Range: <?=$lab_info['ZRANGELOW']?></span> <span style="border: 2px solid #4890EE; border-radius: 2px; padding: 4px;">High Range: <?=$lab_info['ZRANGEHIGH']?></span>
							</th>
						</tr>
						
						
						
						<tr>
							<td style="width: 100%; padding: 1em; background-color: #ED1C24; color: white;">Results Out of Range:</td>
						</tr>
						
<?php foreach ($labs as $i => $data): ?>
<?php if ($data['range'] == 0): ?>
						<tr>
							<td style="text-align: left; padding: 1em; font-weight: bold; color: #1c75ea; border-bottom: 1px solid grey;">
								<?=date('M d, Y h:i A', $data['ZDATE'] + 978307200)?><br><span></span>
								<div class="row">
									<div class="col-lg-4">
										
											
											
<?php if ($data['ZVALUE'] >= $lab_info['ZRANGELOW'] && $data['ZVALUE'] <= $lab_info['ZRANGEHIGH']): ?>
											<div style="color: #007c34;">Value: <?=$data['ZVALUE']?> <?=$lab_info['ZUNITS']?> (IN RANGE)</div>
<?php else: ?>

<?php if ($data['ZVALUE'] > $lab_info['ZRANGEHIGH']): ?>
											<div style="color: red;">Value: <?=$data['ZVALUE']?> <?=$lab_info['ZUNITS']?> (<?=(round($data['ZVALUE'] / $lab_info['ZRANGEHIGH'], 2) * 100) - 100?>% OVER HIGH)</div>
<?php else: ?>

<?php if ($data['ZVALUE'] < $lab_info['ZRANGELOW']): ?>
											<div style="color: red;">Value: <?=$data['ZVALUE']?> <?=$lab_info['ZUNITS']?> (<?=(round($data['ZVALUE'] / $lab_info['ZRANGELOW'], 2) * 100) - 100?>% UNDER LOW)</div>
<?php else: ?>
											<div>??? <?=$data['ZVALUE']?></div>
<?php endif; ?>

<?php endif; ?>

<?php endif; ?>
									</div>
									
									<div class="col-lg-6">
										<div>
											
											<div id="chart_div<?=$i?>" style="padding: 0; height: 80px; margin-top: -50px;"></div>
											
											
										<!-- 	<span style="font-size: 75%; color: #555555;">Comment:</span> <?=$data['ZCOMMENT']?> -->

										</div>
									</div>
									<div class="col-lg-2">
										<div style="text-align: right; margin-top: -20px;">
<?php if ($data['ZCOMMENT'] != ''): ?>
											<img style="cursor: pointer; display: none;" onclick="javascript: showDetails(<?=$i?>, <?=$data['Z_PK']?>)" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAElSURBVEhL7dVNSsNQGIXhiFOxOCtYCw4Vu4bi0Fkp2oJuQFeguAAptJtwCyK2w45bXIEdtBsoFWcFf95T7ldsGkgCSVTMgYeQL/feM0ri5flXKeAsZepYSwWfKVPHWqx4hFbCdGZo8ePiLtnozLx4mV9VvIFbPKCmgUsZ986eBi51aK32aK8ldnETmskcu1CeYHNbX4LW2LwBS+ziK9hBcgBlCJsNNCCH+L72EpbYxVvoYYa2Bi7HmGCMqgYuHbyiC+21xC5OKnnxSn68+Bn+35neW8s+/M/D6MzQ4iDnUE4wRdCaKAKLi/D/zvrQhgvoa/SOD+iL5V8bhToi5QYq1vuq6xtOkXqsWF5whExixfo272iQVa5xh83FXYbZdtc8fzWe9wUaKrVV8dErtAAAAABJRU5ErkJggg==">
<?php endif; ?>
											<img style="cursor: pointer;" onclick="javascript: showDetails(<?=$i?>, <?=$data['Z_PK']?>)" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAJNSURBVGhD7ZM9SyNRFIans9pCK9stRLbTf+APSK29hb0zGIMWVmLnWq2CplEstFGIRVKoiTGKgQhrJQvLokb8KhStbDzrCWf0GK947sckWXZeeJtw35nnCXe8OHHixGnNzJQfoVklBLuoHtyoEoJdVA9uVAnBLvyBX388NK2Eo59YwFEJRz8fCfDfG11Ck4UPYwFHJTRZ+DAWcFRCk4UPYwFHJTRZ+PC/EhgcSoCfHIDp9BQsHPxRnjEtocnChzoCfrIf+hIJOFzqBCi0wW3xG5QL4zC7f6k8r1NCk4UPdQSmFyZf4LE3+V54TH+Bq8VeawlCk4UPdQTSB7/fwcOcV6utBKHJwoc6Ati7ne538C4kCE0WPtQVKOfHlPBhTSUITRY+1BWY27+A68UeJXxYEwlCk4UPdQWwUUgQmix8aCKAlUrgOdW+voQmCx+aCmBdShCaLHxoI4B1JUFosvChrQDWhQShycKHLgSwthKEJgsfuhLA2kgQmix86FIAaypBaLLwoWsBrIkEocnCXxaFAFZXgtD0E5UAFuEQUgUfNpQgHP1EKYCVSjzNex2EpJeoBbASiadZr7KXnTCTCKN6uat+JlHKfM+vbe4ermT3zCVUL3bZjySyuVVY3yrVura1WzGWUL3UdeslODw2k9s+Ok2miqfDw3bXKcrgB4t3vrQxs10PfzKauj8PAqj6/g4db80cLafa8bqo4Gv1/V90tHWDdx0/3Gf4n2/gg6B6NjLSRcdaOyiBd57982f/DHwY/GCrQVB8hj9+hfe8v548o4fGDtTEAAAAAElFTkSuQmCC">
										</div>
									</div>
								</div>
							</td>
						</tr>
						
						
						
						
		<script type="text/javascript">
			google.charts.load('current', {packages: ['corechart', 'bar']});
			google.charts.setOnLoadCallback(drawBasic);

			function drawBasic() {
				var data = google.visualization.arrayToDataTable([
					['City', '', { role: 'style' }],
					['Your Result', <?=$data['ZVALUE']?>, '#ED1C24'],
				]);
	
				var options = {
					isStacked: true,
					chartArea: {width: '60%',height: '60%'},
					hAxis: {
						minValue: 0,
						maxValue: <?=$lab_info['ZRANGEHIGH']?> + 10
					},
					vAxis: {

					},
					legend: {position: 'none'}
				};
	
				var chart = new google.visualization.BarChart(document.getElementById("chart_div<?=$i?>"));	

				
				
				chart.draw(data, options);


				var low_axis = findAxis(chart, <?=$lab_info['ZRANGELOW']?>);
				var high_axis = findAxis(chart, <?=$lab_info['ZRANGEHIGH']?>);
				var diff = high_axis - low_axis;

				//var diff = <?=$lab_info['ZRANGEHIGH']?> - <?=$lab_info['ZRANGELOW']?>;
				
				drawVAxisLine(chart, <?=$lab_info['ZRANGELOW']?>);
				drawVAxisLine(chart, <?=$lab_info['ZRANGEHIGH']?>); 

				drawVAxisLine2(chart, <?=$lab_info['ZRANGELOW']?>, diff);

				 
			}
		</script>
						
<?php endif; ?>
<?php endforeach; ?>

		<script>
			function drawVAxisLine(chart,value){
				var layout = chart.getChartLayoutInterface();
				var chartArea = layout.getChartAreaBoundingBox();
			
				var svg = chart.getContainer().getElementsByTagName('svg')[0];
				var xLoc = layout.getXLocation(value);
				
				svg.appendChild(createLine(xLoc,chartArea.top + chartArea.height,xLoc,chartArea.top,'black',3)); // axis line 
			}

			function drawVAxisLine2(chart,value, diff){
				var move = diff / 2;
				
				var layout = chart.getChartLayoutInterface();
				var chartArea = layout.getChartAreaBoundingBox();
			
				var svg = chart.getContainer().getElementsByTagName('svg')[0];
				var xLoc = layout.getXLocation(value)
				svg.appendChild(createLine(xLoc + move,chartArea.top + chartArea.height,xLoc + move,chartArea.top,'rgba(3, 173, 6, 0.35)',diff)); // axis line 
			}

			function findAxis(chart,value){
				var layout = chart.getChartLayoutInterface();
				var chartArea = layout.getChartAreaBoundingBox();
			
				var svg = chart.getContainer().getElementsByTagName('svg')[0];
				var xLoc = layout.getXLocation(value);

				return xLoc;
			}
			
			function createLine(x1, y1, x2, y2, color, w) {
				var line = document.createElementNS('http://www.w3.org/2000/svg', 'line');
				line.setAttribute('x1', x1);
				line.setAttribute('y1', y1);
				line.setAttribute('x2', x2);
				line.setAttribute('y2', y2);
				line.setAttribute('stroke', color);
				line.setAttribute('stroke-width', w);
				return line;
			}
		</script>

						<tr>
							<td style="width: 100%; padding: 1em; background-color: #ED1C24; color: white;">Results In Range:</td>
						</tr>
						
<?php foreach ($labs as $i => $data): ?>
<?php if ($data['range'] == 1): ?>
						<tr>
							<td style="text-align: left; padding: 1em; font-weight: bold; color: #1c75ea; border-bottom: 1px solid grey;">
								<?=date('M d, Y h:i A', $data['ZDATE'] + 978307200)?><br><span></span>
								<div class="row">
									<div class="col-lg-4">
										
											
											
<?php if ($data['ZVALUE'] >= $lab_info['ZRANGELOW'] && $data['ZVALUE'] <= $lab_info['ZRANGEHIGH']): ?>
											<div style="color: #007c34;">Value: <?=$data['ZVALUE']?> <?=$lab_info['ZUNITS']?> (IN RANGE)</div>
<?php else: ?>

<?php if ($data['ZVALUE'] > $lab_info['ZRANGEHIGH']): ?>
											<div style="color: red;">Value: <?=$data['ZVALUE']?> <?=$lab_info['ZUNITS']?> (<?=(round($data['ZVALUE'] / $lab_info['ZRANGEHIGH'], 2) * 100) - 100?>% OVER HIGH)</div>
<?php else: ?>

<?php if ($data['ZVALUE'] < $lab_info['ZRANGELOW']): ?>
											<div style="color: red;">Value: <?=$data['ZVALUE']?> <?=$lab_info['ZUNITS']?> (<?=(round($data['ZVALUE'] / $lab_info['ZRANGELOW'], 2) * 100) - 100?>% UNDER LOW)</div>
<?php else: ?>
											<div>??? <?=$data['ZVALUE']?></div>
<?php endif; ?>

<?php endif; ?>

<?php endif; ?>
									</div>
									<div class="col-lg-6">
										<div>
											
											<div id="chart_div<?=$i?>" style="padding: 0; height: 80px; margin-top: -50px;"></div>
											
											
										<!-- 	<span style="font-size: 75%; color: #555555;">Comment:</span> <?=$data['ZCOMMENT']?> -->

										</div>
									</div>
									<div class="col-lg-2">
										<div style="text-align: right; margin-top: -20px;">
<?php if ($data['ZCOMMENT'] != ''): ?>
											<img style="cursor: pointer; display: none;" onclick="javascript: showDetails(<?=$i?>, <?=$data['Z_PK']?>)" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAElSURBVEhL7dVNSsNQGIXhiFOxOCtYCw4Vu4bi0Fkp2oJuQFeguAAptJtwCyK2w45bXIEdtBsoFWcFf95T7ldsGkgCSVTMgYeQL/feM0ri5flXKeAsZepYSwWfKVPHWqx4hFbCdGZo8ePiLtnozLx4mV9VvIFbPKCmgUsZ986eBi51aK32aK8ldnETmskcu1CeYHNbX4LW2LwBS+ziK9hBcgBlCJsNNCCH+L72EpbYxVvoYYa2Bi7HmGCMqgYuHbyiC+21xC5OKnnxSn68+Bn+35neW8s+/M/D6MzQ4iDnUE4wRdCaKAKLi/D/zvrQhgvoa/SOD+iL5V8bhToi5QYq1vuq6xtOkXqsWF5whExixfo272iQVa5xh83FXYbZdtc8fzWe9wUaKrVV8dErtAAAAABJRU5ErkJggg==">
<?php endif; ?>
											<img style="cursor: pointer;" onclick="javascript: showDetails(<?=$i?>, <?=$data['Z_PK']?>)" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAJNSURBVGhD7ZM9SyNRFIans9pCK9stRLbTf+APSK29hb0zGIMWVmLnWq2CplEstFGIRVKoiTGKgQhrJQvLokb8KhStbDzrCWf0GK947sckWXZeeJtw35nnCXe8OHHixGnNzJQfoVklBLuoHtyoEoJdVA9uVAnBLvyBX388NK2Eo59YwFEJRz8fCfDfG11Ck4UPYwFHJTRZ+DAWcFRCk4UPYwFHJTRZ+PC/EhgcSoCfHIDp9BQsHPxRnjEtocnChzoCfrIf+hIJOFzqBCi0wW3xG5QL4zC7f6k8r1NCk4UPdQSmFyZf4LE3+V54TH+Bq8VeawlCk4UPdQTSB7/fwcOcV6utBKHJwoc6Ati7ne538C4kCE0WPtQVKOfHlPBhTSUITRY+1BWY27+A68UeJXxYEwlCk4UPdQWwUUgQmix8aCKAlUrgOdW+voQmCx+aCmBdShCaLHxoI4B1JUFosvChrQDWhQShycKHLgSwthKEJgsfuhLA2kgQmix86FIAaypBaLLwoWsBrIkEocnCXxaFAFZXgtD0E5UAFuEQUgUfNpQgHP1EKYCVSjzNex2EpJeoBbASiadZr7KXnTCTCKN6uat+JlHKfM+vbe4ermT3zCVUL3bZjySyuVVY3yrVura1WzGWUL3UdeslODw2k9s+Ok2miqfDw3bXKcrgB4t3vrQxs10PfzKauj8PAqj6/g4db80cLafa8bqo4Gv1/V90tHWDdx0/3Gf4n2/gg6B6NjLSRcdaOyiBd57982f/DHwY/GCrQVB8hj9+hfe8v548o4fGDtTEAAAAAElFTkSuQmCC">
										</div>
									</div>
								</div>
							</td>
						</tr>
						
						<script type="text/javascript">
							google.charts.load('current', {packages: ['corechart', 'bar']});
							google.charts.setOnLoadCallback(drawBasic2);
				
							function drawBasic2() {
								var data = google.visualization.arrayToDataTable([
									['City', '', { role: 'style' }],
									['Your Result', <?=$data['ZVALUE']?>, '#007c34'],
								]);
					
								var options = {
									isStacked: true,
									chartArea: {width: '60%',height: '60%'},
									hAxis: {
										minValue: 0,
										maxValue: <?=$lab_info['ZRANGEHIGH']?> + 10
									},
									vAxis: {

									},
									legend: {position: 'none'}
								};
					
								var chart = new google.visualization.BarChart(document.getElementById("chart_div<?=$i?>"));	

								
								
								chart.draw(data, options);


								var low_axis = findAxis(chart, <?=$lab_info['ZRANGELOW']?>);
								var high_axis = findAxis(chart, <?=$lab_info['ZRANGEHIGH']?>);
								var diff = high_axis - low_axis;

								//var diff = <?=$lab_info['ZRANGEHIGH']?> - <?=$lab_info['ZRANGELOW']?>;
								
								drawVAxisLine(chart, <?=$lab_info['ZRANGELOW']?>);
								drawVAxisLine(chart, <?=$lab_info['ZRANGEHIGH']?>); 

								drawVAxisLine2(chart, <?=$lab_info['ZRANGELOW']?>, diff);

								 
							}
						</script>
<?php endif; ?>
<?php endforeach; ?>
					</table>
					<div style="height: 100px;">&nbsp;</div>
			</div>
		</section>
		
		<script>

			var labs = <?=JSON_encode($labs)?>;
			
			if (document.documentElement.clientWidth > 1203) {
				$("#main_box").addClass("content-wrap container clearfix");
			}
			// fire when below 1203
			else {
			}
	
			window.addEventListener("resize", function(){
			    // fire when above 1203
			    if (document.documentElement.clientWidth > 1203) {
			    	$("#main_box").addClass("content-wrap container clearfix");
			    }
			    // fire when below 1203
			    else {
			    	$("#main_box").removeClass("content-wrap container clearfix");
			    }
			}, true);

			function showDetails(key, lab_id) {
				swal({
					title: 'View Test Data',
					html: '<h3><?=$lab_info['ZDESC']?> - <?=$lab_info['ZNAME']?></h3>' +
						'<div style="margin-top: -15px; margin-bottom: 10px;"><a href="javascript: confirmDelete(' + key + ', ' + labs[key]['Z_PK'] + ')" class="btn button">DELETE TEST</a></div>' +
						'Value:' +
						'<input id="value' + labs[key]['Z_PK'] + '" class="form-control" value="' + labs[key]['ZVALUE'] + '" style="text-align: center;"><br>' +
						'Date:' +
						'<input id="date' + labs[key]['Z_PK'] + '" type="text" data-field="datetime" readonly class="form-control" value="' + labs[key]['date'] + '" style="text-align: center;">' +
						'<div class="dtBox"></div><br>' +
						'Comment:' +
						'<textarea id="comment' + labs[key]['Z_PK'] + '" class="form-control" style="text-align: center;">' + labs[key]['ZCOMMENT'] + '</textarea>' 
					,
					showCloseButton: true,
					showCancelButton: true,
					focusConfirm: false,
					width: '500px',
					confirmButtonText:
						'<div style="color: white; font-size: 80%;">Submit Change</div>'
					,
					cancelButtonText:
						'<div style="color: white; font-size: 80%;">Cancel</div>'
					,
				}).then((result) => {
					if (result.value) {
						$.ajax({
							url: "/web/updateLabAction",
							type: 'post',
							dataType: 'html',
							data: {
								id: lab_id,
								value: document.getElementById('value' + labs[key]['Z_PK']).value,
								date: document.getElementById('date' + labs[key]['Z_PK']).value,
								comment: document.getElementById('comment' + labs[key]['Z_PK']).value
							},
							async: false,
							success: function(data) {
								if (data == 1) {
									window.location.href = '/web/view-test?name=<?=$lab_info['ZDESC']?>';
								} else {
									alert('hmm');
									console.log(data);
								}
								
							},
							error: function(data) {
								alert('hmm');
								console.log(data['responseText']);
							}
						});
					} else {
						
					}
				});

				$(".dtBox").DateTimePicker();
			}

			function confirmDelete(key, lab_id) {
				swal({
					title: 'Delete Test Data?',
					type: 'warning',
					html: 'Are you sure you want to remove the record for <span style="font-weight: bold;">' + labs[key]['ZNAME'] + '</span> that was recorded on <span style="font-weight: bold;">' + labs[key]['date'] + '</span>?',
					showCloseButton: true,
					showCancelButton: true,
					focusConfirm: false,
					width: '500px',
					confirmButtonText:
						'<div style="color: white; font-size: 80%;">DELETE</div>'
					,
					cancelButtonText:
						'<div style="color: white; font-size: 80%;">Cancel</div>'
					,
				}).then((result) => {
					if (result.value) {
						$.ajax({
							url: "/web/deleteLabAction",
							type: 'post',
							dataType: 'html',
							data: {
								id: lab_id
							},
							async: false,
							success: function(data) {
								if (data == 1) {
									window.location.href = '/web/view-test?name=<?=$lab_info['ZDESC']?>';
								} else {
									alert('hmm');
									console.log(data);
								}
								
							},
							error: function(data) {
								alert('hmm');
								console.log(data['responseText']);
							}
						});
					} else {
						
					}
				});
			}

			
		</script>
		
		<style>
	
			.swal2-show {
				font-size: 140% !important;
			}

			#canvas2_box {
				display: none;	
			}
				
			@media screen and (max-width: 1080px) {

				#canvas1_box {
					display: none;
				}
				
				#canvas2_box {
					display: block;	
				}
			}
		</style>