		<section id="content">
			<div id="main_box" class="" style="padding: 0; padding-top: 2em; position: relative;">
					


									<table id="tests_table" class="table table-hover table-striped">
										<thead>
											<tr>
												<th>ID</th>
												<th>Name</th>
												<th>Abbreviation</th>
											</tr>
										</thead>
										<tfoot>
											<tr>
												<th>ID</th>
												<th>Name</th>
												<th>Abbreviation</th>
											</tr>
										</tfoot>
										<tbody>
<?php foreach ($tests as $id => $data): ?>
												<tr onclick="javascript: window.location.href='/web/add-lab-test?id=<?=$data['Z_PK']?>'" style="cursor: pointer;">
													<td><?=$data['Z_PK']?></td>
													<td><?=$data['ZNAME']?></td>
													<td><?=$data['ZDESC']?></td>

												</tr>
<?php endforeach; ?>
										</tbody>
									</table>
			</div>
		</section>
		
		<script>
			if (document.documentElement.clientWidth > 1203) {
				$("#main_box").addClass("content-wrap container clearfix");

// 				setTimeout(function () {
// 					alert('test');
// 					document.getElementById('bar-chart').style.width = '100px';
// 				}, 500);
				
				
			}
			// fire when below 1203
			else {
			}
	
			window.addEventListener("resize", function(){
			    // fire when above 1203
			    if (document.documentElement.clientWidth > 1203) {
			    	$("#main_box").addClass("content-wrap container clearfix");
			    }
			    // fire when below 1203
			    else {
			    	$("#main_box").removeClass("content-wrap container clearfix");
			    }
			}, true);

			$('#tests_table').DataTable( {
				columnDefs: [
				{
					className: 'mdl-data-table__cell--non-numeric',
						
				}],
				lengthMenu: [10, 15, 20, 25, 50, 100],
				
				pageLength: 100,
				order: [[ 0, "desc" ]]
			});
		</script>
		
		<style>
	
			#canvas2_box {
				display: none;	
			}
				
			@media screen and (max-width: 1080px) {

				#canvas1_box {
					display: none;
				}
				
				#canvas2_box {
					display: block;	
				}
			}
		</style>