
<style>

@media screen and (max-width: 900px) {
	.hide_s {
		display: none;	
	}
}

</style>

<section class="wrapper ">
	<div class="inner shadow" style="background-color: rgba(255,255,255,0.7);">
		<div style="text-align: center; font-weight: bold; font-size: 200%; margin-bottom: 15px; padding-top: 25px;">CHECK OUT</div>
		<div class="shadow bar" style="height: 15px; width: 90%; margin-left: 5%; z-index: 11111;">&nbsp;</div>
		

					<div class="product-content-right">
						<div class="woocommerce">
								<table cellspacing="0" class="shop_table cart">
									<thead>
										<tr>
											<th class="product-remove hide_s">Delete?</th>
											<th class="product-thumbnail hide_s">&nbsp;</th>
											<th class="product-name">Product</th>
											<th class="product-price">Price</th>
											<th class="product-quantity">Quantity</th>
										</tr>
									</thead>
									<tbody>
<?php foreach($loader['cart'] as $id => $data): ?>
										<tr class="cart_item" style="height: 50px;">
											<td class="product-remove hide_s">
												<div style="margin-top: -50px;">
													<div style="height: 80px;">&nbsp;</div>
													<a title="Remove this item" class="remove" href="#"><i class="fa fa-close" style="font-size: 200%;"></i></a> 
												</div>
											</td>

											<td class="product-thumbnail hide_s">
<?php if (trim($data['product']['attachment_file_name']) == ''): ?>
												<a href="/store?product_id=<?=$data['product']['id']?>"><img width="80%" alt="poster_1_up" class="shadow" src="../../../uploads/missing_pic.jpg"></a>
<?php else : ?>
<?php if (file_exists('./uploads/products/small/' . trim($data['product']['attachment_file_name']))): ?>
												<a href="/store?product_id=<?=$data['product']['id']?>"><img width="80%" alt="poster_1_up" class="shadow" src="../../../uploads/products/small/<?=trim($data['product']['attachment_file_name'])?>"></a>
<?php else: ?>
												<a href="/store?product_id=<?=$data['product']['id']?>"><img width="80%" alt="poster_1_up" class="shadow" src="../../../uploads/missing_pic.jpg"></a>
<?php endif; ?>
<?php endif; ?>

											</td>

											<td class="product-name">
												<div style="margin-top: -50px;">
													<div style="height: 80px;">&nbsp;</div>
													<?=$data['product']['name']?> - <?=$data['product_size']['name']?>
												</div>
											</td>

											<td class="product-price">
												<div style="margin-top: -50px;">
													<div style="height: 80px;">&nbsp;</div>
													<span class="amount">$<?=$data['product_size']['price'] * $data['quantity']?></span> 
												</div>
											</td>

											<td class="product-quantity">
												<div class="quantity" style="position: relative;">
<?php if ($data['quantity'] == '1'): ?>
							<div class="cd-qty" style="user-select: none; position: absolute; text-align: center; width: 100%; top: 20px;"><i id="minus<?=$id?>" class="fa fa-minus card hide_s" style="margin-right: 10px; cursor: pointer; padding: 7px;" onclick="javascript: decreaseQuantity(<?=$id?>, <?=$data['product_size']['price']?>);"></i> <span id="cart_quantity<?=$id?>" style="font-size: 125%;"><?=$data['quantity']?></span> <i class="fa fa-plus card hide_s" onclick="javascript: increaseQuantity(<?=$id?>, <?=$data['product_size']['price']?>);" style="margin-left: 10px; cursor: pointer; padding: 7px;"></i></div> 
<?php else: ?>
							<div class="cd-qty" style="user-select: none; position: absolute; text-align: center; width: 100%; top: 20px;"><i id="minus<?=$id?>" class="fa fa-minus card hide_s" style="margin-right: 10px; cursor: pointer; padding: 7px;" onclick="javascript: decreaseQuantity(<?=$id?>, <?=$data['product_size']['price']?>);"></i> <span id="cart_quantity<?=$id?>" style="font-size: 125%;"><?=$data['quantity']?></span> <i class="fa fa-plus card hide_s" onclick="javascript: increaseQuantity(<?=$id?>, <?=$data['product_size']['price']?>);" style="margin-left: 10px; cursor: pointer; padding: 7px;"></i></div>
<?php endif; ?>	
												</div>
											</td>
										</tr>
<?php endforeach; ?>
									</tbody>
								</table>
<?php if (count($deals) > 0): ?>
							<!-- <h2 style="margin: 0; text-align: center;">Add for $10 or less</h2> -->
							<div class="row">
<?php foreach ($deals as $id => $data): ?>
<?php if (isset($products[$data['parent_id']])): ?>
								<div class="2u">
									<div style="padding: 8px; text-align: center; cursor: pointer;" onclick="javascript: window.open('http://wwweed.org/store?product_id=<?=$data['parent_id']?>','_blank');">
										<div class="box_pic" style="background-image: url('../../../uploads/<?=$products[$data['parent_id']]['attachment_file_name']?>'); border: 2px solid #089C7A; width: 100%; height: 0; padding-bottom: 100%;">&nbsp;</div>
										<div><?=$products[$data['parent_id']]['name']?></div>
									</div>
								</div>
<?php endif; ?>
<?php endforeach; ?>
							</div>
<?php endif; ?>
							<div style="margin: 25px; text-align: center;">
								<h3 style="margin: 0;">Delivery Notes. <br><span style="font-size: 70%;">Building number, special intructions, gate code, etc.</span></h3>
								<textarea id="notes" rows="" cols="" style="border: 1px solid black; text-align: center;"></textarea>
							</div>
							<div class="row" style="padding: 25px;">
								<div class="6u 12u(s)">
									<div style="text-align: center;">
										<h2 style="margin: 0;">Cart Totals</h2>
										<table cellspacing="0">
											<tbody>
												<tr class="cart-subtotal">
													<th>Cart Subtotal</th>
													<td><span class="amount">$<?=$loader['cart_total']?></span></td>
												</tr>
<?php if($loader['user_id'] > 0): ?>
<?php if($loader['user']['membership'] > 0): ?>
												<tr class="shipping">
													<th>Previous Balance</th>
													<td>$<?=$loader['user']['balance']?></td>
												</tr>
												
												<tr class="shipping">
													<th>New Balance</th>
<?php if(($loader['user']['balance'] - $loader['cart_total']) > 0): ?>
													<td>$<?=$loader['user']['balance'] - $loader['cart_total']?></td>
<?php else: ?>
													<td>$0</td>
<?php endif; ?>
													
												</tr>
<?php endif; ?>		
<?php endif; ?>		
												<tr class="shipping">
													<th>Delivery Charge</th>
													<td>Free</td>
												</tr>
<?php if(isset($loader['user']['membership'])): ?>			
<?php if($loader['user']['membership'] > 0 && $loader['user']['membership_paid'] == 0): ?>
												<tr class="shipping">
													<th>Membership Fees Due</th>
<?php if($loader['user']['membership'] == 1): ?>
													<td>$150</td>
<?php elseif($loader['user']['membership'] == 2): ?>
													<td>$300</td>
<?php else: ?>
													<td>$500</td>
<?php endif; ?>
												</tr>
<?php endif; ?>
<?php endif; ?>									
												<tr class="order-total" style="font-size: 135%;">
													<th>Cash Due</th>
<?php if($loader['user_id'] > 0): ?>

<?php if($loader['user']['membership'] > 0): ?>

<?php if (($loader['cart_total'] - $loader['user']['balance']) > 0 ): ?>
													<td><strong><span class="amount">$<span id="cash_due"><?=$loader['cart_total'] - $loader['user']['balance']?></span></span></strong> </td>
<?php else: ?>

<?php if($loader['user']['membership_paid'] == 0): ?>
<?php if($loader['user']['membership'] == 1): ?>
													<td><strong><span class="amount">$<span id="cash_due">150</span></span></strong> </td>
<?php elseif($loader['user']['membership'] == 2): ?>
													<td><strong><span class="amount">$<span id="cash_due">300</span></span></strong> </td>
<?php else: ?>
													<td><strong><span class="amount">$<span id="cash_due">500</span></span></strong> </td>
<?php endif; ?>
													
<?php else: ?>
													<td><strong><span class="amount">$<span id="cash_due">0</span></span></strong> </td>
<?php endif; ?>


													
<?php endif; ?>



<?php else: ?>
													<td><strong><span class="amount">$<span id="cash_due"><?=$loader['cart_total']?></span></span></strong> </td>
<?php endif; ?>	

<?php else: ?>
													<td><strong><span class="amount">$<span id="cash_due"><?=$loader['cart_total']?></span></span></strong> </td>
<?php endif; ?>	
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div class="6u 12u(s)">
<?php if(!isset($_SESSION['user_id']) || $_SESSION['user_id'] == 0): ?>
									<div style="text-align: center; margin-top: 100px;">
										<h1>Please log in, or create an account to continue with purchase</h1>
									</div>
<?php else: ?>


									<h2 style="margin: 0; text-align: center;">Payment Method</h2>
									<div style="text-align: center; padding-top: 30px;">
										<div class="row">
											<div class="6u 12u(s)">
												<div id="payment_cash_wrap">
													<div id="payment_cash" class="button card" style="padding: 25px; width: 100%;" onclick="javascript: selectCash();">CASH</div>
												</div>
											</div>
											
											<div class="6u 12u(s)">
												<div id="payment_card_wrap">
													<div id="payment_card" class="button card" style="padding: 25px; width: 100%;" onclick="javascript: selectCard();">CARD</div>
												</div>
												<p>Cards can only be accepted in person with ID verification.</p>
											</div>
										</div>
										
										
										<style>
											.payment_highlight {
												border: 3px solid #0C9F84; 
												padding: 4px; 
												padding-bottom: 5px; 
												border-radius: 2px;
											}
										</style>
										
										<hr style="margin-bottom: 15px; margin-top: -20px;">

<?php if($loader['cart_total'] < 45): ?>		
										<div style="text-align: center;"><h2 style="color: red !important;">Minimum delivery order of $45<br>Please add more to your cart to continue</h2></div>
<?php else: ?>

<?php if ($time > 20 || $time < 7): ?>
										<div style="font-weight: bold; font-size: 135%; color: red;">DELIVERY TIMES ARE CURRENTLY CLOSED!!!</div>
										<div>But fear not! You can still schedule a delivery for tomorrow. Please do so below or come back after 7 AM.</div>
<?php else: ?>
										<div id="purchase_button" class="button purchase card" style="padding: 25px; width: 100%; margin-bottom: 25px;">Purchase Now</div>
										<h2 style="margin-bottom: -30px; font-weight: bold; font-size: 160%;">- OR -</h2>
										<div id="loading_button" class="button purchase" style="display: none; padding: 25px; width: 100%;"><i class="fa fa-spinner fa-spin"></i></div>
<?php endif; ?>

										
										<div class="row" style="">
											<div class="12u">
												<div>
<?php if ($time > 20 || $time < 7): ?>

<?php else: ?>
													<h3>Don't want to order this second? No problem!<br/>Select a time for delivery below instead and for a limited time recieve $5 off your order.</h3>
<?php endif; ?>												
													<i class="fa fa-arrow-down"></i> Pick a time for <span id="schedule_date" style="font-weight: bold; font-size: 120%;"><?=date("F j", time() + 86400)?></span> <i class="fa fa-arrow-down"></i>
												</div>
											</div>
											<div class="6u">
												<div>
													<div class="card" style="display: none; cursor: pointer;">Today</div>
													<div class="card" style="display: none; margin-top: 20px; cursor: pointer;"><?=date("F j", time() + 86400)?></div>
													<div class="card" style="display: none; margin-top: 20px; cursor: pointer;"><?=date("F j", time() + 172800)?></div>
													<div style="margin-top: 10px;">Time</div>
													<select class="shadow" id="schedule_time">
<?php foreach($day_times as $time): ?>
														<option value="<?=$time?>"><?=$time?></option>													
<?php endforeach; ?>
													</select>
												</div>
											</div>
											<div class="6u">
												<div>
													<div id="schedule_button" class="button purchase card" style="width: 100%; height: 100px; line-height: 80px;" onclick="javascript: scheduleOrder();">Schedule Order!</div>
												</div>
											</div>
										</div>
<?php endif; ?>
<?php if ($loader['user_id'] == 2 || $loader['admin_user_id'] == 2): ?>
										<div id="purchase_button" class="button purchase card" style="padding: 25px; width: 100%; margin-top: 50px;">Purchase Now (ADMIN)</div>
										<div id="loading_button" class="button purchase" style="display: none; padding: 25px; width: 100%;"><i class="fa fa-spinner fa-spin"></i></div>
<?php endif; ?>

									</div>			
<?php endif; ?>
								</div>
							</div>
						</div>
					</div>
	
	</div>
</section>
<script type="text/javascript">
	var cart = <?php echo json_encode($loader['cart']); ?>;

	var payment_selected = 0;

	function selectCash () {
		$("#payment_card").removeClass( "purchase" );
		$("#payment_card_wrap").removeClass( "payment_highlight" );
		
		$("#payment_cash").addClass( "purchase" );
		$("#payment_cash_wrap").addClass( "payment_highlight" );

		payment_selected = 1;
	}

	function selectCard () {
		$("#payment_cash").removeClass( "purchase" );
		$("#payment_cash_wrap").removeClass( "payment_highlight" );
		
		$("#payment_card").addClass( "purchase" );
		$("#payment_card_wrap").addClass( "payment_highlight" );

		payment_selected = 2;
	}

	$('#purchase_button').click(function() {
		document.getElementById('purchase_button').style.display = 'none';
		document.getElementById('loading_button').style.display = '';

		setTimeout(function () {
			do {
				if (payment_selected == 0) {
					swal('Please select a payment method.');
					document.getElementById('purchase_button').style.display = '';
					document.getElementById('loading_button').style.display = 'none';
					break;
				}
				
				$.ajax({
					url: "/store/purchaseAction",
					type: 'post',
					dataType: 'html',
					data: 
					{
						user_id: <?=$loader['user_id']?>,
						subtotal: <?=$loader['cart_total']?>,
						cash_due: document.getElementById('cash_due').innerHTML,
						notes: document.getElementById('notes').value,
						payment_type: payment_selected,
						cart: cart
					},
					async: false,
					success: function(data) {
						if (data == 1) {
							swal({   
								title: "Order Complete",   
								text: 'Your order will be there soon! We will notify you with an expected delivery time shortly.',
								type: "success",    
								confirmButtonColor: "#15A59B",   
								confirmButtonText: "OK",   
								}).then(function(){   
									window.location.href = '/';
								}
							);
						} else {
							document.getElementById('purchase_button').style.display = '';
							document.getElementById('loading_button').style.display = 'none';
							
							console.log(data);
							swal({   
								title: "There was an error processing your order",   
								text: 'Something went wrong while completing your purchase. But fret not! We have been notified and will alert you with any additional information we may need.',
								type: "error",    
								confirmButtonColor: "#15A59B",   
								confirmButtonText: "OK",   
								}).then(function(){   
									
								}
							);
						}
					},
					error: function(data) {
						console.log(data);
					}
				});
			} while (false);
		}, 300);
	});

	function scheduleOrder() {
		document.getElementById('schedule_button').style.display = 'none';
	
		do {
			if (payment_selected == 0) {
				swal('Please select a payment method.');
				document.getElementById('schedule_button').style.display = '';
				break;
			}
			
			$.ajax({
				url: "/store/schedulePurchaseAction",
				type: 'post',
				dataType: 'html',
				data: 
				{
					user_id: <?=$loader['user_id']?>,
					subtotal: <?=$loader['cart_total']?>,
					cash_due: document.getElementById('cash_due').innerHTML,
					notes: document.getElementById('notes').value,
					payment_type: payment_selected,
					schedule_time: document.getElementById('schedule_time').value,
					schedule_date: document.getElementById('schedule_date').innerHTML,
					cart: cart
				},
				async: false,
				success: function(data) {
					if (data == 1) {
						swal({   
							title: "Your Scheduled Order Has Been Placed!",   
							text: 'Sleep tight and expect your delivery at ' + document.getElementById('schedule_time').value + ' tomorrow.',
							type: "success",    
							confirmButtonColor: "#15A59B",   
							confirmButtonText: "OK!",   
							}).then(function(){   
								window.location.replace('/');
							});
					} else {
						console.log(data);
					}
				},
				error: function(data) {
					console.log(data['responseText']);
				}
			});
		} while (false);
	}
</script>
