
	<section id="main" class="wrapper" style="margin-top: 75px;">
		<div class="inner shadow" style="background-color: rgba(255,255,255,0.8); padding: 35px;">
			<div class="container">
				<div class="row">
					<div class="12u">
						<div style="text-align: center;">
							<h2><span style="font-weight: bold; font-size: 150%;">TAKE THAT DATA!</span></h2>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="6u 12u(m)">
					<h1 style="text-align: center;">EFFECTS</h1>
					<canvas id="myChart" style="width: 250px;"></canvas>
				</div>
				<div class="6u 12u(m)">
					<h1 style="text-align: center;">TASTE</h1>
					<canvas id="myChart2" style="width: 250px;"></canvas>
					<div style="text-align: center; display: none;">There is no data to display for this strain. 
					<br>We have been notified and will update as soon as possible.</div>
				</div>
			</div>
		</div>
	</section>
	
	
	<script type="text/javascript">	
		var start = 1;

		for (var i = 0; i < 2; i++) {
			$.ajax({
				headers: { "X-API-Key": "d9086ff430905767ce87a54617bfd8a2ab219e67" },
				
			    url: "https://www.cannabisreports.com/api/v1.0/strains?sort=name&page=" + start,
			 
			    // The name of the callback parameter, as specified by the YQL service
			    jsonp: "callback",
			 
			    // Tell jQuery we're expecting JSONP
			    dataType: "jsonp",
			 
			    // Tell YQL what we want and that we want JSON
			    data: {
			        format: "json"
			    },
			 
			    // Work with the response
			    success: function( response ) {
					console.log(JSON.stringify(response, null, "\t"));

			    }
			});

			start++;
		}
		
	</script>