	<script type='text/javascript' src='../../../js/unitegallery/dist/themes/compact/ug-theme-compact.js'></script>

<section id="main" class="wrapper wrapper_login" style="background-color: white;">
				<div class="inner shadow" style="background-color: rgba(255,255,255,0.8); padding: 35px;">
    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2><span style="color: white; font-weight: bold; font-family: line;">Shop</span></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
	<div class="single-product-area">
		<div class="container">
			<div class="row">
<!-- 				<div class="col-md-4"> -->
<!-- 					<div class="single-sidebar"> -->
<!-- 						<h2 class="sidebar-title">Similar Products</h2> -->
<!-- 						<div class="thubmnail-recent"> -->
<!-- 							<img src="../../../uploads/anniversary2.jpg" class="recent-thumb" alt=""> -->
<!-- 							<h2><a href="">Anniversary</a></h2> -->
<!-- 							<div class="product-sidebar-price"> -->
<!-- 								<ins>$50.00</ins> <del>$65.00</del> -->
<!-- 							</div>                              -->
<!-- 						</div> -->
<!--                         <div class="thubmnail-recent"> -->
<!--                             <img src="../../../uploads/graduation1.jpg" class="recent-thumb" alt=""> -->
<!--                             <h2><a href="">Graduation</a></h2> -->
<!--                             <div class="product-sidebar-price"> -->
<!--                                 <ins>$50.00</ins> <del>$65.00</del> -->
<!--                             </div>                              -->
<!--                         </div> -->
<!--                         <div class="thubmnail-recent"> -->
<!--                             <img src="../../../uploads/graduation2.jpg" class="recent-thumb" alt=""> -->
<!--                             <h2><a href="">Birthday</a></h2> -->
<!--                             <div class="product-sidebar-price"> -->
<!--                                 <ins>$50.00</ins> <del>$65.00</del> -->
<!--                             </div>                              -->
<!--                         </div> -->
<!--                     </div> -->
<!--                 </div> -->
                
                <div class="col-md-12">
                    <div class="product-content-right">
                        <div class="product-breadcroumb">
                            <a href="">Home</a>
                            <a href="/floral#<?=strtolower($product_types[$product['product_type_id']]['name'])?>"><?=$product_types[$product['product_type_id']]['name']?></a>
                            <a href=""><?=$product['name']?></a>
                        </div>

						<div class="row">
							<div class="6u 12u(s)">
								<div id="gallery" style="display:none;">
									<img alt="Image 1 Title" src="../../../uploads/tahoe.jpg"
										data-image="../../../uploads/tahoe.jpg">

									<img alt="Image 2 Title" src="../../../uploads/tahoe.jpg"
										data-image="../../../uploads/tahoe.jpg">
								
								</div>
							</div>

                            <div class="6u 12u(s)">
                                <div class="product-inner">
                                    <h2 class="product-name"><?=$product['name']?></h2>
                                    <div class="product-inner-price">
                                        <ins>$<?=$product['price']?>.00</ins> <del>$65.00</del>
                                    </div>  
                                    
                                    <div class="product-inner-category">
                                        <p>Category: <a href="/floral#<?=strtolower($product_types[$product['product_type_id']]['name'])?>"><?=$product_types[$product['product_type_id']]['name']?></a> 
                                    </div> 
                                    
                                    <div role="tabpanel">
                                        <ul class="product-tab" role="tablist">
                                            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Description</a></li>
                                            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Reviews</a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane fade in active" id="home">
                                                <h2>Product Description</h2>  
												<?=$product['description']?>
                                            </div>
                                            <div role="tabpanel" class="tab-pane fade" id="profile">
                                                <h2>Reviews</h2>
                                                <div class="submit-review">
                                                    <p><label for="name">Name</label> <input name="name" type="text"></p>
                                                    <div class="rating-chooser">
                                                        <p>Your rating</p>

                                                        <div class="rating-wrap-post">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                        </div>
                                                    </div>
                                                    <p><label for="review">Your review</label> <textarea name="review" id="" cols="30" rows="10"></textarea></p>
                                                    <p><input type="submit" value="Submit"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>

						<div id="strain_checkpoint" class="row">
							<div class="12u" style="text-align: center; position: relative;">
								<i class="icon fa-arrow-circle-down" style="font-size: 400%; position: absolute; top: 5px; color: #5ABC9C;"></i>
							</div>
						</div>
						<div class="row" style="margin-top: 50px;">
							<div class="3u 0u(s)"></div>
							<div class="6u 12u(s) container checkbox" style="text-align: center;">
								<h2>How much cannabis do you want?</h2>
								<ul id="quantity_box">
									<li>
										<input id="quantity1" type="radio" name="selector">
										<label for="quantity1" style="font-weight: bold;">1/8 ounce</label>
									</li>
									<li>
										<input id="quantity2" type="radio" name="selector">
										<label for="quantity2" style="font-weight: bold;">1/4 ounce</label>
									</li>
									<li>
										<input id="quantity3" type="radio" name="selector">
										<label for="quantity3" style="font-weight: bold;">1/2 ounce</label>
									</li>
									<li>
										<input id="quantity4" type="radio" name="selector">
										<label for="quantity4" style="font-weight: bold;">1 ounce</label>
									</li>
								</ul>
							</div>
							<div class="3u 0u(s)"></div>
						</div>
						<span id="weed_row" style="display: none;">
							<div class="row">
								<hr style="width: 100%;">
							</div>
	
							<div class="related-products-wrapper">
								<h2 id="strain_wrapper" class="related-products-title">Add a Strain</h2>
								<div class="row">
	
									<div class="4u 6u(xl) 12u(s)">
										<div class="row">
											<div class="12u">
												<figure id="add_strain1"style="height: 250px; cursor: pointer;">
													<img src="../../../uploads/weed/Ogre1.png" alt="Thumb" width="100%" height="250" />
													<figcaption><div style="background-color: rgba(255,255,255,0.4);">OG Kush</div></figcation>
												</figure>
											</div>
											<div class="4u">&nbsp;</div>
											<div class="2u" style="padding: 0;">
												<div class="product-carousel-price">
													<ins>$<span id="weed_price1">0</span></ins>
												</div> 
											</div>
											<div class="2u">&nbsp;</div>
											<div class="4u" style="padding: 0;">
												<div class="product-carousel-price">
													<del>$<span id="weed_alt1">0</span></del>
												</div> 
											</div>
											<div class="12u" style="margin-top: -50px;margin-left: 15px;">
												Strain info coming soon...
											</div>
										</div>
									</div>
									
									<div class="4u 6u(xl) 12u(s)" style="display: none;">
										<div class="row">
											<div class="12u">
												<figure id="add_strain2"style="height: 250px; cursor: pointer;">
													<img src="../../../uploads/weed/pineapple_og.jpg" alt="Thumb" width="100%" height="250" />
													<figcaption><div style="background-color: rgba(255,255,255,0.4);">Pineapple OG</div></figcation>
												</figure>
											</div>
											<div class="4u">&nbsp;</div>
											<div class="2u" style="padding: 0;">
												<div class="product-carousel-price">
													<ins>$<span id="weed_price2">0</span></ins>
												</div> 
											</div>
											<div class="2u">&nbsp;</div>
											<div class="4u" style="padding: 0;">
												<div class="product-carousel-price">
													<del>$<span id="weed_alt2">0</span></del>
												</div> 
											</div>
											<div class="12u" style="margin-top: -50px;margin-left: 15px;">
												Strain info coming soon...
											</div>
										</div>
									</div>
									
									<div class="4u 6u(xl) 12u(s)">
										<div class="row">
											<div class="12u">
												<figure id="add_strain3"style="height: 250px; cursor: pointer;">
													<img src="../../../uploads/weed/PlatinumOG.png" alt="Thumb" width="100%" height="250" />
													<figcaption><div style="background-color: rgba(255,255,255,0.4);">Silver Kush</div></figcation>
												</figure>
											</div>
											<div class="4u">&nbsp;</div>
											<div class="2u" style="padding: 0;">
												<div class="product-carousel-price">
													<ins>$<span id="weed_price3">0</span></ins>
												</div> 
											</div>
											<div class="2u">&nbsp;</div>
											<div class="4u" style="padding: 0;">
												<div class="product-carousel-price">
													<del>$<span id="weed_alt3">0</span></del>
												</div> 
											</div>
											<div class="12u" style="margin-top: -50px;margin-left: 15px;">
												Strain info coming soon...
											</div>
										</div>
									</div>
									<div class="4u 6u(xl) 12u(s)">
										<div class="row">
											<div class="12u">
												<figure id="add_strain4"style="height: 250px; cursor: pointer;">
													<img src="../../../uploads/weed/platinumOG1.jpg" alt="Thumb" width="100%" height="250" />
													<figcaption><div style="background-color: rgba(255,255,255,0.4);">Girl Scout Cookies</div></figcation>
												</figure>
											</div>
											<div class="4u">&nbsp;</div>
											<div class="2u" style="padding: 0;">
												<div class="product-carousel-price">
													<ins>$<span id="weed_price4">0</span></ins>
												</div> 
											</div>
											<div class="2u">&nbsp;</div>
											<div class="4u" style="padding: 0;">
												<div class="product-carousel-price">
													<del>$<span id="weed_alt4">0</span></del>
												</div> 
											</div>
											<div class="12u" style="margin-top: -50px;margin-left: 15px;">
												Strain info coming soon...
											</div>
										</div>
									</div>
								</div>
							</div>
						</span>
						<div id="strain_selection_row" class="row" style="display: none;">
							<div class="12u" style="text-align: center; margin-top: 25px; font-weight: bold; font-size: 230%; color: #23BEA0; display: block;">
								YOU HAVE SELECTED - <span id="strain_selection"></span>
							</div>
						</div>
						
						<div class="row">
							<hr style="width: 100%;">
						</div>
						<div class="row" style="margin-right: -30px;">
							<section class="6u" style="text-align: center; border-right: 1px solid;">
								<h2>Review Order:</h2>
								<br>
								<ul style="font-size: 125%;">
									<li>products: <span style="font-weight: bold;"><?=$product['name']?> bouquet</span></li>
									<li>Strain: <span id="strain_final" style="font-weight: bold;"></span></li>
									<li>Quantity: <span id="quantity_final" style="font-weight: bold;"></span></li>
								</ul>
							</section>
							<section class="6u">
								<div class="row">
									<div class="12u" style="text-align: center; font-size: 200%;">
										<h2 style="color: black;">Total: $<span id="price_final"><?=$product['price']?></span></h2>
									</div>
								</div>
								<div class="row">
									<div class="3u">&nbsp;</div>
									<div class="6u">
										<span id="submit" class="button alt" style="width: 100%;">Place Order</span>
									</div>
									<div class="3u">&nbsp;</div>
								</div>
							</section>
						</div>
						
					</div>                    
				</div>
			</div>
		</div>
	</div>
	</div>
	</section>
	<hr>
	
			<script type="text/javascript">

				var selected_strain_id = 0;
				var selected_quantity = 0;
			
				$('#add_strain1').click(function() {
					document.getElementById('strain_selection_row').style.display = '';
					document.getElementById('strain_selection').innerHTML = 'OG Kush';
					selected_strain_id = 1;

					document.getElementById('strain_final').innerHTML = 'OG Kush';

					document.getElementById('price_final').innerHTML= parseInt(document.getElementById('weed_price1').innerHTML) + <?=$product['price']?>;
				});

				$('#add_strain2').click(function() {
					document.getElementById('strain_selection_row').style.display = '';
					document.getElementById('strain_selection').innerHTML = 'PINEAPPLE OG';
					selected_strain_id = 2;

					document.getElementById('strain_final').innerHTML = 'Pineapple OG';

					document.getElementById('price_final').innerHTML= parseInt(document.getElementById('weed_price2').innerHTML) + <?=$product['price']?>;
				});

				$('#add_strain3').click(function() {
					document.getElementById('strain_selection_row').style.display = '';
					document.getElementById('strain_selection').innerHTML = 'Silver Kush';
					selected_strain_id = 3;

					document.getElementById('strain_final').innerHTML = 'Silver Kush';

					document.getElementById('price_final').innerHTML = parseInt(document.getElementById('weed_price3').innerHTML) + <?=$product['price']?>;
				});

				$('#add_strain4').click(function() {
					document.getElementById('strain_selection_row').style.display = '';
					document.getElementById('strain_selection').innerHTML = 'Girl Scout Cookies';
					selected_strain_id = 4;

					document.getElementById('strain_final').innerHTML = 'Girl Scout Cookies';
					
					document.getElementById('price_final').innerHTML = parseInt(document.getElementById('weed_price4').innerHTML) + <?=$product['price']?>;
				});

				$('#quantity_box').click(function() {
					if (document.getElementById('quantity1').checked) {
						document.getElementById('quantity_final').innerHTML = '1/8 Ounce';

						document.getElementById('weed_price1').innerHTML = '40';
						document.getElementById('weed_alt1').innerHTML = '50';
						
						document.getElementById('weed_price2').innerHTML = '45';
						document.getElementById('weed_alt2').innerHTML = '55';

						document.getElementById('weed_price3').innerHTML = '50';
						document.getElementById('weed_alt3').innerHTML = '60';

						document.getElementById('weed_price4').innerHTML = '55';
						document.getElementById('weed_alt4').innerHTML = '65';
						selected_quantity = 1;
					} else if (document.getElementById('quantity2').checked) {
						document.getElementById('quantity_final').innerHTML = '1/4 Ounce';

						document.getElementById('weed_price1').innerHTML = '80';
						document.getElementById('weed_alt1').innerHTML = '100';
						
						document.getElementById('weed_price2').innerHTML = '90';
						document.getElementById('weed_alt2').innerHTML = '110';

						document.getElementById('weed_price3').innerHTML = '100';
						document.getElementById('weed_alt3').innerHTML = '120';

						document.getElementById('weed_price4').innerHTML = '110';
						document.getElementById('weed_alt4').innerHTML = '130';
						selected_quantity = 2;
					} else if (document.getElementById('quantity3').checked) {
						document.getElementById('quantity_final').innerHTML = '1/2 Ounce';

						document.getElementById('weed_price1').innerHTML = '160';
						document.getElementById('weed_alt1').innerHTML = '190';
						
						document.getElementById('weed_price2').innerHTML = '170';
						document.getElementById('weed_alt2').innerHTML = '200';

						document.getElementById('weed_price3').innerHTML = '180';
						document.getElementById('weed_alt3').innerHTML = '210';

						document.getElementById('weed_price4').innerHTML = '190';
						document.getElementById('weed_alt4').innerHTML = '220';
						selected_quantity = 3;
					} else {
						document.getElementById('quantity_final').innerHTML = '1 Ounce';

						document.getElementById('weed_price1').innerHTML = '280';
						document.getElementById('weed_alt1').innerHTML = '310';
						
						document.getElementById('weed_price2').innerHTML = '290';
						document.getElementById('weed_alt2').innerHTML = '320';

						document.getElementById('weed_price3').innerHTML = '300';
						document.getElementById('weed_alt3').innerHTML = '330';

						document.getElementById('weed_price4').innerHTML = '310';
						document.getElementById('weed_alt4').innerHTML = '340';
						selected_quantity = 4;
					}

					if (selected_strain_id > 0) {
						if (selected_strain_id == 1) {
							document.getElementById('price_final').innerHTML = parseInt(document.getElementById('weed_price1').innerHTML) + <?=$product['price']?>;
						} else if (selected_strain_id == 2) {
							document.getElementById('price_final').innerHTML = parseInt(document.getElementById('weed_price2').innerHTML) + <?=$product['price']?>;
						} else if (selected_strain_id == 3) {
							document.getElementById('price_final').innerHTML = parseInt(document.getElementById('weed_price3').innerHTML) + <?=$product['price']?>;
						} else {
							document.getElementById('price_final').innerHTML = parseInt(document.getElementById('weed_price4').innerHTML) + <?=$product['price']?>;
						}
					}
					
					document.getElementById('weed_row').style.display = '';
				});

				$('#submit').click(function() {
					do {
						if (selected_quantity == 0) {
							alert('You must select a marijuana quantity.');
							break;
						}
						
						if (selected_strain_id == 0) {
							alert('You must select a marijuana strain.');
							break;
						}

						$.ajax({
							url: "/email/place-order",
							type: 'post',
							dataType: 'html',
							data: 
							{
								user_id: <?=$loader['user_id']?>,
								product: '<?=$product['name']?>',
								strain: document.getElementById('strain_final').innerHTML, 
								quantity: document.getElementById('quantity_final').innerHTML,
								price: document.getElementById('price_final').innerHTML
							},
							async: false,
							success: function(data) {
								if (data == 1) {
									// update the textarea with the time
									swal('Order Complete!', 'Your order has been placed! You will receive a follow up email soon.', 'success')
								} else {
									swal('Oops...', data, 'error');
								}
							} 
						});
					} while (false);
				});
			</script>
			<script type="text/javascript"> 
				
				jQuery(document).ready(function(){ 
					var api;
						
					api = jQuery("#gallery").unitegallery({
						gallery_theme: "compact"
					});

					api.zoomOut();
				}); 
			
			</script>
